<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0"/>
    </head>

    <body>
        <div class='body_content'>
            <div class="new_reply_solution_form">
                <%= form_for [@problem, @problem_solution, ProblemReplySolution.new] do |f| %>

                    <div class="new_reply_solution_content">
                        <div class="new_reply_solution_label">
                            <t><%= f.label :reply_content, "Nội dung", class: "new_reply_solution_label_content" %></t>
                        </div>
                        
                        <div class="new_reply_solution_input_solution">
                            <%= f.text_field :reply_content, class: "new_reply_solution_form_input_solution", placeholder: "  Nhập nội dung" %>
                        </div>
                    </div>

                    <div class="new_reply_solution_submit">
                        <%= f.submit "Gửi trả lời", class: "new_reply_solution_form_submit" %>
                    </div>
                <%end%>
            </div>
        </div>
    </body>
</html>