<div class="box">
<article class="media">
    <div class="media-content">
    <section class="section problem_solutions">
    <div class="container">
        <div class="problem_solution-content">
          <h2 class="subtitle is-5"><strong><%= @problem_solution.problem_reply_solutions.count %></strong> Trả lời</h2>
          <div class="user_comment_body">
                    <a><%= @problem_solution.solution %></a>
            </div>
            <div class="user_date_time">
                    <a> <%= @problem_reply_solution.reply_content %> </a>
                </div>
         </div>
    </div>
    </section>

</article>
</div>