<div class="box">
<article class="media">
    <div class="media-content">
    <section class="section company_reviews">
    <div class="container">
        <div class="company_review-content">
          <h2 class="subtitle is-5"><strong><%= @company_review.company_reply_reviews.count %></strong> Trả lời</h2>
          <div class="user_comment_body">
                    <t><%= @company_review.review %></t>
            </div>
            <div class="user_date_time">
                    <t> <%= @company_reply_review.reply_content %> </t>
                </div>
         </div>
    </div>
    </section>

</article>
</div>