<div class="box">
<article class="media">
    <div class="media-content">
        <div class="content">
            <p>
            <strong><%= @problem_solution.user_name %>:</strong>
            <%= @problem_solution.score %>
            <%= @problem_solution.review %>
            </p>
        </div>
        </div>
        <%= link_to 'Delete', [@problem_solution.company, @problem_solution],
                    method: :delete, class: "button is-danger", data: { confirm: 'Are you sure?' } %>
</article>
</div>