<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0"/>
    </head>

    <body>
        <div class="body_content">
          <div class="company_search">
              <%if @companies != nil%>
                <% @companies.each do |company| %>
                  <%= company.name%>
                <%end%>
              <%end%>
              </div>
              <div class="job_search">
              <%if @company_jobs != nil%>
                <% @company_jobs.each do |company_job| %>
                  <%= company_job.title%>
                <%end%>
              <%end%>
            </div>
          </div>
    <body>
<html>