<div id = "vote_solution_<%=problem_solution.id%>">
    <%if logged_in?%>
        <% pre_vote = problem_solution.problem_vote_solutions.find { |vote| vote.user_id == current_user.id} %>
        <% if pre_vote %>  
            <%= button_to problem_problem_solution_problem_vote_solution_path(@problem, problem_solution, pre_vote), method: :delete, remote: true, form_class: "problem_solution_like_highlight" do%>
                <i class="material-icons-outlined">arrow_drop_up</i>
            <%end%> 
        <%else%>
            <%= button_to problem_problem_solution_problem_vote_solutions_path(@problem, problem_solution), method: :post, remote: true, form_class: "problem_solution_like" do%>
                <i class="material-icons-outlined">arrow_drop_up</i>
            <%end%> 
        <%end%>
    <%else%>
        <%= button_to login_path, :method => :get, form_class: "problem_solution_like" do%>
            <i class="material-icons-outlined">arrow_drop_up</i>
        <%end%> 
    <%end%>
</div>