<!DOCTYPE html>
<html>
    <head>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <!-- Add icon library -->
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    </head>

    <body>
        <div class='body_content'>
            <div class="new_reply_comment_form">
                <%= form_for [@post, @post_comment, PostReplyComment.new] do |f| %>

                    <div class="new_reply_comment_content">
                        <div class="new_reply_comment_label">
                            <t><%= f.label :reply_content, "Nội dung", class: "new_reply_comment_label_content" %></t>
                        </div>
                        
                        <div class="new_reply_comment_input_comment">
                            <%= f.text_field :reply_content, class: "new_reply_comment_form_input_comment", placeholder: "  Nhập nội dung" %>
                        </div>
                    </div>

                    <div class="new_reply_comment_submit">
                        <%= f.submit "Gửi trả lời", class: "new_reply_comment_form_submit" %>
                    </div>
                <%end%>
            </div>
        </div>
    </body>
</html>