<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0"/>
    </head>

    <body>
        <div class='container'>
            <div class="new_reply_comment_form">
                <%= form_for [@post, @post_comment, PostReplyComment.new] do |f| %>

                    <div class="new_reply_comment_content">
                        <div class="new_reply_comment_label">
                            <a><%= f.label :reply_content, "Nội dung", class: "new_reply_comment_label_content" %></a>
                        </div>
                        
                        <div class="new_reply_comment_input_comment">
                            <%= f.text_field :reply_content, class: "new_reply_comment_form_input_comment", placeholder: "  Nhập nội dung" %>
                        </div>
                    </div>

                    <div class="new_reply_comment_submit">
                        <%= f.submit "Gửi trả lời", class: "new_reply_comment_form_submit" %>
                    </div>
                <%end%>
            </div>
        </div>
    </body>
</html>