<div class="user_reply_comment_block">
    <div class="user_reply_comment_left">
        <%owner_user = find_owner_user(post_reply_comment)%>
        <%if owner_user%>
            <%= render owner_user%>  
        <%end%> 
    </div>

    <div class="user_reply_comment_cotent">
        <div class="user_reply_comment_body">
            <a><%= post_reply_comment.reply_content %></a>
        </div>
        <div class="user_reply_comment_time">
            <a><%= post_reply_comment.user_name %> · <%= time_ago_in_words(post_reply_comment.created_at) %></a>
        </div>
    </div>
</div>