<div class="box">
<article class="media">
    <div class="media-content">
    <section class="section post_comments">
    <div class="container">
        <div class="post_comment-content">
          <h2 class="subtitle is-5"><strong><%= @post_comment.post_reply_comments.count %></strong> Trả lời</h2>
          <div class="user_comment_body">
                    <a><%= @post_comment.comment %></a>
            </div>
            <div class="user_date_time">
                    <a> <%= @post_reply_comment.reply_content %> </a>
                </div>
         </div>
    </div>
    </section>

</article>
</div>