<!-- comments container -->
<div class="comment_block">
    <ul class="user_comment">
        
        <div class="user_avatar">
            <%= link_to (image_tag("1.svg")), image_path("1.svg"), rel: "gallery" %>
        </div>

        <div class="user_comment_cotent">
            <div class="user_comment_title">
                 <h3> <%= company_review.user_name %> </h3>
            </div>

            <div class="user_comment_body">
                <p><%= company_review.review %></p>
            </div>

            <!-- comments toolbar -->
            <div class="comment_toolbar">

                <div class="comment_details">
                    <ul>
                        <li><i class="fa fa-clock-o"></i> <%= company_review.created_at %></li>
                    </ul>
                </div>
                
                <div class="comment_tools">
                    <ul>
                        <li><i class="fa fa-share-alt"></i></li>
                        <li><i class="fa fa-reply"></i></li>
                        <li><i class="fa fa-heart love"></i></li>
                    </ul>
                </div>
            </div>
        
        </div>

    </ul>


</div>