<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="review_score">

    <div class="review_score_overview">
        <div class="review_score_star">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
        </div>
        <div class="review_point">
            <p>4.1/5 điểm</p>
        </div>
    </div>

    <div class="review_row">
        <div class="review_row_content">
            <div class="side">
                <div>5 star</div>
            </div>

            <div class="middle">
                <div class="bar-container">
                <div class="bar-5"></div>
                </div>
            </div>

            <div class="side right">
                <div>150</div>
            </div>
        </div>

        <div class="review_row_content">
            <div class="side">
                <div>4 star</div>
            </div>

            <div class="middle">
                <div class="bar-container">
                <div class="bar-4"></div>
                </div>
            </div>

            <div class="side right">
                <div>63</div>
            </div>
        </div>

        <div class="review_row_content">
            <div class="side">
                <div>3 star</div>
            </div>

            <div class="middle">
                <div class="bar-container">
                <div class="bar-3"></div>
                </div>
            </div>

            <div class="side right">
                <div>15</div>
            </div>
        </div>
        
        <div class="review_row_content">
            <div class="side">
                <div>2 star</div>
            </div>

            <div class="middle">
                <div class="bar-container">
                <div class="bar-2"></div>
                </div>
            </div>

            <div class="side right">
                <div>6</div>
            </div>
        </div>

        <div class="review_row_content">
            <div class="side">
                <div>1 star</div>
            </div>

            <div class="middle">
                <div class="bar-container">
                <div class="bar-1"></div>
                </div>
            </div>

            <div class="side right">
                <div>20</div>
            </div>
        </div>
    </div>

    <%# Review in button %>
    <div class="review_new_button_side">
        <div class="review_new_button">
            <form action="/action_page.php">
                <%= link_to '<button type="submit">Viết đánh giá của bạn</button>'.html_safe, new_company_company_review_path(@company) %>
            </form>
        </div>
    </div>

</div>