<div class="box">
<article class="media">
    <div class="media-content">
        <div class="content">
            <p>
            <strong><%= @company_review.user_name %>:</strong>
            <%= @company_review.score %>
            <%= @company_review.review %>
            </p>
        </div>
        </div>
        <%= link_to 'Delete', [@company_review.company, @company_review],
                    method: :delete, class: "button is-danger", data: { confirm: 'Are you sure?' } %>
        
</article>
</div>
