<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2><%= @user.name %>, welcome to https://www.firework.vn/</h2>
    <p>
      Bạn đã tạo tài khoản thành công tại firework.vn,
    </p>
    <p>
      Tên tài khoản: <%= @user.name %>.
    </p>
    <p>
      Địa chỉ email: <%= @user.email %>.
    </p>
    <p>
      Để đăng nhập tài khoản, vui lòng di chuyển tới link sau: <%= url_for(@url) %>.
    </p>
    <p>Rất nhiều thông tin thú vị đang chờ đợi bạn khám phá.</p>
  </body>
</html>
