<div id="save_job_<%=@company_job.id%>">
    <% pre_save = @company_job.company_save_jobs.find { |save| save.user_id == current_user.id} %>
    <% if pre_save %> 
        <%= button_to company_company_job_company_save_job_path(@company, @company_job, pre_save), :method => :delete, remote: true, form_class: "save_btn_highlight" do%>
            <i class="material-icons">turned_in_not</i> <span>L?u</span>
        <%end%> 
    <%else%>
        <%= button_to company_company_job_company_save_jobs_path(@company, @company_job), :method => :post, remote: true, form_class: "save_btn" do%>
            <i class="material-icons-outlined">turned_in_not</i> <span>H?y l?u</span>
        <%end%>
    <%end%>
</div>