<div id =<%=@company.id%>>
    <%if logged_in?%>
        <% pre_follow = @company.company_follows.find { |follow| follow.user_id == current_user.id} %>
        <% if pre_follow %> 
            <%= button_to company_company_follow_path(@company, pre_follow), :method => :delete, remote: true, form_class: "follow_btn_highlight" do%>
                <i class="material-icons">favorite</i> <span>B? theo d?i</span>
            <%end%> 
        <%else%>
            <%= button_to company_company_follows_path(@company), :method => :post, remote: true, form_class: "follow_btn" do%>
                <i class="material-icons-outlined">favorite_border</i> <span>Theo d?i</span>
            <%end%>
        <%end%>
    <%else%>
        <%= button_to login_path, :method => :post, remote: true, form_class: "follow_btn" do%>
            <i class="material-icons-outlined">favorite_border</i> <span>Theo d?i</span>
        <%end%>
    <%end%>
</div>
