<div id='<%=company.id%>'>
    <%if logged_in?%>
        <% pre_follow = company.company_follows.find { |follow| follow.user_id == current_user.id} %>
        <% if pre_follow %> 
            <%= link_to '<button class="follow_btn_highlight"><i class="material-icons">favorite</i></button>'.html_safe, company_company_follow_path(company, pre_follow), remote: true, method: :delete%>
        <%else%>
            <%= link_to '<button class="follow_btn"><i class="material-icons-outlined">favorite_border</i></button>'.html_safe, company_company_follows_path(company), remote: true, method: :post%>
        <%end%>
    <%else%>
        <%= link_to '<button class="follow_btn"><i class="material-icons-outlined">favorite_border</i></button>'.html_safe, login_path%>
    <%end%>
</div>
