<!DOCTYPE html>
<html>
    <head>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
    </head>

    <body>
        <div class="problem_content">
            <t><%= @problem.problem_content %></t>
        </div>
    </body>
</html>