<%- model_class = Problem -%>

<div class="top_problem_area">
    <div class="container">
        
        <div class="row align-items-center mb-40">
            <div class="col-lg-6 col-md-6">
                <div class="section_title">
                    <h3>Top problem</h3>
                </div>
            </div>
        </div>

        <% @problems.each do |problem| %>
            <div class="row">
                <div class="col-lg-4 col-xl-3 col-md-6">
                    <div class="single_problem">
                        <div class="thumb">
                            <%= link_to (image_tag("1.svg")), image_path("1.svg"), rel: "gallery" %>
                        </div>
                        <%= link_to problem.title, problem_path(problem) %>
                    </div>
                </div>
            </div>
        <%end%>

        <%# New button %>
        <div class="new-problem">
            <form action="/action_page.php">
            <%= link_to '<button type="submit">Tao Q&A moi</button>'.html_safe, new_problem_path %>
            </form>
        </div>
        
    </div>
</div>

