<div class="container">
    <div class="new_post_comment_form">
        <%= form_for [@post, PostComment.new] do |f| %>
            <div class="new_post_comment_title">
                <a>Comment here</a>
            </div>

            <div class="new_post_comment_section">

                <div class="new_post_comment_content">
                    <div class="new_post_comment_label">
                        <a><%= f.label :comment_content, "Nội dung*", class: "new_post_comment_label_name" %></a>
                    </div>

                    <div class="new_post_comment_input_time">
                        <%= f.text_area :comment_content, :required => true, class: "form-control-text", placeholder: "Nhập tên hoặc email của bạn" %>
                    </div>
                </div>
            </div>

            <div class="new_post_comment_submit">
                <%= f.submit "Gửi đánh giá", class: "new_post_comment_form_submit" %>
            </div>
        <%end%>
    </div>
</div>