<!-- post_comments container -->
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
    </head>

    <body>
        <div class="user_post_comment_block">
            <div class="user_post_comment_left">
                <div class="user_avatar">
                    <i class="material-icons-outlined">perm_identity</i>
                </div>
            </div>

            <div class="user_post_comment_cotent">
                <div class="post_comment_info">
                    <div class="user_post_comment_time">
                        <a><%= post_comment.user_name %> . <%= time_ago_in_words(post_comment.created_at) %></a>
                    </div>
                </div>
                <div class="user_post_comment_body">
                    <a><%= post_comment.comment_content %></a>
                </div>
                <div class="post_comment">
                    <%= render post_comment.post_reply_comments %>
                </div>
            </div>
            
        </div>
    </body>
</html>