<div class="container">
    <div class ="row">
        <div class="col-sm-8">
            <div class="new_copy_cover_vitae_form">
                <%= form_for @cover_vitae, :html => { :class => "form-horizontal post" } do |f| %>
                    <div class="new_copy_cover_vitae_section">
                        <div class="new_copy_cover_vitae_content">
                            <div class="new_copy_cover_vitae_input">
                                <%= f.text_area :detail, :class => "tinymce", value: @cv_copy.detail%>
                                <%= tinymce :default %>
                            </div>
                        </div>
                    </div>

                    <div class="new_copy_cover_vitae_submit">
                        <%= f.submit "Lưu CV", class: "new_copy_cover_vitae_form_submit" %>
                    </div>
                <%end%>
            </div>
        </div>
    </div>
</div>