<div class="cover_vitae_block">
    <div class="cover_vitae_avatar">
        <%if cover_vitae.avatar?%>
            <%= link_to (image_tag(cover_vitae.avatar.url)), image_path(url_for(cover_vitae.avatar.url)), rel: "gallery" , :href => cover_vitae_path(cover_vitae), target: :_blank%>
        <%end%>
    </div>
    <div class="cover_vitae_title">
        <%= link_to cover_vitae.title, cover_vitae_path(cover_vitae)%>
    </div>

    <div class="cover_vitae_action">
        <%= link_to '<button type="submit">Dùng mẫu này</button>'.html_safe, new_cover_vitae_path(:cv_sample_id => cover_vitae.id)%>
    </div>
</div>