<div id="primary_cover_vitae_<%=cover_vitae.id%>">
    <%if cover_vitae.primary%>
        <%= link_to '<button class="highlight_btn" type="submit"><i class="material-icons">done</i><span>CV mặc định</span></button>'.html_safe, 
            set_primary_cover_viate_path(:id => cover_vitae.id),
            remote: :true%>
    <%else%>                                    
        <%= link_to '<button type="submit"><i class="material-icons">done</i><span>Đặt làm CV mặc định</span></button>'.html_safe, 
            set_primary_cover_viate_path(:id => cover_vitae.id),
            remote: :true%>
    <%end%>
</div>