<div class="container">
    <div class="row">
        <%@cover_vitaes.each do |cover_vitae|%>
            <div class="col-sm-4">
                <%=render cover_vitae%>
            </div>
        <%end%>
    </div>
</div>