<div class="cv_show_block">
    <div class="container">
        <div class ="row justify-content-center">
            <div class="col-sm-8">
                <%=@cover_vitae.detail.html_safe%>
            </div>
        </div>
    </div>
</div>