
<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS here -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
<!-- footer start -->
    <div class="body_content_footer">
        <footer class="footer">
            <div class="footer_container">
                <div class="footer_row">
                    <div class="footer_row_1">
                        <div class="footer_widget">
                            <div class="footer_logo">
                                <a href="#">
                                    <h3>Code </></h3>
                                </a>
                            </div>

                            <div class="footer_socail_links">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="footer_row_2">
                        <div class="footer_widget wow">
                            <h3 class="footer_title">
                                Sản Phẩm
                            </h3>
                            <ul>
                                <li><a href="#">Đánh giá công ty </a></li>
                                <li><a href="#">Solve problem</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">FAQ</a></li>
                            </ul>

                        </div>
                    </div>
                    <div class="footer_row_3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Trợ giúp
                            </h3>
                            <ul>
                                <li><a href="#">Câu hỏi thường gặp</a></li>
                                <li><a href="#">Engineering</a></li>
                                <li><a href="#">Sales & Marketing</a></li>
                                <li><a href="#">Finance</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="footer_row_4">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Về chúng tôi
                            </h3>
                            <ul>
                                <li><a href="#">Câu hỏi thường gặp</a></li>
                                <li><a href="#">Engineering</a></li>
                                <li><a href="#">Sales & Marketing</a></li>
                                <li><a href="#">Finance</a></li>
                            </ul>
                        </div>
                    </div>

                    <%# <div class="footer_row_5">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Q&A
                            </h3>
                            <ul>
                                <li><a href="#">Q&A</a></li>
                                <li><a href="#">Engineering</a></li>
                                <li><a href="#">Sales & Marketing</a></li>
                                <li><a href="#">Finance</a></li>
                            </ul>
                        </div>
                    </div> %>
                </div>
                <div class="footer_copyright">
                    <t>Copyright Ⓒ2020 | Made with <i class="fa fa-heart checked"></i> in Code</> </t>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>