<div class="container_footer">
    <div class="footer_block">
        <div class="footer_container_top">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="footer_label">
                            <a>FIREWORK</a>
                        </div>
                        <div class="footer_link">
                            <ul>
                                <li>
                                    <a href="https://www.firework.vn/posts/about-us">Về chúng tôi</a>
                                </li>

                                <li>
                                    <a href="https://www.firework.vn/posts/product">Sản phẩm dịch vụ</a>
                                </li>

                                <li>
                                    <a href="https://www.firework.vn/posts/security">Chính sách bảo mật</a>
                                </li>

                                <li>
                                    <a href="https://www.firework.vn/posts/policy">Thỏa thuận sử dụng</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="footer_label">
                            <a>DÀNH CHO NHÀ TUYỂN DỤNG</a>
                        </div>
                        <div class="footer_link">
                            <ul>
                                <li>
                                    <a href="https://www.firework.vn/posts/employer-post">Đăng tin tuyển dụng</a>
                                </li>

                                <li>
                                    <a href="https://www.firework.vn/pages">Tìm kiếm hồ sơ</a>
                                </li>

                                <li>
                                    <a href="https://www.firework.vn/posts/contact-us">Liên hệ với chúng tôi</a>
                                </li>

                                <li>
                                    <a href="https://www.firework.vn/pages">Yêu cầu thêm công ty mới</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="footer_label">
                            <a>HỖ TRỢ</a>
                        </div>
                        <div class="footer_link">
                            <ul>
                                <li>
                                    <a href="https://www.firework.vn/posts/report">Giải quyết khiếu nại</a>
                                </li>

                                <li>
                                    <a href="https://www.firework.vn/posts/question-and-answer">Câu hỏi thường gặp</a>
                                </li>

                                <li>
                                    <a href="https://www.firework.vn/posts/contact-us">Liên hệ</a>
                                </li>

                                <li>
                                    <a href="https://www.firework.vn/posts/feedback">Nhận xét góp ý</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="footer_label">
                            <a>THEO DÕI CHÚNG TÔI</a>
                        </div>
                        <div class="footer_link">
                            <ul>
                                <li>
                                    <a href="https://www.firework.vn/">
                                        Facebook
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.firework.vn/">
                                        Google
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.firework.vn/">
                                        Twitter
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.firework.vn/">
                                        Youtube
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_container_bottom">
            <div class="container">
                <div class="footer_container_bottom_block">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="footer_links">
                                <a href="#">Liên hệ: support@firework.vn</a>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="footer_copyright">
                                <a>Copyright Ⓒ<%=DateTime.now.strftime("%Y")%> | Made with <i class="material-icons"> favorite</i> in FIREWORK </a>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="footer_bottom_links">
                                <a href="https://www.firework.vn/posts/policy">Quy định</a>
                                <a href="https://www.firework.vn/posts/security">| Bảo mật</a>
                                <a href="https://www.firework.vn/posts/contact-us">| Liên hệ |</a>
                                <a href="#">Site map</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </div>
</div>