<div class="container_footer">
    <div class="footer_block">
        <div class="footer_container_top">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="footer_label">
                            <a>FIREWORK</a>
                        </div>
                        <div class="footer_link">
                            <ul>
                                <li>
                                    <a href="https://www.firework.vn/posts/about-us">Về chúng tôi</a>
                                </li>

                                <li>
                                    <a href="https://www.firework.vn/posts/product">Sản phẩm dịch vụ</a>
                                </li>

                                <li>
                                    <a href="https://www.firework.vn/posts/security">Chính sách bảo mật</a>
                                </li>

                                <li>
                                    <a href="https://www.firework.vn/posts/policy">Thỏa thuận sử dụng</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="footer_label">
                            <a>DÀNH CHO NHÀ TUYỂN DỤNG</a>
                        </div>
                        <div class="footer_link">
                            <ul>
                                <li>
                                    <a href="https://www.firework.vn/posts/employer-post">Đăng tin tuyển dụng</a>
                                </li>

                                <li>
                                    <a href="https://www.firework.vn/pages">Tìm kiếm hồ sơ</a>
                                </li>

                                <li>
                                    <a href="https://www.firework.vn/posts/contact-us">Liên hệ với chúng tôi</a>
                                </li>

                                <li>
                                    <a href="https://www.firework.vn/pages">Yêu cầu thêm công ty mới</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="footer_label">
                            <a>HỖ TRỢ</a>
                        </div>
                        <div class="footer_link">
                            <ul>
                                <li>
                                    <a href="https://www.firework.vn/posts/report">Giải quyết khiếu nại</a>
                                </li>

                                <li>
                                    <a href="https://www.firework.vn/posts/question-and-answer">Câu hỏi thường gặp</a>
                                </li>

                                <li>
                                    <a href="https://www.firework.vn/posts/contact-us">Liên hệ</a>
                                </li>

                                <li>
                                    <a href="https://www.firework.vn/posts/feedback">Nhận xét góp ý</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="footer_label">
                            <a>THEO DÕI CHÚNG TÔI</a>
                        </div>
                        <div class="footer_link">
                            <ul>
                                <li>
                                    <a href="https://www.firework.vn/">
                                        <svg class="jsx-121732950" width="25" height="25" xmlns="http://www.w3.org/2000/svg"><path d="M20 4.882v14.232a.88.88 0 0 1-.882.882h-4.079v-6.192h2.079l.31-2.415h-2.392V9.846c0-.7.193-1.175 1.196-1.175h1.279v-2.16a17.19 17.19 0 0 0-1.865-.097c-1.842 0-3.107 1.125-3.107 3.193v1.782h-2.085v2.415h2.085V20H4.882A.884.884 0 0 1 4 19.118V4.882C4 4.396 4.396 4 4.882 4h14.232c.49 0 .886.396.886.882z"></path></svg>
                                        <span>Facebook</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.firework.vn/">
                                        <svg class="jsx-121732950" width="25" height="25" xmlns="http://www.w3.org/2000/svg"><path d="M12 4c-4.416 0-8 3.584-8 8s3.584 8 8 8 8-3.584 8-8-3.584-8-8-8zM9.72 16c-2.22 0-4-1.79-4-4s1.78-4 4-4c1.009 0 1.938.355 2.677 1.042l-1.084 1.052c-.426-.417-1.01-.617-1.594-.617-1.384 0-2.49 1.146-2.49 2.52s1.103 2.52 2.49 2.52c1.052 0 2.094-.617 2.262-1.72H9.719v-1.374h3.771c.042.219.062.438.062.667 0 2.284-1.533 3.91-3.833 3.91zm7.425-3.426v1.145H16v-1.145h-1.145V11.43H16v-1.145h1.145v1.145h1.136v1.145h-1.136z"></path></svg>
                                        <span>Google</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.firework.vn/">
                                        <svg class="jsx-121732950" width="25" height="25" xmlns="http://www.w3.org/2000/svg"><path d="M18.355 9.25c.01.142.01.284.01.426 0 4.337-3.299 9.334-9.33 9.334A9.264 9.264 0 0 1 4 17.527c.264.03.518.041.792.041a6.566 6.566 0 0 0 4.071-1.402 3.285 3.285 0 0 1-3.066-2.275c.203.03.406.051.62.051.294 0 .588-.04.862-.112a3.28 3.28 0 0 1-2.63-3.22v-.04c.437.254.945.396 1.483.417A3.278 3.278 0 0 1 4.67 8.255c0-.61.162-1.168.447-1.656a9.32 9.32 0 0 0 6.761 3.433 3.705 3.705 0 0 1-.081-.752A3.278 3.278 0 0 1 15.077 6a3.27 3.27 0 0 1 2.395 1.036 6.455 6.455 0 0 0 2.081-.792 3.271 3.271 0 0 1-1.441 1.808c.66-.072 1.3-.254 1.888-.508a7.05 7.05 0 0 1-1.645 1.696z"></path></svg>
                                        <span>Twitter</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.firework.vn/">
                                        <svg class="jsx-121732950" width="25" height="25" xmlns="http://www.w3.org/2000/svg"><path d="M19.64 7.878c-.184-.74-.725-1.322-1.41-1.52C16.986 6 12 6 12 6s-4.986 0-6.23.359c-.686.197-1.226.78-1.41 1.519-.333 1.34-.333 4.134-.333 4.134s0 2.795.333 4.135c.184.739.725 1.297 1.41 1.494C7.014 18 12 18 12 18s4.986 0 6.23-.359a2.046 2.046 0 0 0 1.41-1.494c.333-1.34.333-4.135.333-4.135s0-2.795-.333-4.134zm-9.27 6.672V9.475l4.167 2.537-4.168 2.538z"></path></svg>
                                        <span>Youtube</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_container_bottom">
            <div class="container">
                <div class="footer_container_bottom_block">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="footer_links">
                                <a href="#">Liên hệ: hotro.firework@gmail.com</a>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="footer_copyright">
                                <a>Copyright Ⓒ<%=DateTime.now.strftime("%Y")%> | Made with <i class="material-icons"> favorite</i> in FIREWORK </a>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="footer_bottom_links">
                                <a href="https://www.firework.vn/posts/policy">Quy định</a>
                                <a href="https://www.firework.vn/posts/security">| Bảo mật</a>
                                <a href="https://www.firework.vn/posts/contact-us">| Liên hệ |</a>
                                <a href="#">Site map</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </div>
</div>