
<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS here -->
</head>

<body>
<!-- footer start -->
    <div class="container_footer">
        <footer class="footer">
            <div class="container">
                <div class="footer_container_top">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="footer_label">
                                <a>Company</a>
                            </div>
                            <div class="footer_link">
                                <ul>
                                    <li>
                                        <a href="#">Về chúng tôi</a>
                                    </li>

                                    <li>
                                        <a href="#">Câu hỏi thường gặp</a>
                                    </li>

                                    <li>
                                        <a href="#">Liên hệ</a>
                                    </li>

                                    <li>
                                        <a href="#">Đóng góp ý kiến</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="footer_label">
                                <a>Dành cho nhà tuyển dụng</a>
                            </div>
                            <div class="footer_link">
                                <ul>
                                    <li>
                                        <a href="#">Đăng tin tuyển dụng</a>
                                    </li>

                                    <li>
                                        <a href="#">Tìm kiếm hồ sơ</a>
                                    </li>

                                    <li>
                                        <a href="#">Liên hệ với chúng tôi</a>
                                    </li>

                                    <li>
                                        <a href="#">Dịch vụ khác</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="footer_label">
                                <a>Chính sách công ty</a>
                            </div>
                            <div class="footer_link">
                                <ul>
                                    <li>
                                        <a href="#">Quy định và Bảo mật</a>
                                    </li>

                                    <li>
                                        <a href="#">Điều khoản sử dụng</a>
                                    </li>

                                    <li>
                                        <a href="#">Giải quyết khiếu nại</a>
                                    </li>

                                    <li>
                                        <a href="#">Nhận xét góp ý</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="footer_label">
                                <a>Liên hệ</a>
                            </div>
                            <div class="footer_link">
                                <ul>
                                    <li>
                                        <a href="#">Việc làm theo thành phố</a>
                                    </li>

                                    <li>
                                        <a href="#">Việc làm theo công ty</a>
                                    </li>

                                    <li>
                                        <a href="#">Việc làm theo kĩ năng</a>
                                    </li>

                                    <li>
                                        <a href="#">Việc làm mới</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer_container_bottom">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="footer_links">
                                <a href="#">Liên hệ: support@firework.vn</a>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="footer_copyright">
                                <a>Copyright Ⓒ2020 | Made with <i class="fa fa-heart checked"></i> in FIREWORK </a>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="footer_socail_links">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-google"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>  
                </div>
            </footer>
        </div>
    </div>
</body>
</html>