
<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS here -->
</head>

<body>
<!-- footer start -->
    <div class="container_footer">
        <footer class="footer">
            <div class="container">
                <div class="footer_container_top">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="footer_label">
                                <a>Việc làm</a>
                            </div>
                            <div class="footer_link">
                                <ul>
                                    <li>
                                        <a href="#">Việc làm theo thành phố</a>
                                    </li>

                                    <li>
                                        <a href="#">Việc làm theo công ty</a>
                                    </li>

                                    <li>
                                        <a href="#">Việc làm theo kĩ năng</a>
                                    </li>

                                    <li>
                                        <a href="#">Việc làm mới</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="footer_label">
                                <a>Việc làm</a>
                            </div>
                            <div class="footer_link">
                                <ul>
                                    <li>
                                        <a href="#">Việc làm theo thành phố</a>
                                    </li>

                                    <li>
                                        <a href="#">Việc làm theo công ty</a>
                                    </li>

                                    <li>
                                        <a href="#">Việc làm theo kĩ năng</a>
                                    </li>

                                    <li>
                                        <a href="#">Việc làm mới</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="footer_label">
                                <a>Việc làm</a>
                            </div>
                            <div class="footer_link">
                                <ul>
                                    <li>
                                        <a href="#">Việc làm theo thành phố</a>
                                    </li>

                                    <li>
                                        <a href="#">Việc làm theo công ty</a>
                                    </li>

                                    <li>
                                        <a href="#">Việc làm theo kĩ năng</a>
                                    </li>

                                    <li>
                                        <a href="#">Việc làm mới</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="footer_label">
                                <a>Việc làm</a>
                            </div>
                            <div class="footer_link">
                                <ul>
                                    <li>
                                        <a href="#">Việc làm theo thành phố</a>
                                    </li>

                                    <li>
                                        <a href="#">Việc làm theo công ty</a>
                                    </li>

                                    <li>
                                        <a href="#">Việc làm theo kĩ năng</a>
                                    </li>

                                    <li>
                                        <a href="#">Việc làm mới</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer_container_bottom">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="footer_links">
                                <a>Về chúng tôi  |  Chính sách  |  Báo cáo vi phạm</a>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="footer_copyright">
                                <a>Ⓒ2020 | Made with <i class="fa fa-heart checked"></i> in FIREWORK </a>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="footer_socail_links">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-google"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>  
                </div>
            </footer>
        </div>
    </div>
</body>
</html>