<div class="modal fade" id="buttonModalLoginCenter" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="user_signin_modal_title">
                    <a>Đăng nhập để tiếp tục...</a>
                </div> 
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="user_signin_modal_logo">
                    <div class="rounded">
                        <%= link_to (image_tag(("favicon.ico"))), image_path(url_for(("favicon.ico"))), rel: "gallery" , :href => root_path%>
                    </div>
                </div>
                <div class="user_signin_modal_des">
                    <span>Nơi mọi người chia sẻ thông tin, giúp nhau tìm kiếm công việc mơ ước và phát triển sự nghiệp</span>
                </div>
                <div class="user_signin_modal_signin">
                    <%= button_to new_user_session_path, method: :get do%>
                        <a>Đăng nhập</a>
                    <%end%>
                </div>
                <div class="user_signin_modal_signup">
                    <%= button_to new_user_registration_path, method: :get do%>
                        <a>Tạo tài khoản mới</a>
                    <%end%>
                </div>
                <div class="user_signin_modal_des_sub">
                    <span>Việc tạo tài khoản là hoàn toàn miễn phí và thông tin cá nhân của bạn sẽ chỉ được hiển thị khi thực sự cần thiết</span>
                </div>
            </div>
        </div>
    </div>
</div>