<div class="about_us_container">
    <div class="container">
        <div class="about_us_bar">
            <div class="about_us_bar_label">
                <h3>Sứ mệnh của chúng tôi là giúp mọi người tìm được công việc/công ty mà họ mơ ước.</h3>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="about_us_intro">
        <div class="row">
            <div class="col-sm-6">
                <div class="about_us_intro_label">
                    <a>Về Firework</a>
                </div>
                <div class="about_us_intro_left">
                    <div class="about_us_intro_section">
                        <a>Phần lớn thời gian trong ngày của mỗi người đều dành cho công việc của mình tại công ty. Do đó, việc tìm được một công việc mơ ước và môi trường làm việc tuyệt vời là yếu tố vô cùng quan trọng trong quá trình tìm kiếm việc làm của mỗi người.</a>
                    </div>
                    <div class="about_us_intro_section">
                        <a>Thấu hiểu điều đó, Firework ra đời với ý tưởng tận dụng ý kiến, đánh giá, chia sẻ kinh nghiệm phỏng vấn, làm việc... của chính những người đã và đang là nhân viên của chính công ty.</a>
                    </div>
                    <div class="about_us_intro_section">
                        <a>Qua đó người tìm việc có được cái nhìn sâu sắc nhất về công ty/công việc mà mình dự định gắn bó. Đồng thời, nhà tuyển dụng có được các ứng viên tiềm năng sẵn sàng gắn bó cùng sự phát triển của công ty trong tương lai.</a>
                    </div>
                    <div class="about_us_intro_section">
                        <a>Chúng tôi luôn luôn lỗ lực không ngừng để cải tiến công nghệ và đem đến các trải nghiệm hoàn toàn mới nhằm đưa nhiều cơ hội việc làm hơn nữa tới tất cả mọi người trên khắp Việt Nam.</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="about_us_intro_image">
                    <%=image_tag("others/about_us_intro.jpg")%>
                </div>
            </div>
        </div>
    </div>

    <div class="about_us_value">
        <div class="about_us_value_label">
            <a>Những gì chúng tôi hướng đến</a>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-6">
                        <div class="about_us_value_section">
                            <div class="about_us_value_img">
                                <a>1.<a>
                            </div>
                            <div class="about_us_value_detail">
                                <a>Thông tin trung thực</a>
                                <br>
                                <span>Chúng tôi luôn cố gắng đảm bảo tính chính xác, trung thực của thông tin. Chúng tôi chia sẻ các thông tin tốt và xấu nhằm giúp người dùng đưa ra quyết định đúng đắn nhất, khuyến khích sự phát triển của công ty.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="about_us_value_section">
                            <div class="about_us_value_img">
                                <a>2.<a>
                            </div>
                            <div class="about_us_value_detail">
                                <a>Việc làm cho tất cả mọi người</a>
                                <br>
                                <span>Chúng tôi luôn cố gắng để những công việc tốt nhất đến với tất cả mọi người một cách nhanh chóng nhất.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-6">
                        <div class="about_us_value_section">
                            <div class="about_us_value_img">
                                <a>3.<a>
                            </div>
                            <div class="about_us_value_detail">
                                <a>Sáng tạo</a>
                                <br>
                                <span>Chúng tôi luôn luôn nỗ lực không ngừng, dùng công nghệ làm cuộc sống tốt đẹp hơn.</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="about_us_value_section">
                            <div class="about_us_value_img">
                               <a>4.<a>
                            </div>
                            <div class="about_us_value_detail">
                                <a>Kiên trì, bền bỉ</a>
                                <br>
                                <span>Chúng tôi kiên trì theo đuổi mục tiêu đã đề ra, đồng thời luôn sẵn sàng đón nhận các thử thách mới.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>