<div class="contact_container">
    <div class="container">
        <div class="contact_block">
            <div class="contact_label">
                <h3><%=t(:contact)%> </h3>
            </div>
            <div class="contact_detail">
                <div class="contact_intro">
                    <a><%=t(:contact_us_intro)%></a>
                </div>
                <div class="contact_section">
                    <i class="material-icons-outlined">email</i><a>hotro.firework@gmail.com</a>
                    <br>
                    <i class="material-icons-outlined">phone</i><a>0338275427(<%=t(:contact_us_note)%>)</a>
                    <br>
                    <i class="material-icons-outlined">facebook</i><a href="https://www.facebook.com/Firework-100170282265854">Firework</a>
                </div>
            </div>
        </div>
    </div>
</div>
