<div class="policy_container">
    <div class="container">
        <div class="policy_block">
            <div class="policy_label">
                <h3>Chính sách bảo mật thông tin </h3>
            </div>
            <div class="policy_detail">
                <div class="policy_intro">
                    <a>Khi sử dụng dịch vụ của chúng tôi, bạn tin tưởng cung cấp thông tin của bạn cho chúng tôi. Chúng tôi hiểu rằng đây là một trách nhiệm lớn và chúng tôi nỗ lực bảo vệ thông tin của bạn cũng như để bạn nắm quyền kiểm soát thông tin đó.</a>
                </div>
                <div class="policy_section">
                    <h4><strong>I. Trách nhiệm  và nghĩa vụ của chúng tôi</strong></h4>

                    <p><strong>Bảo vệ thông tin người dùng</strong></p>

                    <p>Chúng tôi có trách nhiệm và nghĩa vụ bảo vệ thông tin cá nhân của người dùng cung cấp trên website firework.vn. Thông tin của người dùng sẽ không được chia sẻ với bên thứ ba, ngoại trừ các trường hợp đặc biệt.</p>

                    <p><strong>Thu thập thông tin của bạn</strong></p>

                    <p>Để tạo thuận lợi cho quá trình tuyển dụng, chúng tôi sẽ thu thập thông tin của bạn nhằm đưa ra gợi ý tốt nhất cho quá trình tìm việc của bạn</p>

                    <p>Chúng tôi có thể lưu trữ những thông tin trong quá trình ứng tuyển như tên, địa chỉ email, số điện thoại .... và sử dụng cho quá trình ứng tuyển của bạn.</p>

                    <p><strong>Sử dụng thông tin của bạn</strong></p>

                    <p>Trong quá trình tham gia ứng tuyển, thông tin của bạn có thể được gửi cho nhà tuyển dụng để sử dụng trong quá trình tìm kiếm ứng viên.</p>
                    <br>

                    <h4><strong>II. Quyền Và Trách Nhiệm Của Người Sử Dụng</strong></h4>

                    <p><strong>Toàn quyền kiểm soát thông tin của mình</strong></p>

                    <p>Bạn có toàn quyền kiểm soát thông tin của mình, các thông tin được phép chia sẻ hoặc không.</p>

                    <p><strong>Cập nhật thông tin</strong></p>

                    <p>Để thuận lợi cho quá trình tham gia ứng tuyển, bạn nên liên tục cập nhật thông tin cá nhân để đảm bảo khả năng trúng tuyển cao nhất.</p>

                    <p><strong>Chia sẻ thông tin</strong></p>

                    <p>Trong quá trình sử dụng website, khi chia sẻ thông tin cá nhân của người khác cần có sự đồng ý của cá nhân đó. Mọi thông tin sai sự thật đều vi phạm Điều khoản của chúng tôi.</p>
                </div>
            </div>
        </div>
    </div>
</div>
