<div class="term_container">
    <div class="container">
        <div class="term_block">
            <div class="term_label">
                <h3>Điều khoản & Dịch vụ </h3>
            </div>
            <div class="term_detail">
                <div class="term_intro">
                    <a>Dù biết rằng bạn rất dễ bỏ qua những <strong>Điều khoản và Dịch vụ</strong> này, nhưng chúng tôi cần phải nêu rõ trách nhiệm của chúng tôi cũng như trách nhiệm của bạn trong quá trình bạn sử dụng các dịch vụ của chúng tôi. Xin vui lòng đọc kĩ các nội dung dưới đây.</a>
                </div>
                <div class="term_section">
                    <h4><strong>I. Trách nhiệm của chúng tôi</strong></h4>

                    <p>Firework.vn là một ứng dụng Web trên mạng Internet được thiết kế cho phép người sử dụng kết nối chia sẻ, đánh công ty, kinh nghiệm ứng tuyển, đăng thông báo tuyển dụng và/hoặc xem các công việc do những người sử dụng khác đăng lên, hoặc tương tác với những người sử dụng khác.</p>

                    <p>Chúng tôi không chịu trách nhiệm về thông tin mà người dùng đăng tải lên website của chúng tôi, những thông tin vi phạm <strong>chính sách của chúng tôi</strong> hoặc nhận được các phản hồi không tốt từ cộng đồng sẽ được đội ngũ quản trị viên xử lý trong thời gian sớm nhất có thể.</p>

                    <p>Chúng tôi có toàn quyền xóa hoặc hủy bỏ những nội dung do người dùng đăng tải vi phạm các thỏa thuận sử dụng và chính sách của chúng tôi.</p>

                    <p>Để có thể sử dụng đầy đủ tiện ích dịch vụ trên Website firework.vn, bạn cần phải đăng ký tạo lập một tài khoản sử dụng và cung cấp một số thông tin cá nhân nhất định bao gồm họ và tên, địa chỉ email để phục vụ cho việc liên lạc giao tiếp giữa bạn và Website cũng như những người sử dụng khác sau này. Bằng việc đăng ký này, bạn đồng ý nhận các Thư thông báo, các thư điện tử, tin nhắn, cuộc gọi hoặc các hình thức truyền thông khác về các sản phẩm và dịch vụ của chúng tôi</p>

                    <p>Chúng tôi luôn nỗ lực bảo vệ thông tin cá nhân của bạn, nếu có bất kì thay đổi liên quan tới thông tin của bạn thông báo sẽ được gửi tới hộp thư cá nhân của bạn.</p>

                    <p>Tất cả các dịch vụ chúng tôi cung cấp các dịch vụ chịu sự điều chỉnh của các điều khoản này, bao gồm: ứng dụng và trang web</p>

                    <p></p>
                    <br>

                    <h4><strong>II. Cải thiện các dịch vụ của chúng tôi</strong></h4>

                    <p>Chúng tôi liên tục phát triển các công nghệ và tính năng mới để cải thiện các dịch vụ của chúng tôi. Trong quá trình cải tiến liên tục này, đôi khi, chúng tôi sẽ bổ sung hoặc xóa các tính năng và chức năng, tăng hoặc giảm các giới hạn đối với các dịch vụ, và bắt đầu cung cấp dịch vụ mới hoặc ngừng cung cấp dịch vụ cũ. Chúng tôi sẽ thông báo trước cho bạn với bất kì sự thay đổi nào trong cách vận hành website.</p>

                    <p>Trong quá trình sử dụng dịch vụ, nếu có bất kì sự không hài lòng bạn vui lòng gửi lại phản hồi cho chúng tôi thông qua tin nhắn hoặc email, chúng tôi sẽ rất vui vì điều đó.</p>

                    <p></p>
                    <br>

                    <h4><strong>III. Quyền Và Trách Nhiệm Của Người Sử Dụng</strong></h4>

                    <p>Các dịch vụ của chúng tôi được thiết kế để giúp người tìm việc có được sự hỗ trợ tốt nhất trong quá trình tìm kiếm việc làm. Khi sử dụng Dịch vụ của chúng tôi(firework.vn), bạn nhận thức đầy đủ các điều cấm sau:</p>

                    <ol>
                        <li>
                        <p>Chống Nhà nước Cộng hoà xã hội chủ nghĩa Việt Nam, phá hoại khối đoàn kết toàn dân, tuyên truyền, xuyên tạc, kích động hoặc cung cấp thông chống phá Nhà nước Việt Nam.</p>
                        </li>
                        <li>
                        <p>Kích động bạo lực, tuyên truyền chiến tranh xâm lược, gây hận thù giữa các dân tộc và nhân dân các nước, kích động dâm ô, đồi trụy, tội ác, tệ nạn xã hội, mê tín dị đoan, phá hoại thuần phong mỹ tục của dân tộc.</p>
                        </li>
                        <li>
                        <p>Tiết lộ bí mật nhà nước, bí mật quân sự, an ninh, kinh tế, đối ngoại và những bí mật khác đã được pháp luật quy định.</p>
                        </li>
                        <li>
                        <p>Xuyên tạc, vu khống, xúc phạm uy tín của tổ chức, danh dự, nhân phẩm, uy tín của công dân.</p>
                        </li>
                        <li>
                        <p>Quảng cáo, tuyên truyền hàng hoá, dịch vụ thuộc danh mục cấm đã được pháp luật quy định.</p>
                        </li>
                        <li>
                        <p>Đề cập đến các vấn đề chính trị và tôn giáo.</p>
                        </li>
                        <li>
                        <p>Sử dụng các từ ngữ vô văn hóa vi phạm truyền thống đạo đức của Việt Nam.</p>
                        </li>
                        <li>
                        <p>Hạn chế hoặc ngăn cản người sử dụng khác sử dụng và hưởng các tính năng tương tác.</p>
                        </li>
                        <li>
                        <p>Gửi hoặc chuyển các thông tin bất hợp pháp, đe doạ, lạm dụng, bôi nhọ, nói xấu, khiêu dâm, phi thẩm mỹ, xúc phạm hoặc bất kỳ loại thông tin không đứng đắn nào, bao gồm nhưng không hạn chế việc truyền bá tin tức góp phần hay khuyến khích hành vi phạm tội, gây ra trách nhiệm pháp lý dân sự hoặc vi phạm pháp luật đia phương, liêng bang, quốc gia hoặc quốc tế.</p>
                        </li>
                        <li>
                        <p>Gửi hay chuyển các thông tin, phần mềm, hoặc các tài liệu khác bất kỳ, vi phạm hoặc xâm phạm các quyền của những người khác, trong đó bao gồm cả tài liệu xâm phạm đến quyền riêng tư hoặc công khai, hoặc tài liệu được bảo vệ bản quyền, tên thương mại hoặc quyền sở hữu khác, hoặc các sản phẩm phái sinh mà không được sự cho phép của người chủ sở hữu hoặc người có quyền hợp pháp.</p>
                        </li>
                        <li>
                        <p>Gửi hoặc chuyển thông tin, phần mềm hoặc tài liệu bất kỳ có chứa virus hoặc một thành phần gây hại khác.</p>
                        </li>
                        <li>
                        <p>Thay đổi, làm hư hại hoặc xóa nội dung bất kỳ hoặc các phương tiện khác mà không phải là nội dung thuộc sở hữu của bạn, hoặc gây trợ ngại cho những người khác truy cập đến Website firework.vn.</p>
                        </li>
                        <li>
                        <p>Phá vỡ luồng thông tin bình thường trong một vùng tương tác.</p>
                        </li>
                        <li>
                        <p>Tuyên bố có liên hệ với hay phát ngôn cho một doanh nghiệp, hiệp hội, thể chế hay tổ chức nào khác mà bạn không được uỷ quyền tuyên bố mối liên hệ đó.</p>
                        </li>
                        <li>
                        <p>Thực hiện tấn công mạng, khủng bố mạng, gián điệp mạng, tội phạm mạng. gây sự cố, tấn công, xâm nhập, chiếm quyền điều khiển, làm sai lệch, gián đoạn, ngưng trệ, tê liệt hoặc phá hoại hệ thống thông tin.</p>
                        </li>
                        <li>
                        <p>Sử dụng Website firework.vn cho những mục đích phi pháp, bao gồm nhưng không giới hạn hành vi vi phạm một quy tắc, chính sách hay hướng dẫn sử dụng nào của nhà cung cấp dịch vụ Internet cho bạn hay các dịch vụ trực tuyến.</p>
                        </li>
                        <li>
                        <p><strong><u>Yêu cầu người tham gia ứng tuyển đóng tiền.</u></strong>Chúng tôi không thu tiền của người dùng tham gia ứng tuyển. Việc nhà tuyển dụng thu tiền của người tham gia ứng tuyển hoàn toàn bị cấm theo quy định của pháp luật Việt Nam hiện hành. Bạn sẽ cần tuân thủ nghiêm ngặt các quy định này. Trong một số trường hợp đặc thù mà người tham gia ứng tuyển được yêu cầu phải chi trả bất kỳ khoản chi phí hàng hóa/dịch vụ nào cho bạn hoặc Công ty bạn hoặc bất kỳ bên thứ ba nào khác phù hợp với quy định pháp luật, bạn cần cân nhắc mọi chi phí phát sinh và chúng tôi không chịu trách nhiệm về khoản phí phát sinh của bạn thực hiện với bên thứ ba</p>
                        </li>
                        <li>
                        <p><strong><u>Báo cáo vi phạm.</u></strong>Trong trường hợp bạn cho rằng hành vi của bất kỳ người dùng nào khác không phù hợp các quy định tại Điều Khoản và Điều Kiện này, bạn luôn có thể thông báo cho chúng tôi để xem xét và xử lý trong thời gian sớm nhất</p>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
