<!doctype html>
<html>
    <head>
    <!-- Place your kit's code here -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        <div class="company_join">

            <div class="company_join_overview">

                <div class="company_join_title">
                    <t> Những chính sách nổi bật của <%= @company.name %></t>
                </div>

                <div class="company_join_policy">
                    <t><%= @company.policy %></t>
                </div>
            </div>

        </div>
    </body>

</html>