<!-- comments container -->
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
    </head>

    <body>
        <div class="user_reply_interview_block">
            <div class="user_reply_interview_left">
                <div class="user_avatar">
                    <%if @company.avatar?%>
                        <%= link_to (image_tag(@company.avatar.url)), image_path(url_for(@company.avatar.url)), rel: "gallery" , :href => company_path(@company)%>
                    <%end%>
                </div>
            </div>

            <div class="user_reply_interview_cotent">

                <div class="user_reply_interview_body">
                    <a><%= company_reply_interview.reply_content %></a>
                </div>

                <div class="user_reply_interview_time">
                    <a><%= company_reply_interview.user_name %> . <%= time_ago_in_words(company_reply_interview.created_at) %></a>
                </div>
            </div>
        </div>
    </body>
</html>