<div class="box">
<article class="media">
    <div class="media-content">
    <section class="section company_interviews">
    <div class="container">
        <div class="company_interview-content">
          <h2 class="subtitle is-5"><strong><%= @company_interview.company_reply_interviews.count %></strong> Trả lời</h2>
          <div class="user_comment_body">
                    <t><%= @company_interview.interview %></t>
            </div>
            <div class="user_date_time">
                    <t> <%= @company_reply_interview.reply_content %> </t>
                </div>
         </div>
    </div>
    </section>

</article>
</div>