<div class="box">
<article class="media">
    <div class="media-content">
    <section class="section company_jobs">
    <div class="container">
        <div class="company_job-content">
          <h2 class="subtitle is-5"><strong><%= @company_job.company_apply_jobs.count %></strong> Trả lời</h2>
          <div class="user_comment_body">
                    <t><%= @company_job.job %></t>
            </div>
            <div class="user_date_time">
                    <t> <%= @company_apply_job.apply_content %> </t>
                </div>
         </div>
    </div>
    </section>

</article>
</div>