<div class='employer_confim'>
    <div class='employer_confirm_label'>
        <h3>Tài khoản nhà tuyển dụng của bạn đang trong quá trình xác nhận thông tin, vui lòng đăng nhập lại sau 30p-1h ...</h3>
    </div>
    <div class='employer_confirm_goback'>
        <%= link_to '<button type="submit"><i class="material-icons-outlined">arrow_back</i><span>Quay trở lại trang chủ</span></button>'.html_safe, root_path %>
    </div>

    <div class="employer_confirm_img">
        <%=image_tag("others/employer_processing.jpg")%>
    </div>
</div>