<div class='employer_confim'>
    <div class='employer_confirm_label'>
        <h3><%=t(:approving_message)%></h3>
    </div>
    <div class='employer_confirm_contact'>
        <i class="material-icons-outlined">email</i><a>hotro.firework@gmail.com</a>
        <i class="material-icons-outlined">phone</i><a>0338275427</a>
    </div>

    <div class="employer_confirm_img">
        <%=image_tag("others/employer_processing.svg")%>
    </div>
</div>