<div class='employer_confim'>
    <div class='employer_confirm_label'>
        <h3>Để đảm bảo tính chính xác, chúng tôi đang tiến hành xác thực thông tin bạn đã cung cấp. Vui lòng liên hệ với chúng tôi để kích hoạt tài khoản hoặc đăng nhập lại sau ít phút. Xin cảm ơn...</h3>
    </div>
    <div class='employer_confirm_contact'>
        <i class="material-icons-outlined">email</i><a>hotro.firework@gmail.com</a>
        <i class="material-icons-outlined">phone</i><a>0338275427</a>
    </div>

    <div class="employer_confirm_img">
        <%=image_tag("others/employer_processing.jpg")%>
    </div>
</div>