<div id="employer_price_cal">
    <div class="employer_plan_price_cart_cal_detail">
        <div class="employer_plan_price_cart_cal_temp">
            <a><span>Tạm tính:</span> <%=number_with_delimiter(@price)%>đ</a>
        </div>
        <div class="employer_plan_price_cart_cal_total">
            <a><span>Tổng cộng:</span> <%=number_with_delimiter(@price)%>đ</a>
        </div>
    </div>
</div>