<!DOCTYPE html>
<html>

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>User Dropdown Header</title>

	<link rel="stylesheet" href="assets/header.css">
	<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>


</head>

<body>

<header class="header-user-dropdown">

	<div class="header-limiter">
		<h1><a href="#">Crazy<span>Code</span></a></h1>

		<nav>
			<a href="#">Review</a>
			<a href="#">Study</a>
			<a href="#">Find Job</a>
			<a href="#">Sharing <span class="header-new-feature">new</span></a>
		</nav>

		<%# User login icon %>
		<%# <div class="header-user-menu">
			<img src="assets/images/2.jpg" alt="User Image"/>

			<ul>
				<li><a href="#">Settings</a></li>
				<li><a href="#">Payments</a></li>
				<li><a href="#" class="highlight">Logout</a></li>
			</ul>
		</div> %>

		<%# Log in button %>
		<div class="login-container">
			<form action="/action_page.php">
			<input type="text" placeholder="Username" name="username">
			<input type="text" placeholder="Password" name="psw">
			<button type="submit">Login</button>
			</form>
		</div>

	</div>

</header>

</body>

</html>