<% content_for :meta_robots, "all" %>
<% content_for :meta_title, "Blog" %>
<% content_for :meta_description, "Các bài viết hay về công nghệ, khoa học, kinh nghiệm tìm kiếm việc làm được chia sẻ tại Firework" %>
<div class="container">
    <div class="post_container_index">
        <div class="post_label">
            <span>Blog</span>
        </div>
        <div class="row">
            <% @posts.each do |post| %>
                <div class="col-sm-4">
                    <%=render post%>
                </div>
            <% end %>
        </div>
        <%= paginate @posts, window: 2%>
    </div>
    
    <div class="breadcrumbs">
        <%= render_breadcrumbs :separator => '<i class="material-icons-outlined">keyboard_arrow_right</i>' %>
    </div>
</div>