<div class="employer_notification_block">
    <div class="employer_notification_left">
        <div class="employer_notification_date">
            <a><%=employer_notification.created_at.strftime("%B %d, %Y")%></a>
        </div>
    </div>

    <div class="employer_notification_right">
        <div class="employer_notification_employer">
            <%if find_trigger_user(employer_notification).present?%>
                <a> <%= find_trigger_user(employer_notification).name%>
                    <%if employer_notification.noti_type.to_s == "ReviewComment"%>
                        <span> đã trả lời review của bạn </span>
                    <%elsif employer_notification.noti_type.to_s == "InterviewComment"%>
                        <span> đã trả lời chia sẻ phỏng vấn của bạn </span>
                    <%elsif employer_notification.noti_type.to_s == "PostComment"%>
                        <span> đã trả bình luận bài viết của bạn </span>
                    <%elsif employer_notification.noti_type.to_s == "ProblemComment"%>
                        <span> đã trả lời câu hỏi của bạn</span>
                    <%elsif employer_notification.noti_type.to_s == "ProblemSolutionComment"%>
                        <span> đã bình luận trong câu trả lời của bạn </span>
                    <%elsif employer_notification.noti_type.to_s == "ApplyJob"%>
                        <span> đã nộp đơn ứng tuyển cho vị trí </span>
                    <%else%>
                        <span> đã trả lời trong chủ đề </span>
                    <%end%>
                </a>
            <%end%>
        </div>

        <div class="employer_notification_title">
            <a><%= link_to employer_notification.title, employer_notification.original_url, class: "employer_notification_label" %></a>
        </div>

        <div class="employer_notification_content">
            <a><%=employer_notification.content%></a>
        </div>
    </div>
</div>