<div class="container">
    <div class="employer_notification_index">
        <%if current_employer.employer_notifications.count > 0 %>
            <div class="employer_notification_index_label">
                <h3>Bạn có <%=current_employer.employer_notifications.count%> thông báo mới</h3>
            </div>
            <%current_employer.employer_notifications.each do |employer_notification|%>
                <%=render employer_notification%>
            <%end%>
        <%else%>
            <div class="employer_notification_not_found_block">
                <div class="employer_notification_not_found_icon">
                    <i class="material-icons">notifications_none</i>
                </div>
                <div class="employer_notification_not_found">
                    <span>Bạn chưa có thông báo mới nào</span>
                </div>
            </div>
        <%end%>
    </div>
</div>