<div id = "unvote_solution_<%=problem_solution.id%>">
    <%if logged_in?%>
        <% pre_unvote = problem_solution.problem_unvote_solutions.find { |unvote| unvote.user_id == current_user.id} %>
        <% if pre_unvote %>
            <%= button_to problem_problem_solution_problem_unvote_solution_path(@problem, problem_solution, pre_unvote), method: :delete, remote: true, form_class: "problem_solution_dislike_highlight" do%>
                <i class="material-icons-outlined">arrow_drop_down</i>
            <%end%> 
        <%else%>
            <%= button_to problem_problem_solution_problem_unvote_solutions_path(@problem, problem_solution), method: :post, remote: true, form_class: "problem_solution_dislike" do%>
                <i class="material-icons-outlined">arrow_drop_down</i>
            <%end%> 
        <%end%>
    <%else%>
        <%= button_to login_path, form_class: "problem_solution_dislike" do%>
            <i class="material-icons-outlined">arrow_drop_down</i>
        <%end%>
    <%end%>
</div>