////////////////////Sign in/////////////////////
.admin_signin_container{
    background-color: #fff;
    @media screen and (min-width: 600px){
        min-height: 700px;
        padding-top: 140px;
        padding-bottom: 140px;
        background-color: #f8f9fa;
    }
    
    @media screen and (max-width: 600px){
        padding-top: 30px;
        padding-bottom: 30px;
        background-color: #fff;
    }

    .admin_signin_block{
        background-color: #fff;
        border-radius: 4px;
        @media screen and (min-width: 600px)
        {
            margin-left: 32%;
            margin-right: 32%;
            padding: 20px 25px 20px 25px;
            border: 1px solid #f5f5f5;
        }

        .admin_signin_label{
            .admin_signin_title{
                font-size: 23px;
                color: #0f1419;
                text-align: left;
				font-weight: 550;
                padding-bottom: 10px;
                a{
                    font-size: 23px;
                    color: #333;
                    text-align: left;
                    float: left;
                    padding-bottom: 30px;
                }
                i{
                    float: right;
                    font-size: 30px;
                    padding-bottom: 30px;
                    color: #444;
                    position: relative;
                    top: 2px;
                }
            }
        }

        .admin_signin_form_left
        {
            clear: both;
            .admin_signin_content{
                clear: both;
                .admin_signin_label{
                    font-weight: 550;
                    font-size: 15px;
                    color: #0f1419;
                    text-align: left;
                }
    
                .admin_signin_input{
                    left: 0px;
                    margin-top: 5px;
                    margin-bottom: 20px;
                }
            }

            .admin_signin_remember{
                float: left;
                .admin_signin_label_small{
                    font-size: 14px;
                    color: #536471;
                    text-align: left;
                    font-weight: 300;
                }
            }

            .admin_signin_forgot_pass{
                float: right;
                a{
                    color: #0071e3;
                }
            }
    
            .admin_signin_submit{
                clear: both;
				padding-top: 20px;
                .admin_signin_form_submit{
                    height: 44px;
                    width: 100%;
                    border-radius: 4px;
                    padding: 6px;
                    background: #0071e3;
                    font-size: 15px;
                    border: none;
                    cursor: pointer;
                    text-align: center;
                    color: #fff;
                    font-weight: 600;
                    
                    &:hover{
                        background-color: #0071e3;
                        color: #fff;
                    }
                }
            }
        }
    
        .admin_signin_loginhere
        {
            text-align: center;
            font-size: 15px;
            margin-top: 20px;
            font-weight: 550;
            a{
                padding-left: 5px;
                text-decoration: none;
                color: #0071e3;
            }
        }
    }
}

////////////////////sign up//////////////////////
.admin_sign_up_container
{
    background-color: #ffffff;
    @media screen and (min-width: 600px){
        min-height: 700px;
        padding-top: 45px;
        padding-bottom: 45px;
        background-color: #f8f9fa;
    }
    @media screen and (max-width: 600px){
        padding-top: 30px;
        padding-bottom: 30px;
        background-color: #fff;
    }
    .admin_sign_up_block
    {
        background-color: #fff;
        border-radius: 4px;
        background-color: #fff;
        @media screen and (min-width: 600px)
        {
            margin-left: 32%;
            margin-right: 32%;
            padding: 20px 25px 20px 25px;
            border: 1px solid #f5f5f5;
        }
        .admin_sign_up_label{
            .admin_sign_up_title{
                text-align: left;
				font-weight: 550;
                a{
                    font-size: 23px;
                    color: #0f1419;
                }
                padding-bottom: 10px;
            }
        }
        .admin_sign_up_form_left
        {
            padding-top: 10px;
            .admin_sign_up_content{
                clear: both;
                .admin_sign_up_label{
                    font-weight: 550;
                    font-size: 15px;
                    color: #0f1419;
                    text-align: left;
                }
                .admin_sign_up_input{
                    left: 0px;
                    margin-top: 5px;
                    margin-bottom: 20px;
                }
            }
    
            .admin_sign_up_submit{
				padding-top: 10px;
                .admin_sign_up_form_submit{
                    width: 100%;
                    height: 44px;
                    border-radius: 4px;
                    padding: 6px;
                    background: #0071e3;
                    font-size: 15px;
                    border: none;
                    cursor: pointer;
                    text-align: center;
                    color: #fff;
                    font-weight: 600;
                    
                    &:hover{
                        background-color: #0071e3;
                    }
                }
            }
        }
        
        .admin_sign_up_loginhere
        {
            text-align: center;
            font-size: 15px;
            margin-top: 20px;
            font-weight: 550;
            a{
                padding-left: 5px;
                text-decoration: none;
                color: #0071e3;
            }
        }
    }
}



//////////////////show admin////////////////////
.admin_dasboard{
    .admin_title{
        float: left;
        @media screen and (max-width: 600px){
            float: none;
        }
        padding-top: 20px;
        padding-bottom: 10px;
        span{
            font-size: 23px;
            font-weight: 600px;
        }
    }

    .admin_log_out{
        margin-top: 20px;
        margin-bottom: 10px;
        float: right;
        @media screen and (max-width: 600px){
            float: none;
        }
        button{
            padding: 6px;
            height: 44px;
            width: 150px;
            margin-right: 10px;
            font-size: 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            text-align: center;
            color: #fff;
            &:focus {outline:none;}
            
            &:hover{
                background-color: #369;
                color: #fff;
            }
        }
    }

    .admin_tab_link{
        clear: both;
        padding-top: 40px;
        overflow: hidden;
        position: relative;
        display: block;
        background-color: #fff;
        border-bottom: 2px solid #EAEAF0;
        .nav {
            overflow-x: auto;
            overflow-y: hidden;
            flex-wrap: nowrap;
            border: none;
        }
        .nav .nav-link {
            white-space: nowrap;
            font-size: 15px;
        }
        .nav .nav-link, .nav .nav-link.active, .nav .nav-link:hover {
            border: none;
            color: #333;
            text-align: left;
            position: relative;
            i{
                position: relative;
                top: 5px;
                padding-right: 3px;
                padding-left: 0px;
                color: #444;
            }
            span{
                position: absolute;
                top: 0px;
                right: 15px;
                font-size: 12px;
                color: #999;
            }
        }
        .nav .nav-link.active {
            border-radius: 0;
            border-bottom: 3px solid #0d6efd;
            font-weight: 500;
            color: #0d6efd;
            font-size: 15px;
            text-align: left;
            span{
                color: #0d6efd;
            }
            i{
                color: #0d6efd;
            }
        }
    }
    .admin_tab_content{
        padding-top: 20px;
        padding-bottom: 20px;
        min-height: 900px;
        .admin_company_tab{
            .new_admin_company{
                padding-top: 20px;
                button{
                    padding: 10px;
                    width: 200px;
                    background-color: #0d6efd;
                    border: none;
                    color: #fff;
                    &:focus {outline:none;}
                    border-radius: 4px;
                }
            }
        } 

        .admin_job_tab{
            .new_admin_job{
                padding-top: 20px;
                button{
                    padding: 10px;
                    width: 200px;
                    background-color: #0d6efd;
                    border: none;
                    color: #fff;
                    &:focus {outline:none;}
                    border-radius: 4px;
                }
            }
        } 

        .admin_user_tab{
        }

        .admin_post_tab{
            .new_post{
                padding-top: 20px;
                button{
                    padding: 10px;
                    width: 200px;
                    background-color: #0d6efd;
                    border: none;
                    color: #fff;
                    &:focus {outline:none;}
                    border-radius: 4px;
                }
            }
        }

        .admin_problem_tab{
            .new_problem{
                padding-top: 20px;
                button{
                    padding: 10px;
                    width: 200px;
                    background-color: #0d6efd;
                    border: none;
                    color: #fff;
                    &:focus {outline:none;}
                    border-radius: 4px;
                    font-weight: 600;
                    font-size: 14px;
                }
            }
        }

        .scrap_jobs_tab{
            .scrap_jobs_tab_top{

            }

            .scrap_jobs_tab_bottom{
                border: 2px dashed #EAEAF0;
                border-radius: 4px;
                padding: 120px 50px 120px 50px;
                display: flex;
                justify-content: center;
                button{
                    padding: 10px;
                    width: 200px;
                    background-color: #febb02;
                    border: none;
                    color: #fff;
                    &:focus {outline:none;}
                    border-radius: 4px;
                    font-weight: 600;
                    font-size: 14px;
                }
            }
        }
    }
}
