// Place all the styles related to the Companys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

//////////////////index//////////////////
.companies_area{
    padding-top: 15px;
    padding-bottom: 15px;

    .company_search_bar{
        // background-color: #f8f9fa;
        display: block;
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: auto;
        margin-right: auto;
        .company_search_bar_label
        {
            h3{
                font-size: 30px;
                margin-bottom: 8px;
            }
            h4{
                font-size: 25px;
            }
            margin-bottom: 50px;
        }
        .company_search_form{
            float: left;
            .company_search_input{
                font-size: 14px;
                // margin-left: 100px;
                width: 990px;
                height: 44px;
                border-radius: 5px;
                border: 2px solid #dadce0;
            }

        }
        .company_search_button{
            .search_button{
                margin-top: 15px;
                width: 200px;
                height: 50px;
                border-radius: 5px;
                border: 2px solid #5850ec;
                background: #5850ec;
                font-size: 14px;
                color: #ffffff;
            }
        }
    }

    .company_current_review{
        .company_current_review_title{
            margin-top: 20px;
            font-size: 25px;
            float: left;
        }

        .company_current_review_rating{
            margin-top: 10px;
            float: right;
            background-color: #fffbde;
            border-radius: 10px;
            .fa {
                font-size: 30px;
                margin: 8px;
                color: #eaeaea;
            }

            .fa:hover{
                color: #feb100;
            }
        }
        
        clear: both;
    }

    .section_title
    {
        margin-top: 100px;
        font-size: 25px;
        font-weight: 550;
        text-align: left;
        margin-bottom: 20px;
    }
    
    .single_company{
        float: left;
        display: block;
        width: 300px;
        height: 400px;
        margin-top: 5px;
        margin-bottom: 20px;
        margin-right: 22px;
        margin-left: 0px;
        background:#ffffff;
        border: 1px solid #dadce0;
        border-radius: 5px;
        &:hover{
            // background: #f0f0f1;
        }

        .company_thumbnail
        {
            width: 100px;
            height: 100px;
            display: block;
            margin: 50px;
            margin-top: 30px;
            float: left;
        }

        .company_love_button{
            padding-right: 15px;
            padding-top: 15px;
            float: right;
            button{
                border: none;
                background-color: #ffffff;
                .fa {
                    font-size: 25px;
                }
    
                .checked {
                    color: #eaeaea;
                }
            }

            button:hover{
                background: #ffffff;
                .checked {
                    color: #feb100;
                }
            }
        }

        .company_name
        {
            clear: both;
            text-align: center;
            color: #161e2e;
            font-size: 20px;
            font-weight: 550;
            height: 80px;
            .company_name_label{
                color: #161e2e;
                text-decoration: none !important;
            }
        }

        .company_summary
        {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
            .company_location
            {
                text-align: center;
                font-size: 14px;
                color: #635f5f;
            }
            .company_rating
            {
                float: left;
                width: 100%;
                height: 100%;
                margin-top: 5px;
                margin-left: 75px;
                .review_score_star
                {
                    .fa {
                        font-size: 25px;
                    }
        
                    .checked {
                        color: #feb100;
                    }

                    .checked_out {
                        color: #c8c8c8;
                    }
                }
            }

            .review_point
            {
                clear: both;
                color: #161e2e;
                .review_point_review_content{
                    font-size: 14px;
                    font-weight: 600;
                    float: left;
                    margin-top: 10px;
                    margin-left: 60px;
                    margin-right: 20px;
                }
                clear: both;
                .review_point_label
                {
                    float: left;
                    font-size: 14px;
                    margin-left: 22px;
                    margin-right: 10px;
                    text-align: center;
                    .review_point_review_label{
                        text-decoration: none !important;
                        color: #505050; 
                    }
                }
            }
        }

        .company_new_company
        {
            display: block;
            margin-left: 40px;
            margin-right: auto;

            button {
                padding: 12px;
                width: 200px;
                margin-top: 5px;
                margin-right: 16px;
                margin-left: 0px;
                background: #5850ec;
                font-size: 14px;
                border: 0px;
                text-align: center;
                color: #ffffff;
                border-radius: 5px;
            }
            
            button:hover {
                background: rgb(76, 192, 80);
            }
        }
    }

    .new-company button {
        float: left;
        padding: 12px;
        margin-top: 220px;
        margin-right: 16px;
        margin-left: 40px;
        background: #5850ec;
        font-size: 14px;
        border: 0px;
        cursor: pointer;
        text-align: center;
        color: #ffffff;
        border-radius: 5px;
    }
    
    .new-company button:hover {
        background: #5850ec;
    }
}

//////////////////show//////////////////

.company_area{
    clear: both;
    padding:0 !important;

    .company_overview{
        width: 100%;
        height: 60px;
        padding-bottom: 100px;

        .company_wall_image{
            img{
                width: 975px;
                max-height: 330px;
            }
            padding-top: 0px;
        }

        .company_title_image{
            img{
                max-width: 120px;
                max-height: 120px;
                border: 1px solid #eaeaea;
                border-radius: 2px;
            }
            float: left;
        }

        .company_title_summary
        {
            margin-top: 15px;
            .company_title_name
            {
                font-size: 25px;
                font-weight: 600;
                text-align: left;
                margin-left: 10px;
                float: left;
            }
            
            .company_follow{
                float: right;
                padding-top: 8px;
                button{
                    height: 36px;
                    width: 150px;
                    margin-right: 10px;
                    background: #5850ec;
                    font-size: 14px;
                    border: none;
                    cursor: pointer;
                    text-align: center;
                    color: #ffffff;
                    border-radius: 15px;
                    
                    &:hover{
                        background-color: #4284f4;
                    }
                }
            }

            
            .company_score_star_overview{
                clear: right;
                float: left;
                margin-left: 10px;
                margin-right: 50px;
                padding-top: 5px;
                .company_rating{
                    font-size: 18px;
                    .fa{
                        margin-right: 3px;
                        font-size: 20px;
                    }

                    .checked_out
                    {
                        color: #959da5;
                    }

                    .checked{
                        color: #feb100;
                    }
                    
                }
            }

            .company_title_short_des
            {
                display: block;
                width: 100%;
                .company_title_short_des_group1{
                    float: left;
                    text-align: left;
                    font-size: 14px;
                    margin-left: 10px;
                    padding-top: 5px;
                    .fa {
                        position: relative;
                        margin-right: 10px;
                        float: left;
                        font-size: 18px;
                    }

                    .checked {
                        color: #959da5;
                    }
                }
                .company_title_short_des_group{
                    float: left;
                    text-align: left;
                    font-size: 14px;
                    padding-top: 5px;
                    .fa {
                        position: relative;
                        margin-right: 10px;
                        margin-left: 30px;
                        float: left;
                        font-size: 18px;
                    }

                    .checked {
                        color: #959da5;
                    }
                }
            }
        }
    }
    
    /* Style the tab */
    .company_tab {
        clear: left;
        overflow: hidden;
        padding-top: 20px;
        border-bottom: 2px solid #f0f0f1;
    }

    .company_tablinks
    {
        // border: 1px solid #c8c8c8;
        h3{
            font-size: 16px;
            font-weight: 500;
            margin-left: 0px;
            margin-right: 22px;
        }
    }

    /* Style the buttons that are used to open the tab content */
    .company_tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 6px 10px;
        transition: 0.5s;
    }

    /* Change background color of buttons on hover */
    .company_tab button:hover {
        border-bottom: 4px solid #4287f7;
        font-weight: 600;
    }

    /* Create an active/current tablink class */
    .company_tab button.active {
        border-bottom: 4px solid #2b78f7;
        font-weight: 800;
    }

    /* Style the tab content */
    .company_tabcontent {
        display: none;
        border-top: none;
        .company_tab_des
        {
            margin-top: 60px;
            .user_comment_heading{
                font-size: 25px;
            }
        }
    }
}


//////////////////new///////////////////////
.new_company_form
{
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 50px;
    .new_company_title{
        font-size: 25px;
        color: #161e2e;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .new_company_section
    {
        // border-bottom: 1px solid rgb(190, 185, 185);
        // margin-top: 30px;
        // background-color: #161e2e;
        .new_company_content{
            .new_company_label{
                font-weight: 600;
                font-size: 14px;
                color: #161e2e;
                text-align: left;
            }

            .new_company_input{
                left: 0px;
                margin-top: 5px;
                margin-bottom: 20px;
                width: 800px;
                height: auto;
                .new_company_form_input{
                    margin-left: 0px;
                    height: 40px;
                    width: 100%;
                    border: 1px solid #c8c8c8;
                    border-radius: 5px;
                }
                .new_company_form_input_rich_text{
                    margin-left: 0px;
                    height: 200px;
                    overflow: scroll;
                    width: 100%;
                    border: 1px solid #c8c8c8;
                    border-radius: 5px;
                }
            }
            .new_company_input_time{
                left: 0px;
                margin-top: 5px;
                margin-bottom: 20px;
                width: 300px;
                .new_company_form_input{
                    margin-left: 0px;
                    height: 40px;
                    width: 100%;
                    border: 1px solid #c8c8c8;
                    border-radius: 5px;
                }
            }

            .new_company_input_review{
                left: 0px;
                margin-top: 5px;
                margin-bottom: 20px;
                width: 750px;
                height: 50px;
                .new_company_form_input_review{
                    word-wrap: break-word;
                    white-space: pre-wrap; 
                    margin-left: 0px;
                    height: 80px;
                    width: 100%;
                    border: 1px solid #c8c8c8;
                    border-radius: 5px;
                }
            }
        }
    }

    .new_company_content_checkbox
    {
        margin-top: 50px;
        .label-agree-term
        {
           font-size: 14px; 
        }
    }

    .new_company_submit{
        width: 750px;
        margin-top: 20px;
        .new_company_form_submit{
            height: 50px;
            width: 100%;
            border-radius: 5px;
            padding: 6px;
            background: #5850ec;
            font-size: 14px;
            border: none;
            cursor: pointer;
            text-align: center;
            color: #ffffff;
            
            &:hover{
                background-color: #5850ec;
            }
        }
    }

    .my_style_class{
        padding: 10px;
        width: 300px;
        font-size: 14px;
        border-radius: 5px;
        background: #ffffff;
    }
}