//////////////////join//////////////////
.company_join
{
    width: 100%;
    .company_join_overview
    {
        .company_join_title
        {
            font-size: 20px;
            margin-left: 0;
            margin-top: 30px;
            margin-bottom: 10px;
            font-weight: 600;
        }
        .company_join_detail{
            width: 100%;
            .company_join_section{
                float: left;
                display: inline-block;
                ul li {
                    padding: 8px;
                    font-size: 16px;
                    font-weight: 600;
                    color: black;
                    display: block;
                    position: relative;
                }
            }

            .company_join_content{
                display: inline-block;
                margin-left: 100px;
                ul li {
                    padding: 8px;
                    font-size: 16px;
                    color: black;
                    display: block;
                    position: relative;
                }
            }

            .company_join_summary
            {
                // margin-left: 10px;
                font-size: 16px;
                margin-top: 20px;
                margin-bottom: 20px;

            }
        }

        .company_join_policy{
            // margin-left: 10px;
            font-size: 16px;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
}