//////////////////job//////////////////
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

//////////////////////index/////////////////////
.user_company_job_block {
    min-height: 240px;
    @media screen and (max-width: 600px){
        min-height: 220px;
    }
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: #f6fbf9;
    border-top: 1px solid #ecedee;
    border-bottom: 1px solid #ecedee;
    display: block;
    &:hover{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: #fff;
    }

    .user_job_left
    {
        margin-left: 15px;
        min-height: 200px;
        @media screen and (max-width: 600px){
            min-height: 180px;
        }
        float: left;
        .company_avatar {
            img{ 
                border-radius: 3px;
                max-width: 100px;
                max-height: 100px;
                @media screen and (max-width: 600px){
                    max-width: 60px;
                    max-height: 60px;
                }
            }
        }
    }
    
    .user_job_right{
        @media screen and (max-width: 600px){
            margin-left: 90px;
        }
        margin-left: 130px;
        padding-right: 20px;
        .user_job_des{
            .user_job_title{
                a{
                    text-decoration: none !important ;
                    font-size: 20px;
                    position: relative;
                    top: -5px;
                    color: #333;
                    font-weight: 550;
                }
                a:hover{
                    color: #1877f2;
                }
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 1; /* number of lines to show */
                -webkit-box-orient: vertical;
            }

            .user_job_company_name{
                a{
                    font-size: 15px;
                    color: #333;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 1; /* number of lines to show */
                    -webkit-box-orient: vertical;
                    i{
                        color: #febb02;
                        font-size: 18px;
                        position: relative;
                        top: 3px;
                        padding-left: 3px;
                        // background-color: #febb02;
                    }
                }
            }

            .user_job_description{
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2; /* number of lines to show */
                -webkit-box-orient: vertical;
                font-size: 14px;
                // margin-bottom: 10px;
                color: #555;
                margin-top: 10px;
                @media screen and (max-width: 600px){
                    display: none;
                }
            }

            .user_job_location{
                margin-top: 10px;
                float: left;
                
                @media screen and (max-width: 600px){
                    float: none;
                }
                font-size: 13px;
                a{
                    padding-top: 4px;
                    padding-bottom: 4px;
                    padding-left: 8px;
                    padding-right: 8px;
                    margin-right: 10px;
                    border: 1px solid #dfe1e5;
                    border-radius: 30px;
                    background-color: #fff;
                    color: #333;
                    // overflow: hidden;
                    // text-overflow: ellipsis;
                    // display: -webkit-box;
                    // -webkit-line-clamp: 1; /* number of lines to show */
                    // -webkit-box-orient: vertical;
                    i{
                        font-size: 18px;
                        margin-right: 3px;
                        color: #8a8888;
                        position: relative;
                        position: relative;
                        top: 5px;
                    }
                }
            }

            .user_job_tech{
                margin-top: 10px;
                float: left;
                font-size: 13px;
                a{
                    padding-top: 4px;
                    padding-bottom: 4px;
                    padding-left: 8px;
                    padding-right: 8px;
                    margin-right: 10px;
                    border: 1px solid #dfe1e5;
                    border-radius: 30px;
                    background-color: #fff;
                    color: #333;
                    // overflow: hidden;
                    // text-overflow: ellipsis;
                    // display: -webkit-box;
                    // -webkit-line-clamp: 1; /* number of lines to show */
                    // -webkit-box-orient: vertical;
                    i{
                        font-size: 18px;
                        margin-right: 3px;
                        color: #8a8888;
                        position: relative;
                        position: relative;
                        top: 5px;
                    }
                }
            }

            .user_job_salary{
                @media screen and (max-width: 600px){
                    float: none;
                    margin-top: 10px;
                }
                margin-top: 10px;
                font-size: 13px;
                color: #333;
                a{
                    padding-top: 4px;
                    padding-bottom: 4px;
                    padding-right: 8px;
                    border: 1px solid #dfe1e5;
                    border-radius: 30px;
                    background-color: #fff;
                    // margin-left: 10px;
                    i{
                        padding-left: 8px;
                        margin-right: 3px;
                        font-size: 18px;
                        color: #8a8888;
                        position: relative;
                        top: 4px;
                    }
                }
            }
            .user_job_date{
                float: left;
                padding-top: 18px;
                a{
                    font-size: 13px;
                    color: #1877f2;
                }
                @media screen and (max-width: 600px){
                
                }
            }
            .user_job_hot_save{
                float: right;
                // padding-top: 15px;
                .user_job_hot_label{
                    text-align: right;
                    a{
                        padding-top: 2px;
                        padding-bottom: 2px;
                        padding-left: 8px;
                        padding-right: 8px;
                        border-radius: 2px;
                        font-size: 12px;
                        color: #fff;
                        background-color: #ff5a5f;
                    }
                }
                .user_job_button_save{
                    text-align: right;
                    button{
                        border: none;
                        background-color: transparent;
                        i{
                            color: #8a8888;
                            font-size: 24px;
                            position: relative;
                        }
                    }
                    
                    .save_btn_highlight{ 
                        i{
                            color: #1877f2;
                        }
                        &:focus {outline:none;}
                    }

                    .save_btn{
                        i{
                            color: #999;
                        }
                        &:focus {outline:none;}
                    }
                }

            }

            .user_job_hot_save_only{
                float: right;
                padding-top: 12px;
                .user_job_button_save{
                    text-align: right;
                    button{
                        border: none;
                        background-color: transparent;
                        i{
                            color: #8a8888;
                            font-size: 24px;
                            position: relative;
                        }
                    }
                    
                    .save_btn_highlight{ 
                        i{
                            color: #1877f2;
                        }
                        &:focus {outline:none;}
                    }

                    .save_btn{
                        i{
                            color: #999;
                        }
                        &:focus {outline:none;}
                    }
                }

            }
        }
    }
    clear: left;
    clear: right;
}

//////////////////////show/////////////////////
.job_overview{
    clear: both;
    border-bottom: 1px solid #dfe1e5;
    display: block;
    background-color: #fff;
    .job_overview_left{
        padding-top: 30px;
        padding-bottom: 30px;
        @media screen and (max-width: 600px){
            padding-bottom: 0px;
        }
        .user_avatar {
            display: block;
            margin-right: auto;
            width: 100px;
            height: 100px;
            float: left;
            margin-right: 20px;
            img {
                max-width: 100px;
                max-height: 100px;
                border-radius: 3px;
                box-shadow: 0 4px 8px 0 rgba(146, 146, 146, 0.2), 0 6px 20px 0 rgba(117, 115, 115, 0.19);
            }
        }

        .job_des{
            padding-left: 120px;
            .job_title
            {
                font-size: 24px;
                position: relative;
                top: -5px;
            }
            .company_name{
                font-size: 18px;
            }
            .job_block_info{
                padding-top: 10px;
                .job_shoft_info{
                    padding-right: 5px;
                    font-size: 13px;
                    i{
                        position: relative;
                        font-size: 20px;
                        margin-right: 3px;
                        top: 5px;
                    }
                    color: #666;
                }
            }
        }
        
    }

    .job_overview_right{
        clear: both;
        @media screen and (max-width: 600px){
            margin-bottom: 20px;
        }
        .apply_job_button{
            .apply_button{
                button {
                    float: right;
                    @media screen and (max-width: 600px){
                        float: left;
                        width: 48%;
                        margin-right: 18px;
                    }
                    width: 200px;
                    height: 50px;
                    margin-bottom: 10px;
                    background: #1877f2;
                    font-size: 16px;
                    border: 1px solid #1877f2;
                    cursor: pointer;
                    text-align: center;
                    color: #fff;
                    border-radius: 3px;
                                
                    &:hover{
                        background-color: #369;
                        color: #fff;
                    }
                }
                i{
                    font-size: 20px;
                    position: relative;
                    top: 5px;
                    padding-right: 3px;
                }
            }
            .save_button{
                button {
                    float: right;
                    @media screen and (max-width: 600px){
                        width: 48%;
                    }
                    width: 200px;
                    height: 50px;
                    margin-bottom: 10px;
                    background: #ff5a5f;
                    font-size: 16px;
                    border: 1px solid #ff5a5f;
                    cursor: pointer;
                    text-align: center;
                    color: #fff;
                    border-radius: 3px;
                                
                    &:hover{
                        background-color: #ff5a5f;
                        color: #fff;
                    }
                }
                i{
                    font-size: 20px;
                    position: relative;
                    top: 5px;
                    padding-right: 3px;
                }
            }
        }
    }
}

.job_block_total{
    margin-top: 30px;
    .job_block_left{
        clear: both;
        background-color: #fff;
        border-radius: 3px;
        .job_description{
            border-radius: 3px;
            .job_section{
                font-size: 24px;
            }
            .job_content{
                margin-top: 20px;

            }
        }
        .job_benefit{
            margin-top: 30px;
            padding-top: 10px;
            border-radius: 3px;
            .job_section{
                font-size: 24px;
            }
            .job_benefit_1{
                padding-top: 20px;
                i{
                    position: relative;
                    font-size: 30px;
                    margin-right: 10px;
                    margin-bottom: 10px;
                    top: 10px;
                }
            }

            .job_benefit_2{
                i{
                    position: relative;
                    font-size: 30px;
                    margin-right: 10px;
                    margin-bottom: 10px;
                    top: 10px;
                }
            }

            .job_benefit_3{
                i{
                    position: relative;
                    font-size: 30px;
                    margin-right: 10px;
                    margin-bottom: 5px;
                    top: 10px;
                }
            }
        }

        .job_requirement{
            margin-top: 30px;
            padding-top: 10px;
            border-radius: 3px;
            .job_section{
                font-size: 24px;
            }
            .job_content{
                margin-top: 20px;

            }
        }

        .apply_job_button{
            margin-top: 50px;
            margin-bottom: 50px;
            button {
                padding: 15px;
                width: 100%;
                background: #1877f2;
                font-size: 16px;
                border: 1px solid #1877f2;
                cursor: pointer;
                text-align: center;
                color: #fff;
                border-radius: 3px;
                            
                &:hover{
                    background-color: #369;
                    color: #fff;
                }
                
                i{
                    font-size: 20px;
                    position: relative;
                    top: 5px;
                    padding-right: 3px;
                }
            }
        }
    }

    .job_block_right{
        background-color: #fff;
        min-height: 400px;
        border: 1px solid #dfe1e5;
        border-radius: 3px;
        .job_right{
            margin: 10px;
            min-height: 75px;
            padding-left: 20px;
            border-bottom: 1px solid #ece9e9;
            padding-bottom: 20px;
            .job_right_title{
                font-size: 14px;
                color: #1877f2;
            }
            i{
                position: relative;
                font-size: 36px;
                margin-right: 10px;
                margin-bottom: 5px;
                top: 22px;
            }
            span{
                margin-left: 50px;
                font-size: 14px;
            }
        }
        .job_right_end{
            margin: 10px;
            min-height: 80px;
            padding-left: 20px;
            padding-bottom: 10px;
            .job_right_title{
                font-size: 16px;
                color: #1877f2;
            }
            i{
                position: relative;
                font-size: 40px;
                margin-right: 10px;
                margin-bottom: 5px;
                top: 25px;
            }
            span{
                margin-left: 55px;
                font-size: 14px;
            }
        }
    }
}

.company_job_index{
    clear: both;
    // margin-top: 50px;
    padding-top: 50px;
    margin-bottom: 30px;
    border-radius: 3px;
    .job_section{
        font-size: 25px;
        margin-bottom: 30px;
        padding-top: 10px;
    }
    .job_content{
        margin-top: 20px;
        // background-color: #fff;
    }
}


/////////////////new//////////////////
.new_job_form
{
    margin-bottom: 50px;
    .new_job_title{
        font-size: 24px;
        color: #333;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .new_job_section
    {
        border-top: 1px solid #e5e7ec;
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
        .new_job_content{
            padding-bottom: 10px;
            .new_job_label{
                font-weight: 600;
                font-size: 16px;
                color: #333;
                text-align: left;
            }
            .new_job_input{
                left: 0px;
                margin-top: 5px;
                margin-bottom: 30px;
                width: 100%;
                min-height: 30px;
                padding-left: 0px;
                font-size: 14px;
                .collection_radio_buttons{
                    margin-right: 5px;
                    font-size: 40px;
                    margin-top: 10px;
                    margin-bottom: 20px;
                }
                .collection_radio_buttons_label{
                    margin-right: 40px;
                    min-width: 100px;
                    font-size: 14px;
                    color: #333;
                }
                .new_job_form_input{
                    margin-left: 0px;
                    height: 40px;
                    width: 100%;
                    border: 1px solid #dfe1e5;
                    border-radius: 3px;
                }
            }
            .new_job_input_time{
                left: 0px;
                margin-top: 5px;
                margin-bottom: 20px;
                width: 300px;
                .new_job_form_input{
                    margin-left: 0px;
                    height: 40px;
                    width: 100%;
                    border: 1px solid #dfe1e5;
                    border-radius: 3px;
                }
            }
        }
    }

    .new_job_submit{
        width: 100%;
        .new_job_form_submit{
            height: 50px;
            width: 100%;
            border-radius: 3px;
            background: #1877f2;
            font-size: 16px;
            border: none;
            cursor: pointer;
            text-align: center;
            color: #fff;
            
            &:hover{
                background-color: #1877f2;
            }
        }
    }

    .my_style_class{
        padding: 10px;
        width: 300px;
        font-size: 14px;
        border-radius: 3px;
        background: #fff;
    }
}


////////////////////////search////////////////
.search_index{
    .company_search{
        .company_label{
            padding-top:30px;
            padding-bottom: 20px;
            span{
                font-size: 24px;
                font-weight: 550;
            }
        }

        .row{
            .col-sm-3{
                float: left;
                display: block;
                padding: 10px;
                .single_company{
                    border: 1px solid #edeef0;
                    border-radius: 2px;
                    background-color: #fff;
                    min-height: 300px;
                    &:hover{
                        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                        background-color: #fff;
                    }
                    
                    .company_wall{
                        .rounded
                        {
                            img{
                                width: 100%;
                                height: 150px;
                            }
                            display: block;
                            float: left;
                        }
                    }
            
                    .company_thumbnail
                    {
                        .rounded{
                            height: 140px;
                            padding-top: 130px;
                            padding-left: 15px;
                            position: absolute; 
                            img{ 
                                display: block;
                                box-shadow: 0 1px 4px 0 rgba(54, 53, 53, 0.1), 0 2px 4px 0 rgba(131, 126, 126, 0.09) !important;
                                width: 80px;
                                height: 80px;
                                border-radius: 3px;
                            }
                            display: block;
                            float: left;
                        }
                    }
            
                    .company_love_button{
                        padding-top: 15px;
                        @media screen and (max-width: 600px){
                            padding-left: 85%;
                        }
                        padding-left: 75%;
                        position: absolute;
                        button{
                            border: none;
                            background-color: transparent;
                            color: #999;
                            i {
                                font-size: 24px;
                                color: #999;
                                position: relative;
                                margin-right: 0px;
                                &:hover{
                                    color: #1877f2;
                                }
                            }

                            &:hover{
                                background-color: transparent;
                                color: #fff;
                            }
                        }
                        
                        .follow_btn_highlight{ 
                            i{
                                color: #1877f2;
                            }
                            &:focus {outline:none;}
                        }

                        .follow_btn{
                            i{
                                color: #999;
                            }
                            &:focus {outline:none;}
                        }
                    }
                    
                    .company_title{
                        padding-left: 110px;
                        .company_name
                        {
                            padding-left: 3px;
                            clear: both;
                            text-align: left;
                            color: #333;
                            font-size: 18px;
                            font-weight: 550;
                            padding-top: 10px;
                            // height: 50px;
                            .company_name_label{
                                color: #333;
                                text-decoration: none !important;overflow: hidden;
                                text-overflow: ellipsis;
                                display: -webkit-box;
                                -webkit-line-clamp: 1; /* number of lines to show */
                                -webkit-box-orient: vertical;
                            }
                            
                            a:hover{
                                color: #1877f2;
                            }
                        }

                        .company_rating
                        {
                            width: 100%;
                            height: 100%;
                            margin-top: 5px;
                            .review_score_star
                            {
                                i {
                                    font-size: 21px;
                                }
                    
                                .checked {
                                    color: #febb02;
                                }

                                .checked_out {
                                    color: #dfe1e5;
                                }
                            }
                        }
                    }
            
                    .company_summary
                    {
                        display: block;
                        margin-left: auto;
                        margin-right: auto;
                        width: 100%;
                        a{
                            color: #333;
                        }
                        .company_location
                        {
                            text-align: center;
                            font-size: 14px;
                            color: #666;
                            i{
                                margin-right: 0px;
                                position: relative;
                                font-size: 17px;
                                top: 2px;
                                color: #635f5f;
                            }
                        }
            
                        .review_point
                        {
                            clear: both;
                            color: #333;
                            .review_point_review_content{
                                font-size: 14px;
                                font-weight: 500;
                                float: left;
                                margin-top: 10px;
                                margin-left: 15%;
                                margin-right: 15%;
                                @media screen and (max-width: 600px){
                                    margin-left: 14%;
                                    margin-right: 15%;
                                }
                            }
                            clear: both;
                            .review_point_label
                            {
                                float: left;
                                font-size: 13px;
                                text-align: center;
                                @media screen and (max-width: 600px){
                                    margin-left: 8%;
                                    margin-right: 6%;
                                }
                                margin-left: 3%;
                                .review_point_review_label{
                                    text-decoration: none !important;
                                    color: #555;
                                    span{
                                        color: #555;
                                    } 
                                    &:hover{
                                        color: #1877f2;
                                    }
                                }
                                i{
                                    font-size: 18px;
                                    color: #555; 
                                    position: relative;
                                    top: 5px;
                                    &:hover{
                                        color: #1877f2;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .job_search{
        .job_label{
            padding-top:30px;
            padding-bottom: 20px;
            span{
                font-size: 24px;
                font-weight: 550;
            }
        }
        .user_search_job_block {
            min-height: 240px;
            @media screen and (max-width: 600px){
                min-height: 220px;
            }
            padding-bottom: 20px;
            padding-top: 20px;
            background-color: #f6fbf9;
            border-top: 1px solid #ecedee;
            border-bottom: 1px solid #ecedee;
            display: block;
            &:hover{
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                background-color: #fff;
            }
        
            .user_job_left
            {
                margin-left: 15px;
                min-height: 200px;
                @media screen and (max-width: 600px){
                    min-height: 180px;
                }
                float: left;
                .company_avatar {
                    img{ 
                        border-radius: 3px;
                        max-width: 100px;
                        max-height: 100px;
                        @media screen and (max-width: 600px){
                            max-width: 60px;
                            max-height: 60px;
                        }
                    }
                }
            }
            
            .user_job_right{
                @media screen and (max-width: 600px){
                    margin-left: 90px;
                }
                margin-left: 130px;
                padding-right: 20px;
                .user_job_des{
                    .user_job_title{
                        a{
                            text-decoration: none !important ;
                            font-size: 20px;
                            position: relative;
                            top: -5px;
                            color: #333;
                            font-weight: 550;
                        }
                        a:hover{
                            color: #1877f2;
                        }
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 1; /* number of lines to show */
                        -webkit-box-orient: vertical;
                    }

                    .user_job_company_name{
                        a{
                            font-size: 15px;
                            color: #333;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-line-clamp: 1; /* number of lines to show */
                            -webkit-box-orient: vertical;
                            i{
                                color: #febb02;
                                font-size: 18px;
                                position: relative;
                                top: 3px;
                                padding-left: 3px;
                                // background-color: #febb02;
                            }
                        }
                    }
        
                    .user_job_description{
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 2; /* number of lines to show */
                        -webkit-box-orient: vertical;
                        font-size: 14px;
                        // margin-bottom: 10px;
                        color: #555;
                        margin-top: 10px;
                        @media screen and (max-width: 600px){
                            display: none;
                        }
                    }
        
                    .user_job_location{
                        margin-top: 10px;
                        float: left;
                        
                        @media screen and (max-width: 600px){
                            float: none;
                        }
                        font-size: 13px;
                        a{
                            padding-top: 4px;
                            padding-bottom: 4px;
                            padding-left: 8px;
                            padding-right: 8px;
                            margin-right: 10px;
                            border: 1px solid #dfe1e5;
                            border-radius: 30px;
                            background-color: #fff;
                            color: #333;
                            // overflow: hidden;
                            // text-overflow: ellipsis;
                            // display: -webkit-box;
                            // -webkit-line-clamp: 1; /* number of lines to show */
                            // -webkit-box-orient: vertical;
                            i{
                                font-size: 18px;
                                margin-right: 3px;
                                color: #8a8888;
                                position: relative;
                                position: relative;
                                top: 5px;
                            }
                        }
                    }

                    .user_job_tech{
                        margin-top: 10px;
                        float: left;
                        font-size: 13px;
                        a{
                            padding-top: 4px;
                            padding-bottom: 4px;
                            padding-left: 8px;
                            padding-right: 8px;
                            margin-right: 10px;
                            border: 1px solid #dfe1e5;
                            border-radius: 30px;
                            background-color: #fff;
                            color: #333;
                            // overflow: hidden;
                            // text-overflow: ellipsis;
                            // display: -webkit-box;
                            // -webkit-line-clamp: 1; /* number of lines to show */
                            // -webkit-box-orient: vertical;
                            i{
                                font-size: 18px;
                                margin-right: 3px;
                                color: #8a8888;
                                position: relative;
                                position: relative;
                                top: 5px;
                            }
                        }
                    }
        
                    .user_job_salary{
                        @media screen and (max-width: 600px){
                            float: none;
                            margin-top: 10px;
                        }
                        margin-top: 10px;
                        font-size: 13px;
                        color: #333;
                        a{
                            padding-top: 4px;
                            padding-bottom: 4px;
                            padding-right: 8px;
                            border: 1px solid #dfe1e5;
                            border-radius: 30px;
                            background-color: #fff;
                            // margin-left: 10px;
                            i{
                                padding-left: 8px;
                                margin-right: 3px;
                                font-size: 18px;
                                color: #8a8888;
                                position: relative;
                                top: 4px;
                            }
                        }
                    }
                    .user_job_date{
                        float: left;
                        padding-top: 18px;
                        a{
                            font-size: 13px;
                            color: #1877f2;
                        }
                        @media screen and (max-width: 600px){
                        
                        }
                    }
                    .user_job_hot_save{
                        float: right;
                        // padding-top: 15px;
                        .user_job_hot_label{
                            text-align: right;
                            a{
                                padding-top: 2px;
                                padding-bottom: 2px;
                                padding-left: 8px;
                                padding-right: 8px;
                                border-radius: 2px;
                                font-size: 12px;
                                color: #fff;
                                background-color: #ff5a5f;
                            }
                        }
                        .user_job_button_save{
                            text-align: right;
                            button{
                                border: none;
                                background-color: transparent;
                                i{
                                    color: #8a8888;
                                    font-size: 24px;
                                    position: relative;
                                }
                            }
                            
                            .save_btn_highlight{ 
                                i{
                                    color: #1877f2;
                                }
                                &:focus {outline:none;}
                            }

                            .save_btn{
                                i{
                                    color: #999;
                                }
                                &:focus {outline:none;}
                            }
                        }

                    }

                    .user_job_hot_save_only{
                        float: right;
                        padding-top: 12px;
                        .user_job_button_save{
                            text-align: right;
                            button{
                                border: none;
                                background-color: transparent;
                                i{
                                    color: #8a8888;
                                    font-size: 24px;
                                    position: relative;
                                }
                            }
                            
                            .save_btn_highlight{ 
                                i{
                                    color: #1877f2;
                                }
                                &:focus {outline:none;}
                            }

                            .save_btn{
                                i{
                                    color: #999;
                                }
                                &:focus {outline:none;}
                            }
                        }

                    }
                }
            }
            clear: left;
            clear: right;
        }
    }
}