//////////////////salary//////////////////
//@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

///////////////////show/////////////////////
.company_salary_block{
    border: 1px solid #e0e2e5;
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 20px;
    .company_salary_title{
        i{
            font-size: 20px;
            background-color: #1877f2;
            border-radius: 20px;
            padding: 5px;
            color: #fff;
        }
        a{
            font-size: 20px;
            font-weight: 555;
        }
        padding-bottom: 10px;
    }

    .company_salary_section{
        min-height: 30px;
        .company_salary_section_title{
            font-size: 14px;
            font-weight: 500;
            color: #333;
            float: left;
        }
        .company_salary_section_number{
            float: right;
            a{
                color: #555;
            }
        }
    }
}

////////////////////new///////////////////
.new_salary_form
{
    margin-bottom: 50px;
    .new_salary_title_block{
        margin-top: 20px;
        margin-bottom: 20px;
        .new_salary_title{
            float: left;
            max-width: 80%;
            h3{
                font-size: 22px;
                color: #333;
                text-align: left;
                font-weight: 600;
            }
            a{
                font-size: 16px;
            }
        }
        .company_salary_image{
            float: right;
            img{
                max-width: 80px;
                max-height: 80px;
                border: 1px solid #e0e2e5;
                border-radius: 4px;
                @media screen and (max-width: 600px){
                    max-width: 50px;
                    max-height: 50px;
                }
            }
        }
    }

    .new_salary_title_sub{
        clear: both;
        padding-top: 5px;
        span{
            font-size: 13px;
            text-align: left;
            color: #333;
            font-style: italic;
        }
    }

    .new_salary_section
    {
        border: 1px solid #e5e7ec;
		padding: 15px;
		border-radius: 4px;
		@media screen and (max-width: 600px){
			border: none;
			border-top: 1px solid #e5e7ec;
			padding: 0px;
			padding-top: 20px;
			border-radius: 0px;
		}
        width: 100%;
        height: auto;
        margin-top: 20px;
        .new_salary_label_sub{
            font-size: 14px;
            font-style: italic;
            padding-bottom: 20px;
            color: #1877f2;
        }
        .new_salary_content{
            .new_salary_label{
                font-weight: 550;
                font-size: 16px;
                color: #333;
                text-align: left;
            }

            .new_salary_input{
                left: 0px;
                margin-bottom: 20px;
                width: 100%;
                height: auto;
                padding-left: 0px;
                font-size: 14px;

                .new_salary_input_radio{
                    padding-top: 5px;
                    padding-bottom: 5px;
                    input[type=radio], input[type=checkbox] {
                        display:none;
                    }
                
                    input[type=radio] + label, input[type=checkbox] + label {
                        display: inline-block;
                        min-width: 100px;
                        @media screen and (max-width: 600px){
                            min-width: 50%;
                        }
                        padding: 4px 12px;
                        margin-bottom: 0;
                        font-size: 14px;
                        color: #333;
                        text-align: center;
                        border: 1px solid #e0e2e5;
                    }
                
                    input[type=radio]:checked + label, input[type=checkbox]:checked + label{
                        background-color:#1877f2;
                        border: 1px solid #e0e2e5;
                        color: #fff;
                    }
                }

                .form-control{
                    margin-left: 0px;
                    height: 40px;
                    width: 100%;
                    border: 1px solid #e0e2e5;
                    border-radius: 4px;
                    font-size: 14px;
                    &:focus{
                        border: 2px solid #1877f2;
                        border-radius: 4px;
                    }
                }
                .form-control-rich-text{
                    min-height: 150px;
                    height: auto;
                    margin-left: 10px;
                    width: 100%;
                    border: 1px solid #e0e2e5;
                    border-radius: 4px;
                    font-size: 14px;
                }
            }
			
			.form-control{
				min-height: 40px;
				height: auto;
				margin-left: 0px;
				width: 100%;
				border: 1px solid #e0e2e5;
				border-radius: 4px;
				overflow: auto;
                font-size: 14px;
                &:focus{
                    border: 2px solid #1877f2;
                    border-radius: 4px;
                }
			}
        }

        .new_salary_work_env_content{
            padding-bottom: 10px;
            .new_salary_work_env_label{
                font-weight: 550;
                font-size: 16px;
                color: #333;
                text-align: left;
            }

            .new_salary_work_env_input{
                left: 0px;
                margin-top: 5px;
                margin-bottom: 20px;
                width: 100%;
                height: auto;
                padding-left: 0px;
                font-size: 14px;
                .new_salary_form_work_env_input{
                    display: none;
                }
                .new_salary_work_env_star_block{
                    button{
                        margin-right: 5px;
                        border-radius: 4px;
                        border: none;
                        color: #666;
                        &:focus {outline:none;}
                        i{
                            padding: 3px;
                        }
                        &:hover{
                            background-color: #1877f2;
                            color: #fff;
                        }
                    }
                }
            }
        }

        .new_salary_salary_content{
            padding-bottom: 10px;
            .new_salary_salary_label{
                font-weight: 550;
                font-size: 16px;
                color: #333;
                text-align: left;
            }

            .new_salary_salary_input{
                left: 0px;
                margin-top: 5px;
                margin-bottom: 20px;
                width: 100%;
                height: auto;
                padding-left: 0px;
                font-size: 14px;
                .new_salary_form_salary_input{
                    display: none;
                }
                .new_salary_salary_star_block{
                    button{
                        margin-right: 5px;
                        border-radius: 4px;
                        border: none;
                        color: #666;
                        &:focus {outline:none;}
                        i{
                            padding: 3px;
                        }
                        &:hover{
                            background-color: #1877f2;
                            color: #fff;
                        }
                    }
                }
            }
        }

        .new_salary_ot_content{
            padding-bottom: 10px;
            .new_salary_ot_label{
                font-weight: 550;
                font-size: 16px;
                color: #333;
                text-align: left;
            }

            .new_salary_ot_input{
                left: 0px;
                margin-top: 5px;
                margin-bottom: 20px;
                width: 100%;
                height: auto;
                padding-left: 0px;
                font-size: 14px;
                .new_salary_form_ot_input{
                    display: none;
                }
                .new_salary_ot_star_block{
                    button{
                        margin-right: 5px;
                        border-radius: 4px;
                        border: none;
                        color: #666;
                        &:focus {outline:none;}
                        i{
                            padding: 3px;
                        }
                        &:hover{
                            background-color: #1877f2;
                            color: #fff;
                        }
                    }
                }
            }
        }

        .new_salary_manager_content{
            padding-bottom: 10px;
            .new_salary_manager_label{
                font-weight: 550;
                font-size: 16px;
                color: #333;
                text-align: left;
            }

            .new_salary_manager_input{
                left: 0px;
                margin-top: 5px;
                margin-bottom: 20px;
                width: 100%;
                height: auto;
                padding-left: 0px;
                font-size: 14px;
                .new_salary_form_manager_input{
                    display: none;
                }
                .new_salary_manager_star_block{
                    button{
                        margin-right: 5px;
                        border-radius: 4px;
                        border: none;
                        color: #666;
                        &:focus {outline:none;}
                        i{
                            padding: 3px;
                        }
                        &:hover{
                            background-color: #1877f2;
                            color: #fff;
                        }
                    }
                }
            }
        }

        .new_salary_career_content{
            padding-bottom: 10px;
            .new_salary_career_label{
                font-weight: 550;
                font-size: 16px;
                color: #333;
                text-align: left;
            }

            .new_salary_career_input{
                left: 0px;
                margin-top: 5px;
                margin-bottom: 20px;
                width: 100%;
                height: auto;
                padding-left: 0px;
                font-size: 14px;
                .new_salary_form_career_input{
                    display: none;
                }
                .new_salary_career_star_block{
                    button{
                        margin-right: 5px;
                        border-radius: 4px;
                        border: none;
                        color: #666;
                        &:focus {outline:none;}
                        i{
                            padding: 3px;
                        }
                        &:hover{
                            background-color: #1877f2;
                            color: #fff;
                        }
                    }
                }
            }
        }

        .new_salary_total_score_content{
            .new_salary_score_label{
                font-weight: 550;
                font-size: 16px;
                color: #333;
                text-align: left;
            }

            .new_salary_score_input{
                left: 0px;
                margin-top: 5px;
                width: 100%;
                height: auto;
                padding-left: 0px;
                font-size: 14px;
                .new_salary_form_score_input{
                    display: none;
                }
                .new_salary_score_star_block{
                    button{
                        margin-right: 5px;
                        border-radius: 4px;
                        border: none;
                        color: #666;
                        &:focus {outline:none;}
                        i{
                            padding: 3px;
                        }
                        &:hover{
                            background-color: #1877f2;
                            color: #fff;
                        }
                    }
                }
            }
        }

        .new_salary_description{
            min-height: 30px;
            margin-bottom: 10px;
            font-style: italic;
            a{
                font-size: 14px;
                margin-right: 10px;
                color: #555;
                i{
                    margin-left: 1px;
                    font-size: 13px;
                    position: relative;
                    top: 2px;
                }
            }
        }
    }

    .new_salary_section_content{
        border: 1px solid #e5e7ec;
		padding: 15px;
        .new_salary_label_sub{
            font-size: 14px;
            font-style: italic;
            padding-bottom: 20px;
            color: #1877f2;
        }
		border-radius: 4px;
		@media screen and (max-width: 600px){
			border: none;
			border-top: 1px solid #e5e7ec;
			padding: 0px;
			padding-top: 20px;
			border-radius: 0px;
		}
        width: 100%;
        height: auto;
        margin-top: 20px;
        padding-top: 20px;
        .new_salary_content{
            .new_salary_label{
                font-weight: 550;
                font-size: 16px;
                color: #333;
                text-align: left;
            }
            .new_salary_input{
                left: 0px;
                margin-top: 5px;
                margin-bottom: 20px;
                width: 100%;
                .form-control{
                    margin-left: 0px;
                    height: 40px;
                    width: 100%;
                    border: 1px solid #e0e2e5;
                    border-radius: 4px;
                    font-size: 14px;
                    &:focus{
                        border: 2px solid #1877f2;
                        border-radius: 4px;
                    }
                }
            }
        }
    }

    .new_salary_submit{
        width: 100%;
        padding-top: 20px;
        padding-left: 0px;
        .new_salary_form_submit{
            height: 50px;
            width: 100%;
            border-radius: 4px;
            background: #1877f2;
            font-size: 16px;
            border: none;
            cursor: pointer;
            text-align: center;
            color: #fff;
            
            &:hover{
                background-color: #1877f2;
            }
        }
    }

    .salary_policy{
        margin-top: 20px;
        border: 1px solid #e0e2e5;
        padding: 15px;
        border-radius: 4px;
        .salary_policy_title{
            a{
                border-left: 5px solid #febb02;
                text-align: left;
                font-size: 22px;
                color: #333;
                font-weight: 550;
                padding-left: 5px;
            }
            padding-bottom: 5px;
            border-bottom: 1px solid #e0e2e5;
        }

        .salary_policy_content{
            .salary_policy_content_index{
                font-size: 16px;
                padding-top: 10px;
                // padding-bottom: 5px;
            }

            .salary_policy_content_link{
                font-weight: 600;
                font-size: 16px;
                padding-top: 15px;
            }
        }
    }
}