//////////////////profile//////////////////
.company_profile
{
    width: 100%;
    .company_profile_overview
    {
        .company_profile_title
        {
            padding: 10px;
            padding-top: 0px;
            padding-left: 0px;
            padding-bottom: 0px;
            font-size: 24px;
            margin-left: 0;
            font-weight: 600;
            // border-bottom: 5px solid #ff5a1f;
            i{
                font-size: 25px;
                position: relative;
                top: 3px;
                margin-right: 3px;
            }
        }

        .company_profile_container{
            // margin-top: 10px;
            background-color: #f8f9fa;
            border-radius: 2px;
            .company_profile_block{
                // background-color: #fff;
                min-height: 280px;
                margin: 40px;
                margin-top: 30px;
                margin-bottom: 20px;
                padding-top: 20px;
                .company_profile_detail_left{
                    width: 33%;
                    float: left;
                    .company_profile_section{
                        padding: 20px;
                        padding-bottom: 10px;
                        font-size: 18px;
                        padding-left: 30px;
                    }

                    .company_profile_content{
                        padding-left: 30px;
                        padding-right: 20px;
                        font-size: 14px;
                        padding-bottom: 10px;
                        min-height: 30px;
                        color: #3d3b3b;
                    }

                }

                .company_profile_detail_mid{
                    width: 33%;
                    float: left;
                    .company_profile_section{
                        padding: 20px;
                        padding-bottom: 10px;
                        font-size: 18px;
                    }

                    .company_profile_content{
                        padding-left: 20px;
                        padding-right: 20px;
                        font-size: 14px;
                        padding-bottom: 10px;
                        min-height: 30px;
                        color: #3b3b3b;
                    }

                }

                .company_profile_detail_right{
                    width: 33%;
                    float: left;
                    .company_profile_section{
                        padding: 20px;
                        padding-bottom: 10px;
                        font-size: 18px;
                    }

                    .company_profile_content{
                        padding-left: 20px;
                        font-size: 14px;
                        padding-bottom: 10px;
                        padding-right: 20px;
                        min-height: 30px;
                        color: #3b3b3b;
                    }

                }
            }
            
            .company_profile_summary
            {
                width: 96.5%;
                margin: 20px;
                font-size: 14px;
                padding-top: 30px;
                padding-bottom: 30px;
                border-top: 1px solid #d9dbdf;
            }
        }
    }

    .company_profile_review{
        padding-top: 40px;
        .company_profile_title
        {
            font-size: 24px;
            margin-left: 0;
            margin-top: 30px;
            margin-bottom: 10px;
            font-weight: 600;
            // border-bottom: 5px solid #ff5a1f;
            i{
                font-size: 25px;
                position: relative;
                top: 3px;
                margin-right: 3px;
            }
        }
    }

    .company_profile_interview{
        padding-top: 40px;
        .company_profile_title
        {
            font-size: 24px;
            margin-left: 0;
            // margin-top: 30px;
            margin-bottom: 10px;
            font-weight: 600;
            // border-bottom: 5px solid #ff5a1f;
            i{
                font-size: 28px;
                position: relative;
                top: 5px;
                margin-right: 3px;
            }
        }
    }

    .company_job{
        padding-top: 50px;
        padding-bottom: 50px;
        .company_job_title
        {
            font-size: 24px;
            margin-left: 0;
            // margin-top: 50px;
            margin-bottom: 20px;
            font-weight: 600;
            height: 30px;
            i{
                font-size: 28px;
                position: relative;
                top: 5px;
                margin-right: 3px;
            }
        }
    }
}