// Place all the styles related to the CompanyReviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

//////////////////review//////////////////
.review_score
{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    margin-top: 30px;
    margin-bottom: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;

    .review_score_title{
        display: inline-block;
        margin-top: 10sspx;
        font-size: 22px;
        font-weight: 500;
        width: 930px;
        float: left;
    }


    .review_new_button_side{
        .review_new_button button {
            padding: 15px;
            background: #5850ec;
            font-size: 15px;
            border: 1px solid #5850ec;
            cursor: pointer;
            text-align: center;
            color: #ffffff;
            border-radius: 5px;
        }
    
        .review_new_button button:hover {
            background: #4284f4;
        }
    }

    .review_score_overview1{
        float: left;
        width: 242px;
        height: 150px;
        margin-top: 20px;
        border-right: 1px solid #f0f0f1;
        display: block;
        .review_score_label{
            margin-top: 20px;
            text-align: center;  
            font-size: 18px; 
        }

        .review_score_star
        {
            margin-top: 10px;
            margin-left: 55px;
            .fa {
                font-size: 20px;
            }

            .checked {
                color: #feb100;
            }

            .checked_out {
                color: #c8c8c8;
            }
        }

        .review_point
        {
            font-size: 13px;
            text-align: center;
            color: rgb(75, 71, 71);
        }
    }

    .review_score_overview{
        float: left;
        width: 242px;
        height: 150px;
        margin-top: 20px;
        border-right: 1px solid #f0f0f1;
        display: block;
        .review_score_label{
            margin-top: 20px;
            text-align: center;  
            font-size: 18px; 
        }

        .review_score_star
        {
            margin-top: 10px;
            margin-left: 55px;
            .fa {
                font-size: 20px;
            }

            .checked {
                color: #feb100;
            }
            .checked_out {
                color: #c8c8c8;
            }
        }

        .review_point
        {
            font-size: 13px;
            text-align: center;
            color: rgb(75, 71, 71);
        }
    }

    .review_score_total{
        text-align: center;
        // border-top: 1px solid #f0f0f1;
        display: relative;
        margin-top: 20px;
        .review_score_star
        {
            margin-top: 10px;
            // margin-left: 55px;
            .fa {
                font-size: 30px;
            }

            .checked {
                color: #feb100;
            }

            .checked_out {
                color: #c8c8c8;
            }
        }

        .review_point
        {
            font-size: 14px;
            text-align: center;
            color: rgb(75, 71, 71);
        }
    }
    
}
