// Place all the styles related to the Companyinterviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

//////////////////interview//////////////////
.interview_score_content{
    background-color: #ffffff;
    margin-top: 50px;
    .interview_score_title{
        display: inline-block;
        margin-top: 10px;
        font-size: 25px;
        font-weight: 550;
        width: 750px;
        float: left;
    }
    .interview_new_button_side{
        .interview_new_button button {
            padding: 15px;
            background: #5850ec;
            font-size: 14px;
            border: 1px solid #5850ec;
            cursor: pointer;
            text-align: center;
            color: #ffffff;
            border-radius: 5px;
        }
    
        .interview_new_button button:hover {
            background: #4284f4;
        }
    }

    .interview_score
    {
        width: 100%;
        height: 300px;
        background-color: #f5f5f5;
        margin-top: 30px;
        margin-bottom: 50px;
        display: block;
        margin-left: auto;
        margin-right: auto;

        .interview_score_overview{
            // float: left;
            display: block;
            margin-top: 50px;
            float: left;
            margin-left: 10px;
            margin-right: 5px;
            .interview_content
            {
                width: 220px;
                height: 40px;
                border: 2px solid #c8c8c8;
                border-radius: 20px;
                .interview_point
                {
                    float: left;
                    font-size: 15px;
                    font-weight: 600px;
                    text-align: center;
                    color: rgb(75, 71, 71);
                    margin-right: 3px;
                    margin-top: 10px;
                    margin-left: 10px;
                }
        
                .interview_score_star
                {
                    float: left;
                    margin-right: 10px;
                    margin-top: 10px;
                    .fa {
                        font-size: 16px;
                    }
        
                    .checked {
                        color: #feb100;
                    }
        
                    .checked_out {
                        color: #c8c8c8;
                    }
                }

                .interview_score_label{
                    font-size: 14px;
                    margin-top: 10px;
                }
            }
        }
        .interview_score_total{
            clear: both;
            text-align: center;
            display: block;
            .interview_score_label{
                padding-top: 60px;
                font-size: 18px;
                font-weight: 600;
            }

            .interview_point
            {
                float: left;
                font-size: 22px;
                text-align: center;
                color: rgb(75, 71, 71);
                margin-right: 15px;
                margin-left: 400px;
            }

            .interview_score_star
            {
                float: left;
                margin-right: 10px;
                margin-top: 10px;
                font-size: 22px;
                margin-left: 400px;
                .fa {
                    font-size: 22px;
                }

                .checked {
                    color: #feb100;
                }

                .checked_out {
                    color: #c8c8c8;
                }
            }

            .interview_total_des{
                margin-top: 8px;
                clear: both;
                font-size: 13px;
            }
        }
        
    }
}
