//////////////////review//////////////////
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

.user_review_block {
    clear: left;
    width: 100%;
    height: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    .user_review_left
    {
        width: auto;
        height: auto;
        display: block;
        position: relative;
        float: left;
        .user_avatar {
            float: left;
            border-radius: 2px;
            margin-left: 0px;
            // border-style: ridge;
            img{ 
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
                max-width: 75px;
                max-height: 75px;
                // border-radius: 2px;
            }
        }
    }
    
    .user_review_cotent
    {
        display: block;
        width: auto;
        height: auto;
        margin-left: 90px;
        padding: 20px;
        padding-bottom: 40px;
        padding-top: 10px;
        background-color: #f8f9fa;
        border-radius: 2px;

        .user_review_title{
            font-size: 18px;
            font-weight: 600;
            padding-bottom: 10px;
            color: #2e3030;
        }

        .user_review_score_star
        {
            margin-top: 10px;
            margin-bottom: 5px;
            .review_point{
                float: left;
                margin-right: 5px;
                font-size: 22px;
                position: relative;
                // top: 1px;
                color: #ea1e30;
            }
            
            .review_score_star
            {
                i {
                    float: left;
                    margin-top: 4px;
                    // margin-right: 6px;
                    font-size: 25px;
                    position: relative;
                    top: -4px;
                }

                .checked {
                    color: #feb100;
                }

                .checked_out {
                    color: #dfe1e5;
                }
            }
        }

        .user_review_times{
            font-size: 13px;
            float: left;
            margin-left: 15%;
            position: relative;
            top: 5px;
            color: #555757;
        }
        
        .user_review_status{
            font-size: 13px;
            // font-weight: 600;
            float: right;
            color: #535351;
            height: 30px;
            padding: 5px;
            padding-top: 2px;
            border-radius: 20px;
        }

        .user_review_pros
        {
            clear: both;
            // margin-left: 20px;
            padding-top: 15px;
            border-top: 1px solid #eeeeee;
            .user_review_pros_label{
                i {
                    position: relative;
                    margin-right: 5px;
                    padding-top: 0px;
                    float: left;
                    font-size: 18px;
                    top: 0px;
                }

                .checked {
                    color: green;
                }
                font-size: 16px;;
                font-weight: 400;
            }

            .user_review_pros_content{
                font-size: 14px;
                margin-left: 30px;
                margin-top: 10px;
                color: #3c3d3d;
            }
        }

        .user_review_cons{
            margin-top: 10px;
            // margin-left: 20px;
            .user_review_cons_label{
                font-size: 16px;;
                font-weight: 400;
                i {
                    position: relative;
                    margin-right: 5px;
                    padding-top: 0px;
                    float: left;
                    font-size: 18px;
                    top: 0px;
                }

                .checked {
                    color: red;
                }
            }

            .user_review_cons_content{
                font-size: 14px;
                margin-left: 30px;
                margin-top: 10px;
                color: #3c3d3d;
            }
        }

        .user_review_body {
            padding-top: 30px;
            font-size: 14px;
            margin-bottom: 30px;
            display: block;
            color: black;
        }

        .review_info{
            margin-top: 15px;
            margin-bottom: 20px;
            .review_toolbar {
                display: block;
                float: left;
                font-size: 13px;
                color: #a8a3a3;
                margin-right: 2px !important;
                span{
                    // position: absolute;
                }
                button{
                    margin-right: 15px;
                    font-size: 13px;
                    border: none;
                    background-color: #f8f9fa;
                    i {
                        position: relative;
                        margin-right: 2px;
                        font-size: 18px;
                        top: 3px;
                    }
        
                    .checked {
                        color: #feb100;
                    }

                    .checked_out {
                        color: #a8a3a3;
                    }
                }

                .reply_btn
                {
                    border-right: 1px solid #dfe1e5;
                    min-width: 86px;
                    i{
                        color: #feb100;
                    }
                }

                .like_btn
                {
                    border-right: 1px solid #dfe1e5;
                    min-width: 80px;
                    i{
                        color: #feb100;
                    }
                }
            }
        }

        .review_feedback{
            .report_button{
                margin-left: 20%;
                float: left;
                button{
                    border: none;
                    background-color: #f8f9fa;
                    font-size: 13px;
                    i{
                        font-size: 18px;
                        margin-right: 2px;
                        color: #a8a3a3;
                        position: relative;
                        top: 3px;
                        // color: #f55668;
                    }
        
                    .checked {
                        color: #feb100;
                    }
                }
            }
            .share_button{
                float: right;
                button{
                    background-color: #f8f9fa;
                    font-size: 13px;
                    border: none;
                    i {
                        position: relative;
                        font-size: 18px;
                        margin-right: 2px;
                        color: #1a73e8;
                        position: relative;
                        top: 3px;
                    }
        
                    .checked {
                        color: #feb100;
                    }
                }
            }
        }
    }
    clear: left;
    clear: right;
}