//////////////////show//////////////////
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

.user_reply_review_heading
{
    font-size: 24px;
    // padding-bottom: 100px;
}
.reply_review_content{
    .show_hide_reply_btn_show{
        margin-left: 90px;
        border: none;
        background-color: #fff;
        border-radius: 2px;
        color: rgb(51, 43, 161);
        font-size: 13px;
        .button{
            border: none;
        }
        i{
            font-size: 20px;
            position: relative;
            top: 3px;
        }
    }
    .show_hide_reply_btn_hide{
        border: none;
        background-color: #fff;
        border: 1px solid #e6e7e9;
        border-radius: 2px;
        .button{
            border: none;
        }
        i{
            font-size: 20px;
            position: relative;
            top: 3px;
        }
    }
    .review_reply{
        display: none;
        border-left: 1px solid #e6e7e9;
        width: 88%;
        height: 100%;
        min-width: 100px;
        min-height: 100px;
        margin-top: 0px;
        margin-bottom: 20px;
        margin-left: 90px;
        padding-left: 15px;
    }
}

.user_reply_review_block {
    margin-bottom: 20px;
    .user_reply_review_left
    {
        display: block;
        position: relative;
        float: left;
        .user_avatar {
            display: block;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
            margin-right: auto;
            border-radius: 2px;
            img {
                max-width: 70px;
                max-height: 70px;
                border-radius: 2px;
            }
        }
    }
    
    .user_reply_review_cotent
    {
        display: block;
        width: auto;
        height: auto;
        margin-left: 90px;
        margin-top: 10px;
        margin-bottom: 30px;
        padding-right: 10px;
        background-color: #f8f9fa;
        border: 1px solid #f8f9fa;
        border-radius: 2px;
        min-height: 80px;
        padding-left: 10px;
        .user_reply_review_body {
            margin-top: 10px;
            font-size: 14px;
        }

        .user_reply_review_time{
            padding-top: 10px;
            padding-bottom: 10px;
            font-size: 13px;
            color: #6b6c6d;
        }
    }
    clear: left;
    clear: right;
}

//////////////////new//////////////////
.new_reply_review_form{
    margin-left: 90px;
    margin-bottom: 20px;
    display: none;
    .new_reply_review_content{
        .new_reply_review_input_review{
            .new_reply_review_form_input_review{
                height: 100px;
                width: 99%;
                border-radius: 2px;
                border: 2px solid #e6e7e9;
            }
        }
    }
    .new_reply_review_submit{
        .new_reply_review_form_submit{
            width: 150px;
            height: 40px;
            margin-top: 10px;
            background-color: #feb100;
            border: none;
            border-radius: 2px;
            i{
                font-size: 25px;
                color: #f8f9fa;
            }
        }
    }
}