//////////////////join//////////////////
.company_join
{
    width: 100%;
    background-color: #f7f8fa;
    .company_join_overview_left
    {
        width: 73%;
        float: left;
        background-color: #fff;
        border: 1px solid #dfe1e5;
        border-radius: 2px;
        .company_join_title
        {
            padding-right: 10px;
            padding-top: 20px;
            padding-left: 20px;
            padding-bottom: 0px;
            font-size: 24px;
            margin-left: 0;
            margin-bottom: 10px;
            font-weight: 600;
            i{
                font-size: 28px;
                position: relative;
                top: 5px;
                margin-right: 3px;
            }
        }

        .company_join_policy{
            // margin-left: 10px;
            padding: 20px;
            font-size: 14px;
            // margin-top: 20px;
            // margin-bottom: 50px;
            height: auto;
            display: inline-block;
        }
    }
    .company_join_overview_block_right{
        .company_join_overview_block_right_overview{
            padding: 20px;
            padding-top: 10px;
            width: 21%;
            border: 1px solid #e3e5e9;
            margin-left: 75%;
            min-height: 400px;
            display: block;
            border-radius: 2px;
            background-color: #fff;

            .company_join_overview_label{
                span{
                    border-bottom: 3px solid #feb100;
                    font-size: 20px;
                    padding-top: 5px;
                    // padding-bottom: 5px;
                    // padding-left: 15px;
                    padding-right: 5px;
                    color: #444;
                    font-weight: 600;
                }
                margin-bottom: 20px;
            }

            .company_join_overview_right{
                min-height: 80px;
                .company_join_overview_right_title{
                    // border-top: 1px solid #e3e5e9;
                    a{
                        font-weight: 600;
                        font-size: 16px;
                    }
                    
                    i{
                        position: relative;
                        top: 20px;
                        color: #1877f2;
                        font-size: 33px;
                        margin-right: 12px;
                    }
                }
                .company_join_overview_right_des{
                    font-size: 14px;
                    padding-left: 50px;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    color: #515353;
                }
            }
        }

        .company_join_overview_block_right_job{
            margin-top: 20px;
            margin-bottom: 20px;
            padding: 20px;
            width: 21%;
            border: 1px solid #e3e5e9;
            background-color: #fff;
            margin-left: 75%;
            min-height: 400px;
            display: block;
            margin-bottom: 30px;
            border-radius: 2px;
            .company_job_label{
                span{
                    border-bottom: 3px solid #feb100;
                    font-size: 20px;
                    padding-top: 5px;
                    // padding-bottom: 5px;
                    // padding-left: 15px;
                    padding-right: 5px;
                    color: #444;
                    font-weight: 600;
                }
            }
            .company_job_des{
                margin-top: 20px;
                margin-bottom: 20px;
                // border-top: 1px solid #e3e5e9;
                .company_job_block{
                    // border-top: 1px solid #e3e5e9;
                    // border-bottom: 1px solid #e3e5e9;
                    padding-top: 15px;
                    padding-bottom: 10px;
                    min-height: 50px;
                    .company_avatar{
                        img{
                            max-width: 60px;
                            max-height: 60px;
                        }
                        float: left;
                    }
                    .company_job_title{
                        // padding: 10px;
                        padding-bottom: 0px;
                        padding-top: 0px;
                        margin-left: 70px;
                        height: 20px;
                        a:link{
                            font-size: 14px;
                            font-weight: 600;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}