// Place all the styles related to the CompanyReviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

//////////////////review//////////////////
.review_score_content{
    background-color: #fff;
    .review_score{
        clear: both;
        background-color: #fff;
        .review_score_total{
            .review_score_label{
                padding-top: 30px;
                text-align: center;
                font-size: 22px;
                font-weight: 550;
            }

            .review_score_star{
                .review_point
                {
                    margin-top: 20px;
                    font-size: 36px;
                    color: #ea1e30;
                    text-align: center;
                }

                .review_score_star_des
                {
                    margin-top: 10px;
                    font-size: 25px;
                    margin-left: 28%;
                     @media screen and (max-width: 600px){
                        margin-left: 33%;
                    }
                    text-align: center;
                    i {
                        float: left;
                        font-size: 28px;
                        margin-right: 2px;
                        display: block;
                        color: #fff;
                    }

                    .checked {
                        color: #ffc500;
                    }

                    .checked_out {
                        color: #dfe1e5;
                    }
                }
            }

            .review_total_des{
                margin-top: 50px;
                font-size: 14px;
                text-align: center;
                color: #535153;
                text-align: center;
            }
        }

        .review_score_recommand{
            @media screen and (max-width: 600px){
                border-top: 1px solid #dfe1e5;
                margin-top: 30px;
            }
            .review_score_recommand_title{
                text-align: center;
                font-size: 22px;
                font-weight: 550;
                padding-top: 30px;
            }

            .circle-wrap {
                margin: 50px auto;
                margin-top: 20px;
                width: 120px;
                height: 120px;
                background: #e2e2e2;
                border-radius: 50%;
            }
            .circle-wrap .circle .mask,
            .circle-wrap .circle .fill {
                width: 120px;
                height: 120px;
                position: absolute;
                border-radius: 50%;
            }
            .circle-wrap .circle .mask {
                clip: rect(0px, 120px, 120px, 75px);
            }
            .circle-wrap .inside-circle {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                background: #fff;
                line-height: 100px;
                text-align: center;
                margin-top: 10px;
                margin-left: 10px;
                position: absolute;
                z-index: 100;
                font-weight: 700;
                font-size: 2em;
            }
        }
    }
}
