//////////////////job//////////////////
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

//////////////////////index/////////////////////
.user_job_block {
    clear: left;
    width: 100%;
    min-height: 200px;
    background-color: #fff;
    border-top: 1px solid #ecedee;
    border-bottom: 1px solid #ecedee;
    padding: 0px !important;
    &:hover{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .user_job_left
    {
        height: auto;
        margin: 12px;
        padding-top: 20px;
        display: block;
        position: relative;
        .user_avatar {
            border-radius: 2px;
            float: left;
            min-height: 180px;
            img{ 
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
                max-width: 100px;
                max-height: 100px;
            }
        }

        .user_job_des{
            padding-left: 120px;
            .user_job_title{
                a:link{
                    text-decoration: none !important ;
                    font-size: 20px;
                    position: relative;
                    top: -5px;
                }
                margin-bottom: 10px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 1; /* number of lines to show */
                -webkit-box-orient: vertical;
            }

            .user_job_description{
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2; /* number of lines to show */
                -webkit-box-orient: vertical;
                font-size: 14px;
            }

            .user_job_location{
                margin-top: 20px;
                float: left;
                
                @media screen and (max-width: 600px){
                    float: none;
                }
                font-size: 14px;
                a{
                    padding-top: 5px;
                    padding-bottom: 5px;
                    padding-left: 10px;
                    padding-right: 10px;
                    margin-right: 10px;
                    border: 1px solid #1877f2;
                    border-radius: 30px;
                    i{
                        font-size: 20px;
                        margin-right: 5px;
                        color: #8a8888;
                        position: relative;
                        position: relative;
                        top: 5px;
                    }
                }
            }

            .user_job_salary{
                margin-top: 20px;
                font-size: 14px;
                color: #4fb87b;
                a{
                    padding-top: 5px;
                    padding-bottom: 5px;
                    padding-right: 10px;
                    border: 1px solid #1877f2;
                    border-radius: 30px;
                    // margin-left: 10px;
                    i{
                        padding-left: 10px;
                        margin-right: 5px;
                        font-size: 20px;
                        color: #8a8888;
                        position: relative;
                        top: 5px;
                    }
                }
            }
        }
    }

    .user_job_right{
        padding-top: 20px;
        .apply_job_button{
            padding: 10px;
            padding-top: 11px;
            button{
                padding: 6px;
                height: 33px;
                width: 140px;
                @media screen and (max-width: 600px){
                    width: 100%;
                    height: 35px;
                }
                margin-right: 10px;
                background: #1877f2;
                font-size: 14px;
                border: none;
                border-radius: 2px;
                cursor: pointer;
                text-align: center;
                color: #fff;
                &:hover{
                    background-color: #1877f2;
                }
            }
        }
        
        .user_job_date{
            font-size: 13px;
            color: #8a8888;
            padding-top: 70px;
            @media screen and (max-width: 600px){
                padding-top: 0px;
                position: absolute;
                top: -20px;
                left: 20px;
                color: #8a8888;
            }
            text-align: left;
            margin-left: 10px;
        }
    }
    clear: left;
    clear: right;
}

//////////////////////show/////////////////////
.job_overview{
    clear: both;
    border-bottom: 1px solid #dfe1e5;
    border-radius: 2px;
    min-height: 200px;
    display: block;
    margin-top: 20px;
    background-color: #fff;
    .job_overview_left{
        padding-top: 30px;
        .user_avatar {
            display: block;
            margin-right: auto;
            width: 120px;
            height: 120px;
            float: left;
            margin-right: 20px;
            img {
                max-width: 100px;
                max-height: 100px;
                border-radius: 2px;
                box-shadow: 0 4px 8px 0 rgba(146, 146, 146, 0.2), 0 6px 20px 0 rgba(117, 115, 115, 0.19);
            }
        }

        .job_title
        {
            padding-top: 0px;
            font-size: 24px;
        }
        .company_name{
            font-size: 18px;
            padding-top: 14px;
        }
        .job_block_info{
            padding-left: 140px;
            .job_shoft_info{
                margin-top: 15px;
                float: left;
                padding: 3px;
                padding-right: 5px;
                margin-right: 10px;
                border: 1px solid #1877f2;
                border-radius: 20px;
                font-size: 14px;
                i{
                    position: relative;
                    font-size: 20px;
                    margin-right: 3px;
                    top: 5px;
                }
                color: #3d3c3c;
            }
        }
    }

    .job_overview_right{
        clear: both;
        @media screen and (max-width: 600px){
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .apply_job_button{
            padding-top: 30px;
            button {
                padding: 15px;
                float: right;
                @media screen and (max-width: 600px){
                    width: 100%;
                    float: none;
                }
                width: 200px;
                height: 50px;
                background: #1877f2;
                font-size: 16px;
                border: 1px solid #1877f2;
                cursor: pointer;
                text-align: center;
                color: #fff;
                border-radius: 2px;
            }
        
            button:hover {
                background: #1877f2;
            }
            i{
                font-size: 50px;
                position: relative;
                top: 20px;
                background-color: #fff;
                border-radius: 2px;
                margin-left: 10px;
                color: #bbb3b3;
            }
        }
    }
}

.job_block_total{
    margin-top: 30px;
    .job_block_left{
        clear: both;
        background-color: #fff;
        border-radius: 2px;
        .job_benefit{
            border-radius: 2px;
            .job_section{
                font-size: 24px;
            }
            .job_benefit_1{
                padding-top: 20px;
                i{
                    position: relative;
                    font-size: 30px;
                    margin-right: 10px;
                    margin-bottom: 10px;
                    top: 10px;
                }
            }

            .job_benefit_2{
                i{
                    position: relative;
                    font-size: 30px;
                    margin-right: 10px;
                    margin-bottom: 10px;
                    top: 10px;
                }
            }

            .job_benefit_3{
                i{
                    position: relative;
                    font-size: 30px;
                    margin-right: 10px;
                    margin-bottom: 5px;
                    top: 10px;
                }
            }
        }
        
        .job_description{
            margin-top: 30px;
            padding-top: 10px;
            border-radius: 2px;
            .job_section{
                font-size: 24px;
            }
            .job_content{
                margin-top: 20px;

            }
        }

        .job_requirement{
            margin-top: 30px;
            padding-top: 10px;
            border-radius: 2px;
            .job_section{
                font-size: 24px;
            }
            .job_content{
                margin-top: 20px;

            }
        }

        .apply_job_button{
            margin-top: 50px;
            margin-bottom: 50px;
            button {
                padding: 15px;
                width: 100%;
                background: #1877f2;
                font-size: 16px;
                border: 1px solid #1877f2;
                cursor: pointer;
                text-align: center;
                color: #fff;
                border-radius: 2px;
            }
        
            button:hover {
                background: #1877f2;
            }
        }
    }

    .job_block_right{
        background-color: #fff;
        min-height: 400px;
        border: 1px solid #dfe1e5;
        border-radius: 2px;
        .job_right{
            margin: 10px;
            min-height: 75px;
            padding-left: 20px;
            border-bottom: 1px solid #ece9e9;
            padding-bottom: 20px;
            .job_right_title{
                font-size: 14px;
                color: #1877f2;
            }
            i{
                position: relative;
                font-size: 36px;
                margin-right: 10px;
                margin-bottom: 5px;
                top: 22px;
            }
            span{
                margin-left: 50px;
                font-size: 14px;
            }
        }
        .job_right_end{
            margin: 10px;
            min-height: 80px;
            padding-left: 20px;
            padding-bottom: 10px;
            .job_right_title{
                font-size: 16px;
                color: #1877f2;
            }
            i{
                position: relative;
                font-size: 40px;
                margin-right: 10px;
                margin-bottom: 5px;
                top: 25px;
            }
            span{
                margin-left: 55px;
                font-size: 14px;
            }
        }
    }
}

.company_job_index{
    clear: both;
    // margin-top: 50px;
    padding-top: 50px;
    margin-bottom: 30px;
    border-radius: 2px;
    .job_section{
        font-size: 25px;
        margin-bottom: 30px;
        padding-top: 10px;
    }
    .job_content{
        margin-top: 20px;
        // background-color: #fff;
    }
}


/////////////////new//////////////////
.new_job_form
{
    margin-bottom: 50px;
    .new_job_title{
        font-size: 24px;
        color: #161e2e;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .new_job_section
    {
        border-top: 1px solid #e5e7ec;
        width: 100%;
        padding: 20px;
        padding-top: 30px;
        padding-left: 0px;
        .new_job_content{
            padding-bottom: 10px;
            .new_job_label_index{
                font-weight: 600;
                font-size: 16px;
                color: #161e2e;
                text-align: left;
                margin-top: 20px;
            }

            .new_job_input{
                left: 0px;
                margin-top: 5px;
                margin-bottom: 30px;
                width: 100%;
                min-height: 30px;
                padding-left: 0px;
                font-size: 14px;
                .collection_radio_buttons{
                    margin-right: 5px;
                    font-size: 40px;
                    margin-top: 10px;
                    margin-bottom: 20px;
                }
                .collection_radio_buttons_label{
                    margin-right: 40px;
                    min-width: 100px;
                    font-size: 14px;
                    color: #161e2e;
                }
                .new_job_form_input{
                    margin-left: 0px;
                    height: 40px;
                    width: 100%;
                    border: 1px solid #dfe1e5;
                    border-radius: 2px;
                }
                .new_job_form_input_rich_text{
                    margin-left: 0px;
                    height: 100px;
                    overflow: scroll;
                    width: 100%;
                    border: 1px solid #dfe1e5;
                    border-radius: 2px;
                }
            }
            .new_job_input_time{
                left: 0px;
                margin-top: 5px;
                margin-bottom: 20px;
                width: 300px;
                .new_job_form_input{
                    margin-left: 0px;
                    height: 40px;
                    width: 100%;
                    border: 1px solid #dfe1e5;
                    border-radius: 2px;
                }
            }

            .new_job_input_job{
                left: 0px;
                margin-top: 20px;
                padding-bottom: 20px;
                width: 100%;
                height: 50px;
                padding-left: 0px;
                .new_job_form_input{
                    word-wrap: break-word;
                    white-space: pre-wrap; 
                    margin-left: 0px;
                    min-height: 40px;
                    width: 100%;
                    border: 1px solid #dfe1e5;
                    border-radius: 2px;
                    font-size: 14px;
                }
                .new_job_form_input_rich_text{
                    font-size: 14px;
                    margin-left: 0px;
                    min-height: 80px;
                    width: 100%;
                    border: 1px solid #dfe1e5;
                    border-radius: 2px;
                }
            }
        }
    }

    .new_job_submit{
        width: 100%;
        margin-top: 50px;
        padding-left: 0px;
        .new_job_form_submit{
            height: 50px;
            width: 100%;
            border-radius: 2px;
            background: #1877f2;
            font-size: 14px;
            border: none;
            cursor: pointer;
            text-align: center;
            color: #fff;
            
            &:hover{
                background-color: #1877f2;
            }
        }
    }

    .my_style_class{
        padding: 10px;
        width: 300px;
        font-size: 14px;
        border-radius: 2px;
        background: #fff;
    }
}