// Place all the styles related to the CompanyInterviewQuestions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.company_interview_question{
    margin-top: 10px;
    font-size: 15px;
    .company_interview_question_action{
        a{
            font-size: 14px;
            font-weight: 600;
            color: #333;
            i{
                font-size: 16px;
                padding-left: 3px;
                position: relative;
                top: 2px;
                color: #1473e6;
            }
        }
    }
}

.company_interview_question_show_block{
    min-height: 700px;
    margin-bottom: 20px;
    .company_interview_question_show{
        margin-top: 20px;
        margin-bottom: 20px;
        border: 1px solid #EAEAF0;
        padding: 15px;
        border-radius: 4px;
        .company_interview_question_content{
            a{
                font-size: 18px;
                font-weight: 600;
                margin-top: 10px;
            }
            span{
                font-size: 15px;
            }
        }
    
        .company_interview_question_reply_count{
            border-bottom: 1px solid #EAEAF0;
            font-size: 18px;
            color: #333;
            padding-top: 30px;
            font-weight: 600;
        }
    
        .new_reply_interview_question_form{
            padding-top: 30px;
            .new_reply_interview_question_title{
                font-size: 18px;
                color: #333;
                padding-bottom: 10px;
                font-weight: 600;
            }
            margin-bottom: 20px;
            .new_reply_interview_content{
                .new_reply_interview_input_interview{
                    // height: 100px;
                    width: 100%;
                    border-radius: 4px;
                }
            }
    
            .new_reply_interview_submit{
                .new_reply_interview_form_submit{
                    margin-top: 10px;
                    width: 150px;
                    height: 44px;
                    background-color: #1473e6;
                    border-radius: 4px;
                    color: #fff;
                    border: none;
                    i{
                        font-size: 23px;
                        position: relative;
                        top: 2px;
                    }
                    box-shadow: 0 2px 4px 0 #8fb5f14d;
                    &:hover {background-color: #116dff;}
                }
            }
        }
    
        .company_interview_question_reply_not_found{
            font-size: 15px;
            color: #333;
            padding-top: 30px;
        }

        .reply_interview_question_render_block{
            .reply_interview_question_render{
                margin-bottom: 20px;
            }
        }
    }

}