//////////////////interview//////////////////
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

.company_interview_block {
    clear: left;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #dfe1e5;
    background-color: #fff;
    border-radius: 3px;
    padding: 15px;
    .company_interview_left
    {
        display: block;
        position: relative;
        float: left;
        .company_avatar {
            border-radius: 3px;
            margin-left: 0px;
            img{ 
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
                max-width: 50px;
                max-height: 50px;
                border-radius: 3px;
            }
        }
        .user_info{
            padding-top: 15px;
            max-width: 50px;
            text-align: left;
            color: #555;
            .user_name{
                font-weight: 550;
                a{
                    word-break: break-all;
                    font-size: 11px;
                    text-decoration: none !important;overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 1; /* number of lines to show */
                    -webkit-box-orient: vertical;
                }
            }
            .user_time_interview{
                // padding-top: 5px;
                a{
                    word-break: break-all;
                    font-size: 11px;
                    text-decoration: none !important;overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 1; /* number of lines to show */
                    -webkit-box-orient: vertical;
                }
            }
        }
    }
    
    .company_interview_right
    {
        width: auto;
        height: auto;
        margin-left: 60px;
        background-color: #fff;
        border-radius: 3px;
        .company_interview_title{
            font-size: 18px;
            font-weight: 550;
            color: #2e3030;
        }

        .user_interview_status{
            padding-top: 10px;
            margin-top: 5px;
            font-size: 13px;
            color: #6b6c6d;
        }

        .interview_satisfied_overview{
            margin-top: 10px;
            border-top: 1px solid #eeeddd;
            .interview_content
            {
                margin-top: 15px;
                .interview_satisfied_label{
                    float: left;
                    @media screen and (max-width: 600px){
                        float: none;
                    }
                    a{
                        font-size: 16px;
                        font-weight: 550;
                    }
                }
        
                .interview_score_star
                {
                    display: block;
                    padding-left: 50%;
                    
                    @media screen and (max-width: 600px){
                        padding-left: 0%;
                    }
                    i {
                        font-size: 22px;
                        position: relative;
                        margin-right: 5px;
                        float: left;
                    }
        
                    .checked {
                        color: #ffc500;
                    }
        
                    .checked_out {
                        color: #dfe1e5;
                    }
                }

                .interview_satisfied_label{
                    font-size: 14px;
                }
            }
        }

        .user_interview_offer{
            clear: both;
            padding-top: 10px;
            .user_interview_offer_label{
                float: left;
                @media screen and (max-width: 600px){
                    float: none;
                }
                font-size: 16px;
                font-weight: 550;
            }
            .user_interview_offer_content
            {
                padding-left: 50%;
                @media screen and (max-width: 600px){
                    padding-left: 0%;
                    padding-top: 5px;
                }
                a{
                    border: 2px solid #dfe1e5;
                    border-radius: 3px;
                    padding: 5px;
                    padding-left: 8px;
                    padding-right: 8px;
                    i {
                        font-size: 18px;
                        margin-right: 5px;
                        position: relative;
                        top: 3px;
                    }
        
                    .checked {
                        color: #308d23;
                    }
        
                    .checked_out {
                        color: #db4040;
                    }    
                }
            }
        }

        .company_interview_body{
            clear: both;
            margin-top: 30px;
            margin-left: 0px;
            font-size: 14px;   
        }

        .interview_info{
            margin-top: 10px;
            border-top: 1px solid #eeeddd;
            padding-bottom: 10px;
            padding-top: 10px;
            .interview_toolbar {    
                .interview_reply_block{
                    display: block;
                    @media screen and (max-width: 600px){
                        width: 33%;
                    }
                    width: 120px;
                    float: left;
                    .reply_btn
                    {
                        border: none;
                        background-color: #f8f9fa;
                        color: #555;
                        font-size: 14px;
                        &:focus {outline:none;}

                        button{
                            border: none;
                            background-color: #f8f9fa;
                            color: #555;
                            font-size: 14px;
                            &:focus {outline:none;}
                        } 
                        a{
                            font-size: 14px;
                            color: #666;
                            @media screen and (max-width: 600px){
                                display: none;
                            }
                        }

                        i{
                            font-size: 20px;
                            position: relative;
                            top: 5px;
                        }
                        span{
                            font-size: 14px;
                            color: #666;
                        }
                    }
                }

                .interview_like_block{
                    width: 120px;
                    @media screen and (max-width: 600px){
                        width: 33%;
                    }
                    float: left;
                    button{
                        border: none;
                        background-color: #f8f9fa;
                        color: #555;
                        font-size: 14px;
                        &:focus {outline:none;}
                    } 
                    .like_btn_highlight
                    {
                        a{
                            font-size: 14px;
                            color: #666;
                            @media screen and (max-width: 600px){
                                display: none;
                            }
                        }

                        i{
                            font-size: 20px;
                            position: relative;
                            top: 3px;
                            color: #1877f2;
                        }
                        span{
                            font-size: 14px;
                            color: #666;
                        }
                    }

                    .like_btn
                    {
                        a{
                            font-size: 14px;
                            color: #666;
                            @media screen and (max-width: 600px){
                                display: none;
                            }
                        }

                        i{
                            font-size: 20px;
                            position: relative;
                            top: 3px;
                            color: #666;
                        }
                        span{
                            font-size: 14px;
                            color: #666;
                        }
                    }
                }
                
                .interview_dislike_block{
                    button{
                        border: none;
                        background-color: #f8f9fa;
                        color: #555;
                        font-size: 14px;
                        &:focus {outline:none;}
                    } 
                    .dislike_btn_highlight
                    {
                        a{
                            font-size: 14px;
                            color: #666;
                            @media screen and (max-width: 600px){
                                display: none;
                            }
                        }

                        i{
                            font-size: 20px;
                            position: relative;
                            top: 5px;
                            color: #1877f2;
                        }
                        span{
                            font-size: 14px;
                            color: #666;
                        }
                    }
    
                    .dislike_btn
                    {
                        a{
                            font-size: 14px;
                            color: #666;
                            @media screen and (max-width: 600px){
                                display: none;
                            }
                        }

                        i{
                            font-size: 20px;
                            position: relative;
                            top: 5px;
                            color: #666;
                        }
                        span{
                            font-size: 14px;
                            color: #666;
                        }
                    }
                }
            }
        }
    }
    clear: left;
    clear: right;

}


/////////////////new/////////////////////
.new_interview_form
{
    margin-bottom: 50px;
    .new_interview_title{
        font-size: 22px;
        color: #333;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .new_interview_section
    {
        border: 1px solid #e5e7ec;
		padding: 20px;
		border-radius: 3px;
		margin-bottom: 20px;
		@media screen and (max-width: 600px){
			border: none;
			border-top: 1px solid #e5e7ec;
			padding: 0px;
			padding-top: 20px;
			border-radius: 0px;
		}
        .new_interview_content{
            .new_interview_label{
                font-weight: 550;
                font-size: 16px;
                color: #333;
                text-align: left;
                margin-bottom: 10px;
            }

            .new_interview_input{
                left: 0px;
                margin-top: 5px;
                margin-bottom: 30px;
                width: 100%;
                height: auto;
                .collection_radio_buttons{
                    margin-right: 5px;
                    font-size: 40px;
                    margin-top: 10px;
                    margin-bottom: 20px;
                    // padding: 3px;
                }
                .collection_radio_buttons_label{
                    margin-right: 20px;
                    min-width: 100px;
                    font-size: 14px;
                    color: #333;
                }
				
				.my_style_class{
					width: 100%;
				}

                .new_interview_form_input{
                    margin-left: 0px;
                    height: 40px;
                    width: 100%;
                    border: 1px solid #dfe1e5;
                    border-radius: 3px;
                }
                .form-control-rich-text{
                    min-height: 150px;
                    height: auto;
                    margin-left: 0px;
                    width: 100%;
                    border: 1px solid #dfe1e5;
                    border-radius: 3px;
                }
            }
            .new_interview_input_time{
                left: 0px;
                margin-top: 5px;
                margin-bottom: 20px;
                width: 300px;
                .new_interview_form_input{
                    margin-left: 0px;
                    height: 40px;
                    width: 100%;
                    border: 1px solid #dfe1e5;
                    border-radius: 3px;
                }
            }

            .new_interview_input_interview{
                left: 0px;
                margin-top: 5px;
                margin-bottom: 20px;
                width: 100%;
                height: 50px;
                .new_interview_form_input_interview{
                    word-wrap: break-word;
                    white-space: pre-wrap; 
                    margin-left: 0px;
                    height: 80px;
                    width: 100%;
                    border: 1px solid #dfe1e5;
                    border-radius: 3px;
                }
            }
        }
        
        .new_interview_difficultly_content{
            padding-bottom: 10px;
            .new_interview_difficultly_label{
                font-weight: 550;
                font-size: 16px;
                color: #333;
                text-align: left;
            }

            .new_interview_difficultly_input{
                left: 0px;
                margin-top: 5px;
                margin-bottom: 30px;
                width: 100%;
                height: auto;
                padding-left: 0px;
                font-size: 14px;
                .new_interview_form_difficultly_input{
                    display: none;
                }
                .new_interview_difficultly_star_block{
                    button{
                        margin-right: 5px;
                        border-radius: 5px;
                        border: none;
                        i{
                            padding: 3px;
                        }
                            
                        &:hover{
                            background-color: #369;
                            color: #fff;
                        }
                    }
                }
            }
        }

        .new_interview_satisfied_content{
            padding-bottom: 10px;
            .new_interview_satisfied_label{
                font-weight: 550;
                font-size: 16px;
                color: #333;
                text-align: left;
            }

            .new_interview_satisfied_input{
                left: 0px;
                margin-top: 5px;
                margin-bottom: 30px;
                width: 100%;
                height: auto;
                padding-left: 0px;
                font-size: 14px;
                .new_interview_form_satisfied_input{
                    display: none;
                }
                .new_interview_satisfied_star_block{
                    button{
                        margin-right: 5px;
                        border-radius: 5px;
                        border: none;
                        i{
                            padding: 3px;
                        }
                            
                        &:hover{
                            background-color: #369;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }

    .new_interview_section_content{
        // border: 1px solid #e5e7ec;
		// padding: 20px;
		border-radius: 3px;
		margin-bottom: 20px;
		@media screen and (max-width: 600px){
			border: none;
			border-top: 1px solid #e5e7ec;
			padding: 0px;
			padding-top: 20px;
			border-radius: 0px;
		}
        margin-top: 20px;
        .new_interview_content{
            .new_interview_label{
                font-weight: 550;
                font-size: 16px;
                color: #333;
                text-align: left;
                margin-bottom: 10px;
            }

            .new_interview_input{
                left: 0px;
                margin-top: 5px;
                margin-bottom: 30px;
                width: 100%;
                height: auto;
            }
        }
    }

    .new_interview_content_checkbox
    {
        margin-top: 50px;
        .label-agree-term
        {
           font-size: 14px; 
        }
    }

    .new_interview_submit{
        width: 100%;
        padding-top: 20px;
        .new_interview_form_submit{
            height: 50px;
            width: 100%;
            border-radius: 3px;
            padding: 6px;
            background: #1877f2;
            font-size: 16px;
            border: none;
            cursor: pointer;
            text-align: center;
            color: #fff;
            
            &:hover{
                background-color: #1877f2;
            }
        }
    }

    .my_style_class{
        padding: 10px;
        width: 300px;
        font-size: 14px;
        border-radius: 3px;
        background: #fff;
    }
}