// Place all the styles related to the CompanyApplyapply_jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
/////////////new////////////////////////

.new_apply_job_form
{
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 50px;
    .new_apply_job_content{
        
        .new_apply_job_label{
            font-size: 24px;
            color: #161e2e;
            text-align: left;
            margin-top: 50px;
        }

        .new_apply_job_input_job
        {
            width: 100%;
            padding: 10px;
            padding-top: 10px;
            padding-left: 0px;
            .new_apply_job_form_input_job{
                width: 100%;
                min-height: 100px;
                .new_apply_job_label_index{
                    font-weight: 600;
                    font-size: 16px;
                    color: #161e2e;
                    text-align: left;
                    padding-top: 20px;
                }
            }
        }
    }
    .new_apply_job_submit{
        padding-top: 50px;
        .new_apply_job_form_submit{
            width: 100%;
            height: 50px;
            color: #fff;
            background-color: #0071e3;
            border: none;
        }
    }
}