//////////////////salary//////////////////
//@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

///////////////////show/////////////////////
.company_salary_block{
    border: 1px solid #EAEAF9;
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #fff;
    .company_salary_title{
        i{
            font-size: 20px;
            background-color: #1473e6;
            border-radius: 20px;
            padding: 5px;
            color: #fff;
        }
        a{
            font-size: 20px;
            font-weight: 555;
        }
        padding-bottom: 10px;
    }

    .company_salary_section{
        min-height: 30px;
        .company_salary_section_title{
            font-size: 15px;
            font-weight: 500;
            color: #333;
            float: left;
        }
        .company_salary_section_number{
            float: right;
            a{
                color: #555;
            }
        }
    }
}

////////////////////new///////////////////
.new_salary_form
{
    margin-bottom: 50px;
    .new_salary_title_block{
        margin-top: 20px;
        margin-bottom: 20px;
        .new_salary_title{
            float: left;
            max-width: 80%;
            h3{
                font-size: 23px;
                color: #333;
                text-align: left;
                font-weight: 600;
            }
            a{
                font-size: 15px;
            }
        }
        .company_salary_image{
            float: right;
            img{
                width: 80px;
                height: 80px;
                border: 1px solid #EAEAF9;
                border-radius: 4px;
                @media screen and (max-width: 600px){
                    width: 50px;
                    height: 50px;
                }
            }
        }
    }

    .new_salary_title_sub{
        clear: both;
        padding-top: 5px;
        a{
            font-size: 13px;
            text-align: left;
            color: #333;
            font-style: italic;
            span{
                color: #ff424e;
            }
        }
    }

    .new_salary_section
    {
        border: 1px solid #e5e7ec;
		padding: 15px;
		border-radius: 4px;
        padding-bottom: 0px;
        width: 100%;
        height: auto;
        margin-top: 20px;
        .new_salary_label_sub{
            font-size: 14px;
            font-style: italic;
            padding-bottom: 20px;
            color: #1473e6;
        }
        .new_salary_content{
            .new_salary_label{
                font-weight: 550;
                font-size: 15px;
                color: #333;
                text-align: left;
                span{
                    color: #ff424e;
                    padding-left: 3px;
                }
            }

            .new_salary_input{
                left: 0px;
                margin-bottom: 20px;
                width: 100%;
                height: auto;
                padding-left: 0px;
                font-size: 15px;

                .new_salary_input_radio{
                    padding-top: 5px;
                    padding-bottom: 5px;
                    input[type=radio], input[type=checkbox] {
                        display:none;
                    }
                
                    input[type=radio] + label, input[type=checkbox] + label {
                        display: inline-block;
                        min-width: 100px;
                        @media screen and (max-width: 600px){
                            min-width: 50%;
                        }
                        padding: 4px 12px;
                        margin-bottom: 0;
                        font-size: 14px;
                        color: #333;
                        text-align: center;
                        border: 1px solid #EAEAF9;
                    }
                
                    input[type=radio]:checked + label, input[type=checkbox]:checked + label{
                        background-color:#1473e6;
                        border: 1px solid #EAEAF9;
                        color: #fff;
                    }
                }
            }
        }
    }

    .new_salary_submit{
        width: 100%;
        padding-top: 20px;
        padding-left: 0px;
        .new_salary_form_submit{
            height: 44px;
            width: 100%;
            @media screen and (min-width: 600px){
                width: 200px;
            }
            font-weight: 600;
            border-radius: 4px;
            padding: 6px;
            background: #1473e6;
            font-size: 14px;
            border: none;
            cursor: pointer;
            text-align: center;
            color: #fff;
            
            &:hover{
                background-color: #1473e6;
            }
        }
    }

    .salary_policy{
        margin-top: 20px;
        border: 1px solid #EAEAF9;
        padding: 15px;
        border-radius: 4px;
        .salary_policy_title{
            a{
                border-left: 5px solid #febb02;
                text-align: left;
                font-size: 23px;
                color: #333;
                font-weight: 550;
                padding-left: 5px;
            }
            padding-bottom: 5px;
            border-bottom: 1px solid #EAEAF9;
        }

        .salary_policy_content{
            .salary_policy_content_index{
                font-size: 15px;
                padding-top: 10px;
                // padding-bottom: 5px;
            }

            .salary_policy_content_link{
                font-weight: 600;
                font-size: 15px;
                padding-top: 15px;
            }
        }
    }
}