//////////////////interview//////////////////
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

.company_interview_block {
    clear: both;
    width: auto;
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-top: 1px solid #f0f0f1;
    .company_interview_left
    {
        display: block;
        position: relative;
        float: left;
        margin-top: 20px;
        .company_avatar {
            border: 0.5px solid #eaeaea;
            border-radius: 2px;
            img {
                max-width: 100px;
                max-height: 100px;
            }
        }
    }
    
    .company_interview_right
    {
        width: auto;
        height: auto;
        margin-left: 12%;
        margin-top: 20px;

        .company_interview_title{
            font-size: 20px;
            font-weight: 600;
        }

        .user_interview_status{
            margin-top: 5px;
            font-size: 14px;
            color: #6b6c6d;
        }

        .interview_satisfied_overview{
            .interview_content
            {
                margin-top: 20px;
                font-size: 18px;
                .interview_satisfied_label{
                    float: left;
                }

                .interview_point
                {
                    margin-left: 100px;
                    margin-right: 10px;
                    float: left;
                    font-size: 18px;
                    font-weight: 600px;
                    color: rgb(75, 71, 71);
                }
        
                .interview_score_star
                {
                    display: block;
                    margin-right: 10px;
                    margin-left: 200px;
                    .fa {
                        font-size: 20px;
                    }
        
                    .checked {
                        color: #feb100;
                    }
        
                    .checked_out {
                        color: #c8c8c8;
                    }
                }

                .interview_satisfied_label{
                    font-size: 16px;
                }
            }
        }

        .user_interview_offer{
            clear: both;
            margin-top: 10px;
            .user_interview_offer_label
            {
                .fa {
                    font-size: 18px;
                    margin-right: 10px;
                    margin-left: 66px;
                }
    
                .checked {
                    color: #308d23;
                }
    
                .checked_out {
                    color: #c8c8c8;
                }
            }
        }

        .company_interview_body{
            clear: both;
            margin-top: 20px;
            margin-left: 0px;
            font-size: 14px;   
        }

        .interview_info{
            margin-top: 20px;
            .interview_toolbar {
                display: block;
                float: left;
                font-size: 18px;
                .fa {
                    position: relative;
                    margin-right: 20px;
                }
    
                .checked {
                    color: #a8a3a3;
                }
            }

            .user_interview_time{
                margin-left: 66%;
                display: block;
                font-size: 14px;
                color: #6b6c6d;
            }
        }
        .interview_feedback{
            padding-bottom: 10px;
            font-size: 16px;
            .report_button{
                margin-left: 55%;
                float: left;
                button{
                    background-color: #ffffff;
                    border: none;
                    .fa {
                        position: relative;
                        font-size: 18px;
                        margin-right: 2px;
                    }
        
                    .checked {
                        color: #feb100;
                    }
                }
            }
            .share_button{
                float: right;
                button{
                    background-color: #ffffff;
                    border: none;
                    .fa {
                        position: relative;
                        font-size: 18px;
                    }
        
                    .checked {
                        color: #feb100;
                    }
                }
            }
        }
    }
    clear: left;
    clear: right;
}