// Place all the styles related to the Companyinterviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

//////////////////interview//////////////////
.interview_score_content{
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 3px;
    border: 1px solid #dfe1e5;
    padding: 20px;
    min-height: 400px;
    .interview_score_title{
        display: inline-block;
        font-size: 24px;
        font-weight: 550;
        float: left;
        margin-bottom: 20px;
    }
    .interview_new_button_side{
        display: block;
        .interview_new_button button {
            float: right;
            @media screen and (max-width: 600px){
                float: none;
                width: 100%;
            }
            padding: 14px;
            width: 200px;
            height: 50px;
            background: #1877f2;
            font-size: 16px;
            border: none;
            cursor: pointer;
            text-align: center;
            color: #fff;
            border-radius: 3px;
            i{
                font-size: 20px;
                position: relative;
                top: 3px;
                color: #fff;
                margin-right: 3px;
            }
            span{
                font-size: 16px;
                position: relative;
                top: -2px;
            }
            &:hover {
                background-color: #369;
            }
        }
    }

    .interview_score
    {
        clear: both;
        min-height: 300px;
        background-color: #fff;
        margin-top: 20px;
        display: block;
        .interview_score_difficult{
            text-align: center;
            margin-top: 60px;
            border-right: 1px solid #e6e6e6;
            @media screen and (max-width: 600px){
                border: none;
                margin-top: 30px;
                padding-top: 10px;
                border-top: 1px solid #dfe1e5;
            }
            .interview_point{
                font-size: 40px;
                margin-bottom: 5px;
                color: #353434;
            }
            .interview_score_star{
                i{
                    font-size: 25px;
                    margin-right: 3px;
                    position: relative;
                }
                .checked{
                    color: #ffc500;
                }
                .checked_out{
                    color: #dfe1e5;
                }
            }
            
            .interview_score_label{
                margin-top: 20px;
                font-size: 17px;
            }
        }

        .interview_score_satisfied{
            text-align: center;
            margin-top: 60px;
            border-right: 1px solid #e6e6e6;
            @media screen and (max-width: 600px){
                border: none;
                margin-top: 30px;
                padding-top: 10px;
                border-top: 1px solid #dfe1e5;
            }
            .interview_point{
                font-size: 40px;
                margin-bottom: 5px;
                color: #353434;
            }
            .interview_score_star{
                i{
                    font-size: 25px;
                    margin-right: 3px;
                    position: relative;
                }
                .checked{
                    color: #ffc500;
                }
                .checked_out{
                    color: #dfe1e5;
                }
            }
            
            .interview_score_label{
                margin-top: 20px;
                font-size: 17px;
            }
        }

        .interview_score_process{
            text-align: center;
            margin-top: 60px;
            border-right: 1px solid #e6e6e6;
            @media screen and (max-width: 600px){
                border: none;
                margin-top: 30px;
                padding-top: 10px;
                border-top: 1px solid #dfe1e5;
            }
            .interview_point{
                font-size: 40px;
                margin-bottom: 5px;
                color: #353434;
            }
            .interview_score_star{
                i{
                    font-size: 40px;
                    margin-right: 3px;
                    position: relative;
                    top:-3px;
                }
                .checked{
                    color: #ffc500;
                }
                .checked_out{
                    color: #dfe1e5;
                }
            }
            
            .interview_score_label{
                margin-top: 8px;
                font-size: 17px;
            }
        }

        .interview_score_interview{
            text-align: center;
            margin-top: 60px;
            @media screen and (max-width: 600px){
                border: none;
                margin-top: 30px;
                padding-top: 10px;
                border-top: 1px solid #dfe1e5;
            }
            .interview_point{
                font-size: 40px;
                margin-bottom: 5px;
                color: #353434;
            }
            .interview_score_star{
                i{
                    font-size: 40px;
                    margin-right: 3px;
                    position: relative;
                    top:-3px;
                }
                .checked{
                    color: #ffc500;
                }
                .checked_out{
                    color: #dfe1e5;
                }
            }
            
            .interview_score_label{
                margin-top: 8px;
                font-size: 17px;
            }
        }
        
    }
}
