//////////////////interview//////////////////
//@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

.company_interview_block {
    clear: left;
    height: auto;
    margin-top: 20px;
    border: 1px solid #e0e2e5;
    background-color: #fff;
    border-radius: 4px;
    padding: 10px 20px 20px 20px;
    
    .company_interview_container
    {
        width: auto;
        height: auto;
        background-color: #fff;
        .company_interview_title{
            font-size: 20px;
            font-weight: 550;
            color: #2e3030;
        }

        .user_interview_status{
            padding-top: 5px;
            font-size: 13px;
            color: #6b6c6d;
        }

        .interview_satisfied_overview{
            margin-top: 15px;
            border-top: 1px solid #eeeddd;
            padding-top: 5px;
            .interview_content
            {
                margin-top: 10px;
                .interview_satisfied_label{
                    float: left;
                    @media screen and (max-width: 600px){
                        float: none;
                    }
                    a{
                        font-size: 16px;
                        font-weight: 550;
                    }
                }
        
                .interview_score_star
                {
                    display: block;
                    padding-left: 50%;
                    
                    @media screen and (max-width: 600px){
                        padding-left: 0%;
                    }
                    i {
                        font-size: 20px;
                        position: relative;
                        float: left;
                    }
        
                    .checked {
                        color: #febb02;
                    }
        
                    .checked_out {
                        color: #999;
                    }
                }

                .interview_satisfied_label{
                    font-size: 13px;
                }
            }
        }

        .user_interview_offer{
            clear: both;
            padding-top: 10px;
            .user_interview_offer_label{
                float: left;
                @media screen and (max-width: 600px){
                    float: none;
                }
                font-size: 16px;
                font-weight: 550;
            }
            .user_interview_offer_content
            {
                padding-left: 50%;
                @media screen and (max-width: 600px){
                    padding-left: 0%;
                    padding-top: 5px;
                }
                a{
                    border: 2px solid #e0e2e5;
                    border-radius: 4px;
                    padding: 3px;
                    padding-left: 5px;
                    padding-right: 5px;
                    font-size: 14px;
                    i {
                        font-size: 16px;
                        margin-right: 3px;
                        position: relative;
                        top: 3px;
                    }
        
                    .checked {
                        color: #308d23;
                    }
        
                    .checked_out {
                        color: #999;
                    }    
                }
            }
        }

        .company_interview_body{
            clear: both;
            margin-top: 20px;
            margin-left: 0px;
            font-size: 14px;   
        }

        .interview_toolbar {
            margin-top: 20px;
            border-top: 1px solid #e0e2e5;
            padding-top: 10px;
            .interview_reply_block{
                display: inline-block;
                width: 25%;
                .reply_btn
                {
                    border: none;
                    background-color: #fff;
                    color: #555;
                    font-size: 13px;
                    &:focus {outline:none;}

                    button{
                        border: none;
                        background-color: #fff;
                        color: #555;
                        font-size: 13px;
                        &:focus {outline:none;}
                    } 
                    a{
                        font-size: 13px;
                        color: #666;
                        @media screen and (max-width: 600px){
                            display: none;
                        }
                    }

                    i{
                        font-size: 22px;
                        position: relative;
                        top: 5px;
                    }
                    span{
                        font-size: 13px;
                        color: #666;
                    }
                }
            }

            .interview_like_block{
                display: inline-block;
                width: 25%;
                button{
                    border: none;
                    background-color: #fff;
                    color: #555;
                    font-size: 13px;
                    &:focus {outline:none;}
                } 
                .like_btn_highlight
                {
                    a{
                        font-size: 13px;
                        color: #666;
                        @media screen and (max-width: 600px){
                            display: none;
                        }
                    }

                    i{
                        font-size: 20px;
                        position: relative;
                        top: 3px;
                        color: #1877f2;
                    }
                    span{
                        font-size: 13px;
                        color: #666;
                    }
                }

                .like_btn
                {
                    a{
                        font-size: 13px;
                        color: #666;
                        @media screen and (max-width: 600px){
                            display: none;
                        }
                    }

                    i{
                        font-size: 20px;
                        position: relative;
                        top: 3px;
                        color: #666;
                    }
                    span{
                        font-size: 13px;
                        color: #666;
                    }
                }
            }
            
            .interview_dislike_block{
                display: inline-block;
                width: 25%;
                button{
                    border: none;
                    background-color: #fff;
                    color: #555;
                    font-size: 13px;
                    &:focus {outline:none;}
                } 
                .dislike_btn_highlight
                {
                    a{
                        font-size: 13px;
                        color: #666;
                        @media screen and (max-width: 600px){
                            display: none;
                        }
                    }

                    i{
                        font-size: 20px;
                        position: relative;
                        top: 5px;
                        color: #1877f2;
                    }
                    span{
                        font-size: 13px;
                        color: #666;
                    }
                }

                .dislike_btn
                {
                    a{
                        font-size: 13px;
                        color: #666;
                        @media screen and (max-width: 600px){
                            display: none;
                        }
                    }

                    i{
                        font-size: 20px;
                        position: relative;
                        top: 5px;
                        color: #666;
                    }
                    span{
                        font-size: 13px;
                        color: #666;
                    }
                }
            }

            .interview_report_block{
                display: inline-block;
                .report_btn{
                    border: none;
                    background-color: #fff;
                    color: #555;
                    font-size: 13px;
                    &:focus {outline:none;}
    
                    button{
                        border: none;
                        background-color: #fff;
                        color: #555;
                        font-size: 13px;
                        &:focus {outline:none;}
                    } 
                    a{
                        font-size: 13px;
                        color: #666;
                        @media screen and (max-width: 600px){
                            display: none;
                        }
                    }
    
                    i{
                        font-size: 24px;
                        position: relative;
                        top: 5px;
                    }
                    span{
                        font-size: 13px;
                        color: #666;
                    }
                }
            }
        }
    }

    .new_reply_interview_form_internal{
        margin-bottom: 10px;
        margin-top: 15px;
        display: none;
        .new_reply_interview_content{
            margin-bottom: 15px;
            .new_reply_interview_input_interview{
                width: 80%;
                float: left;
                .new_reply_interview_form_input_interview{
                    height: 100px;
                    width: 100%;
                    border-radius: 4px;
                    border: 2px solid #e6e7e9;
                }
                .form-control{
                    min-height: 44px;
                    height: auto;
                    margin-left: 0px;
                    width: 100%;
                    border: 1px solid #e0e2e5;
                    border-radius: 4px;
                    overflow: auto;
                    font-size: 14px;
                    &:focus{
                        border: 2px solid #1877f2;
                        border-radius: 4px;
                    }
                }
            }
        }
        .new_reply_interview_submit{
            float: right;
            width: 19%;
            margin-bottom: 15px;
            .new_reply_interview_form_submit{
                width: 100%;
                height: 55px;
                background-color: #fff;
                border: 1px solid #1877f2;
                border-radius: 4px;
                color: #1877f2;
                i{
                    font-size: 20px;
                }
                &:hover{
                    background-color: #1877f2;
                    color: #fff;
                }
            }
        }
    }
    clear: left;
    clear: right;

}


/////////////////new/////////////////////
.new_interview_form
{
    margin-bottom: 50px;
    .new_interview_title_block{
        margin-top: 20px;
        margin-bottom: 20px;
        .new_interview_title{
            float: left;
            max-width: 80%;
            h3{
                font-size: 22px;
                color: #333;
                text-align: left;
                font-weight: 600;
            }
            a{
                font-size: 16px;
            }
        }
        .company_interview_image{
            float: right;
            img{
                max-width: 80px;
                max-height: 80px;
                border: 1px solid #e0e2e5;
                border-radius: 4px;
                @media screen and (max-width: 600px){
                    max-width: 50px;
                    max-height: 44px;
                }
            }
        }
    }

    .new_interview_title_sub{
        clear: both;
        padding-top: 5px;
        padding-bottom: 20px;
        span{
            font-size: 13px;
            text-align: left;
            color: #333;
            font-style: italic;
        }
    }

    .new_interview_section
    {
        border: 1px solid #e5e7ec;
		padding: 15px;
        padding-bottom: 0px;
		border-radius: 4px;
		margin-bottom: 20px;
        .new_interview_label_sub{
            font-size: 16px;
            font-style: italic;
            padding-bottom: 20px;
            color: #1877f2;
        }
        .new_interview_content{
            .new_interview_label{
                font-weight: 550;
                font-size: 16px;
                color: #333;
                text-align: left;
                span{
                    color: #ea1e30;
                    padding-left: 3px;
                }
            }

            .new_interview_label_score{
                font-weight: 550;
                font-size: 16px;
                color: #333;
                text-align: left;
                span{
                    color: #ea1e30;
                    padding-left: 3px;
                }
                @media screen and (min-width: 600px){
                    a{
                        position: relative;
                        top: 10px;
                    }
                }
            }

            .new_interview_input{
                left: 0px;
                margin-top: 5px;
                margin-bottom: 20px;
                width: 100%;
                height: auto;
                .new_interview_input_radio{
                    padding-top: 5px;
                    padding-bottom: 5px;
                    @media screen and (min-width: 600px){
                        text-align: right;
                    }
                    input[type=radio], input[type=checkbox] {
                        display:none;
                    }
                
                    input[type=radio] + label, input[type=checkbox] + label {
                        display: inline-block;
                        min-width: 100px;
                        @media screen and (max-width: 600px){
                            min-width: 50%;
                        }
                        padding: 4px 12px;
                        margin-bottom: 0;
                        font-size: 14px;
                        color: #333;
                        text-align: center;
                        border: 1px solid #e0e2e5;
                    }
                
                    input[type=radio]:checked + label, input[type=checkbox]:checked + label{
                        background-color:#1877f2;
                        border: 1px solid #e0e2e5;
                        color: #fff;
                    }
                }

                .form-control{
                    margin-left: 0px;
                    height: 44px;
                    width: 100%;
                    border: 1px solid #e0e2e5;
                    border-radius: 4px;
                    font-size: 14px;
                    &:focus{
                        border: 2px solid #1877f2;
                        border-radius: 4px;
                    }
                }

                .form-control-rich-text{
                    min-height: 150px;
                    height: auto;
                    margin-left: 0px;
                    width: 100%;
                    border: 1px solid #e0e2e5;
                    border-radius: 4px;
                    font-size: 14px;
                }
            }

            .new_interview_input_score{
                left: 0px;
                margin-top: 5px;
                margin-bottom: 20px;
                width: 100%;
                height: auto;
                padding-left: 0px;
                font-size: 14px;
                .new_interview_input_score_form{
                    display: none;
                }

                .new_interview_input_score_star{
                    @media screen and (min-width: 600px){
                        text-align: right;
                    }
                    button{
                        margin-right: 5px;
                        border-radius: 4px;
                        border: none;
                        color: #666;
                        &:focus {outline:none;}
                        i{
                            padding: 3px;
                            font-size: 24px;
                        }
                            
                        &:hover{
                            background-color: #1877f2;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }

    .new_interview_submit{
        width: 100%;
        .new_interview_form_submit{
            height: 44px;
            width: 100%;
            @media screen and (min-width: 600px){
                width: 200px;
            }
            font-weight: 600;
            border-radius: 4px;
            padding: 6px;
            background: #1877f2;
            font-size: 14px;
            border: none;
            cursor: pointer;
            text-align: center;
            color: #fff;
            
            &:hover{
                background-color: #1877f2;
            }
        }
    }

    .interview_policy{
        margin-top: 20px;
        border: 1px solid #e0e2e5;
        padding: 15px;
        border-radius: 4px;
        .interview_policy_title{
            a{
                border-left: 5px solid #febb02;
                text-align: left;
                font-size: 22px;
                color: #333;
                font-weight: 550;
                padding-left: 5px;
            }
            padding-bottom: 5px;
            border-bottom: 1px solid #e0e2e5;
        }

        .interview_policy_content{
            .interview_policy_content_index{
                font-size: 16px;
                padding-top: 10px;
                // padding-bottom: 5px;
            }

            .interview_policy_content_link{
                font-weight: 600;
                font-size: 16px;
                padding-top: 15px;
            }
        }
    }
}