//////////////////join//////////////////
.company_join
{
    width: 100%;
    .company_join_overview_left
    {
        width: 70%;
        float: left;
        .company_join_title
        {
            font-size: 24px;
            margin-left: 0;
            margin-bottom: 10px;
            font-weight: 600;
            i{
                font-size: 28px;
                position: relative;
                top: 5px;
                margin-right: 3px;
            }
        }

        .company_join_policy{
            // margin-left: 10px;
            font-size: 14px;
            margin-top: 20px;
            margin-bottom: 50px;
            height: auto;
            display: inline-block;
        }
    }
    .company_join_overview_block_right{
        .company_join_overview_block_right_overview{
            padding: 20px;
            padding-top: 10px;
            width: 21%;
            border: 2px solid #e3e5e9;
            margin-left: 75%;
            height: 350px;
            display: block;
            .company_join_overview_right{
                min-height: 75px;
                .company_join_overview_right_title{
                    font-weight: 550px;
                    font-size: 16px;
                    i{
                        position: relative;
                        top: 4px;
                        color: #1a73e8;
                        font-size: 22px;
                        margin-right: 3px;
                    }
                }
                .company_join_overview_right_des{
                    font-size: 14px;
                    padding-left: 30px;
                    padding-top: 10px;
                    color: #515353;
                }
            }
        }

        .company_join_overview_block_right_job{
            margin-top: 20px;
            margin-bottom: 20px;
            padding: 20px;
            width: 21%;
            border: 2px solid #e3e5e9;
            margin-left: 75%;
            min-height: 400px;
            display: block;
            margin-bottom: 30px;
            .company_job_label{
                font-size: 16px;
                font-weight: 600px;
            }
            .company_job_des{
                margin-top: 20px;
                margin-bottom: 20px;
                border-top: 1px solid #e3e5e9;
                .company_job_block{
                    // border-top: 1px solid #e3e5e9;
                    border-bottom: 1px solid #e3e5e9;
                    padding-top: 10px;
                    padding-bottom: 15px;
                    .company_avatar{
                        img{
                            max-width: 60px;
                            max-height: 60px;
                        }
                        float: left;
                    }
                    .company_job_title{
                        padding: 10px;
                        padding-top: 0px;
                        margin-left: 60px;
                        height: 30px;
                        a:link{
                            font-size: 14px;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}