// Place all the styles related to the Companyinterviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

//////////////////interview//////////////////
.interview_score_content{
    background-color: #fff;
    .interview_score_title{
        display: inline-block;
        // margin-top: 10px;
        font-size: 22px;
        font-weight: 550;
        width: 720px;
        float: left;
        margin-bottom: 40px;
    }
    .interview_new_button_side{
        float: right;
        .interview_new_button button {
            padding: 10px;
            width: 200px;
            background: #1a73e8;
            font-size: 14px;
            border: 1px solid #1a73e8;
            cursor: pointer;
            text-align: center;
            color: #fff;
            border-radius: 2px;
        }
    
        .interview_new_button button:hover {
            background: #4284f4;
        }
    }

    .interview_score
    {
        clear: both;
        width: 100%;
        height: 300px;
        background-color: #f8f9fa;
        margin-top: 30px;
        margin-bottom: 30px;
        display: block;
        margin-left: auto;
        margin-right: auto;

        .interview_score_difficult{
            float: left;
            width: 24%;
            text-align: center;
            margin-top: 80px;
            border-right: 1px solid #e6e6e6;
            .interview_point{
                font-size: 36px;
                margin-bottom: 5px;
            }
            .interview_score_star{
                i{
                    font-size: 25px;
                    margin-right: 3px;
                    position: relative;
                }
                .checked{
                    color: #feb100;
                }
                .checked_out{
                    color: #dfe1e5;
                }
            }
            
            .interview_score_label{
                margin-top: 20px;
                font-size: 17px;
            }
        }

        .interview_score_satisfied{
            float: left;
            width: 24%;
            text-align: center;
            margin-top: 80px;
            border-right: 1px solid #e6e6e6;
            .interview_point{
                font-size: 36px;
                margin-bottom: 5px;
            }
            .interview_score_star{
                i{
                    font-size: 28px;
                    margin-right: 3px;
                    position: relative;
                }
                .checked{
                    color: #feb100;
                }
                .checked_out{
                    color: #dfe1e5;
                }
            }
            
            .interview_score_label{
                margin-top: 20px;
                font-size: 17px;
            }
        }

        .interview_score_process{
            float: left;
            width: 24%;
            text-align: center;
            margin-top: 80px;
            border-right: 1px solid #e6e6e6;
            .interview_point{
                font-size: 36px;
                margin-bottom: 5px;
            }
            .interview_score_star{
                i{
                    font-size: 40px;
                    margin-right: 3px;
                    position: relative;
                    top:-3px;
                }
                .checked{
                    color: #feb100;
                }
                .checked_out{
                    color: #dfe1e5;
                }
            }
            
            .interview_score_label{
                margin-top: 8px;
                font-size: 17px;
            }
        }

        .interview_score_interview{
            float: left;
            width: 24%;
            text-align: center;
            margin-top: 80px;
            // border-right: 1px solid #dfe1e5;
            .interview_point{
                font-size: 36px;
                margin-bottom: 5px;
            }
            .interview_score_star{
                i{
                    font-size: 40px;
                    margin-right: 3px;
                    position: relative;
                    top:-3px;
                }
                .checked{
                    color: #feb100;
                }
                .checked_out{
                    color: #dfe1e5;
                }
            }
            
            .interview_score_label{
                margin-top: 8px;
                font-size: 17px;
            }
        }
        
        .interview_score_total{
            clear: both;
            text-align: center;
            display: block;
            .interview_score_label{
                padding-top: 60px;
                font-size: 18px;
                font-weight: 600;
            }

            .interview_point
            {
                float: left;
                font-size: 22px;
                text-align: center;
                color: rgb(75, 71, 71);
                margin-right: 15px;
                margin-left: 400px;
            }

            .interview_score_star
            {
                float: left;
                margin-right: 10px;
                margin-top: 10px;
                font-size: 22px;
                margin-left: 400px;
                i {
                    font-size: 22px;
                }

                .checked {
                    color: #feb100;
                }

                .checked_out {
                    color: #dfe1e5;
                }
            }

            .interview_total_des{
                margin-top: 8px;
                clear: both;
                font-size: 13px;
            }
        }
        
    }
}
