// Place all the styles related to the CompanyApplyapply_jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
/////////////new////////////////////////

.new_apply_job_form
{
    margin-bottom: 50px;
    .new_apply_job_content{
        .new_apply_job_label{
            font-size: 18px;
            color: #333;
            text-align: left;
            margin-top: 30px;
        }

        .new_apply_job_input_job
        {
            width: 100%;
            padding-top: 10px;
            .new_apply_job_form_input_job{
                width: 100%;
                min-height: 50px;
            }
            .rich_text_area{
                width: 100%;
                min-height: 150px;
            }
        }
    }
    .new_apply_job_submit{
        padding-top: 30px;
        .new_apply_job_form_submit{
            width: 100%;
            min-height: 50px;
            color: #fff;
            background-color: #1877f2;
            border: none;
        }
    }
}