//////////////////comment//////////////////
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

.user_reply_comment_heading
{
    font-size: 20px;
    padding-bottom: 100px;
}

.user_reply_comment_block {
    width: 100%;
    height: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #ffffff;
    border-top: 1px solid #f0f0f1;
    .user_reply_comment_left
    {
        width: auto;
        height: auto;
        margin-top: 30px;
        display: block;
        position: relative;
        float: left;
        .user_avatar {
            display: block;
            margin-left: 25%;
            margin-right: auto;
            width: auto;
            height: auto;
            img {
                width: 80px;
                height: 80px;
            }
        }
    }
    
    .user_reply_comment_cotent
    {
        display: block;
        width: auto;
        height: auto;
        margin-left: 12%;
        margin-top: 30px;

        .user_reply_comment_time{
            margin-top: 30px;
            font-size: 15px;
            color: #6b6c6d;
        }
        
        .user_reply_comment_body {
            margin-top: 10px;
            font-size: 18px;
        }
    }
    clear: left;
    clear: right;
}