// Place all the styles related to the CompanyApplyapply_jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
/////////////new////////////////////////
.new_apply_job_form
{
    margin-bottom: 50px;

    .new_apply_job_title_block{
        margin-top: 20px;
        margin-bottom: 20px;
        .new_apply_job_title{
            float: left;
            max-width: 80%;
            h3{
                font-size: 23px;
                color: #333;
                text-align: left;
                font-weight: 600;
            }
            a{
                font-size: 15px;
            }
        }
        .new_apply_job_image{
            float: right;
            img{
                width: 80px;
                height: 80px;
                border: 1px solid #EAEAF0;
                border-radius: 5px;
                @media screen and (max-width: 600px){
                    width: 50px;
                    height: 50px;
                }
            }
        }
    }

    .new_apply_job_title_sub{
        clear: both;
        a{
            font-size: 13px;
            text-align: left;
            color: #333;
            font-style: italic;
            span{
                color: #ff424e;
            }
        }
    }
	
    .new_apply_job_content{
        .new_apply_job_label{
            font-size: 15px;
            color: #333;
            text-align: left;
            margin-top: 20px;
            font-weight: 600;
            span{
                color: #ff424e;
                padding-left: 3px;
            }
        }

        .new_apply_job_input_job
        {
            width: 100%;
        }
    }

    .new_apply_job_submit{
        padding-top: 20px;
        .new_apply_job_form_submit{
            border-radius: 5px;
			font-size: 14px;
            min-height: 44px;
            color: #fff;
            background-color: #0d6efd;
            border: none;
            font-weight: 600;
            width: 100%;
            @media screen and (min-width: 600px){
                width: 200px;
            }
        }
    }
}

.apply_job_policy{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #EAEAF0;
    padding: 15px;
    border-radius: 5px;
    .apply_job_policy_title{
        a{
            border-left: 5px solid #febb02;
            text-align: left;
            font-size: 23px;
            color: #333;
            font-weight: 550;
            padding-left: 5px;
        }
        padding-bottom: 5px;
        border-bottom: 1px solid #EAEAF0;
    }

    .apply_job_policy_content{
        .apply_job_policy_content_index{
            font-size: 15px;
            padding-top: 10px;
            // padding-bottom: 5px;
        }

        .apply_job_policy_content_link{
            font-weight: 600;
            font-size: 15px;
            padding-top: 15px;
        }
    }
}

///////////////////////////////block/////////////////////////
.company_job_apply_block{
    border: 2px dashed #EAEAF0;
    border-radius: 5px;
    margin-top: 20px;
    padding: 15px;
    min-height: 150px;
    display: block;
    .company_job_apply_info{
        .company_job_apply_name{
            font-size: 15px;
            font-weight: 600;
            a{
                text-decoration: none;
            }
        }
        .company_job_apply_email{
            padding-top: 10px;
            font-size: 15px;
            a{
                font-weight: 600;
            }
        }
        .company_job_apply_letter{
            padding-top: 10px;
            padding-bottom: 10px;
            font-size: 15px;
            a{
                font-weight: 600;
            }
            .company_job_apply_sumary{
                padding-top: 10px;
                a{
                    display: block; 
                    font-size: 15px;
                    text-overflow: ellipsis;
                    word-break: break-word; 
                }
            }
        }
        .company_job_apply_time{
            padding-top: 10px;
            font-size: 14px;
            font-weight: 400px;
        }
        .company_job_apply_download{
            padding-top: 10px;
            i{
                position: relative;
                top: 5px;
            }
            a{
                text-decoration: none;
            }
        }

        .company_job_apply_more{    
            margin-top: 15px;
            button{
                width: 100%;
                border-radius: 5px;
                background-color: #fff;
                border: 1px solid #0d6efd;
                height: 44px;
                color: #0d6efd;
                font-size: 14px;
                font-weight: 600;
                &:focus {outline:none;}
                i{
                    position: relative;
                    top: 5px;
                    font-size: 20px;
                }
                &:hover{
                    background-color: #0d6efd;
                    color: #fff;
                }
            }
        }
    }
}


///////////////////////////////show/////////////////////////@at-root
.company_job_apply_show_block{
    display: block;
    background-color: #f8f9fa;
    @media screen and (max-width: 600px){
        background-color: #fff;
    }
    .company_job_apply_show_info{
        background-color: #fff;
        @media screen and (min-width: 600px){
            min-height: 700px;
            padding: 50px 15px 50px 15px;
        }
        padding: 30px 0px 30px 0px;
        .company_job_apply_show_name{
            font-size: 15px;
            font-weight: 600;
        }
        .company_job_apply_show_email{
            padding-top: 10px;
            font-size: 15px;
        }
        .company_job_apply_show_letter{
            padding-top: 10px;
            padding-bottom: 10px;
            font-size: 15px;
            // display: none;
            .company_job_apply_show_sumary{
                padding-top: 10px;
                a{
                    display: block; 
                    font-size: 15px;
                    text-overflow: ellipsis;
                    word-break: break-word; 
                }
            }
        }
        .company_job_apply_show_time{
            padding-top: 10px;
            font-size: 14px;
            font-weight: 400px;
        }
        .company_job_apply_show_download{
            padding-top: 10px;
            i{
                position: relative;
                top: 5px;
            }
        }
    }
}