// Place all the styles related to the Companys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@mixin border-total {
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(179, 150, 150, 0.1), 0 2px 4px 0 rgba(168, 151, 151, 0.09);
    background-color: #fff;
    border: 1px solid #fafafa;
}
@mixin border-tab {
    box-shadow: 0 1px 2px 0 rgba(179, 150, 150, 0.1), 0 2px 4px 0 rgba(168, 151, 151, 0.09);
    // border-radius: 2px;
    // margin-top: 30px;
    padding: 20px;
    padding-top: 30px;
    border-top: none;
    border: 1px solid #fafafa;
}

//////////////////index//////////////////
.companies_top{
    // border-bottom: 1px solid #dfe1e5;
    .company_search_bar{
        padding-top: 75px;
        padding-left: 12%;
        padding-right: 12%;
        min-height: 400px;
        @media screen and (max-width: 600px){
            padding-left: 3%;
            padding-right: 3%;
            min-height: 600px;
        }
        .company_search_bar_label
        {
            text-align: center;
            h3{
                font-size: 50px;
                margin-bottom: 10px;
                color: #222;
            }
            span{
                font-size: 24px;
                color: #635f5f;
            }
            margin-bottom: 50px;
        }
        .company_search_form{
            float: left;
            border-radius: 2px;
            border: 3px solid #feb100;
            background-color: #fff;
            padding: 0px !important;
            margin: 0px !important;
            @media screen and (max-width: 600px){
                // width: 440px;
                margin-left: 3%;
                padding-right: 3%;
                width: 96%;
                height: 60px;
            }
            .company_search_input{
                font-size: 14px;
                // position: relative;
                padding: 5px;
                height: 35px;
                width: 63em;
                border: none;
                // top: -2px;
                outline: none;
                
                @media screen and (max-width: 600px){
                    // width: 440px;
                    width: 26em;
                    height: 50px;
                }
            }
            i{
                position: relative;
                top: 8px;
                font-size: 33px;
                color: #3b3b3b;
            }

        }
        .company_search_button{
            .search_button{
                width: 200px;
                height: 55px;
                border-radius: 2px;
                border: 2px solid #3ecf8e;
                background: #3ecf8e;
                font-size: 16px;
                color: #fff;
                margin-left: 10px;
                
                @media screen and (max-width: 600px){
                    // width: 440px;
                    width: 97%;
                    height: 60px;
                    margin-top: 20px;
                    margin-left: 0px;
                }
            }
        }
    }
}

.companies_area{
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 30px;
    // background-color: #f7f9fa;
    .company_current_review{
        width: 98.5%;
        height: 90px;
        background-color: #ebfeff;
        border-top: 5px solid #feb100;
        // padding-top: 20px;
        padding-left: 10px;
        @media screen and (max-width: 600px){
            padding-left: 0px;
        }
        border-radius: 2px;
        margin-top: 30px;
        .company_current_review_title{
            margin-top: 25px;
            font-size: 25px;
            @media screen and (min-width: 600px){
                float: left;
            }
            i {
                font-size: 30px;
                margin: 3px;
                color: #feb100;
                position: relative;
                top: 2px;
            }
        }

        .company_current_review_rating{
            margin-right: 20px;
            margin-top: 20px;
            @media screen and (min-width: 600px){
                float: right;
            }
            background-color: #fffbde;
            border-radius: 10px;
            
            @media screen and (max-width: 600px){
                margin-top: 40px;
                width: 100%;
                margin-left: 0px;
                text-align: center;
            }

            i {
                font-size: 40px;
                margin: 5px;
                color: #dddcda;
            }

            i:hover{
                color: #feb100;
            }
        }
        
        clear: both;
    }

    .section_title
    {
        font-size: 25px;
        margin-right: 13px;
        // background-color: #fff;
        margin-top: 50px;
        // box-shadow: 0 1px 2px 0 rgba(179, 150, 150, 0.1), 0 2px 4px 0 rgba(168, 151, 151, 0.09);
        // border: 1px solid #dfe1e5;
        // border-top: 5px solid #feb100;
        border-top-right-radius: 1px;
        border-top-left-radius: 1px;
        margin-bottom: 20px;
        font-size: 30px;
        font-weight: 500;
        // text-align: center;
        // h3{
        //     padding-left: 10px;
        //     position: relative;
        //     top: -18px;
        //     margin-bottom: 2px;
        //     i{
        //         font-size: 30px;
        //         position: relative;
        //         top: 5px;
        //         margin-right: 5px;
        //         color: #3ecf8e;
        //     }
        // }
        @media screen and (max-width: 600px){
            margin-top: 100px;
            width: 100%;
        }

    }

    .section_arange{
        font-size: 16px;
        margin-bottom: 30px;
    }

    .company_block{
        background-color: #fff;
        height: auto;
        .single_company{
            float: left;
            display: block;
            width: 17.7%;
            @media screen and (max-width: 600px){
                width: 94%;
                margin-top: 10px;
            }
            height: 350px;
            margin-top: 5px;
            margin-bottom: 5px;
            margin-right: 10px;
            margin-left: 0px;
            background:#fff;
            border-radius: 2px;
            border: 1px solid #dfdedc;
            padding: 10px;
            &:hover{
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                // border: 1px solid #629fdb;
            }
    
            .company_thumbnail
            {
                height: 140px;
                padding-top: 10px;
                img{ 
                    max-width: 100px;
                    max-height: 100px;
                    padding: 15px;
                    margin-left: 50%;
                }
                @media screen and (max-width: 600px){
                    max-width: 120px;
                    max-height: 120px;
                    margin-left: 20%;
                }
                display: block;
                float: left;
            }
    
            .company_love_button{
                padding-right: 5px;
                padding-top: 10px;
                float: right;
                button{
                    border: none;
                    background-color: #fff;
                    i {
                        font-size: 24px;
                        color: #e2e2e2;
                        position: relative;
                        margin-right: 0px;
                        &:hover{
                            color: #3ecf8e;
                        }
                    }
        
                    .checked {
                        color: #dfe1e5;
                    }
                }
    
                button:hover{
                    background: #fff;
                    .checked {
                        color: #feb100;
                    }
                }
            }
    
            .company_name
            {
                clear: both;
                text-align: center;
                color: #161e2e;
                font-size: 18px;
                font-weight: 550;
                height: 50px;
                .company_name_label{
                    color: #161e2e;
                    text-decoration: none !important;overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2; /* number of lines to show */
                    -webkit-box-orient: vertical;
                }
            }
    
            .company_summary
            {
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 100%;
                .company_location
                {
                    text-align: center;
                    font-size: 14px;
                    color: #635f5f;
                    i{
                        margin-right: 0px;
                        position: relative;
                        font-size: 17px;
                        top: 2px;
                        color: #635f5f;
                    }
                }
                .company_rating
                {
                    float: left;
                    width: 100%;
                    height: 100%;
                    margin-left: 55px;
                    margin-top: 5px;
                    @media screen and (max-width: 600px){
                        margin-left: 35%;
                    }
                    .review_score_star
                    {
                        i {
                            font-size: 26px;
                            margin-right: 0px;
                        }
            
                        .checked {
                            color: #feb100;
                        }

                        .checked_out {
                            color: #dfe1e5;
                        }
                    }
                }
    
                .review_point
                {
                    clear: both;
                    color: #161e2e;
                    @media screen and (max-width: 600px){
                        margin-left: 18%;
                    }
                    .review_point_review_content{
                        font-size: 14px;
                        font-weight: 600;
                        float: left;
                        margin-top: 10px;
                        margin-left: 40px;
                        margin-right: 30px;
                        
                        @media screen and (max-width: 600px){
                            margin-right: 55px;
                        }
                    }
                    clear: both;
                    .review_point_label
                    {
                        float: left;
                        font-size: 13px;
                        margin-left: 15px;
                        margin-right: 10px;
                        text-align: center;
                        .review_point_review_label{
                            text-decoration: none !important;
                            color: #505050; 
                        }
                        @media screen and (max-width: 600px){
                            margin-top: 20px;
                            margin-right: 40px;
                        }
                    }
                }
            }
        }
    }
    .new-company button {
        float: left;
        height: 50px;
        width: 200px;
        margin-top: 150px;
        margin-right: 16px;
        margin-left: 30px;
        background: #3ecf8e;
        font-size: 14px;
        border: 0px;
        cursor: pointer;
        text-align: center;
        color: #fff;
        border-radius: 2px;
        padding-bottom: 6px;
        i{
            position: relative;
            top: 6px;
        }
    }
    
    .new-company button:hover {
        background: #3ecf8e;
    }
}

.resume_upload{
    clear: both;
    position: relative;
    top: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    // background-color: #fff;
    text-align: center;
}

//////////////////show//////////////////

.company_area{
    clear: both;
    margin-top: 0px !important;
    padding-bottom: 20px;
    position: static;

    .company_overview{
        padding-left: 12%;
        padding-right: 12%;
        @media screen and (max-width: 600px)
        {
            padding-left: 3%;
            padding-right: 3%;
        }
        height: auto;
        padding-bottom: 125px;
        // @include border-total;
        // border-bottom: 1px solid #dadce0;
        background-color: #fff;
        .company_wall_image{
            img{
                width: 100%;
                max-height: 300px;
            }
        }

        .company_title_image{
            padding: 15px;
            padding-left: 0px;
            padding-right: 0px;
            img{
                max-width: 90px;
                height: 90px;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
                border-radius: 2px;
                // border: 1px solid #dfe1e5;
            }
            float: left;
        }

        .company_title_summary
        {
            margin-top: 20px;
            margin-left: 10px;
            float: left;
            .company_title_name
            {
                font-size: 24px;
                font-weight: 600;
                text-align: left;
                margin-left: 10px;
                text-decoration: none !important;overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 1; /* number of lines to show */
                -webkit-box-orient: vertical;
            }

            .company_score_star_overview{
                padding-top: 5px;
                .company_rating{
                    font-size: 20px;
                    margin-left: 10px;
                    margin-right: 15px;
                    i{
                        margin-right: 0px;
                        font-size: 25px;
                        position: relative;
                        top: 4px;
                    }

                    .checked{
                        color: #feb100;
                    }
                    .checked_out{
                        color: #dfe1e5;
                    }
                }
            }

            .company_title_short_des{
                margin-left: 10px;
                padding-top: 5px;
                font-size: 13px;
                color: #939394;
            }
        }
            
        .company_follow{
            padding-top: 40px;
            float: right;
            button{
                // margin-left: 350px;
                height: 45px;
                width: 200px;
                background: #3ecf8e;
                font-size: 14px;
                border: none;
                cursor: pointer;
                text-align: center;
                color: #fff;
                border-radius: 2px;
                
                &:hover{
                    background-color: #3ecf8e;
                }
            }
            i{
                margin-right: 10px;
            }
        }
    }
    
    /* Style the tab */
    .company_tab {
        padding-top: 40px;
        clear: left;
        overflow: hidden;
        position: relative;
        display: block;
        background-color: #fff;
        .tab_container {
            font-weight: bold !important;
            background-color: #fff;
            color: #141414;
            padding-left: 12%;
            padding-right: 12%;
            border-bottom: 1px solid #dadce0;
        }
        .tab_container button{
            outline:none;
            border: none;
            // min-width: 11%;
            padding-right: 1.8%;
            height: 50px;
            background-color: #fff;
            margin-right: 11px;
            .tablinks{
                margin-bottom: 10px;
            }
            a{
                font-size: 16px;
            }
            i{
                font-size: 24px;
                padding-right: 5px;
                position: relative;
                top: 5px;
                padding-left: 5px;
            }
            span{
                font-size: 12px;
                margin-left: 0px;
                position: absolute;
                top: 40px;
                margin-left: -6px;
                color: #939394;
            }
        }
        .tab_container button:hover{
            border-bottom: 3px solid #3ecf8e;
        }

        .tab_container button:focus{
            border-bottom: 3px solid #3ecf8e;
        }

        .tab_container button.active {
            border-bottom: 3px solid #2b78f7;
            color: #2b78f7;
        }
    }

    /* Style the tab content */
    .tabcontent{
        padding-left: 12%;
        padding-right: 12%;
        @media screen and (max-width: 600px)
        {
            padding-left: 3%;
            padding-right: 3%;
        }
        // display: none;
        background-color: #fff;
        padding-top: 30px;
        min-height: 600px;
        .company_review_tab{
            display: block;
            // padding-top: 10px;
            // border-top: 1px solid #dfe1e5;
            .company_review_score{
                border-bottom: 2px dashed #dfe1e5;
                margin-bottom: 40px;
            }
            .company_review_tab_des{
                .user_comment_heading{
                    font-size: 24px;
                    padding-top: 20px;
                }
                .company_review_tab_des_left{
                    width: 75%;
                    float: left;
                }
                .company_review_tab_des_right{
                    width: 19%;
                    margin-top: 30px;
                    margin-bottom: 20px;
                    padding: 20px;
                    // width: 25%;
                    border: 2px solid #e3e5e9;
                    margin-left: 77%;
                    min-height: 400px;
                    display: block;
                    margin-bottom: 30px;
                    .company_job_label{
                        a{
                            border-bottom: 3px solid #feb100;
                            font-size: 22px;
                            padding-top: 5px;
                            padding-bottom: 5px;
                            font-weight: 500;
                            // padding-left: 15px;
                            padding-right: 5px;
                            color: #444;
                        }
                    }
                    .company_job_des{
                        margin-top: 30px;
                        margin-bottom: 20px;
                        border-top: 1px solid #e3e5e9;
                        .company_job_block{
                            // border-top: 1px solid #e3e5e9;
                            border-bottom: 1px solid #e3e5e9;
                            padding-top: 20px;
                            padding-bottom: 10px;
                            min-height: 60px;
                            .company_avatar{
                                img{
                                    max-width: 60px;
                                    max-height: 60px;
                                }
                                float: left;
                            }
                            .company_job_title{
                                padding: 5px;
                                padding-top: 0px;
                                margin-left: 60px;
                                a:link{
                                    font-size: 14px;
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                }
            }
        }

        .company_interview_tab{
            display: block;
            .company_interview_score{
                border-bottom: 2px dashed #dfe1e5;
                margin-bottom: 30px;
            }
            .user_comment_heading{
                font-size: 24px;
                margin-top: 20px;
            }
            .company_interview_tab_des_left{
                width: 75%;
                float: left;
            }
            .company_interview_tab_des_right{
                width: 21%;
                margin-top: 30px;
                margin-bottom: 20px;
                padding: 10px;
                // width: 25%;
                border: 2px solid #e3e5e9;
                margin-left: 77%;
                min-height: 400px;
                display: block;
                margin-bottom: 30px;
                .company_job_label{
                    a{
                        border-bottom: 3px solid #feb100;
                        font-size: 22px;
                        padding-top: 5px;
                        padding-bottom: 5px;
                        font-weight: 500;
                        // padding-left: 15px;
                        padding-right: 5px;
                        color: #444;
                    }
                }
                .company_job_des{
                    margin-top: 20px;
                    margin-bottom: 20px;
                    border-top: 1px solid #f0f1f3;
                    .company_job_block{
                        // border-top: 1px solid #e3e5e9;
                        border-bottom: 1px solid #f0f1f3;
                        padding-top: 20px;
                        padding-bottom: 15px;
                        min-height: 60px;
                        .company_avatar{
                            img{
                                max-width: 60px;
                                max-height: 60px;
                            }
                            float: left;
                        }
                        .company_job_title{
                            padding: 5px;
                            padding-top: 0px;
                            margin-left: 60px;
                            a:link{
                                font-size: 14px;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }

        .company_tab_des
        {
            display: block;
            .user_comment_heading{
                font-size: 24px;
            }

            .company_tab_job{
                .new_job{
                    width: 100%;
                    height: 100px;
                    margin-top: 20px;
                    margin-bottom: 30px;
                    background-color: #ebfeff;
                    border: 1px solid #ebfeff;
                    border-radius: 2px;
                    // border-bottom: 1px solid #dddcda;
                    .new_job_title{
                        font-size: 24px;
                        float: left;
                        padding-top:30px;
                        padding-left: 20px;    
                    }
                    button{
                        float: right;
                        margin-left: 47%;
                        margin-top: 25px;
                        height: 50px;
                        width: 250px;
                        margin-right: 10px;
                        background: #3ecf8e;
                        font-size: 16px;
                        border: none;
                        cursor: pointer;
                        text-align: center;
                        color: #fff;
                        border-radius: 2px;
                        i{
                            position: relative;
                            top: 2px;
                            font-size: 20px;
                            margin-right: 3px;
                        }

                        span{
                            font-size: 16px;
                            position: relative;
                            top: -2px;
                        }
                        
                        &:hover{
                            background-color: #3ecf8e;
                        }
                    }
                }
                .user_comment_heading_job{
                    font-size: 24px;
                    padding-top: 50px;
                }
            }

            .company_job_index{
                // margin-top: 10px;
                margin-bottom: 30px;
            }
        }
    }
}


//////////////////new///////////////////////
.new_company_form
{
    padding-left: 15%;
    padding-right: 20%;
    margin-bottom: 50px;
    .new_company_title{
        font-size: 24px;
        color: #161e2e;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 30px;
        font-weight: 600;
    }

    .new_company_section
    {
        // border-bottom: 1px solid rgb(190, 185, 185);
        // margin-top: 30px;
        // background-color: #161e2e;
        .new_company_content{
            .new_company_label{
                font-weight: 600;
                font-size: 16px;
                color: #161e2e;
                text-align: left;
                padding-top: 10px;
            }

            .new_company_input{
                left: 0px;
                margin-top: 5px;
                margin-bottom: 20px;
                width: 800px;
                height: auto;
                .new_company_form_input{
                    margin-left: 0px;
                    height: 40px;
                    width: 100%;
                    border: 1px solid #dfe1e5;
                    border-radius: 2px;
                }
                .new_company_form_input_rich_text{
                    margin-left: 0px;
                    height: 200px;
                    overflow: scroll;
                    width: 100%;
                    border: 1px solid #dfe1e5;
                    border-radius: 2px;
                }
            }
            .new_company_input_time{
                left: 0px;
                margin-top: 5px;
                margin-bottom: 20px;
                width: 300px;
                .new_company_form_input{
                    margin-left: 0px;
                    height: 40px;
                    width: 100%;
                    border: 1px solid #dfe1e5;
                    border-radius: 2px;
                }
            }

            .new_company_input_review{
                left: 0px;
                margin-top: 5px;
                margin-bottom: 20px;
                width: 750px;
                height: 50px;
                .new_company_form_input_review{
                    word-wrap: break-word;
                    white-space: pre-wrap; 
                    margin-left: 0px;
                    height: 80px;
                    width: 100%;
                    border: 1px solid #dfe1e5;
                    border-radius: 2px;
                }
            }
        }
    }

    .new_company_content_checkbox
    {
        margin-top: 50px;
        .label-agree-term
        {
           font-size: 14px; 
        }
    }

    .new_company_submit{
        width: 750px;
        margin-top: 20px;
        .new_company_form_submit{
            height: 50px;
            width: 100%;
            border-radius: 2px;
            padding: 6px;
            background: #3ecf8e;
            font-size: 14px;
            border: none;
            cursor: pointer;
            text-align: center;
            color: #fff;
            
            &:hover{
                background-color: #3ecf8e;
            }
        }
    }

    .my_style_class{
        padding: 10px;
        width: 300px;
        font-size: 14px;
        border-radius: 2px;
        background: #fff;
    }
}