// Place all the styles related to the CompanyReviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

//////////////////review//////////////////
.review_score_content{
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 3px;
    border: 1px solid #dfe1e5;
    padding: 20px;
    min-height: 400px;
    .review_score_title{
        display: inline-block;
        font-size: 24px;
        font-weight: 550;
        float: left;
        margin-bottom: 20px;
    }
    .review_new_button_side{
        display: block;
        .review_new_button button {
            float: right;
            @media screen and (max-width: 600px){
                float: none;
                width: 100%;
            }
            width: 200px;
            height: 50px;
            background: #1877f2;
            border-radius: 3px;
            border: none;
            cursor: pointer;
            text-align: center;
            color: #fff;
            font-size: 16px;
            i{
                font-size: 20px;
                position: relative;
                top: 3px;
                color: #fff;
                margin-right: 3px;
            }
            span{
                font-size: 16px;
                position: relative;
                top: -2px;
            }
        }
    
        .review_new_button button:hover {
            background: #1877f2;
        }
    }

    .review_score{
        clear: both;
        margin-top: 20px;
        border-radius: 3px;
        background-color: #fff;
        border-radius: 3px;
        min-height: 300px;
        .review_score_total{
            @media screen and (max-width: 600px){
                border-top: 1px solid #dfe1e5;
            }
            .review_score_label{
                @media screen and (max-width: 600px){
                    padding-top: 20px;
                }
                text-align: center;
                padding-top: 60px;
                font-size: 22px;
                font-weight: 600;
            }

            .review_score_star{

                .review_point
                {
                    margin-top: 20px;
                    font-size: 40px;
                    color: #ea1e30;
                    text-align: center;
                }

                .review_score_star_des
                {
                    margin-top: 10px;
                    font-size: 25px;
                    margin-left: 25%;
                    text-align: center;
                    i {
                        float: left;
                        font-size: 33px;
                        margin-right: 2px;
                        display: block;
                        color: #fff;
                    }

                    .checked {
                        color: #febb02;
                    }

                    .checked_out {
                        color: #dfe1e5;
                    }
                }
            }

            .review_total_des{
                margin-top: 60px;
                font-size: 14px;
                text-align: center;
                color: #535153;
            }
        }

        .review_score_detail
        {   
            padding-left: 20px;
            padding-right: 20px;
            @media screen and (max-width: 600px){
                border: none;
                margin-top: 30px;
                padding-top: 20px;
                border-top: 1px solid #dfe1e5;
            }
            margin-top: 30px;

            .review_score_overview{
                display: block;
                margin-bottom: 15px;
                @media screen and (max-width: 600px){
                    // margin-left: 18%;
                }
                .review_content
                {
                    height: 40px;
                    border: 2px solid #e6e6e6;
                    border-radius: 20px;
                    background-color: #fff;
                    .review_point
                    {
                        float: left;
                        font-size: 16px;
                        font-weight: 600px;
                        text-align: center;
                        color: rgb(75, 71, 71);
                        margin-right: 3px;
                        margin-top: 7px;
                        margin-left: 40px;
                    }
            
                    .review_score_star
                    {
                        float: left;
                        margin-right: 15px;
                        margin-top: 4px;
                        i {
                            font-size: 22px;
                            position: relative;
                            top: 2px;
                        }
            
                        .checked {
                            color: #febb02;
                        }
            
                        .checked_out {
                            color: #dfe1e5;
                        }
                    }

                    .review_score_label{
                        font-size: 16px;
                        margin-top: 6px;
                    }
                }
            }
        }

        .review_score_recommand{
            @media screen and (max-width: 600px){
                margin-top: 20px;
                border-top: 1px solid #dfe1e5;
            }
            .review_score_recommand_title{
                text-align: center;
                font-size: 22px;
                font-weight: 600;
                padding-top: 55px;
                @media screen and (max-width: 600px){
                    padding-top: 20px;
                }
            }

            .circle-wrap {
                margin: 50px auto;
                margin-top: 20px;
                width: 150px;
                height: 150px;
                background: #e2e2e2;
                border-radius: 50%;
            }
            .circle-wrap .circle .mask,
            .circle-wrap .circle .fill {
                width: 150px;
                height: 150px;
                position: absolute;
                border-radius: 50%;
            }
            .circle-wrap .circle .mask {
                clip: rect(0px, 150px, 150px, 75px);
            }
            .circle-wrap .inside-circle {
                width: 130px;
                height: 130px;
                border-radius: 50%;
                background: #fff;
                line-height: 130px;
                text-align: center;
                margin-top: 10px;
                margin-left: 10px;
                position: absolute;
                z-index: 100;
                font-weight: 700;
                font-size: 2em;
            }
        }
    }
}
