//////////////////review//////////////////
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

.user_review_block {
    clear: left;
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    .user_review_left
    {
        width: auto;
        height: auto;
        display: block;
        position: relative;
        float: left;
        .user_avatar {
            float: left;
            border-radius: 2px;
            margin-left: 0px;
            // border-style: ridge;
            img{ 
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
                max-width: 80px;
                max-height: 80px;
            }
        }
    }
    
    .user_review_cotent
    {
        display: block;
        width: auto;
        height: auto;
        margin-left: 90px;
        padding-left: 10px;
        padding-top: 10px;
        padding-right: 20px;
        padding-bottom: 40px;
        background-color: #f8f9fa;
        border-radius: 5px;

        .user_review_title{
            font-size: 20px;;
            font-weight: 600;
        }

        .user_review_score_star
        {
            font-size: 20px;
            margin-top: 10px;
            margin-bottom: 5px;
            .review_point{
                float: left;
                margin-right: 8px;
            }
            
            .review_score_star
            {
                .fa {
                    float: left;
                    margin-top: 4px;
                    margin-right: 6px;
                }

                .checked {
                    color: #feb100;
                }

                .checked_out {
                    color: #c8c8c8;
                }
            }
        }
        
        .user_review_status{
            font-size: 14px;
            margin-left: 180px;
            color: #3c3d3d;
            padding-top: 6px;
        }

        .user_review_pros
        {
            clear: both;
            margin-top: 15px;
            .user_review_pros_label{
                .fa {
                    position: relative;
                    margin-right: 10px;
                    padding-top: 3px;
                    float: left;
                }

                .checked {
                    color: green;
                    font-size: 14px;;
                }
                font-size: 14px;;
                font-weight: 400;
            }

            .user_review_pros_content{
                font-size: 14px;
                margin-left: 30px;
                margin-top: 10px;
                color: #3c3d3d;
            }
        }

        .user_review_cons{
            margin-top: 15px;
            .user_review_cons_label{
                font-size: 14px;;
                font-weight: 400;
                .fa {
                    position: relative;
                    margin-right: 10px;
                    padding-top: 3px;
                    float: left;
                }

                .checked {
                    color: red;
                    font-size: 14px;;
                }
            }

            .user_review_cons_content{
                font-size: 14px;
                margin-left: 30px;
                margin-top: 10px;
                color: #3c3d3d;
            }
        }

        .user_review_body {
            margin-top: 15px;
            font-size: 14px;
            margin-bottom: 30px;
            display: block;
            color: black;
        }

        .review_info{
            margin-top: 15px;
            margin-bottom: 20px;
            .review_toolbar {
                display: block;
                float: left;
                font-size: 16px;
                i {
                    position: relative;
                    margin-right: 20px;
                    font-size: 18px;
                }
    
                .checked {
                    color: #a8a3a3;
                }
            }
        }

        .review_feedback{
            .report_button{
                margin-left: 50%;
                float: left;
                button{
                    border: none;
                    background-color: #f8f9fa;
                    font-size: 14px;
                    i{
                        font-size: 18px;
                        margin-right: 2px;
                        color: #feb100;
                    }
        
                    .checked {
                        color: #feb100;
                    }
                }
            }
            .share_button{
                float: right;
                button{
                    background-color: #f8f9fa;
                    font-size: 14px;
                    border: none;
                    i {
                        position: relative;
                        font-size: 18px;
                        margin-right: 2px;
                        color: #feb100;
                    }
        
                    .checked {
                        color: #feb100;
                    }
                }
            }
        }
    }
    clear: left;
    clear: right;
}