// Place all the styles related to the CompanyReplyInterviewQuestions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.company_reply_interview_question_block {
    width: 100%;
    height: 100%;
    background-color: #fff;
    margin-top: 15px;
    .company_reply_interview_question_left
    {
        width: auto;
        height: auto;
        display: block;
        position: relative;
        float: left;
    }
    
    .company_reply_interview_question_cotent
    {
        display: block;
        width: auto;
        height: auto;
        margin-left: 45px;
        padding: 15px;
        background-color: #f8f9fa;
        border-radius: 4px;
        padding-bottom: 10px;
        min-height: 44px;
        .company_reply_interview_question_time{
            margin-bottom: 10px;
            font-size: 13px;
            color: #6b6c6d;
        }
        
        .company_reply_interview_question_body {
            font-size: 15px;
            word-break: break-word;
        }

        .reply_interview_question_react_container{
            .reply_interview_question_react_block{
                display: inline-block;
                width: 80%;
                .reply_interview_question_like_block{
                    display: inline-block;
                    width: 50%;
                    button{
                        border: none;
                        background-color: #f8f9fa;
                        color: #555;
                        font-size: 13px;
                        &:focus {outline:none;}
                    } 
                    .like_btn_highlight
                    {
                        a{
                            font-size: 13px;
                            color: #666;
                            @media screen and (max-width: 600px){
                                display: none;
                            }
                        }
        
                        i{
                            font-size: 20px;
                            position: relative;
                            top: 3px;
                            color: #1473e6;
                        }
                        span{
                            font-size: 13px;
                            color: #666;
                        }
                    }
        
                    .like_btn
                    {
                        a{
                            font-size: 13px;
                            color: #666;
                            @media screen and (max-width: 600px){
                                display: none;
                            }
                        }
        
                        i{
                            font-size: 20px;
                            position: relative;
                            top: 3px;
                            color: #666;
                        }
                        span{
                            font-size: 13px;
                            color: #666;
                        }
                    }
                }
            
                .reply_interview_question_dislike_block{
                    display: inline-block;
                    button{
                        border: none;
                        background-color: #f8f9fa;
                        color: #555;
                        font-size: 13px;
                        &:focus {outline:none;}
                    } 
                    .dislike_btn_highlight
                    {
                        a{
                            font-size: 13px;
                            color: #666;
                            @media screen and (max-width: 600px){
                                display: none;
                            }
                        }
        
                        i{
                            font-size: 20px;
                            position: relative;
                            top: 5px;
                            color: #1473e6;
                        }
                        span{
                            font-size: 13px;
                            color: #666;
                        }
                    }
        
                    .dislike_btn
                    {
                        a{
                            font-size: 13px;
                            color: #666;
                            @media screen and (max-width: 600px){
                                display: none;
                            }
                        }
        
                        i{
                            font-size: 20px;
                            position: relative;
                            top: 5px;
                            color: #666;
                        }
                        span{
                            font-size: 13px;
                            color: #666;
                        }
                    }
                }
            }
        
            .reply_interview_question_report_block{
                display: inline-block;
                .report_btn{
                    border: none;
                    background-color: #f8f9fa;
                    color: #555;
                    font-size: 13px;
                    &:focus {outline:none;}
        
                    button{
                        border: none;
                        background-color: #f8f9fa;
                        color: #555;
                        font-size: 13px;
                        &:focus {outline:none;}
                    } 
                    a{
                        font-size: 13px;
                        color: #666;
                        @media screen and (max-width: 600px){
                            display: none;
                        }
                    }
        
                    i{
                        font-size: 23px;
                        position: relative;
                        top: 5px;
                    }
                    span{
                        font-size: 13px;
                        color: #666;
                    }
                }
            }
        }
    }
    clear: left;
    clear: right;
}