//////////////////review//////////////////
//@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

.user_review_block {
    clear: left;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #dfe1e5;
    background-color: #fff;
    border-radius: 4px;
    padding: 15px;
    .user_review_intro{
        height: auto;
        .user_review_intro_left
        {
            float: left;
            width: 50px;
            height: 100%;
            .user_avatar_small {
                display: block;
                text-align: center;
                margin-bottom: 5px;
                margin-top: 3px;
                max-width: 40px;
                .user_avatar_small_text{
                    padding-bottom: 8px;
                    .user_name_label{
                        border-radius: 50%;
                        background-color: #dfe1e5;
                        padding: 7px;
                        padding-left: 12px;
                        padding-right: 12px;
                        position: relative;
                        top: 3px;
                        color: #fee;
                    }
                }
                .checked_0{
                    background-color: #888;
                }
                .checked_1{
                    .user_name_label{
                        background-color: #7a20a1;
                    }
                }
                .checked_2{
                    .user_name_label{
                        background-color: #778f99;
                    }
                }
                .checked_3{
                    .user_name_label{
                        background-color: #00579c;
                    }
                }
                .checked_4{
                    .user_name_label{
                        background-color: #1877f2;
                    }
                }
                .checked_5{
                    .user_name_label{
                        background-color: #c2175b;
                    }
                }
                .checked_6{
                    .user_name_label{
                        background-color: #00887a;
                    }
                }
                .checked_7{
                    .user_name_label{
                        background-color: #aa47bc;
                    }
                }
                .checked_8{
                    .user_name_label{
                        background-color: #f24e1b;
                    }
                }
                .checked_9{
                    .user_name_label{
                        background-color: #689f39;
                    }
                }
                .user_avatar_small_img{
                    text-align: left;
                    img{
                        border: 1px solid #dfe1e5;
                        width: 35px;
                        height: 35px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                }
                .user_avatar_small_default{
                    width: 33px;
                    padding: 6px;
                    padding-left: 12px;
                    padding-right: 12px;
                    position: relative;
                    font-size: 14px;
                    border-radius: 50%;
                    color: #ffe;
                    text-align: center;
                }
            }

            .user_info{
                padding-top: 5px;
                max-width: 40px;
                text-align: left;
                color: #555;
                .user_name{
                    font-weight: 550;
                    a{
                        word-break: break-word;
                        font-size: 11px;
                        text-decoration: none !important;overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 1; /* number of lines to show */
                        -webkit-box-orient: vertical;
                    }
                }
                .user_time_review{
                    a{
                        word-break: break-word;
                        font-size: 10px;
                        text-decoration: none !important;overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 1; /* number of lines to show */
                        -webkit-box-orient: vertical;
                    }
                }
            }
        }
        .user_review_intro_right{
            margin-left: 50px;
            background-color: #fff;
            .user_review_score_star
            {
                .review_point{
                    margin-right: 5px;
                    font-size: 20px;
                    position: relative;
                    top: -5px;
                    color: #ea1e30;
                    float: left;    
                }
                
                .review_score_star
                {
                    a{
                        margin-right: 2px;
                        font-size: 20px;
                        position: relative;
                        top: -5px;
                        color: #ea1e30;
                        font-weight: 600;
                    }
                    i{
                        /*float: left;*/
                        margin-top: 4px;
                        font-size: 20px;
                        position: relative;
                        top: -3px;
                        margin-right: -4px !important;
                    }

                    .checked {
                        color: #febb02;
                    }

                    .checked_out {
                        color: #999;
                    }
                } 
            }

            .user_review_title{
                display: block;
                font-size: 18px;
                font-weight: 550;
                color: #444;
            }
            .user_review_status{
                margin-top: 10px;
                font-size: 13px;
                color: #666;
                font-weight: 550px;
            }
            
            .user_review_cotent
            {
                display: block;
                height: auto;
                background-color: #fff;
                margin-top: 10px;
                .user_review_body {
                    font-size: 14px;
                    display: block;
                    color: #111111;
                }

                .user_review_pros
                {
                    padding-top: 10px;
                    .user_review_pros_label{
                        color: #555;
                        i {
                            position: relative;
                            margin-right: 5px;
                            float: left;
                            font-size: 18px;
                            top: 3px;
                        }
        
                        .checked {
                            color: green;
                        }
                        font-size: 16px;;
                        font-weight: 400;
                    }
        
                    .user_review_pros_content{
                        font-size: 14px;
                        margin-top: 10px;
                        color: #3c3d3d;
                    }
                }
        
                .user_review_cons{
                    padding-top: 10px;
                    .user_review_cons_label{
                        font-size: 16px;;
                        font-weight: 400;
                        color: #555;
                        i {
                            position: relative;
                            margin-right: 5px;
                            padding-top: 0px;
                            float: left;
                            font-size: 18px;
                            top: 3px;
                        }
        
                        .checked {
                            color: red;
                        }
                    }
        
                    .user_review_cons_content{
                        font-size: 14px;
                        margin-top: 10px;
                        color: #3c3d3d;
                    }
                }
        
                .review_info{
                    margin-top: 20px;
                    border-top: 1px solid #eeeddd;
                    padding-bottom: 10px;
                    padding-top: 10px;
                    .review_toolbar {
                        .review_reply_block{
                            display: block;
                            @media screen and (max-width: 600px){
                                width: 33%;
                            }
                            width: 120px;
                            float: left;
                            .reply_btn
                            {
                                border: none;
                                background-color: #fff;
                                color: #555;
                                font-size: 13px;
                                &:focus {outline:none;}

                                button{
                                    border: none;
                                    background-color: #fff;
                                    color: #555;
                                    font-size: 13px;
                                    &:focus {outline:none;}
                                } 
                                a{
                                    font-size: 13px;
                                    color: #666;
                                    @media screen and (max-width: 600px){
                                        display: none;
                                    }
                                }

                                i{
                                    font-size: 18px;
                                    position: relative;
                                    top: 5px;
                                }
                                span{
                                    font-size: 13px;
                                    color: #666;
                                }
                            }
                        }

                        .review_like_block{
                            width: 120px;
                            @media screen and (max-width: 600px){
                                width: 33%;
                            }
                            float: left;
                            button{
                                border: none;
                                background-color: #fff;
                                color: #555;
                                font-size: 13px;
                                &:focus {outline:none;}
                            } 
                            .like_btn_highlight
                            {
                                a{
                                    font-size: 13px;
                                    color: #666;
                                    @media screen and (max-width: 600px){
                                        display: none;
                                    }
                                }

                                i{
                                    font-size: 18px;
                                    position: relative;
                                    top: 3px;
                                    color: #1877f2;
                                }
                                span{
                                    font-size: 13px;
                                    color: #666;
                                }
                            }
    
                            .like_btn
                            {
                                a{
                                    font-size: 13px;
                                    color: #666;
                                    @media screen and (max-width: 600px){
                                        display: none;
                                    }
                                }

                                i{
                                    font-size: 18px;
                                    position: relative;
                                    top: 3px;
                                    color: #666;
                                }
                                span{
                                    font-size: 13px;
                                    color: #666;
                                }
                            }
                        }
                        
                        .review_dislike_block{
                            button{
                                border: none;
                                background-color: #fff;
                                color: #555;
                                font-size: 13px;
                                &:focus {outline:none;}
                            } 
                            .dislike_btn_highlight
                            {
                                a{
                                    font-size: 13px;
                                    color: #666;
                                    @media screen and (max-width: 600px){
                                        display: none;
                                    }
                                }

                                i{
                                    font-size: 18px;
                                    position: relative;
                                    top: 5px;
                                    color: #1877f2;
                                }
                                span{
                                    font-size: 13px;
                                    color: #666;
                                }
                            }
            
                            .dislike_btn
                            {
                                a{
                                    font-size: 13px;
                                    color: #666;
                                    @media screen and (max-width: 600px){
                                        display: none;
                                    }
                                }

                                i{
                                    font-size: 18px;
                                    position: relative;
                                    top: 5px;
                                    color: #666;
                                }
                                span{
                                    font-size: 13px;
                                    color: #666;
                                }
                            }
                        }
                    }
                }
            }
        }
        .new_reply_review_form_internal{
            margin-left: 50px;
            padding-top: 10px;
            padding-bottom: 10px;
            display: none;
            .new_reply_review_content{
                .new_reply_review_input_review{
                    width: 80%;
                    float: left;
                    .new_reply_review_form_input_review{
                        width: 100%;
                        border-radius: 4px;
                        border: 2px solid #e6e7e9;
                    }
                    .form-control{
                        min-height: 30px;
                        height: auto;
                        margin-left: 0px;
                        width: 100%;
                        border: 1px solid #dfe1e5;
                        border-radius: 4px;
                        overflow: auto;
                        &:focus{
                            border: 2px solid #1877f2;
                            border-radius: 4px;
                        }
                    }
                }
            }
            .new_reply_review_submit{
                width: 19%;
                float: right;
                .new_reply_review_form_submit{
                    width: 100%;
                    height: 55px;
                    background-color: #fff;
                    border: 1px solid #1877f2;
                    border-radius: 4px;
                    color: #1877f2;
                    i{
                        font-size: 20px;
                    }
                    &:hover{
                        background-color: #1877f2;
                        color: #fff;
                    }
                }
            }
        }
    }
    clear: both;
}

////////////////////new///////////////////
.new_review_form
{
    margin-bottom: 50px;
    .new_review_title_block{
        margin-top: 20px;
        margin-bottom: 20px;
        @media screen and (max-width: 600px){
            margin-top: 0px;
        }
        .new_review_title{
            float: left;
            max-width: 80%;
            h3{
                font-size: 22px;
                color: #333;
                text-align: left;
                font-weight: 600;
            }
            a{
                font-size: 16px;
            }
        }
        .company_review_image{
            margin-top: 30px;
            float: right;
            @media screen and (max-width: 600px){
                margin-top: 20px;
            }
            img{
                max-width: 80px;
                max-height: 80px;
                border: 1px solid #dfe1e5;
                @media screen and (max-width: 600px){
                    max-width: 50px;
                    max-height: 50px;
                }
            }
        }
    }

    .new_review_title_sub{
        clear: both;
        padding-top: 5px;
        span{
            font-size: 13px;
            text-align: left;
            color: #333;
            font-style: italic;
        }
    }

    .new_review_section
    {
        border: 1px solid #e5e7ec;
		padding: 15px;
		border-radius: 4px;
		@media screen and (max-width: 600px){
			border: none;
			border-top: 1px solid #e5e7ec;
			padding: 0px;
			padding-top: 20px;
			border-radius: 0px;
		}
        width: 100%;
        height: auto;
        margin-top: 20px;
        .new_review_label_sub{
            font-size: 14px;
            font-style: italic;
            padding-bottom: 20px;
            color: #1877f2;
        }
        .new_review_content{
		
            .new_review_label{
                font-weight: 550;
                font-size: 16px;
                color: #333;
                text-align: left;
            }
            .new_review_input_switch{
                .new_review_input_switch_button{
                    @mixin switch($res: 'sm') {
                        $index: 1rem;
                        $mainVal: 1rem;
                      
                        @if $res == 'md' {
                            $index: 2rem;
                            $mainVal: 1.5rem;
                        } @else if $res == 'lg' {
                            $index: 3rem;
                            $mainVal: 2rem;
                        } @else if $res == 'xl' {
                            $index: 4rem;
                            $mainVal: 2.5rem;
                        }
                    
                        .custom-control-label {
                            // padding-top: 2px;
                            padding-left: #{$index};
                            font-weight: 600;
                            font-size: 16px;
                        }
                    
                        .custom-control-label::before {
                            height: $mainVal;
                            width: calc(#{$index} + 0.75rem);
                            border-radius: $mainVal * 2;
                        }
                    
                        .custom-control-label::after {
                            width: calc(#{$mainVal} - 4px);
                            height: calc(#{$mainVal} - 4px);
                            border-radius: calc(#{$index} - (#{$mainVal} / 2));
                        }
                    
                        .custom-control-input:checked ~ .custom-control-label::after {
                            transform: translateX(calc(#{$mainVal} - 0.25rem));
                        }
                    }
                    
                    // YOU CAN PUT ALL RESOLUTION HERE
                    // sm - DEFAULT, md, lg, xl
                    .custom-switch.custom-switch-sm {
                        @include switch();
                    }
                    
                    .custom-switch.custom-switch-md {
                        @include switch('md');
                    }
                    
                    .custom-switch.custom-switch-lg {
                        @include switch('lg');
                    }
                }
                .new_review_input_note{
                    padding-left: 4.3rem;
                    padding-top: 5px;
                    font-size: 12px;
                }
            }

            .new_review_input{
                width: 100%;
                height: auto;
                font-size: 14px;
                margin-bottom: 20px;

                .new_review_input_radio{
                    padding-top: 5px;
                    padding-bottom: 5px;
                    input[type=radio], input[type=checkbox] {
                        display:none;
                    }
                
                    input[type=radio] + label, input[type=checkbox] + label {
                        display: inline-block;
                        min-width: 100px;
                        @media screen and (max-width: 600px){
                            min-width: 50%;
                        }
                        padding: 4px 12px;
                        margin-bottom: 0;
                        font-size: 14px;
                        color: #333;
                        text-align: center;
                        border: 1px solid #dfe1e5;
                    }
                
                    input[type=radio]:checked + label, input[type=checkbox]:checked + label{
                        background-color:#1877f2;
                        border: 1px solid #dfe1e5;
                        color: #fff;
                    }
                }

                .form-control{
                    margin-left: 0px;
                    height: 40px;
                    width: 100%;
                    border: 1px solid #dfe1e5;
                    border-radius: 4px;
                    &:focus{
                        border: 2px solid #1877f2;
                        border-radius: 4px;
                    }
                }
                .form-control-rich-text{
                    min-height: 150px;
                    height: auto;
                    margin-left: 10px;
                    width: 100%;
                    border: 1px solid #dfe1e5;
                    border-radius: 4px;
                }
            }
			
			.form-control{
				min-height: 40px;
				height: auto;
				margin-left: 0px;
				width: 100%;
				border: 1px solid #dfe1e5;
				border-radius: 4px;
				overflow: auto;
                &:focus{
                    border: 2px solid #1877f2;
                    border-radius: 4px;
                }
			}
        }

        .new_review_work_env_content{
            padding-bottom: 10px;
            .new_review_work_env_label{
                font-weight: 550;
                font-size: 16px;
                color: #333;
                text-align: left;
            }

            .new_review_work_env_input{
                left: 0px;
                margin-top: 5px;
                margin-bottom: 20px;
                width: 100%;
                height: auto;
                padding-left: 0px;
                font-size: 14px;
                .new_review_form_work_env_input{
                    display: none;
                }
                .new_review_work_env_star_block{
                    button{
                        margin-right: 5px;
                        border-radius: 4px;
                        border: none;
                        color: #666;
                        &:focus {outline:none;}
                        i{
                            padding: 3px;
                        }
                        &:hover{
                            background-color: #1877f2;
                            color: #fff;
                        }
                    }
                }
            }
        }

        .new_review_salary_content{
            padding-bottom: 10px;
            .new_review_salary_label{
                font-weight: 550;
                font-size: 16px;
                color: #333;
                text-align: left;
            }

            .new_review_salary_input{
                left: 0px;
                margin-top: 5px;
                margin-bottom: 20px;
                width: 100%;
                height: auto;
                padding-left: 0px;
                font-size: 14px;
                .new_review_form_salary_input{
                    display: none;
                }
                .new_review_salary_star_block{
                    button{
                        margin-right: 5px;
                        border-radius: 4px;
                        border: none;
                        color: #666;
                        &:focus {outline:none;}
                        i{
                            padding: 3px;
                        }
                        &:hover{
                            background-color: #1877f2;
                            color: #fff;
                        }
                    }
                }
            }
        }

        .new_review_ot_content{
            padding-bottom: 10px;
            .new_review_ot_label{
                font-weight: 550;
                font-size: 16px;
                color: #333;
                text-align: left;
            }

            .new_review_ot_input{
                left: 0px;
                margin-top: 5px;
                margin-bottom: 20px;
                width: 100%;
                height: auto;
                padding-left: 0px;
                font-size: 14px;
                .new_review_form_ot_input{
                    display: none;
                }
                .new_review_ot_star_block{
                    button{
                        margin-right: 5px;
                        border-radius: 4px;
                        border: none;
                        color: #666;
                        &:focus {outline:none;}
                        i{
                            padding: 3px;
                        }
                        &:hover{
                            background-color: #1877f2;
                            color: #fff;
                        }
                    }
                }
            }
        }

        .new_review_manager_content{
            padding-bottom: 10px;
            .new_review_manager_label{
                font-weight: 550;
                font-size: 16px;
                color: #333;
                text-align: left;
            }

            .new_review_manager_input{
                left: 0px;
                margin-top: 5px;
                margin-bottom: 20px;
                width: 100%;
                height: auto;
                padding-left: 0px;
                font-size: 14px;
                .new_review_form_manager_input{
                    display: none;
                }
                .new_review_manager_star_block{
                    button{
                        margin-right: 5px;
                        border-radius: 4px;
                        border: none;
                        color: #666;
                        &:focus {outline:none;}
                        i{
                            padding: 3px;
                        }
                        &:hover{
                            background-color: #1877f2;
                            color: #fff;
                        }
                    }
                }
            }
        }

        .new_review_career_content{
            padding-bottom: 10px;
            .new_review_career_label{
                font-weight: 550;
                font-size: 16px;
                color: #333;
                text-align: left;
            }

            .new_review_career_input{
                left: 0px;
                margin-top: 5px;
                margin-bottom: 20px;
                width: 100%;
                height: auto;
                padding-left: 0px;
                font-size: 14px;
                .new_review_form_career_input{
                    display: none;
                }
                .new_review_career_star_block{
                    button{
                        margin-right: 5px;
                        border-radius: 4px;
                        border: none;
                        color: #666;
                        &:focus {outline:none;}
                        i{
                            padding: 3px;
                        }
                        &:hover{
                            background-color: #1877f2;
                            color: #fff;
                        }
                    }
                }
            }
        }

        .new_review_total_score_content{
            .new_review_score_label{
                font-weight: 550;
                font-size: 16px;
                color: #333;
                text-align: left;
            }

            .new_review_score_input{
                left: 0px;
                margin-top: 5px;
                width: 100%;
                height: auto;
                padding-left: 0px;
                font-size: 14px;
                .new_review_form_score_input{
                    display: none;
                }
                .new_review_score_star_block{
                    button{
                        margin-right: 5px;
                        border-radius: 4px;
                        border: none;
                        color: #666;
                        &:focus {outline:none;}
                        i{
                            padding: 3px;
                        }
                        &:hover{
                            background-color: #1877f2;
                            color: #fff;
                        }
                    }
                }
            }
        }

        .new_review_description{
            min-height: 30px;
            margin-bottom: 10px;
            font-style: italic;
            a{
                font-size: 14px;
                margin-right: 10px;
                color: #555;
                i{
                    margin-left: 1px;
                    font-size: 13px;
                    position: relative;
                    top: 2px;
                }
            }
        }
    }

    .new_review_section_content{
        border: 1px solid #e5e7ec;
		padding: 15px;
        .new_review_label_sub{
            font-size: 14px;
            font-style: italic;
            padding-bottom: 20px;
            color: #1877f2;
        }
		border-radius: 4px;
		@media screen and (max-width: 600px){
			border: none;
			border-top: 1px solid #e5e7ec;
			padding: 0px;
			padding-top: 20px;
			border-radius: 0px;
		}
        width: 100%;
        height: auto;
        margin-top: 20px;
        padding-top: 20px;
        .new_review_content{
            .new_review_label{
                font-weight: 550;
                font-size: 16px;
                color: #333;
                text-align: left;
            }
            .new_review_input{
                left: 0px;
                margin-top: 5px;
                margin-bottom: 20px;
                width: 100%;
                .form-control{
                    margin-left: 0px;
                    height: 40px;
                    width: 100%;
                    border: 1px solid #dfe1e5;
                    border-radius: 4px;
                    &:focus{
                        border: 2px solid #1877f2;
                        border-radius: 4px;
                    }
                }
            }
        }
    }

    .new_review_submit{
        width: 100%;
        padding-top: 20px;
        padding-left: 0px;
        .new_review_form_submit{
            height: 50px;
            width: 100%;
            border-radius: 4px;
            background: #1877f2;
            font-size: 16px;
            border: none;
            cursor: pointer;
            text-align: center;
            color: #fff;
            
            &:hover{
                background-color: #1877f2;
            }
        }
    }

    .review_policy{
        margin-top: 20px;
        border: 1px solid #dfe1e5;
        padding: 15px;
        border-radius: 4px;
        .review_policy_title{
            a{
                border-left: 5px solid #febb02;
                text-align: left;
                font-size: 22px;
                color: #333;
                font-weight: 550;
                padding-left: 5px;
            }
            padding-bottom: 5px;
            border-bottom: 1px solid #dfe1e5;
        }

        .review_policy_content{
            .review_policy_content_index{
                font-size: 16px;
                padding-top: 10px;
                // padding-bottom: 5px;
            }

            .review_policy_content_link{
                font-weight: 600;
                font-size: 16px;
                padding-top: 15px;
            }
        }
    }
}