//////////////////join//////////////////
.company_policy
{
    .company_policy_overview_left
    {
        background-color: #fff;
        border: 1px solid #dfe1e5;
        border-radius: 2px;
        padding: 20px;
        .company_policy_title
        {
            font-size: 24px;
            margin-left: 0;
            margin-bottom: 10px;
            font-weight: 600;
        }

        .company_policy_policy{
            font-size: 14px;
            height: auto;
        }
    }

    .company_policy_overview_block_right{
        background-color: #fff;
        .company_policy_overview_block_right_overview{
            padding: 20px;
            min-height: 400px;
            display: block;
            background-color: #fff;
            border: 1px solid #dfe1e5;
            border-radius: 2px;

            .company_policy_overview_label{
                span{
                    border-bottom: 3px solid #febb02;
                    font-size: 20px;
                    padding-top: 5px;
                    padding-right: 5px;
                    color: #444;
                    font-weight: 600;
                }
                margin-bottom: 20px;
            }

            .company_policy_overview_right{
                min-height: 80px;
                .company_policy_overview_right_title{
                    a{
                        font-weight: 600;
                        font-size: 16px;
                    }
                    
                    i{
                        position: relative;
                        top: 20px;
                        color: #1877f2;
                        font-size: 33px;
                        margin-right: 12px;
                    }
                }
                .company_policy_overview_right_des{
                    font-size: 14px;
                    padding-left: 50px;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    color: #515353;
                }
            }
        }

        .company_policy_overview_block_right_job{
            margin-top: 20px;
            margin-bottom: 20px;
            padding: 20px;
            border: 1px solid #e3e5e9;
            background-color: #fff;
            min-height: 400px;
            display: block;
            border-radius: 2px;
            .company_job_label{
                span{
                    border-bottom: 3px solid #febb02;
                    font-size: 20px;
                    padding-top: 5px;
                    padding-right: 5px;
                    color: #444;
                    font-weight: 600;
                }
            }
            .company_job_des{
                margin-top: 20px;
                margin-bottom: 20px;
                .company_job_block{
                    padding-top: 15px;
                    padding-bottom: 10px;
                    min-height: 50px;
                    .company_avatar{
                        img{
                            max-width: 60px;
                            max-height: 60px;
                        }
                        float: left;
                    }
                    .company_job_title{
                        padding-bottom: 0px;
                        // padding-top: 10px;
                        margin-left: 70px;
                        min-height: 30px;
                        a:link{
                            font-size: 16px;
                            font-weight: 600;
                            text-decoration: none !important;overflow: hidden;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-line-clamp: 2; /* number of lines to show */
                            -webkit-box-orient: vertical;
                        }
                    }
                    .user_job_date{
                        margin-left: 70px;
                        font-size: 13px;
                    }
                }
            }
        }
    }
}