//////////////////job//////////////////
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

//////////////////////index/////////////////////
.user_job_block {
    clear: left;
    width: 100%;
    height: 180px;
    background-color: #fff;
    border: 1px solid #ece9e9;
    margin-bottom: 4px;
    border-radius: 2px;
    padding: 0px !important;
    &:hover{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        // border: 1px solid #629fdb;
    }

    .user_job_left
    {
        width: 8%;
        height: auto;
        margin: 12px;
        padding-top: 10px;
        display: block;
        position: relative;
        float: left;
        .user_avatar {
            float: left;
            border-radius: 2px;
            // border-style: ridge;
            img{ 
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
                max-width: 100px;
                max-height: 100px;
            }
        }
    }

    .user_job_middle{
        width: 70%;
        float: left;
        padding: 10px;
        margin-left: 20px;
        padding-top: 25px;

        .user_job_title{
            a:link{
                text-decoration: none !important ;
                font-size: 20px;
            }
            margin-bottom: 20px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1; /* number of lines to show */
            -webkit-box-orient: vertical;
        }

        .user_job_description{
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2; /* number of lines to show */
            -webkit-box-orient: vertical;
            font-size: 14px;
        }
        .user_job_location{
            margin-top: 20px;
            float: left;
            font-size: 15px;
            i{
                font-size: 20px;
                margin-right: 5px;
                color: #8a8888;
                position: relative;
                position: relative;
                top: 5px;
            }
        }

        .user_job_salary{
            margin-top: 20px;
            font-size: 15px;
            color: #4fb87b;
            float: left;
            i{
                margin-left: 20px;
                margin-right: 5px;
                font-size: 20px;
                color: #8a8888;
                position: relative;
                top: 5px;
            }
        }
        
    }

    .user_job_right{
        width: 15%;
        padding-top: 10px;
        background-color: green($color: #000000);
        float: right;
        .apply_job_button{
            padding: 10px;
            padding-top: 11px;
            button{
                padding: 6px;
                height: 33px;
                width: 140px;
                margin-right: 10px;
                background: #5850ec;
                font-size: 14px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                text-align: center;
                color: #fff;
                &:hover{
                    background-color: #4284f4;
                }
            }
        }
        
        .user_job_date{
            font-size: 13px;
            color: #8a8888;
            padding-top: 70px;
            text-align: left;
            margin-left: 10px;
        }
    }
    clear: left;
    clear: right;
}

//////////////////////show/////////////////////
.job_overview{
    clear: both;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    height: 220px;
    display: block;
    margin-top: 20px;
    background-color: #fff;
    // padding-left: 15%;
    .job_overview_left{
        padding-top: 30px;
        min-width: 800px;
        .user_avatar {
        display: block;
        margin-right: auto;
        width: 150px;
        height: 200px;
            img {
                max-width: 150px;
                max-height: 150px;
                border: 1px solid #eeeeee;
                border-radius: 5px;
                margin-left: 20px;
                margin-top: 10px;
            }
            float: left;
            margin-right: 40px;
        }

        .job_title
        {
            font-size: 24px;
        }
        .company_name{
            font-size: 18px;
            padding-top: 5px;
        }
        .job_block_info{
            padding-left: 140px;
            font-size: 14px;
            padding-top: 10px;
            .job_shoft_info_location{
                i{
                    position: relative;
                    font-size: 20px;
                    margin-right: 10px;
                    margin-bottom: 5px;
                    top: 5px;
                }
            }

            .job_shoft_info_salary{
                i{
                    position: relative;
                    font-size: 20px;
                    margin-right: 10px;
                    margin-bottom: 5px;
                    top: 5px;
                }
            }

            .job_shoft_info_time{
                i{
                    position: relative;
                    font-size: 20px;
                    margin-right: 10px;
                    margin-bottom: 5px;
                    top: 5px;
                }
            }
        }
        float: left;
    }

    .apply_job_button{
        padding-top: 20px;
        button {
            padding: 15px;
            width: 180px;
            background: #5850ec;
            font-size: 16px;
            border: 1px solid #5850ec;
            cursor: pointer;
            text-align: center;
            color: #fff;
            border-radius: 5px;
        }
    
        button:hover {
            background: #4284f4;
        }
        i{
            font-size: 50px;
            position: relative;
            top: 20px;
            background-color: #ece9e9;
            border-radius: 5px;
            margin-left: 10px;
        }
    }
}

.job_block_total{
    margin-top: 20px;
    .job_block_left{
        clear: both;
        width: 66%;
        background-color: #fff;
        border: 1px solid #eeeeee;
        border-radius: 5px;
        padding: 20px;
        .job_benefit{
            border-radius: 5px;
            .job_section{
                font-size: 22px;
            }
            .job_benefit_1{
                padding-top: 20px;
                i{
                    position: relative;
                    font-size: 33px;
                    margin-right: 10px;
                    margin-bottom: 10px;
                    top: 10px;
                }
            }

            .job_benefit_2{
                i{
                    position: relative;
                    font-size: 33px;
                    margin-right: 10px;
                    margin-bottom: 10px;
                    top: 10px;
                }
            }

            .job_benefit_3{
                i{
                    position: relative;
                    font-size: 33px;
                    margin-right: 10px;
                    margin-bottom: 5px;
                    top: 10px;
                }
            }
        }
        
        .job_description{
            margin-top: 30px;
            padding-top: 10px;
            border-radius: 5px;
            .job_section{
                font-size: 22px;
            }
            .job_content{
                margin-top: 20px;

            }
        }

        .job_requirement{
            margin-top: 30px;
            padding-top: 10px;
            border-radius: 5px;
            .job_section{
                font-size: 22px;
            }
            .job_content{
                margin-top: 20px;

            }
        }

        .apply_job_button{
            margin-top: 50px;
            margin-bottom: 50px;
            button {
                padding: 15px;
                width: 100%;
                background: #5850ec;
                font-size: 16px;
                border: 1px solid #5850ec;
                cursor: pointer;
                text-align: center;
                color: #fff;
                border-radius: 5px;
            }
        
            button:hover {
                background: #4284f4;
            }
        }
        float: left;
    }
    .job_block_right{
        // margin-top: 20px;
        background-color: #fff;
        float: right;
        width: 28%;
        min-height: 500px;
        border: 1px solid #e8e9eb;
        border-radius: 5px;
        .job_right{
            width: 85%;
            margin: 10px;
            height: 80px;
            padding-left: 20px;
            border-bottom: 1px solid #ece9e9;
            padding-bottom: 20px;
            .job_right_title{
                font-size: 16px;
                color: #4284f4;
            }
            i{
                position: relative;
                font-size: 40px;
                margin-right: 10px;
                margin-bottom: 5px;
                top: 25px;
            }
            span{
                margin-left: 55px;
            }
        }
        .job_right_end{
            width: 85%;
            margin: 10px;
            height: 80px;
            padding-left: 20px;
            padding-bottom: 10px;
            .job_right_title{
                font-size: 16px;
                color: #4284f4;
            }
            i{
                position: relative;
                font-size: 40px;
                margin-right: 10px;
                margin-bottom: 5px;
                top: 25px;
            }
            span{
                margin-left: 55px;
            }
        }
    }
}

.company_job_index{
    clear: both;
    // margin-top: 50px;
    padding-top: 50px;
    margin-bottom: 30px;
    border-radius: 5px;
    .job_section{
        font-size: 25px;
        margin-bottom: 30px;
    }
    .job_content{
        margin-top: 20px;
        // background-color: #fff;
    }
}