//////////////////profile//////////////////
.company_profile
{
    width: 100%;
    .company_profile_overview
    {
        // border: 1px solid #f0f0f1;
        .company_profile_title
        {
            font-size: 15;
            margin-left: 0;
        }
        .company_profile_detail{
            width: 100%;
            .company_profile_section{
                float: left;
                display: inline-block;
                font-size: 15;
                ul li {
                    padding: 5px;
                    font-size: 15px;
                    font-weight: 550px;
                    color: black;
                    display: block;
                    position: relative;
                }
            }

            .company_profile_content{
                font-size: 15;
                display: inline-block;
                margin-left: 100px;
                ul li {
                    padding: 6px;
                    font-size: 14px;
                    color: black;
                    display: block;
                    position: relative;
                }
            }

            .company_profile_summary
            {
                margin-left: 10px;
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }
    }

    .company_profile_review
    {
        margin-top: 10px;
        border: 1px solid #f0f0f1;
        .company_profile_review_title
        {

        }
    }

    .company_profile_interview
    {
        margin-top: 10px;
        border: 1px solid #f0f0f1;
        .company_profile_interview_title
        {

        }
    }
}