//////////////////profile//////////////////
.company_profile
{
    width: 100%;
    .company_profile_overview
    {
        padding: 20px;
        border: 1px solid #dfe1e5;
        background-color: #fff;
        border-radius: 3px;
    
        .company_profile_block{
            .col-sm-3{
                .company_profile_section{
                    padding-bottom: 10px;
                    min-height: 20px;
                    a{
                        font-size: 16px;
                        font-weight: 600;
                        i{
                            font-size: 24px;
                            position: relative;
                            top: 5px;
                        }
                    }
                }

                .company_profile_content{
                    font-size: 14px;
                    padding-bottom: 20px;
                    min-height: 20px;
                    color: #3d3b3b;
                }
            }
        }
    }

    .company_profile_summary_block{
        border: 1px solid #dfe1e5;
        padding: 20px;
        margin-top: 20px;
        .company_profile_title
        {
            font-size: 24px;
            font-weight: 600;
            i{
                font-size: 25px;
                position: relative;
                top: 3px;
                margin-right: 3px;
            }
        }
            
        .company_profile_summary
        {
            font-size: 14px;
            padding-top: 20px;
        }
    }

    .company_profile_review{
        background-color: #fff;
        border-radius: 3px;
        margin-top: 20px;
    }

    .company_profile_interview{
        background-color: #fff;
        border-radius: 3px;
        margin-top: 20px;
    }

    .company_job{
        margin-top: 20px;
        margin-bottom: 20px;
        background-color: #fff;
        min-height: 100px;
        .company_job_title
        {
            font-size: 24px;
            margin-left: 0;
            padding-bottom: 20px;
            padding-top: 20px;
            a{
                padding-left: 0px;
                font-weight: 600;
            }
            i{
                font-size: 28px;
                position: relative;
                top: 5px;
                margin-right: 3px;
            }
        }
    }
}