//////////////////show//////////////////
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

.reply_review_content{
    height: auto;
    display: block;
    margin-top: 20px;
    .review_reply{
        border-left: 2px solid #e6e7e9;
        margin-top: 0px;
        margin-bottom: 10px;
        margin-left: 60px;
        padding-left: 10px;
    }
}

.user_reply_review_block {
    margin-bottom: 20px;
    border-radius: 5px;
    .user_reply_review_left
    {
        display: block;
        position: relative;
        float: left;
        .user_avatar {
            display: block;
            //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
            margin-right: auto;
            img {
                max-width: 50px;
                max-height: 50px;
                border: 1px solid #efefef;
            }
        }
    }
    
    .user_reply_review_cotent
    {
        display: block;
        width: auto;
        height: auto;
        margin-left: 60px;
        min-height: 50px;
        background-color: #fff;
        border-radius: 3px; 
        .user_reply_review_body {
            font-size: 14px;
        }

        .user_reply_review_time{
            padding-top: 5px;
            font-size: 12px;
            color: #666;
            font-weight: 500;
            text-align: left;
        }
    }
    clear: left;
    clear: right;
}

//////////////////new//////////////////
.new_reply_review_form{
    margin-left: 60px;
    padding-top: 20px;
    margin-bottom: 20px;
    display: none;
    .new_reply_review_content{
        .new_reply_review_input_review{
            .new_reply_review_form_input_review{
                height: 100px;
                width: 100%;
                border-radius: 3px;
                border: 2px solid #e6e7e9;
            }
            .form-control-text{
                min-height: 100px;
                height: auto;
                margin-left: 0px;
                width: 100%;
                border: 1px solid #dfe1e5;
                border-radius: 3px;
                overflow: auto;
            }
        }
    }
    .new_reply_review_submit{
        .new_reply_review_form_submit{
            width: 200px;
            @media screen and (max-width: 600px)
            {
                width: 100%;
            }
            height: 40px;
            margin-top: 10px;
            background-color: #1877f2;
            border: none;
            border-radius: 3px;
            i{
                font-size: 25px;
                color: #fff;
            }
        }
    }
}