// Place all the styles related to the EmployerNotifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
//////////////////////////block///////////////////////@at-root

.employer_notification_block{
    border-bottom: 1px solid #e5e5e5;
    padding-top: 10px;
    padding-bottom: 10px;
    .employer_notification_left{  
        float: left;
        .employer_notification_date{
            a{
                font-size: 14px;
                font-style: italic;
                color: #888;
            }
        }
    }
    .employer_notification_right{
        padding-left: 100px;
        .employer_notification_user{
            float: left;
            a{
                font-size: 14px;
                font-style: italic;
            }
            span{
                margin-left: 3px;
                margin-right: 5px;
                font-size: 13px;
                font-style: italic;
                color: #555;
            }
        }
        .employer_notification_title{
            a{
                font-size: 14px;
                word-break: break-word; 
            }
        }
        .employer_notification_content{
            margin-top: 10px;
            a{
                font-size: 14px;
                word-break: break-word; 
            }
        }
    }
}