.employer_dasboard{
    .employer_title{
        padding-top: 30px;
        padding-bottom: 20px;
        span{
            font-size: 24px;
            font-weight: 600px;
        }
    }

    .employer_tab_link{

    }

    .employer_tab_content{
        .employer_company_tab{
            .employer_top_company{
                clear: both;
                height: auto;
                .employer_top_company_label{
                    padding-top: 30px;
                    padding-bottom: 20px;
                    a{
                        font-weight: 500;
                        text-align: left;
                        font-size: 30px;
                        color: #333;
                    }
                }
        
                .row{
                    padding-bottom: 50px;
                    .col-sm-3{
                        float: left;
                        display: block;
                        padding: 10px;
                        .single_company{
                            border: 1px solid #edeef0;
                            border-radius: 2px;
                            background-color: #fff;
                            min-height: 300px;
                            &:hover{
                                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                                background-color: #fff;
                            }
                            
                            .company_wall{
                                .rounded
                                {
                                    img{
                                        width: 100%;
                                        height: 150px;
                                    }
                                    display: block;
                                    float: left;
                                }
                            }
                    
                            .company_thumbnail
                            {
                                .rounded{
                                    height: 140px;
                                    padding-top: 130px;
                                    padding-left: 15px;
                                    position: absolute; 
                                    img{ 
                                        display: block;
                                        box-shadow: 0 1px 4px 0 rgba(54, 53, 53, 0.1), 0 2px 4px 0 rgba(131, 126, 126, 0.09) !important;
                                        width: 80px;
                                        height: 80px;
                                        border-radius: 3px;
                                    }
                                    display: block;
                                    float: left;
                                }
                            }
                    
                            .company_love_button{
                                padding-right: 5px;
                                padding-top: 10px;
                                float: right;
                                button{
                                    border: none;
                                    background-color: #fff;
                                    i {
                                        font-size: 24px;
                                        color: #e2e2e2;
                                        position: relative;
                                        margin-right: 0px;
                                        &:hover{
                                            background-color: #369;
                                            color: #fff;
                                        }
                                    }
                        
                                    .checked {
                                        color: #dfe1e5;
                                    }
                                }
                            }
                            
                            .company_title{
                                padding-left: 110px;
                                .company_name
                                {
                                    padding-left: 3px;
                                    clear: both;
                                    text-align: left;
                                    color: #333;
                                    font-size: 18px;
                                    font-weight: 550;
                                    padding-top: 10px;
                                    // height: 50px;
                                    .company_name_label{
                                        color: #333;
                                        text-decoration: none !important;overflow: hidden;
                                        text-overflow: ellipsis;
                                        display: -webkit-box;
                                        -webkit-line-clamp: 1; /* number of lines to show */
                                        -webkit-box-orient: vertical;
                                    }
                                    
                                    a:hover{
                                        color: #1877f2;
                                    }
                                }
        
                                .company_rating
                                {
                                    width: 100%;
                                    height: 100%;
                                    margin-top: 5px;
                                    .review_score_star
                                    {
                                        i {
                                            font-size: 21px;
                                        }
                            
                                        .checked {
                                            color: #febb02;
                                        }
        
                                        .checked_out {
                                            color: #dfe1e5;
                                        }
                                    }
                                }
                            }
                    
                            .company_summary
                            {
                                display: block;
                                margin-left: auto;
                                margin-right: auto;
                                width: 100%;
                                .company_location
                                {
                                    text-align: center;
                                    font-size: 14px;
                                    color: #666;
                                    i{
                                        margin-right: 0px;
                                        position: relative;
                                        font-size: 17px;
                                        top: 2px;
                                        color: #635f5f;
                                    }
                                }
                    
                                .review_point
                                {
                                    clear: both;
                                    color: #333;
                                    .review_point_review_content{
                                        font-size: 14px;
                                        font-weight: 500;
                                        float: left;
                                        margin-top: 10px;
                                        margin-left: 15%;
                                        margin-right: 15%;
                                        @media screen and (max-width: 600px){
                                            margin-left: 14%;
                                            margin-right: 15%;
                                        }
                                    }
                                    clear: both;
                                    .review_point_label
                                    {
                                        float: left;
                                        font-size: 13px;
                                        text-align: center;
                                        @media screen and (max-width: 600px){
                                            margin-left: 8%;
                                            margin-right: 6%;
                                        }
                                        margin-left: 3%;
                                        .review_point_review_label{
                                            text-decoration: none !important;
                                            color: #555;
                                            span{
                                                color: #555;
                                            } 
                                            &:hover{
                                                color: #1877f2;
                                            }
                                        }
                                        i{
                                            font-size: 18px;
                                            color: #555; 
                                            position: relative;
                                            top: 5px;
                                            &:hover{
                                                color: #1877f2;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .employer_job_tab{
            .employer_top_job_employer{
                clear: both;
                padding-top: 20px;
                margin-bottom: 30px;
                background-color: #fff;
                .employer_top_job_employer_label{
                    color: #202124;
                    font-size: 33px;
                    font-weight: 500;
                    padding-bottom: 30px;
                }
        
                .employer_top_job_employer_container{
                    .company_job_block{
                        border: 1px solid #dfe1e5;
                        border-radius: 3px;
                        padding: 20px;
                        .company_job_employer_block {
                            clear: left;
                            min-height: 200px;
                            background-color: #f6fbf9;
                            border-top: 1px solid #ecedee;
                            border-bottom: 1px solid #ecedee;
                            padding: 0px !important;
                            &:hover{
                                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                                background-color: #fff;
                            }
                        
                            .company_job_employer_left
                            {
                                margin: 10px;
                                padding-top: 20px;
                                @media screen and (max-width: 600px){
                                    margin: 0px;
                                    padding-top: 15px;
                                }
                                display: block;
                                position: relative;
                                .company_avatar {
                                    float: left;
                                    img{ 
                                        border-radius: 3px;
                                        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
                                        max-width: 100px;
                                        max-height: 100px;
                                        @media screen and (max-width: 600px){
                                            max-width: 60px;
                                            max-height: 60px;
                                        }
                                    }
                                }
                        
                                .company_job_employer_des{
                                    @media screen and (max-width: 600px){
                                        padding-left: 95px;
                                    }
                                    padding-left: 120px;    
                                    .company_job_employer_title{
                                        a:link{
                                            text-decoration: none !important ;
                                            font-size: 20px;
                                            position: relative;
                                            top: -5px;
                                        }
                                        margin-bottom: 10px;
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                        display: -webkit-box;
                                        -webkit-line-clamp: 1; /* number of lines to show */
                                        -webkit-box-orient: vertical;
                                    }
                        
                                    .company_job_employer_description{
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                        display: -webkit-box;
                                        -webkit-line-clamp: 2; /* number of lines to show */
                                        -webkit-box-orient: vertical;
                                        font-size: 14px;
                                    }
                        
                                    .company_job_employer_location{
                                        margin-top: 20px;
                                        float: left;
                                        
                                        @media screen and (max-width: 600px){
                                            float: none;
                                        }
                                        font-size: 14px;
                                        a{
                                            padding-top: 5px;
                                            padding-bottom: 5px;
                                            padding-left: 10px;
                                            padding-right: 10px;
                                            margin-right: 10px;
                                            border: 1px solid #1877f2;
                                            border-radius: 30px;
                                            i{
                                                font-size: 20px;
                                                margin-right: 5px;
                                                color: #8a8888;
                                                position: relative;
                                                position: relative;
                                                top: 5px;
                                            }
                                        }
                                    }
                        
                                    .company_job_employer_salary{
                                        margin-top: 20px;
                                        font-size: 14px;
                                        color: #4fb87b;
                                        a{
                                            padding-top: 5px;
                                            padding-bottom: 5px;
                                            padding-right: 10px;
                                            border: 1px solid #1877f2;
                                            border-radius: 30px;
                                            // margin-left: 10px;
                                            i{
                                                padding-left: 10px;
                                                margin-right: 5px;
                                                font-size: 20px;
                                                color: #8a8888;
                                                position: relative;
                                                top: 5px;
                                            }
                                        }
                                    }
                                }
                            }
                        
                            .company_job_employer_right{
                                padding-top: 20px;
                                .apply_job_employer_button{
                                    padding: 10px;
                                    @media screen and (max-width: 600px){
                                        padding: 0px;
                                        padding-bottom: 15px;
                                        padding-top: 10px;
                                    }
                                    padding-top: 11px;
                                    button{
                                        padding: 6px;
                                        height: 33px;
                                        width: 140px;
                                        @media screen and (max-width: 600px){
                                            width: 100%;
                                            height: 35px;
                                        }
                                        margin-right: 10px;
                                        background: #1877f2;
                                        font-size: 14px;
                                        border: none;
                                        border-radius: 3px;
                                        cursor: pointer;
                                        text-align: center;
                                        color: #fff;
                                        &:hover{
                                            background-color: #369;
                                            color: #fff;
                                        }
                                    }
                                }
                                
                                .company_job_employer_date{
                                    font-size: 13px;
                                    color: #8a8888;
                                    padding-top: 70px;
                                    @media screen and (max-width: 600px){
                                        padding-top: 0px;
                                        position: absolute;
                                        top: -20px;
                                        left: 20px;
                                        color: #8a8888;
                                    }
                                    text-align: left;
                                    margin-left: 10px;
                                }
                            }
                            clear: left;
                            clear: right;
                        }

                        .company_job_apply_block{
                            margin-top: 20px;
                            // margin-left: 20px;
                            padding: 10px;
                            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
                            .company_job_apply_label{

                            }
                            .company_job_apply_info{
                                
                            }
                        }
                    }
                }
            }
        }

        .employer_info_tab{
            margin-top: 20px;
            margin-bottom: 20px;
            
            .employer_info_wellcome_label{  
                font-size: 24px;
                color: #1877f2;
            }
        
            .employer_info_des_label{
                font-size: 20px;
                margin-top: 30px;
            }
        
            .employer_info_about{
                border-top: 1px solid #dfe1e5;
        
                .employer_info_label{
                    font-size: 16px;
                    margin-top: 40px;
                }
                .employer_info_des{
                    font-size: 16px;
                    float: left;
                }
        
                .employer_info_edit_button{
                    float: right;
                    font-size: 16px;
                    i{
                        color: #1877f2;
                    }
                    .employer_info_edit_link_to{
                        color: #1877f2;
                        text-decoration: none !important;
                    }
                }
            }
        
            
            .user_cover_letter_label{
                clear: both;
                font-size: 20px;
                margin-top: 60px;
            }
        
            .user_cover_letter{
                border-top: 1px solid #dfe1e5;
        
                .user_cv_des
                {
                    margin-top: 20px;
                    font-size: 16px;
                    // border: 1px solid #dfe1e5;
                    // border-radius: 3px;
                }
                .employer_info_edit_button{
                    margin-top: 30px;
                    font-size: 16px;
                    i{
                        color: #1877f2;
                    }
                    .employer_info_edit_link_to{
                        color: #1877f2;
                        text-decoration: none !important;
                    }
                }
            }
        
            .user_log_out{
                clear: both;
                margin-top: 50px;
                button{
                    padding: 6px;
                    height: 40px;
                    width: 150px;
                    margin-right: 10px;
                    background: #1877f2;
                    font-size: 16px;
                    border: none;
                    border-radius: 3px;
                    cursor: pointer;
                    text-align: center;
                    color: #fff;
                    
                    &:hover{
                        background-color: #369;
                        color: #fff;
                    }
                }
            }
        }
    }
}