

//////////////////new employer registration////////////////////
.employer_container{
    @media screen and (min-width: 600px){
        min-height: 700px;
        padding-top: 45px;
        padding-bottom: 45px;
        background-color: #f8f9fa;
    }
    @media screen and (max-width: 600px){
        padding-top: 30px;
        padding-bottom: 30px;
        background-color: #fff;
    }

    .employer_block
    {
        background-color: #fff;
        border-radius: 5px;
        @media screen and (min-width: 600px)
        {
            margin-left: 32%;
            margin-right: 32%;
            padding: 20px 25px 20px 25px;
            border: 1px solid #e5e5e5;
        }
        .employer_add_new_form
        {
            .employer_add_new_title{
                text-align: left;
                a{
                    font-size: 25px;
                    color: #333;
                    font-weight: 550;
                }
            }

            .employer_add_new_section{
                padding-top: 20px;
                padding-bottom: 15px;
                a{
                    font-size: 18px;
                    font-weight: 600;
                    i{
                        margin-right: 3px;
                        position: relative;
                        top: 5px;
                        font-size: 24px;
                    }
                }
            }
    
            .employer_add_new_content{
                .employer_add_new_label{
                    font-weight: 550;
                    font-size: 16px;
                    color: #333;
                    text-align: left;
                    span{
                        color: #ff424e;
                        padding-left: 3px;
                    }
                }
                
                .employer_add_new_input{
                    left: 0px;
                    margin-top: 5px;
                    margin-bottom: 20px;
                }
            }
    
            .employer_add_new_submit{
				padding-top: 30px;
                .employer_add_new_form_submit{
                    width: 100%;
                    height: 44px;
                    border-radius: 5px;
                    padding: 6px;
                    background: #0d6efd;
                    font-size: 16px;
                    border: none;
                    cursor: pointer;
                    text-align: center;
                    color: #fff;
                    font-weight: 600;
                    
                    &:hover{
                        background-color: #369;
                        color: #fff;
                    }
                }
            }
        }
    
        .employer_add_new_loginhere
        {
            text-align: center;
            font-size: 16px;
            margin-top: 20px;
            font-weight: 550;
            a{
                padding-left: 5px;
                text-decoration: none;
            }
        }
    }
}

//////////////////new employer sign in sessions////////////////////
.employer_session_container{
    @media screen and (min-width: 600px){
        min-height: 700px;
        padding-top: 120px;
        padding-bottom: 120px;
        background-color: #f8f9fa;
    }
    
    @media screen and (max-width: 600px){
        padding-top: 30px;
        padding-bottom: 30px;
        background-color: #fff;
    }

    .employer_session_block{
        background-color: #fff;
        border-radius: 5px;
        background-color: #fff;
        @media screen and (min-width: 600px)
        {
            margin-left: 32%;
            margin-right: 32%;
            padding: 20px 25px 20px 25px;
            border: 1px solid #e5e5e5;
        }

        .employer_signin_top_label{
            .employer_signin_title{
                font-size: 25px;
                color: #333;
                text-align: left;
				font-weight: 550;
                a{
                    font-size: 25px;
                    color: #333;
                    text-align: left;
                    float: left;
                    padding-bottom: 30px;
                }
                i{
                    float: right;
                    font-size: 33px;
                    padding-bottom: 30px;
                    color: #444;
                    position: relative;
                    top: 2px;
                }
            }
            padding-bottom: 10px;
        }

        .employer_signin_form_left
        {
            clear: both;
            .employer_signin_label{
                font-weight: 550;
                font-size: 16px;
                color: #333;
                text-align: left;
            }

            .employer_signin_input{
                margin-bottom: 20px;
            }

            .employer_signin_remember{
                float: left;
                .employer_signin_label_small{
                    font-size: 14px;
                    color: #555;
                    text-align: left;
                    font-weight: 300;
                }
            }

            .employer_signin_forgot_pass{
                float: right;
                a{
                    color: #0d6efd;
                    text-decoration: none;
                }
            }
    
            .employer_signin_submit{
                clear: both;
				padding-top: 20px;
                .employer_signin_form_submit{
                    height: 44px;
                    width: 100%;
                    border-radius: 5px;
                    padding: 6px;
                    background: #0d6efd;
                    font-size: 16px;
                    border: none;
                    cursor: pointer;
                    text-align: center;
                    color: #fff;
                    font-weight: 600;
                    
                    &:hover{
                        background-color: #369;
                        color: #fff;
                    }
                }
            }
        }
    
        .employer_signin_loginhere
        {
            text-align: center;
            font-size: 16px;
            margin-top: 20px;
            font-weight: 550;
            a{
                padding-left: 5px;
                text-decoration: none;
                color: #0d6efd;
            }
        }
    }
}

//////////////////employer change pass////////////////////
.employer_change_pass_password{
    @media screen and (min-width: 600px){
        min-height: 700px;
    }
    padding-top: 30px;
    .employer_reset_pass_content{
        padding-top: 10px;
       .employer_reset_pass_label{
            font-weight: 550;
            font-size: 16px;
            color: #555;
            text-align: left;   
           .employer_reset_pass_label_name{

           }
        }
        .employer_reset_pass_input{
            left: 0px;
            margin-top: 5px;
            margin-bottom: 20px;
        } 
    }
    .employer_reset_pass_submit{
        .employer_reset_form_submit{
            width: 100%;
            @media screen and (min-width: 600px)
            {
                width: 300px;
            }
            height: 44px;
            border-radius: 5px;
            padding: 6px;
            background: #0d6efd;
            font-size: 14px;
            border: none;
            cursor: pointer;
            text-align: center;
            color: #fff;
            margin-bottom: 20px;
            font-weight: 600;
            &:hover{
                background-color: #369;
            }
        }
    }

    .employer_reset_pass_loginhere{
        padding-top: 20px;
        a{
            color: #0d6efd;
        }
    }
}

//////////////////employer password////////////////////
.employer_reset_password{
    min-height: 700px;
    padding-top: 30px;
    .employer_reset_pass_content{
        padding-top: 10px;
       .employer_reset_pass_label{
            font-weight: 550;
            font-size: 16px;
            color: #555;
            text-align: left;   
           .employer_reset_pass_label_name{

           }
        }
        .employer_reset_pass_input{
            left: 0px;
            margin-top: 5px;
            margin-bottom: 20px;
        } 
    }
    .employer_reset_pass_submit{
        .employer_reset_form_submit{
            width: 100%;
            @media screen and (min-width: 600px)
            {
                width: 300px;
            }
            height: 44px;
            border-radius: 5px;
            padding: 6px;
            background: #0d6efd;
            font-size: 14px;
            border: none;
            cursor: pointer;
            text-align: center;
            color: #fff;
            margin-bottom: 20px;
            font-weight: 600;
            &:hover{
                background-color: #369;
            }
        }
    }

    .employer_reset_pass_loginhere{
        a{
            color: #0d6efd;
        }
    }
}

//////////////////employer overview////////////////////
.employer_dasboard{
    .employer_title{
        padding-top: 30px;
        padding-bottom: 20px;
        a{
            font-size: 22px;
            font-weight: 600;
            text-decoration: none;
            color: #333;
        }
    }

    .employer_overview{
        padding-bottom: 20px;
        .employer_status{
            color: #333;
            span{
                color: #0d6efd;
                font-weight: 600;
            }
        }

        .employer_date{
            color: #333;
            span{
                color: #0d6efd;
                font-weight: 600;
            }
        }

        .employer_plan{
            color: #333;
            span{
                color: #0d6efd;
                font-weight: 600;
            }
        }

        .employer_post{
            color: #333;
            span{
                color: #0d6efd;
                font-weight: 600;
            }
        }
    }

    .employer_new_job{
        @media screen and (min-width: 600px)
        {
            text-align: right;
            padding-top: 0px;
        }
        padding-bottom: 20px;
        .btn{
            font-size: 14px;
            font-weight: 600;
        }
    }
    
    .employer_company_index{
        border-top: 1px solid #e5e5e5;
        .employer_company{
            clear: both;
            height: auto;
            .employer_company_title{
                margin-top: 20px;
                margin-bottom: 15px;
                h3{
                    font-size: 22px;
                    font-weight: 600;
                }
            }
            .employer_company_edit{    
                margin-top: 15px;
                margin-bottom: 20px;
                button{
                    width: 100%;
                    border-radius: 5px;
                    background-color: #fff;
                    border: 1px solid #0d6efd;
                    height: 44px;
                    color: #0d6efd;
                    font-size: 14px;
                    font-weight: 600;
                    &:focus {outline:none;}
                    i{
                        position: relative;
                        top: 5px;
                        font-size: 20px;
                    }
                    &:hover{
                        background-color: #0d6efd;
                        color: #fff;
                    }
                }
            }
            .employer_company_not_found_block{
                background-color: #f8f9fa;
                padding: 30px 15px 30px 15px;
                border-radius: 5px;
                .employer_company_not_found_icon{
                    i{
                        font-size: 30px;
                        color: #666;
                    }
                    text-align: center;
                }
                .employer_company_not_found{
                    text-align: center;
                    font-size: 16px;
                    font-weight: 500;
                    padding-bottom: 10px;
                    color: #444;
                }
                .employer_company_not_found_action{
                    span{
                        font-size: 20px;
                        font-weight: 550;
                    }
                    width: 100%;
                    min-height: 100px;
                    margin-top: 20px;
                    background-color: #ebfeff;
                    border: 1px solid #ebfeff;
                    border-radius: 5px;
                    .employer_company_button{
                        display: flex;
                        justify-content: center;
                        padding: 15px;
                        margin-top: 10px;
                        @media screen and (max-width: 600px){
                            float: none;
                            padding-bottom: 30px;
                        }
                        button{
                            height: 44px;
                            @media screen and (max-width: 600px){
                                width: 100%;
                            }
                            width: 250px;
                            margin-right: 10px;
                            background: #0d6efd;
                            font-size: 14px;
                            border: none;
                            cursor: pointer;
                            text-align: center;
                            color: #fff;
                            border-radius: 5px;
                            i{
                                position: relative;
                                top: 2px;
                                font-size: 20px;
                                margin-right: 3px;
                            }
    
                            span{
                                font-size: 14px;
                                position: relative;
                                top: -2px;
                            }
                            
                            &:hover{
                                background-color: #369;
                                color: #fff;
                            }
                            &:focus {outline:none;}
                        }
                    }
                }
            }
        }
    }

    .employer_confim{
        .employer_confirm_label{
            text-align: center;
            h3{
                padding-top: 30px;
                font-size: 22px;
            }
        }
        .employer_confirm_goback{
            padding-top: 10px;
            display: flex;
            justify-content: center;
            button{
                background-color: #0d6efd;
                color: #fff;
                border: none;
                height: 40px;
                font-size: 14px;
                font-weight: 600    ;
                border-radius: 5px;
                &:focus {outline:none;}
                i{
                    position: relative;
                    top: 3px;
                }
                span{
                    position: relative;
                    top: -3px;
                }
            }
        }
        .employer_confirm_img{
            margin-top: 30px;
            display: flex;
            justify-content: center;
            img{
                width: 33%;
                height: 33%;
                @media screen and (max-width: 600px){
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

///////////////////////index job/////////////////////@at-root
.employer_job_index{
    min-height: 700px;
    .employer_job_index_title{
        h3{
            font-size: 22px;
            font-weight: 600;
            margin-top: 30px;
            margin-bottom: 15px;
        }
    }
    .employer_job_employer{
        clear: both;
        margin-bottom: 30px;
        background-color: #fff;
        table{
            th{
                font-size: 16px;
                a{
                    text-decoration: none;
                }
            }
            td{
                font-size: 14px;
            }
        }
    }

    .employer_job_not_found_block{
        background-color: #f8f9fa;
        padding: 30px 15px 30px 15px;
        border-radius: 5px;
        .employer_job_not_found_icon{
            i{
                font-size: 30px;
                color: #666;
            }
            text-align: center;
        }
        .employer_job_not_found{
            text-align: center;
            font-size: 16px;
            font-weight: 500;
            padding-bottom: 10px;
            color: #444;
        }
        .employer_job_not_found_action{
            span{
                font-size: 20px;
                font-weight: 550;
            }
            width: 100%;
            min-height: 100px;
            margin-top: 20px;
            background-color: #ebfeff;
            border: 1px solid #ebfeff;
            border-radius: 5px;
            .employer_job_button{
                display: flex;
                justify-content: center;
                padding: 15px;
                margin-top: 10px;
                @media screen and (max-width: 600px){
                    float: none;
                    padding-bottom: 30px;
                }
                button{
                    height: 44px;
                    @media screen and (max-width: 600px){
                        width: 100%;
                    }
                    width: 250px;
                    margin-right: 10px;
                    background: #0d6efd;
                    font-size: 14px;
                    border: none;
                    cursor: pointer;
                    text-align: center;
                    color: #fff;
                    border-radius: 5px;
                    i{
                        position: relative;
                        top: 2px;
                        font-size: 20px;
                        margin-right: 3px;
                    }

                    span{
                        font-size: 14px;
                        position: relative;
                        top: -2px;
                    }
                    
                    &:hover{
                        background-color: #369;
                        color: #fff;
                    }
                    &:focus {outline:none;}
                }
            }
        }
    }
}

//////////////////////////////index cv////////////@at-root
.employer_search_cv_index{
    margin-bottom: 20px;
    min-height: 700px;
    .employer_search_cv_index_search{
        min-height: 444px;
        background-color: #f8f9fa;
        .employer_search_cv_index_search_bar{
            padding-top: 111px;
            padding-bottom: 111px;
			@media screen and (max-width: 600px){
				padding-top: 77px;
                padding-bottom: 77px;
			}
            .employer_search_cv_index_search_label
            {
                text-align: left;
                h3{
                    font-size: 40px;
                    margin-bottom: 10px;
                    font-weight: 550;
                    color: #222;
                }
                a{
                    font-size: 20px;
                    color: #444;
					@media screen and (max-width: 600px){
						display: none;
					}
                }
                margin-bottom: 40px;
            }
            
			.employer_search_cv_index_search_input{
				display: block;
				min-height: 44px;
				.padding_customize_right{
					@media screen and (min-width: 600px){
						padding-right: 0px !important;
					}
				}
				.employer_search_cv_index_search_what{
					background-color: #fff;
					border: 1px solid #e5e5e5;
					width: 100%;
					border-radius: 5px;
                    position: relative;
					i{
                        font-size: 20px;
                        top: 5px;
                        color: #888;
                        position: absolute;
                        left: 10px;
                        top: 14px;
                    }
                    .form-control{
                        padding-left: 40px;
                        padding-right: 10px;
                        width: 100%;
                        height: 49px;
                        border: none;
                        color: #333;
                        font-size: 16px;
                        &:focus{
                            border: none;
                            box-shadow: none;
                        }
                    }
				}
				
				.employer_search_cv_index_search_button{
					border: none;
					width: 100%;
					@media screen and (max-width: 600px){
						padding-top: 20px;
					}
					button{
						width: 100%;
						border: none;
						border-radius: 5px;
						background-color: #0d6efd;
						height: 50px;
						color: #fff;
						font-size:16px;
                        font-weight: 600;
                        &:focus {outline:none;}
					}
				}
			}
		}
    }

    .employer_search_cv_index_search_user{
        .employer_search_cv_index_search_user_label{
            padding-top: 30px;
            padding-bottom: 20px;
            h3{
                border-left: 5px solid #febb02;
                padding-left: 5px;
                font-weight: 550;
                font-size: 25px;
            }
        }
    }
}

//////////////////////index plan/////////////////////
.employer_plan_index{
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 700px;
    .employer_plan_index_title{
        h3{
            padding-top: 30px;
            padding-bottom: 15px;
            font-size: 22px;
            font-weight: 600;
        }
    }
}

///////////////////////index apply job/////////////////////@at-root
.employer_apply_job_index{
    min-height: 700px;
    .employer_apply_job_index_title{
        h3{
            font-size: 22px;
            font-weight: 600;
            margin-top: 30px;
            margin-bottom: 15px;
        }
    }
    .employer_apply_job_employer{
        clear: both;
        margin-bottom: 30px;
        background-color: #fff;
        table{
            th{
                font-size: 16px;
                a{
                    text-decoration: none;
                }
            }
            td{
                font-size: 14px;
            }
        }
    }

    .employer_apply_job_not_found_block{
        background-color: #f8f9fa;
        padding: 30px 15px 30px 15px;
        border-radius: 5px;
        .employer_apply_job_not_found_icon{
            i{
                font-size: 30px;
                color: #666;
            }
            text-align: center;
        }
        .employer_apply_job_not_found{
            text-align: center;
            font-size: 16px;
            font-weight: 500;
            padding-bottom: 10px;
            color: #444;
        }
        .employer_apply_job_not_found_action{
            span{
                font-size: 20px;
                font-weight: 550;
            }
            width: 100%;
            min-height: 100px;
            margin-top: 20px;
            background-color: #ebfeff;
            border: 1px solid #ebfeff;
            border-radius: 5px;
            .employer_apply_job_button{
                display: flex;
                justify-content: center;
                padding: 15px;
                margin-top: 10px;
                @media screen and (max-width: 600px){
                    float: none;
                    padding-bottom: 30px;
                }
                button{
                    height: 44px;
                    @media screen and (max-width: 600px){
                        width: 100%;
                    }
                    width: 250px;
                    margin-right: 10px;
                    background: #0d6efd;
                    font-size: 14px;
                    border: none;
                    cursor: pointer;
                    text-align: center;
                    color: #fff;
                    border-radius: 5px;
                    i{
                        position: relative;
                        top: 2px;
                        font-size: 20px;
                        margin-right: 3px;
                    }

                    span{
                        font-size: 14px;
                        position: relative;
                        top: -2px;
                    }
                    
                    &:hover{
                        background-color: #369;
                        color: #fff;
                    }
                    &:focus {outline:none;}
                }
            }
        }
    }
}

////////////////////////wellcome/////////////////////
.employer_wellcome_block{
    .employer_wellcome_intro_block{
        min-height: 555px;
        background-color: #fff;
        @media screen and (max-width: 600px){
            background-color: #f8f9fa;
            min-height: 444px;
        }
        .employer_wellcome_left_block{
            padding-top: 135px;
            @media screen and (max-width: 600px){
                padding-top: 80px;
                padding-bottom: 80px;
            }
            .employer_wellcome_bar_label{
                text-align: left;
                @media screen and (max-width: 600px){
                    text-align: center;
                }
                h3{  
                    font-size: 40px;
                    margin-bottom: 15px;
                    font-weight: 550;
                    color: #333;
                    i{
                        font-size: 50px;
                    }
                }
            }

            .employer_wellcome_button{
                margin-top: 20px;
                @media screen and (max-width: 600px){
                    display: flex;
                    justify-content: center;
                }

                button{
                    width: 300px;
                    height: 44px;
                    background: #fca120;
                    color: #f8f9fa;
                    text-decoration: none;
                    padding: 12px 20px 12px 20px;
                    font-size: 15px;
                    border: none;
                    cursor: pointer;
                    text-align: center;
                    border-radius: 4px;
                    font-weight: 600;
                    margin-right: 10px;
                                
                    &:hover{
                        background-color: #369;
                        color: #fff;
                    }
                    &:focus {outline:none;}
                }
            }
        }
        .employer_wellcome_right_block{
            display: flex;
            justify-content: right;
            padding-top: 30px;
            img{
                width: 90%;
                height: 90%;
            }
            @media screen and (max-width: 600px){
                display: none;
            }
        }
    }

    .employer_wellcome_price_block{
        margin-top: 30px;
        .employer_wellcome_price_label{
            h3{
                font-size: 25px;
                font-weight: 600;
                color: #333;
            }
        }

        .employer_wellcome_price_detail{
            padding-top: 20px;

            h5{
                color: #333;
                font-weight: 600;
            }

            span{
                color: #333;
            }

            .card1{
                background:#00ffb6;
            }
            
            .card1:hover .list-group-item{
                background:#00ffb6 !important
            }
            
            .card2:hover {
                background:#00C9FF;
                border:1px solid #00C9FF;
            }
            
            .card2:hover .list-group-item{
                background:#00C9FF !important
            }
            
            .card3:hover {
                background:#ff95e9;
                border:1px solid #ff95e9;
            }
            
            .card3:hover .list-group-item{
                background:#ff95e9 !important
            }
            
            .card:hover .btn-outline-dark{
                background: #fca120;
                color: #f8f9fa;
                border: 1px solid #fca120;
            }
        }

        .employer_wellcome_price_compare_label{
            margin-top: 30px;
            h3{
                font-size: 25px;
                font-weight: 600;
                color: #333;
            }
        }

        .employer_wellcome_price_compare_detail{
            padding-top: 10px;
        }
    }

    .employer_wellcome_support_block{
        margin-top: 30px;
        margin-bottom: 30px;
        .employer_wellcome_support_label{
            margin-bottom: 15px;
            h3{
                font-size: 25px;
                font-weight: 600;
                color: #333;
            }
        }

        .employer_wellcome_support_contact{
            border: 1px solid #e5e5e5;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            padding: 38px 50px 38px 50px;
            margin-bottom: 20px;
            ul{
                display: block;
                margin: 0; 
                padding: 0;
                li{
                    display: block;
                    a{
                        color: #ff424e;
                        font-size: 16px;
                        font-weight: 600;
                        span{
                            font-weight: 500;
                            color: #333;
                        }
                    }
                }
            }
        }

        .employer_wellcome_support_signup{
            border: 1px dashed #e5e5e5;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            padding: 40px 50px 40px 50px;
            button{
                width: 400px;
                @media screen and (max-width: 600px){
                    width: 100%;
                }
                height: 44px;
                background: #fca120;
                color: #f8f9fa;
                text-decoration: none;
                padding: 12px 20px 12px 20px;
                font-size: 15px;
                border: none;
                cursor: pointer;
                text-align: center;
                border-radius: 4px;
                font-weight: 600;
                margin-right: 10px;

                a{
                    position: relative;
                    top: -7px;
                }

                i{
                    position: relative;
                    top: -2px;
                }
                            
                &:hover{
                    background-color: #369;
                    color: #fff;
                }
                &:focus {outline:none;}
            }
            
        }
    }
}

////////////////////////job////////////////////@at-root
.employer_job_block{
    margin-top: 40px;
    margin-bottom: 40px;
    @media screen and (min-width: 600px){
        min-height: 700px;
    }
    .employer_job_status{
        border-top: 1px solid #e5e5e5;
        border-bottom: 1px solid #e5e5e5;
        padding-top: 15px;
        padding-bottom: 15px;
        .employer_job_status_title{
            h3{
                font-size: 22px;
                font-weight: 600;
            }
            padding-bottom: 10px;
            a{
                text-decoration: none;
            }
        }
        
        .employer_job_status_block{
            a{
                font-size: 16px;
                span{
                    font-size: 16px;
                    font-weight: 600;
                }
            }
        }

        .employer_job_edit{
            padding-top: 10px;
            @media screen and (min-width: 600px){
                text-align: right;
            }
        }
    }

    .employer_job_apply{
        margin-top: 50px;
        .employer_job_apply_title{
            h3{
                font-size: 22px;
                font-weight: 600;
            }
        }

        table{
            th{
                font-size: 16px;
                a{
                    text-decoration: none;
                }
            }
            td{
                font-size: 14px;
            }
        }

        .employer_job_apply_not_found_block{
            margin-top: 20px;
            background-color: #f8f9fa;
            padding: 30px 15px 30px 15px;
            border-radius: 5px;
            .employer_job_apply_not_found_icon{
                i{
                    font-size: 30px;
                    color: #666;
                }
                text-align: center;
            }
            .employer_job_apply_not_found{
                text-align: center;
                font-size: 16px;
                font-weight: 500;
                padding-bottom: 10px;
                color: #444;
            }
            .employer_job_apply_not_found_action{
                span{
                    font-size: 20px;
                    font-weight: 550;
                }
                width: 100%;
                min-height: 100px;
                margin-top: 20px;
                background-color: #ebfeff;
                border: 1px solid #ebfeff;
                border-radius: 5px;
                .employer_job_apply_button{
                    display: flex;
                    justify-content: center;
                    padding: 15px;
                    margin-top: 10px;
                    @media screen and (max-width: 600px){
                        float: none;
                        padding-bottom: 30px;
                    }
                    button{
                        height: 44px;
                        @media screen and (max-width: 600px){
                            width: 100%;
                        }
                        width: 250px;
                        margin-right: 10px;
                        background: #0d6efd;
                        font-size: 14px;
                        border: none;
                        cursor: pointer;
                        text-align: center;
                        color: #fff;
                        border-radius: 5px;
                        i{
                            position: relative;
                            top: 2px;
                            font-size: 20px;
                            margin-right: 3px;
                        }

                        span{
                            font-size: 16px;
                            position: relative;
                            top: -2px;
                        }
                        
                        &:hover{
                            background-color: #369;
                            color: #fff;
                        }
                        &:focus {outline:none;}
                    }
                }
            }
        }
    }
}

///////////////////////plan////////////////////@at-root
.employer_plan_price_block{
    padding-top: 50px;
    padding-bottom: 50px;
    .employer_plan_price_title{
        h3{
            font-size: 24px;
            font-weight: 600;
        }
    }

    .employer_plan_price_detail{
        margin-top: 20px;
        .employer_plan_price_detail_more{
            a{
                text-decoration: none;
                font-weight: 600;
            }
        }
    }

    .employer_plan_price_cart{
        padding-top: 50px;
        h3{
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 10px;
        }

        .employer_plan_price_cart_cal{
            border: 1px solid #e5e5e5;
            border-radius: 4px;
            padding: 30px 15px 30px 15px;
            margin-bottom: 20px;
            @media screen and (min-width: 600px){
                height: 250px;
            }

            .employer_plan_price_cart_cal_detail{
                .employer_plan_price_cart_cal_temp{
                    span{
                        font-size: 16px;
                        font-weight: 600;
                    }
                }

                .employer_plan_price_cart_cal_total{
                    a{
                        font-size: 22px;
                        color: #fca120;
                        font-weight: 600;
                    }
                    span{
                        font-size: 16px;
                        font-weight: 600;
                    }
                }
            }
        }

        .employer_plan_price_cart_atm_tranfer{
            border: 1px dashed #e5e5e5;
            border-radius: 4px;
            padding: 15px;
            .employer_plan_price_cart_atm_tranfer_icon{
                float: left;
                min-height: 120px;
                padding-right: 15px;
            }
            .employer_plan_price_cart_atm_tranfer_text{
                a{
                    font-size: 16px;
                    font-weight: 600;
                    color: #0d6efd;
                }

            }
        }

        .employer_plan_price_cart{
            clear: both;
            margin-top: 20px;
            border: 1px dashed #e5e5e5;
            border-radius: 4px;
            padding: 15px;
            .employer_plan_price_cart_icon{
                float: left;
                min-height: 120px;
                padding-right: 15px;
            }
            .employer_plan_price_cart_text{
                a{
                    font-size: 16px;
                    font-weight: 600;
                    color: #0d6efd;
                }

            }
        }
        
    }

    .employer_plan_price_support{
        padding-top: 30px;
        h3{
            font-size: 24px;
            font-weight: 600;
        }
        h4{
            font-size: 20px;
        }
        ul{
            li{
                font-size: 14px;
                margin-top: 5px;
            }
        }
    }

}

//////////////////update////////////////////
.employer_update_form{
    @media screen and (min-width: 600px){
        min-height: 700px;
    }
    .employer_update_title{
        padding-top: 30px;
		padding-bottom: 30px;
        font-size: 22px;
        font-weight: 550;
    }

	.employer_update_section{
		padding: 15px;
		border-radius: 5px;
		border: 1px solid #e5e7ec;
		@media screen and (max-width: 600px){
			border: none;
			border-top: 1px solid #e5e7ec;
			padding: 0px;
			padding-top: 20px;
			border-radius: 0px;
		}
        width: 100%;
        height: auto;
        margin-bottom: 20px;
		
		.employer_update_content{
			.employer_update_label{
				font-size: 16px;
				font-weight: 550;
			}
			.employer_update_input{
				padding-bottom: 10px;
			}
		}
	}

    .employer_update_section_content{
        // padding: 15px;
		border-radius: 5px;
		// border: 1px solid #e5e7ec;
		@media screen and (max-width: 600px){
			border: none;
			border-top: 1px solid #e5e7ec;
			padding: 0px;
			padding-top: 20px;
			border-radius: 0px;
		}
        width: 100%;
        height: auto;
        margin-bottom: 20px;
		margin-top: 20px;
		.employer_update_content{
			.employer_update_label{
				font-size: 16px;
				font-weight: 550;
			}
			.employer_update_input{
				padding-bottom: 10px;
			}
		}
    }

    .employer_update_submit{
        margin-bottom: 20px;
        .employer_update_form_submit{
            width: 100%;
            @media screen and (min-width: 600px){
                width: 200px;
            }
            font-weight: 600;
            height: 44px;
            border-radius: 5px;
            padding: 6px;
            background: #0d6efd;
            font-size: 14px;
            border: none;
            cursor: pointer;
            text-align: center;
            color: #fff;
            
            &:hover{
                background-color: #369;
                color: #fff;
            }
        }
    }
}


/////////////////////////search cv////////////////////
.employer_cv_search_index_block{
    .employer_cv_searched_input{
        display: block;
        margin-top: 30px;
        .padding_customize{
            @media screen and (min-width: 600px){
                padding-left: 0px !important;
                padding-right: 0px !important;
            }
        }
        .padding_right_customize{
            @media screen and (min-width: 600px){
                padding-right: 0px !important;
            }
        }
        .employer_cv_searched_what{
            background-color: #fff;
            border: 1px solid #e5e5e5;
            width: 100%;
            border-radius: 5px;
            @media screen and (max-width: 600px){
                border-radius: 5px;
            }
            position: relative;
            i{
                font-size: 22px;
                color: #888;
                position: absolute;
                left: 10px;
                top: 13px;
            }
            .form-control{
                padding-left: 40px;
                padding-right: 10px;
                width: 100%;
                height: 49px;
                border: none;
                color: #333;
                font-size: 16px;
                &:focus{
                    border: none;
                    box-shadow: none;
                }
            }
        }
        
        .employer_cv_searched_button{
            border: none;
            width: 100%;
            button{
                border: none;
                border-radius: 5px;
                background-color: #0d6efd;
                height: 50px;
                color: #fff;
                width: 100%;
                font-size:16px;
                @media screen and (max-width: 600px){
                    width: 100%;
                    float: none;
                }
                &:focus {outline:none;}
            }
        }
    }

    .employer_cv_filter_container{
        display: none;
        .employer_cv_filter_block{
            margin-top: 20px;
            .employer_cv_filter_input{
                .form-select{
                    padding-left: 40px;
                    width: 100%;
                    height: 36px;
                    border: none;
                    color: #333;
                    font-size: 14px;
                    border: 1px solid #e5e5e5;
                    &:focus{
                        border: 2px solid #0071e3;
                        border-radius: 5px;
                    }
                }
                margin-bottom: 10px;
            }
        
            .employer_cv_filter_submit{
                .form-control{
                    border-radius: 5px;
                    background-color: #fff;
                    border: 2px solid #0d6efd;
                    color: #333;
                    width: 100%;
                    font-size:14px;
                    height: 36px;
                    &:focus{
                        border: 2px solid #0071e3;
                        border-radius: 5px;
                    }
                    a{
                        position: relative;
                        top: -5px;
                        font-weight: 600;
                        color: #444;
                    }
                    i{
                        font-size: 20px;
                        color: #666;
                    }
                }
            }
        }
    }

    .filter_button_on{
        float: right;
        border: none;
        background-color: #fff;
        color: #0d6efd;
        font-size: 14px;
        font-weight: 600;
        margin-top: 5px;
        &:focus{
            outline: none;
        }
        i{
            position: relative;
            top: 5px;
        }
    }

    .filter_button_off{
        float: right;
        border: none;
        background-color: #fff;
        color: #0d6efd;
        font-size: 14px;
        font-weight: 600;
        margin-top: 5px;
        i{
            position: relative;
            top: 5px;
        }
        &:focus{
            outline: none;
        }
    }
    
    .employer_cv_search_block_result{
        clear: both;
        .employer_cv_search_index{
            margin-top: 20px;
            padding-bottom: 20px;
            clear: both;
            .employer_cv_search_label{
                padding-top: 10px;
                padding-bottom: 20px;
                font-size: 22px;
                margin-right: 13px;
                border-top-right-radius: 1px;
                border-top-left-radius: 1px;
                font-weight: 550;
                span{
                    border-left: 5px solid #febb02;
                    padding-left: 5px;
                }
                @media screen and (max-width: 600px){
                    margin-top: 10px;
                    width: 100%;
                }
            }
        }	
    
        .employer_cv_search_not_found_block{
            margin-top: 30px;
            .employer_cv_search_not_found_label{
                padding-top: 10px;
                padding-bottom: 20px;
                font-size: 24px;
                margin-right: 13px;
                border-top-right-radius: 1px;
                border-top-left-radius: 1px;
                font-weight: 550;
                span{
                    // border-left: 5px solid #febb02;
                    // padding-left: 5px;
                }
                @media screen and (max-width: 600px){
                    margin-top: 10px;
                    width: 100%;
                }
            }
            .employer_cv_search_not_found_image{
                display: flex;
                justify-content: center;
                img{
                    height: 100px;
                    width: 200px;
                    object-fit: cover;
                }
            }
            .employer_cv_search_not_found_help{
                margin-top: 10px;
                a{
                    font-size: 16px;
                    font-weight: 600;
                }
            }
            .employer_cv_search_not_found_suggest{
                margin-top: 30px;
                .employer_cv_search_not_found_suggest_label{
                    padding-top: 10px;
                    padding-bottom: 20px;
                    font-size: 24px;
                    margin-right: 13px;
                    border-top-right-radius: 1px;
                    border-top-left-radius: 1px;
                    font-weight: 550;
                    a{
                        border-left: 5px solid #febb02;
                        padding-left: 5px;
                    }
                    @media screen and (max-width: 600px){
                        margin-top: 10px;
                        width: 100%;
                    }
                }
            }
        }

        .employer_cv_preview_index{
        }
    }

    .employer_cv_searched_result{
        padding-top: 30px;
    }
}