// Place all the styles related to the EmployerNotifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
//////////////////////////block///////////////////////@at-root
.employer_notification_block{
    border-bottom: 1px solid #EAEAF0;
    padding-top: 10px;
    padding-bottom: 10px;
    .employer_notification_left{  
        float: left;
        .employer_notification_date{
            a{
                font-size: 15px;
                font-style: italic;
                color: #888;
            }
        }
    }
    .employer_notification_right{
        padding-left: 130px;
        .employer_notification_user{
            float: left;
            a{
                font-size: 15px;
                font-style: italic;
            }
            span{
                margin-left: 3px;
                margin-right: 5px;
                font-size: 13px;
                font-style: italic;
                color: #555;
            }
        }
        .employer_notification_title{
            a{
                font-size: 15px;
                word-break: break-word; 
            }
        }
        .employer_notification_content{
            margin-top: 10px;
            a{
                font-size: 15px;
                word-break: break-word; 
            }
        }
    }
}

////////////////////index////////////////////////@at-root
.employer_notification_index{
    padding-bottom: 20px;
    padding-top: 20px;
    min-height: 700px;
    .employer_notification_index_label{
        h3{
            font-size: 23px;
            font-weight: 600;
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }
    .employer_notification_not_found_block{
        background-color: #f8f9fa;
        padding: 30px 15px 30px 15px;
        border-radius: 4px;
        .employer_notification_not_found_icon{
            i{
                font-size: 30px;
                color: #666;
            }
            text-align: center;
        }
        .employer_notification_not_found{
            text-align: center;
            font-size: 15px;
            font-weight: 500;
            padding-bottom: 10px;
            color: #444;
        }
        .employer_notification_not_found_action{
            span{
                font-size: 20px;
                font-weight: 550;
            }
            width: 100%;
            min-height: 100px;
            margin-top: 20px;
            background-color: #ebfeff;
            border: 1px solid #ebfeff;
            border-radius: 4px;
            .employer_notification_button{
                display: flex;
                justify-content: center;
                padding: 15px;
                margin-top: 10px;
                @media screen and (max-width: 600px){
                    float: none;
                    padding-bottom: 30px;
                }
                button{
                    height: 44px;
                    @media screen and (max-width: 600px){
                        width: 100%;
                    }
                    width: 250px;
                    margin-right: 10px;
                    background: #1a73e8;
                    font-size: 14px;
                    border: none;
                    cursor: pointer;
                    text-align: center;
                    color: #fff;
                    border-radius: 4px;
                    i{
                        position: relative;
                        top: 2px;
                        font-size: 20px;
                        margin-right: 3px;
                    }

                    span{
                        font-size: 15px;
                        position: relative;
                        top: -2px;
                    }
                    
                    &:hover{
                        background-color: #369;
                        color: #fff;
                    }
                    &:focus {outline:none;}
                }
            }
        }
    }
}