.container_footer{
    padding-left: 0%;
    padding-right: 0%;
    clear: both;
    footer{
        min-height: 80px;
        margin-top: 20px;
        .footer_container_top{
            border-top: 1px solid #dfe1e5;
            background-color: #f6fbf9;
            padding-top: 20px;
            padding-bottom: 20px;
            @media screen and (max-width: 600px){
                // text-align: center;
                display: none;
            }
            .footer_label{
                padding-top: 10px;
                padding-bottom: 10px;
                font-size: 15px;
                font-weight: 600;
            }
            .footer_link{
                color: #444;
                ul{
                    display: block;
                    margin: 0; 
                    padding: 0;
                    li{
                        display: block;
                        padding-left: 0px !important;
                        padding-bottom: 5px;
                        a{
                            font-size: 14px;
                            text-decoration: none;
                            color: #444;
                        }
                        a:hover{
                            color: #1877f2;
                        }
                    }
                }
            }
        }

        .footer_container_bottom{
            background-color: #f6fbf9;
            
            @media screen and (max-width: 600px){
                border: none;
            }
            .footer_links
            {
                font-size: 14px;
                @media screen and (max-width: 600px){
                    text-align: center;
                }
            }
            
            .footer_copyright{
                font-size: 14px;
                color: #444 ;
                text-align: center;
                @media screen and (max-width: 600px){
                    text-align: center;
                }
                font-weight: 500;
                .checked {
                    color: red;
                }
            }

            .footer_socail_links{
                text-align: right;
                position: relative;
                top: -10px;
                @media screen and (max-width: 600px){
                    text-align: center;
                    display: none;
                }
                ul{
                    li{
                        display: inline-block;
                        a{
                            font-size: 14px;
                            width: 35px;
                            height: 35px;
                            display: inline-block;
                            text-align: center;
                            background: transparent;
                            margin-right: 10px;
                            color: #1877f2 !important;
                            // line-height: 40px !important;
                            border: 1px solid #dfe1e5 ;
                            border-radius: 3px;
                            background-color: #fff;
                            i{
                                font-size: 14px;
                                line-height: 40px;
                                position: relative;
                                top: -1px;
                            }
                            
                        }
                        &:hover a{
                            color: #fff !important;
                            background: #1877f2;
                            border-color: transparent;
                            border: 1px solid #dfe1e5 ;
                        }
                    }
                }
            }
        }
    }
}