.body_content_footer{
    padding-left: 0%;
    padding-right: 0%;
    clear: both;
    footer{
        height: 80px;
        // background-color: #f8f9fa;
        border-top: 1px solid #dadce0;
        .footer_container{
            .footer_links
            {
                font-size: 14px;
                width: 30%;
                float: left;
                padding-top: 30px;
                padding-left: 4%;
            }
            
            .footer_copyright{
                width: 35%;
                float: left;
                margin-left: 0px;
                font-size: 14px;
                padding: 20px;
                color: #161e2e ;
                text-align: center;
                font-weight: 500;
                padding-top: 30px;
                .checked {
                    color: red;
                }
            }

            .footer_socail_links{
                float: right;
                padding-top: 5px;
                padding-right: 3%;
                ul{
                    li{
                        display: inline-block;
                        a{
                            font-size: 14px;
                            width: 35px;
                            height: 35px;
                            display: inline-block;
                            text-align: center;
                            background: transparent;
                            line-height: 40px !important;
                            margin-right: 7px;
                            color: #4284f4 !important;
                            line-height: 40px !important;
                            border: 1px solid #dfe1e5 ;
                            border-radius: 2px;
                            i{
                                font-size: 14px;
                                line-height: 40px;
                                position: relative;
                                top: -1px;
                            }
                            
                        }
                        &:hover a{
                            color: #fff !important;
                            background: #4284f4;
                            border-color: transparent;
                            border: 1px solid #dfe1e5 ;
                        }
                    }
                }
            }
        }
    }
}