.container_footer{
    padding-left: 0%;
    padding-right: 0%;
    clear: both;
    .footer_block{
        min-height: 80px;
        .footer_container_top{
            border-top: 1px solid #F5F5F5;
            background-color: #fff;
            padding-top: 40px;
            padding-bottom: 30px;
            @media screen and (max-width: 600px){
                padding-top: 30px;
                padding-bottom: 20px;
            }
            .footer_logo{
                @media screen and (max-width: 600px){
                    display: none;
                }
                text-align: left;
                img{
                    width: 40px;
                    height: 40px;
                }
            }
            .footer_label{
                margin-bottom: 10px;
                font-size: 15px;
                font-weight: 550;
                color: #333;
            }
            .footer_link{
                color: #333;
                ul{
                    display: block;
                    margin: 0; 
                    padding: 0;
                    li{
                        display: block;
                        padding-left: 0px !important;
                        padding-bottom: 8px;
                        a{
                            font-size: 15px;
                            text-decoration: none;
                            color: #333;
                        }
                        a:hover{
                            color: #1473e6;
                        }
                    }
                }
            }
        }

        .footer_container_bottom{
            background-color: #fff;
            @media screen and (max-width: 600px){
                padding-bottom: 10px;
            }
            .footer_container_bottom_block{
                padding-top: 15px;
                padding-bottom: 15px;
                border-top: 1px solid #F5F5F5;
                @media screen and (max-width: 600px){
                    // border: none;
                }
                .footer_links
                {
                    a{
                        font-size: 14px;
                        color: #333;
                        text-decoration: none;
                        &:hover{color: #1473e6;}
                    }
                    @media screen and (max-width: 600px){
                        text-align: center;
                    };
                }
                
                .footer_copyright{
                    @media screen and (max-width: 600px){
                        margin-top: 10px;
                        text-align: left;
                    }
                    a{
                        font-size: 14px;
                        color: #333;
                        position: relative;
                        top: 3px;
                        text-decoration: none;
                        word-break: break-word;
                        @media screen and (max-width: 600px){
                            margin-left: 0px;
                            margin-right: 10px;
                        }
                        margin-left: 10px;
                        margin-right: 0px;
                        &:hover{color: #1473e6;}
                    }
                    text-align: right;
                    font-weight: 500;
                    i{
                        font-size: 20px;
                        color: red;
                        position: relative;
                        top: 5px;
                    }
                }

                .footer_bottom_links{
                    text-align: left;
                    position: relative;
                    
                    span{
                        font-size: 14px;
                        text-decoration: none;
                        color: #444;
                        // margin-right: 5px;
                        position: relative;
                        top: -2px;
                        left: -4px;
                        &:hover{color: #1473e6;}
                    }
                    i{
                        font-size: 20px;
                        position: relative;
                        top: 3px;
                        color: #666;
                        left: -4px;
                    }
                    
                    .footer_select_language{
                        display: inline-block;
                        .btn_select_language{
                            background-color: #fff;
                            border: 1px solid #EAEAF9;
                            border-radius: 3px;
                            span{
                                font-size: 14px;
                                color: #444;
                            }
                            i{
                                position: relative;
                                top: 3px;
                                color: #444;
                            }
                        }
                        .dropdown-menu{
                            padding: 5px;
                            a{
                                text-decoration: none;
                                font-size: 14px;
                                color: #333;
                            }
                            span{
                                position: relative;
                                top: 2px;
                                margin-left: 3px;
                                &:hover{color: #1473e6;}
                            }
                            img{
                                width: 30px;
                                height: 20px;
                                object-fit: cover;
                            }
                        }
                    }
                }
            }
        }
    }
}