// Place all the styles related to the header_user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.body_content_header_user{
	background-color:#ffffff;
	border-bottom: 1px solid #f0f0f0;
	.header_user_area {
		height: 50px;
		margin-left: 18%;
		margin-right: 18%;
		padding-top: 20px;
		.header_user_content
		{
			display: block;
			.header_user_logo{
				float: left;
				a{
					font-size: 30px;
					display: block;
					text-decoration:none;
					line-height: 1;
					text-align: center;
					color: #5850ec;
					font-weight: 600;
				}
				span{
					&:hover{
						color: #4284f4;
					}
				}
				
			}

			.header_user_navigation{
				margin-left: 200px;
				nav{
					float: left;
					a{
						color: #161e2e;
						font-size: 16px;
						display: inline-block;
						padding: 6px 15px;
						position: relative;
						text-decoration: none;
						line-height: 1;
						text-align: center;
						&:hover{
							color: #4284f4;
						}
					}
				}
			}

			.header_user_button{
				.user_icon_button{
					margin-left: 800px;
					.fa{
                        color: #5850ec !important;
					}

                    &:hover .fa{
						color: #4284f4 !important;
					}
					
					button{
						background-color: #ffffff;
						border: #ffffff;
					}

				}
			}
		}
		clear: both;
	}
}