// Place all the styles related to the Header controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.body_content_header{
    padding-left: 0%;
    padding-right: 0%;
    background-color:#292c2f;
	.header_area {
		background-color:#292c2f;
		padding: 15px 20px;
		height: 40px;
		margin-left: 18%;
		margin-right: 18%;
		.header_content
		{
			width: 100%;
			height: 100%;
			display: block;
			margin-top: 0px;
			padding-top: 0px;
			.header_logo{
				float: left;
				a{
					font-size: 30px;
					display: block;
					text-decoration:none;
					line-height: 1;
					text-align: center;
					color: white ;
				}
				span{
					&:hover{
						// text-decoration: underline;
					}
				}
				
			}

			.header_navigation{
				margin-top: 6px;
				margin-left: 15%;
				nav{
					float: left;
					a{
						color: white ;
						font-size: 18px;
						display: inline-block;
						padding: 0 13px;
						opacity: 0.9;
						position: relative;
						text-decoration:none;
						line-height: 1;
						span{
							position: absolute;
							top: -12px;
							border-radius: 2px;
							background-color: #2A6A92;
							box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
							height: 12px;
							font-size: 6px;
							right: -15px;
							padding: 1px 4px 0;
						}
						&:hover{
							text-decoration: underline;
						}
					}
				}
			}

			.header_search_button
			{
				background-color: #00D363;
				display: block;
				padding-top: 0px;
				margin-top: 0px;
				.form-input-search
				{
					float: left;
					margin-left: 18%;
					background: transparent;
					::placeholder {
						color: #fafbfc;
						margin-left: 10px;
					}
					input{
						height: 30px;
						width: 200px;
						border: none;
						border-radius: 4px;
						background-color: #404448;
						color: #ffffff;
					}
				}

				a{
					float: left;
					font-size: 15px;
					width: 30px;
					height: 35px;
					display: inline-block;
					text-align: center;
					background: transparent;
					line-height: 40px !important;
					margin-right: 7px;
					color: #fafbfc !important;
					line-height: 40px !important;
					i{
						font-size: 15px;
						line-height: 40px;
						position: relative;
						top: -1px;
					}
					
				}
				&:hover a{
					color: #00D363 !important;
				}
			}

			.header_button{
				margin-left: 10px;
				.login_button{
					float: left;
					button{
						padding: 6px;
						height: 32px;
						width: 93px;
						margin-top: 0px;
						margin-right: 5px;
						background: #292c2f;
						font-size: 16px;
						border: none;
						border-radius: 4px;
						cursor: pointer;
						text-align: center;
						color: #ffffff;
						
						&:hover{
							background-color: #4CAF50;
						}
					}

				}

				.signup_button{
					float: right;
					button{
						padding: 6px;
						height: 32px;
						width: 93px;
						margin-top: 0px;
						margin-right: 0px;
						background: #292c2f;
						font-size: 16px;
						border: 1px solid #ffffff;
						border-radius: 4px;
						cursor: pointer;
						text-align: center;
						color: #ffffff;

						&:hover{
							background-color: #4CAF50;
						}
					}
				}
			}
		}
		clear: both;
	}
}