// Place all the styles related to the Header controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.body_content_header{
	background-color:#ffffff;
	border-bottom: 1px solid #f0f0f0;
	.header_area {
		height: 50px;
		margin-left: 18%;
		margin-right: 18%;
		padding-top: 20px;
		.header_content
		{
			display: block;
			.header_logo{
				float: left;
				a{
					font-size: 30px;
					display: block;
					text-decoration:none;
					line-height: 1;
					text-align: center;
					color: #5850ec;
					font-weight: 600;
				}
				span{
					&:hover{
						color: #4284f4;
					}
				}
				
			}

			.header_navigation{
				margin-left: 200px;
				nav{
					float: left;
					a{
						color: #161e2e;
						font-size: 16px;;
						display: inline-block;
						padding: 6px 15px;
						position: relative;
						text-decoration: none;
						line-height: 1;
						text-align: center;
						&:hover{
							color: #4284f4;
						}
					}
				}
			}

			.header_button{
				.login_button{
					float: left;
					margin-left: 80px;
					button{
						padding: 6px;
						height: 32px;
						width: 93px;
						margin-right: 10px;
						background: #5850ec;
						font-size: 16px;
						border: none;
						border-radius: 5px;
						cursor: pointer;
						text-align: center;
						color: #ffffff;
						
						&:hover{
							background-color: #4284f4;
						}
					}
				}

				.signup_button{
					// float: right;
					button{
						padding: 6px;
						height: 32px;
						width: 93px;
						margin-top: 0px;
						margin-right: 0px;
						font-size: 16px;
						border: 1px solid #5850ec;
						border-radius: 5px;
						cursor: pointer;
						text-align: center;
						color: #161e2e;
						background-color: #ffffff;
						&:hover{
							background-color: #4284f4;
							color: #ffffff;
						}
					}
				}
			}
		}
		clear: both;
	}
}