// Place all the styles related to the header_user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.body_content_header_user{
	background-color:#ffffff;
	border-bottom: 1px solid #f0f0f0;
	margin-bottom: 0px !important;
	.header_user_area {
		height: 50px !important;
		margin-left: 15%;
		margin-right: 15%;
		padding-top: 12px;
		@media screen and (max-width: 600px) {
			height: 80px;
			margin-left: 5%;
			margin-right: 5%;
		}
		.header_user_content
		{
			display: block;
			.header_user_logo{
				float: left;
				@media screen and (max-width: 600px){
					margin-left: 36%;
				}	
				i{
					font-size: 40px;
					color: #d74832;
					position: relative;
					top: 8px;
					margin-right: 5px;
					margin-left: 5px;
				}
				a{
					font-size: 33px;
					display: block;
					text-decoration:none;
					color: #5850ec;
					font-weight: 600;
					position: relative;
					top: -14px;
				}
				span{
					&:hover{
						color: #4284f4;
					}
				}
			}

			.header_user_navigation{
				margin-left: 330px;
				nav{
					float: left;
					a{
						color: #161e2e;
						font-size: 16px;
						display: inline-block;
						padding: 6px 18px;
						position: relative;
						text-decoration: none;
						line-height: 1;
						text-align: center;
						&:hover{
							border-bottom: 2px solid #4284f4;
							color: black;
						}
						.active{
							border-bottom: 2px solid #4284f4;
						}
					}
				}
				
				@media screen and (max-width: 600px) {
					margin-left: 0px;
					nav{
						float: left;
						margin-top: 10px;
						a{
							color: #161e2e;
							font-size: 16px;
							display: inline-block;
							padding: 10px 3px;
							position: relative;
							text-decoration: none;
							line-height: 1;
							text-align: center;
							&:hover{
								color: #4284f4;
							}
						}
					}
				}
			}

			.header_user_button{
				.user_icon_button{
					margin-left: 990px;
					@media screen and (max-width: 600px){
						display: none;
					}
					
					button{
						background-color: #ffffff;
						border: none;
						font-size: 33px;
						color: #5850ec !important;
						i{
							color: #5850ec !important;
							position: relative;
							top: -10px;
						}
	
						&:hover{
							color: #4d78c2 !important;
						}
					}

				}
			}
		}
		clear: both;
	}
}