.home_slider_area
{
    position: relative;
    text-align: center;
    .home_banner_image{
        // padding:0 !important;
        // img{
        //     width: 100%;
        //     height: 900px;
        // }
    }
    .slider_text {
        position: absolute;
        top: 8px;
        font-size: 40px;
    }

    .home_signup_button{
        position: absolute;
        bottom: 8px;
        font-size: 40px;
    }
}