
.home_slider_area1
{
    position: relative;
    text-align: center;
    background-color: #ffffff;
    .home_banner_image{
        padding:0 !important;
        img{
            width: 100%;
            height: 900px;
        }
    }

    .slider_text_title {
        position: absolute;
        top: 30%;
        left: 18%;
        font-size: 40px;
        color: #161e2e;
    }

    .slider_text_content {
        position: absolute;
        top: 38%;
        width: 500px;
        height: 800px;
        left: 18%;
        font-size: 20px;
        text-align: left;
        color: #aaacaf;
    }

    .home_slider_area_right
    {
        position: absolute;
        top: 18%;
        width: 500px;
        height: 600px;
        right: 18%;
        background-color: #ffffff;
        border-radius: 5px;
        border: 1px solid #c8c8c8;

        .user_new_title{
            font-size: 22px;
            color: #161e2e;
            text-align: center;
            margin-top: 40px;
            margin-bottom: 30px;
        }

        .user_new_content{
            margin-left: 25px;
            .user_new_label{
                font-weight: 400;
                font-size: 14px;
                color: #161e2e;
                text-align: left;
            }

            .user_new_input{
                left: 0px;
                margin-top: 5px;
                margin-bottom: 20px;
                width: 450px;
                .user_new_form_input{
                    margin-left: 0px;
                    height: 40px;
                    width: 100%;
                    border: 1px solid #c8c8c8;
                    border-radius: 5px;
                }
            }
        }
        .user_new_content_checkbox
        {
            margin-top: 30px;
            margin-bottom: 20px ;
            .label-agree-term
            {
                font-size: 14px; 
            }
        }

        .user_new_submit{
            width: 450px;
            .user_new_form_submit{
                height: 50px;
                width: 100%;
                margin-left: 25px;
                border-radius: 5px;
                padding: 6px;
                background: #5850ec;
                font-size: 14px;
                border: none;
                cursor: pointer;
                text-align: center;
                color: #ffffff;
                
                &:hover{
                    background-color: #4284f4;
                }
            }
        }
        .user_new_loginhere
        {
            text-align: center;
            margin-top: 30px;
            font-size: 14px;
        }
    }

}

.home_slider_area2{
    
}
