.home_page
{
    min-height: 1080px;
    .home_search_bar{
        height: 480px;
        background-color: #fff;
        .home_search_bar_label{
            padding-top: 120px;
            text-align: left;
            h3{  
                font-size: 50px;
                margin-bottom: 10px;
                font-weight: 550;
                color: #111;
                i{
                    font-size: 50px;
                }
            }
            span{
                margin-top: 5px;
                font-size: 24px;
                color: #2d2d2d;
                line-break: auto;
            }
            span.textbox{
                color: #feb100;
                font-size: 50px;
                // text-decoration: underline;
                // text-shadow: -0.1px -0.1px 0 #feb100, 0.1px -0.1px 0 #feb100;
                // padding-left: 10px;
                // padding-right: 10px;
            }
            margin-bottom: 60px;
        }

        .input-group{
            box-shadow: 0 1px 4px 0 rgba(60, 60, 60, 0.1), 0 2px 4px 0 rgba(30, 30, 30, 0.09);
            background-color: #fff;
            border: none;
            .form-control{
                height: 50px;
            }
            .input-group-addon{
                background-color: #fff;
                i{
                    font-size: 28px;
                    color: #555;
                    position: relative;
                    // top: 5px;
                }
                .btn{
                    border: none;
                }

            }
        }
    }
    
    .home_top_company{
        height: auto;
        .home_top_company_label{
            padding-bottom: 20px;
            span{
                font-weight: 500;
                text-align: left;
                font-size: 30px;
                color: #444;
            }
        }

        .row{
            padding-bottom: 50px;
            .col-sm-3{
                float: left;
                display: block;
                padding: 10px;
                .single_company{
                    border: 1px solid #edeef0;
                    background-color: #fff;
                    min-height: 300px;
                    &:hover{
                        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                        // border: 1px solid #629fdb;
                    }
                    
                    .company_wall{
                        .rounded
                        {
                            img{
                                width: 100%;
                                height: 150px;
                            }
                            display: block;
                            float: left;
                        }
                    }
            
                    .company_thumbnail
                    {
                        .rounded{
                            height: 140px;
                            padding-top: 130px;
                            padding-left: 15px;
                            position: absolute; 
                            img{ 
                                display: block;
                                box-shadow: 0 1px 4px 0 rgba(54, 53, 53, 0.1), 0 2px 4px 0 rgba(131, 126, 126, 0.09) !important;
                                width: 80px;
                                height: 80px;
                                border-radius: 2px;
                            }
                            display: block;
                            float: left;
                        }
                    }
            
                    .company_love_button{
                        padding-right: 5px;
                        padding-top: 10px;
                        float: right;
                        button{
                            border: none;
                            background-color: #fff;
                            i {
                                font-size: 24px;
                                color: #e2e2e2;
                                position: relative;
                                margin-right: 0px;
                                &:hover{
                                    color: #1877f2;
                                }
                            }
                
                            .checked {
                                color: #dfe1e5;
                            }
                        }
            
                        button:hover{
                            background: #fff;
                            .checked {
                                color: #feb100;
                            }
                        }
                    }
                    
                    .company_title{
                        padding-left: 110px;
                        .company_name
                        {
                            padding-left: 3px;
                            clear: both;
                            text-align: left;
                            color: #161e2e;
                            font-size: 18px;
                            font-weight: 550;
                            padding-top: 10px;
                            // height: 50px;
                            .company_name_label{
                                color: #161e2e;
                                text-decoration: none !important;overflow: hidden;
                                text-overflow: ellipsis;
                                display: -webkit-box;
                                -webkit-line-clamp: 1; /* number of lines to show */
                                -webkit-box-orient: vertical;
                            }
                        }

                        .company_rating
                        {
                            width: 100%;
                            height: 100%;
                            margin-top: 5px;
                            .review_score_star
                            {
                                i {
                                    font-size: 21px;
                                }
                    
                                .checked {
                                    color: #feb100;
                                }

                                .checked_out {
                                    color: #dfe1e5;
                                }
                            }
                        }
                    }
            
                    .company_summary
                    {
                        display: block;
                        margin-left: auto;
                        margin-right: auto;
                        width: 100%;
                        .company_location
                        {
                            text-align: center;
                            font-size: 14px;
                            color: #808080;
                            i{
                                margin-right: 0px;
                                position: relative;
                                font-size: 17px;
                                top: 2px;
                                color: #635f5f;
                            }
                        }
            
                        .review_point
                        {
                            clear: both;
                            color: #161e2e;
                            .review_point_review_content{
                                font-size: 14px;
                                font-weight: 500;
                                float: left;
                                margin-top: 10px;
                                margin-left: 15%;
                                margin-right: 15%;
                            }
                            clear: both;
                            .review_point_label
                            {
                                float: left;
                                font-size: 13px;
                                text-align: center;
                                @media screen and (max-width: 600px){
                                    margin-left: 10%;
                                    margin-right: 5%;
                                }
                                margin-left: 3%;
                                // margin-right: 5%;
                                .review_point_review_label{
                                    span{
                                        text-decoration: none !important;
                                        color: #808080; 
                                    }
                                }
                                i{
                                    font-size: 18px;
                                    color: #808080; 
                                    position: relative;
                                    top: 5px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .home_top_job{
        clear: both;
        padding-top: 20px;
        background-color: #fff;
        .home_top_job_label{
            color: #202124;
            font-size: 33px;
            font-weight: 500;
        }

        .row{
            .col-lg-6{
                padding: 10px;
                .user_job_block {
                    clear: left;
                    min-height: 200px;
                    @media screen and (max-width: 600px)
                    {
                        min-height: 220px;
                    }
                    border-radius: 2px;
                    padding: 0px !important;
                    float: left;
                    border: 1px solid #edeef0;
                    &:hover{
                        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                        background-color: #fff;
                    }
                
                    .user_job_left
                    {
                        width: 5%;
                        height: auto;
                        padding-top: 10px;
                        display: block;
                        position: relative;
                        float: left;
                        .user_avatar {
                            float: left;
                            border-radius: 2px;
                            img{ 
                                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
                                max-width: 80px;
                                max-height: 80px;
                            }
                        }
                    }
                
                    .user_job_right{
                        width: 80%;
                        padding: 10px;
                        margin-left: 10px;
                        padding-top: 25px;
                        .user_job_title{
                            min-height: 40px;
                            a:link{
                                font-size: 18px;
                                font-weight: 600;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                display: -webkit-box;
                                -webkit-line-clamp: 2; /* number of lines to show */
                                -webkit-box-orient: vertical;
                                text-decoration: none !important ;
                            }
                            @media screen and (max-width: 600px)
                            {
                                margin-left: 20px;
                                -webkit-line-clamp: 2;
                            }
                        }
                
                        .user_job_company{
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-line-clamp: 2; /* number of lines to show */
                            -webkit-box-orient: vertical;
                            font-size: 16px;
                            padding-right: 10px;
                            @media screen and (max-width: 600px)
                            {
                                margin-left: 20px;
                                -webkit-line-clamp: 1; /* number of lines to show */
                            }
                            i {
                                font-size: 17px;
                                position: relative;
                                top: 3px;
                            }
                            span{
                                font-size: 14px;
                                font-weight: 100px;
                            }

                            .checked {
                                color: #a3a2a2;
                            }
                        }

                        .user_job_des{
                            margin-top: 20px;
                            float: left;
                            font-size: 13px;
                            color: #444;
                            margin-left: 20px;
                            a{
                                padding-top: 5px;
                                padding-bottom: 5px;
                                padding-left: 10px;
                                padding-right: 10px;
                                border: 1px solid #1877f2;
                                border-radius: 30px;
                                i{
                                    font-size: 18px;
                                    margin-right: 3px;
                                    color: #8a8888;
                                    position: relative;
                                    top: 5px;
                                }
                            }
                        }
                    }
                    clear: left;
                    clear: right;
                }
            }
        }
    }
}
