// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// Place all the styles related to the Header controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


///////////admin////////////
.admin_dasboard{
    .admin_tab_content{
        .tab-content{
            .company_tab{
                .company_block{
                    border: 1px solid #999;
                    padding: 10px;
                    .company_name{
                        .company_name_label{
                            font-size: 16px;
                            font-weight: 600;
                        }
                        i{
                            padding-left: 20px;
                        }
                    }
                    .company_job_block{
                        padding-top: 10px;
                        margin-left: 30px;
                        .company_job_name{
                            padding: 10px;
                            padding-top: 0px;
                            border-left: 1px solid #888;
                            // float: left;
                            a{
                                // float: left;
                                font-size: 16px;
                                margin-right: 10px;
                            }
                        }
                    }
                    
                    clear: both;
                }
            } 

            .user_tab{
                .user_name{
                    padding: 10px;
                }
            }

            .post_tab{
                .post_name{
                    padding: 10px;
                }

            }

            .problem_tab{
                .problem_name{
                    padding: 10px;
                }
            }
        }
    }
}