// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// Place all the styles related to the Header controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


///////////admin////////////
.admin_dasboard{
    .admin_tab_link{
        padding-top: 40px;
        clear: left;
        overflow: hidden;
        position: relative;
        display: block;
        background-color: #fff;
        border-bottom: 2px solid #dfe1e5;
        .nav-tabs {
            overflow-x: auto;
            overflow-y: hidden;
            flex-wrap: nowrap;
            border: none;
        }
        .nav-tabs .nav-link {
            white-space: nowrap;
            font-size: 16px;
        }
        .nav-tabs .nav-link, .nav-tabs .nav-link.active, .nav-tabs .nav-link:hover {
            border: none;
            color: #333;
            text-align: left;
            i{
                position: relative;
                top: 5px;
                padding-right: 3px;
            }
            span{
                position: absolute;
                top: -1px;
                font-size: 12px;
                color: #999;
            }
        }
        .nav-tabs .nav-link.active {
            border-radius: 0;
            border-bottom: 5px solid #1877f2;
            font-weight: 500;
            color: #1877f2;
            font-size: 16px;
            span{
                color: #1877f2;
            }
        }
    }
    .admin_tab_content{
        min-height: 900px;
        .tab-content{
            .company_tab{
                .admin_search_input{
                    display: block;
                    min-height: 50px;
                    margin-bottom: 10px;
                    .admin_search_what{
                        background-color: #fff;
                        border: 1px solid #dfe1e5;
                        width: 100%;
                        border-radius: 3px;
                        i{
                            font-size: 22px;
                            position: relative;
                            top: 5px;
                            color: #888;
                            position: absolute;
                            left: 25px;
                            top: 14px;
                        }
                        .search_input{
                            padding-left: 10px;
                            padding-right: 10px;
                            width: 100%;
                            height: 50px;
                            border: none;
                            box-shadow: none;
                            color: #333;
                            font-size: 16px;
                            outline:none;
                        }
                    }
                    
                    .admin_search_button{
                        border: none;
                        width: 100%;
                        @media screen and (max-width: 600px){
                            padding-top: 20px;
                        }
                        button{
                            width: 100%;
                            border: none;
                            border-radius: 3px;
                            background-color: #42b72a;
                            height: 50px;
                            color: #fff;
                            font-size:16px;
                        }
                    }
                }
                .search_label{
                    font-size: 20px;
                    font-weight: 550;
                    padding-top: 10px;
                    padding-bottom: 10px;
                }
                .company_block{
                    border: 1px solid #999;
                    padding: 10px;
                    .company_name{
                        .company_name_label{
                            font-size: 17px;
                            font-weight: 550;
                        }
                        a:hover{
                            color: #1877f2;
                        }
                        i{
                            padding-left: 20px;
                        }
                    }
                    .new_job{
                        button{
                            margin-top: 10px;
                            margin-bottom: 10px;
                            padding: 10px;
                            width: 200px;
                            background-color: #1877f2;
                            border: none;
                            color: #fff;
                        }
                    }
					.approved{
						padding-top: 10px;
						padding-bottom: 10px;
						button{
							padding: 10px;
							width: 200px;
							background-color: #1877f2;
							border: none;
							color: #fff;
						}
					}
                    .company_job_dash{
                        padding-top: 10px;
                        margin-left: 50px;
                        .company_job_count{
                            a{
                                font-size: 16px;
                                font-weight: 600px;
                            }
                            padding-bottom: 10px;
                        }
                        .admin_company_job_block{
                            border: 1px solid #999;
                            padding: 10px;
                            .company_job_name{
                                a{
                                    // float: left;
                                    font-size: 16px;
                                    margin-right: 10px;
                                }
                            }
                        }
                        
						.new_job{
							button{
                                margin-top: 10px;
								margin-bottom: 10px;
								padding: 10px;
								width: 200px;
								background-color: #1877f2;
								border: none;
								color: #fff;
							}
						}
                    }
                    
                    clear: both;
                }
				.new_company{
					padding-top: 20px;
					button{
						padding: 10px;
						width: 200px;
						background-color: #1877f2;
						border: none;
						color: #fff;
					}
				}
            } 

            .user_tab{
                .admin_search_input{
                    display: block;
                    min-height: 50px;
                    margin-bottom: 10px;
                    .admin_search_what{
                        background-color: #fff;
                        border: 1px solid #dfe1e5;
                        width: 100%;
                        border-radius: 3px;
                        i{
                            font-size: 22px;
                            position: relative;
                            top: 5px;
                            color: #888;
                            position: absolute;
                            left: 25px;
                            top: 14px;
                        }
                        .search_input{
                            padding-left: 10px;
                            padding-right: 10px;
                            width: 100%;
                            height: 50px;
                            border: none;
                            box-shadow: none;
                            color: #333;
                            font-size: 16px;
                            outline:none;
                        }
                    }
                    
                    .admin_search_button{
                        border: none;
                        width: 100%;
                        @media screen and (max-width: 600px){
                            padding-top: 20px;
                        }
                        button{
                            width: 100%;
                            border: none;
                            border-radius: 3px;
                            background-color: #42b72a;
                            height: 50px;
                            color: #fff;
                            font-size:16px;
                        }
                    }
                }

                .search_label{
                    font-size: 20px;
                    font-weight: 550;
                    padding-top: 10px;
                    padding-bottom: 10px;
                }
                .user_block{
                    border: 1px solid #999;
                    padding: 10px;
                    .user_name{
                        padding: 10px;
                    }
                    
					.approved{
						padding-top: 10px;
						padding-bottom: 10px;
						button{
							padding: 10px;
							width: 200px;
							background-color: #1877f2;
							border: none;
							color: #fff;
						}
					}
                }
            }

            .post_tab{
                .admin_search_input{
                    display: block;
                    min-height: 50px;
                    margin-bottom: 10px;
                    .admin_search_what{
                        background-color: #fff;
                        border: 1px solid #dfe1e5;
                        width: 100%;
                        border-radius: 3px;
                        i{
                            font-size: 22px;
                            position: relative;
                            top: 5px;
                            color: #888;
                            position: absolute;
                            left: 25px;
                            top: 14px;
                        }
                        .search_input{
                            padding-left: 10px;
                            padding-right: 10px;
                            width: 100%;
                            height: 50px;
                            border: none;
                            box-shadow: none;
                            color: #333;
                            font-size: 16px;
                            outline:none;
                        }
                    }
                    
                    .admin_search_button{
                        border: none;
                        width: 100%;
                        @media screen and (max-width: 600px){
                            padding-top: 20px;
                        }
                        button{
                            width: 100%;
                            border: none;
                            border-radius: 3px;
                            background-color: #42b72a;
                            height: 50px;
                            color: #fff;
                            font-size:16px;
                        }
                    }
                }

                .search_label{
                    font-size: 20px;
                    font-weight: 550;
                    padding-top: 10px;
                    padding-bottom: 10px;
                }
                .post_block{
                    border: 1px solid #999;
                    padding: 10px;
                    .post_name{
                        padding: 10px;
                    }
                    
					.approved{
						padding-top: 10px;
						padding-bottom: 10px;
						button{
							padding: 10px;
							width: 200px;
							background-color: #1877f2;
							border: none;
							color: #fff;
						}
					}
                }
                .new_post{
                    padding-top: 20px;
                    button{
                        padding: 10px;
                        width: 200px;
                        background-color: #1877f2;
                        border: none;
                        color: #fff;
                    }
                }
            }

            .problem_tab{
                .admin_search_input{
                    display: block;
                    min-height: 50px;
                    margin-bottom: 10px;
                    .admin_search_what{
                        background-color: #fff;
                        border: 1px solid #dfe1e5;
                        width: 100%;
                        border-radius: 3px;
                        i{
                            font-size: 22px;
                            position: relative;
                            top: 5px;
                            color: #888;
                            position: absolute;
                            left: 25px;
                            top: 14px;
                        }
                        .search_input{
                            padding-left: 10px;
                            padding-right: 10px;
                            width: 100%;
                            height: 50px;
                            border: none;
                            box-shadow: none;
                            color: #333;
                            font-size: 16px;
                            outline:none;
                        }
                    }
                    
                    .admin_search_button{
                        border: none;
                        width: 100%;
                        @media screen and (max-width: 600px){
                            padding-top: 20px;
                        }
                        button{
                            width: 100%;
                            border: none;
                            border-radius: 3px;
                            background-color: #42b72a;
                            height: 50px;
                            color: #fff;
                            font-size:16px;
                        }
                    }
                }

                .search_label{
                    font-size: 20px;
                    font-weight: 550;
                    padding-top: 10px;
                    padding-bottom: 10px;
                }

                .problem_block{
                    border: 1px solid #999;
                    padding: 10px;
                    .problem_name{
                        padding: 10px;
                    }
                    
					.approved{
						padding-top: 10px;
						padding-bottom: 10px;
						button{
							padding: 10px;
							width: 200px;
							background-color: #1877f2;
							border: none;
							color: #fff;
						}
					}
                }
                .new_problem{
                    padding-top: 20px;
                    button{
                        padding: 10px;
                        width: 200px;
                        background-color: #1877f2;
                        border: none;
                        color: #fff;
                    }
                }
            }
        }
    }
}

////////////employer////////
.employer_dasboard{
    .employer_title{
        padding-top: 30px;
        padding-bottom: 20px;
        span{
            font-size: 22px;
            font-weight: 600px;
        }
    }
    .employer_log_out{
        font-size: 16px;
        text-decoration: underline;
    }

    .employer_tab_link{
        padding-top: 20px;
        clear: left;
        overflow: hidden;
        position: relative;
        display: block;
        background-color: #fff;
        border-bottom: 1px solid #dfe1e5;
        .nav-tabs {
            overflow-x: auto;
            overflow-y: hidden;
            flex-wrap: nowrap;
            border: none;
        }
        .nav-tabs .nav-link {
            white-space: nowrap;
            font-size: 16px;
        }
        .nav-tabs .nav-link, .nav-tabs .nav-link.active, .nav-tabs .nav-link:hover {
            border: none;
            color: #333;
            text-align: left;
            i{
                position: relative;
                top: 5px;
                padding-right: 3px;
            }
            span{
                position: absolute;
                top: -1px;
                font-size: 12px;
                color: #999;
            }
        }
        .nav-tabs .nav-link.active {
            border-radius: 0;
            border-bottom: 4px solid #1877f2;
            font-weight: 500;
            color: #1877f2;
            font-size: 16px;
            span{
                color: #1877f2;
            }
        }
    }

    .employer_tab_content{
        min-height: 1080px;
        .employer_company_tab{
            .employer_top_company{
                clear: both;
                height: auto;
                .employer_top_company_label{
                    padding-top: 10px;
                    padding-bottom: 20px;
                    a{
                        font-weight: 500;
                        text-align: left;
                        font-size: 22px;
                        color: #333;
                    }
                }
        
                .row{
                    padding-bottom: 50px;
                    .col-sm-3{
                        float: left;
                        display: block;
                        padding: 10px;
                        .single_company{
                            border: 1px solid #edeef0;
                            border-radius: 2px;
                            background-color: #fff;
                            min-height: 300px;
                            &:hover{
                                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                                background-color: #fff;
                            }
                            
                            .company_wall{
                                .rounded
                                {
                                    img{
                                        width: 100%;
                                        height: 150px;
                                    }
                                    display: block;
                                    float: left;
                                }
                            }
                    
                            .company_thumbnail
                            {
                                .rounded{
                                    height: 140px;
                                    padding-top: 135px;
                                    padding-left: 15px;
                                    position: absolute; 
                                    img{ 
                                        display: block;
                                        width: 75px;
                                        height: 75px;
                                        border: 1px solid #efefef;
                                    }
                                    display: block;
                                    float: left;
                                }
                            }
                    
                            .company_love_button{
                                // display: none;
                                padding-top: 10px;
                                @media screen and (max-width: 600px){
                                    padding-left: 85%;
                                }
                                padding-left: 75%;
                                position: absolute;
                                button{
                                    border: none;
                                    color: #666;
                                    background: none;
                                    i{
                                        background-color: #fff;
                                        border-radius: 30px;
                                        font-size: 20px;
                                        color: #dfe1e5;
                                        position: relative;
                                        &:hover{
                                            color: #1877f2;
                                        }
                                        padding: 2px;
                                        padding-left: 3px;
                                        padding-right: 3px;
                                        padding-top: 4px;
                                    }
        
                                    &:hover{
                                        background-color: transparent;
                                        color: #fff;
                                    }
                                }
                                
                                .follow_btn_highlight{ 
                                    i{
                                        color: #1877f2;
                                    }
                                    &:focus {outline:none;}
                                }
        
                                .follow_btn{
                                    i{
                                        color: #dfe1e5;
                                    }
                                    &:focus {outline:none;}
                                }
                            }
                            
                            .company_title{
                                padding-left: 100px;
                                .company_name
                                {
                                    padding-left: 3px;
                                    clear: both;
                                    text-align: left;
                                    color: #333;
                                    font-size: 17px;
                                    font-weight: 550;
                                    padding-top: 10px;
                                    // height: 50px;
                                    .company_name_label{
                                        color: #333;
                                        text-decoration: none !important;overflow: hidden;
                                        text-overflow: ellipsis;
                                        display: -webkit-box;
                                        -webkit-line-clamp: 1; /* number of lines to show */
                                        -webkit-box-orient: vertical;
                                    }
                                    
                                    a:hover{
                                        color: #1877f2;
                                    }
                                }

                                .company_rating
                                {
                                    width: 100%;
                                    height: 100%;
                                    margin-top: 5px;
                                    .review_score_star
                                    {
                                        i{
                                            font-size: 20px;
                                            margin-right: -3px !important;
                                        }
                            
                                        .checked {
                                            color: #febb02;
                                        }

                                        .checked_out {
                                            color: #999;
                                        }
                                    }
                                }
                            }
                    
                            .company_summary
                            {
                                display: block;
                                margin-left: auto;
                                margin-right: auto;
                                width: 100%;
                                padding-top: 15px;;
                                .company_point{
                                    .review_point{
                                        width: 33%;
                                        float: left;
                                        .company_point_content{
                                            text-align: center;
                                            font-size: 14px;
                                            color: #333;
                                        }
                                        .company_point_label{
                                            text-align: center;
                                            a{
                                                color: #444;
                                                font-size: 13px;
                                                text-decoration: none !important;
                                            }
                                            a:link{
                                                color: #444;
                                                font-size: 13px;
                                                text-decoration: none !important ;
                                            }
                                            a:hover{
                                                color: #1877f2;
                                            }
                                        }
                                    }
                                    .interview_point{
                                        width: 33%;
                                        float: left;
                                        .company_point_content{
                                            text-align: center;
                                            font-size: 14px;
                                            color: #333;
                                        }
                                        .company_point_label{
                                            text-align: center;
                                            a{
                                                color: #444;
                                                font-size: 13px;
                                                text-decoration: none !important;
                                            }
                                            a:link{
                                                color: #444;
                                                font-size: 13px;
                                                text-decoration: none !important ;
                                            }
                                            a:hover{
                                                color: #1877f2;
                                            }
                                        }
                                    }
                                    .job_point{
                                        .company_point_content{
                                            text-align: center;
                                            font-size: 14px;
                                            color: #333;
                                        }
                                        .company_point_label{
                                            text-align: center;
                                            a{
                                                color: #444;
                                                font-size: 13px;
                                                text-decoration: none !important;
                                            }
                                            a:link{
                                                color: #444;
                                                font-size: 13px;
                                                text-decoration: none !important ;
                                            }
                                            a:hover{
                                                color: #1877f2;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .employer_job_tab{
            .employer_top_job_new{
                padding-top: 10px;   
                padding-bottom: 10px; 
                width: 100%;
                button{
                    height: 50px;
                    @media screen and (max-width: 600px){
                        width: 100%;
                    }
                    width: 250px;
                    margin-right: 10px;
                    background: #1877f2;
                    font-size: 16px;
                    border: none;
                    cursor: pointer;
                    text-align: center;
                    color: #fff;
                    border-radius: 3px;
                    i{
                        position: relative;
                        top: 2px;
                        font-size: 20px;
                        margin-right: 3px;
                    }

                    span{
                        font-size: 16px;
                        position: relative;
                        top: -2px;
                    }
                    
                    &:hover{
                        background-color: #369;
                        color: #fff;
                    }
                }

            }
            .employer_top_job_employer{
                clear: both;
                padding-top: 20px;
                margin-bottom: 30px;
                background-color: #fff;
                .employer_top_job_employer_label{
                    color: #202124;
                    font-size: 22px;
                    font-weight: 500;
                    padding-bottom: 30px;
                }
        
                .employer_top_job_employer_container{
                    .company_employer_job_container{
                        border: 2px solid #dfe1e5;
                        padding: 20px;
                        margin-bottom: 20px;
                        .company_job_employer_block {
                            clear: left;
                            height: auto;
                            padding: 0px !important;
                            display: block;
                            .company_employer_job_edit{
                                margin-bottom: 10px;
                            }
                            .user_employer_job_block {
                                height: 220px;
                                @media screen and (max-width: 600px){
                                    height: 240px;
                                }
                                padding: 20px;
                                background-color: #fff;
                                margin-bottom: 20px;
                                border-radius: 3px;
                                border: 1px solid #ecedee;
                                // border-bottom: 1px solid #ecedee;
                                display: block;
                                &:hover{
                                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                                    background-color: #fff;
                                }

                                .company_job_left
                                {
                                    height: 200px;
                                    float: left;
                                    .company_avatar {
                                        img{ 
                                            border-radius: 0px;
                                            max-width: 80px;
                                            max-height: 80px;
                                            border: 1px solid #efefef;
                                            @media screen and (max-width: 600px){
                                                max-width: 70px;
                                                max-height: 70px;
                                            }
                                        }
                                    }
                                }
                                
                                .company_job_right{
                                    @media screen and (max-width: 600px){
                                        margin-left: 90px;
                                    }
                                    margin-left: 100px;
                                    .company_job_des{
                                        min-height: 160px;
                                        .company_job_title{
                                            a{
                                                text-decoration: none !important ;
                                                font-size: 19px;
                                                color: #444;
                                                position: relative;
                                                top: -5px;
                                                font-weight: 550;
                                            }
                                            a:hover{
                                                color: #1877f2;
                                            }
                                            overflow: hidden;
                                            text-overflow: ellipsis;
                                            display: -webkit-box;
                                            -webkit-line-clamp: 2; /* number of lines to show */
                                            -webkit-box-orient: vertical;
                                        }
                
                                        .company_job_company_name{
                                            a{
                                                font-size: 15px;
                                                color: #333;
                                                overflow: hidden;
                                                text-overflow: ellipsis;
                                                display: -webkit-box;
                                                -webkit-line-clamp: 1; /* number of lines to show */
                                                -webkit-box-orient: vertical;
                                                i{
                                                    color: #febb02;
                                                    font-size: 18px;
                                                    position: relative;
                                                    top: 3px;
                                                    padding-left: 3px;
                                                    // background-color: #febb02;
                                                }
                                            }
                                        }
                            
                                        .company_job_description{
                                            overflow: hidden;
                                            text-overflow: ellipsis;
                                            display: -webkit-box;
                                            -webkit-line-clamp: 2; /* number of lines to show */
                                            -webkit-box-orient: vertical;
                                            font-size: 14px;
                                            // margin-bottom: 10px;
                                            color: #555;
                                            display: none;
                                            @media screen and (max-width: 600px){
                                                display: none;
                                            }
                                        }
                                        
                                        .company_job_mark{
                                            margin-top: 10px;
                                            .company_job_location{
                                                @media screen and (max-width: 600px){
                                                    float: none;
                                                }
                                                float: left;
                                                font-size: 13px;
                                                a{
                                                    padding-top: 4px;
                                                    padding-bottom: 4px;
                                                    padding-left: 8px;
                                                    padding-right: 8px;
                                                    margin-right: 6px;
                                                    border: 1px solid #dfe1e5;
                                                    border-radius: 30px;
                                                    background-color: #fff;
                                                    color: #333;
                                                    i{
                                                        font-size: 18px;
                                                        margin-right: 3px;
                                                        color: #8a8888;
                                                        position: relative;
                                                        position: relative;
                                                        top: 5px;
                                                    }
                                                }
                                            }
                
                                            .company_job_tech{
                                                @media screen and (max-width: 600px){
                                                    display: none;
                                                }
                                                float: none;
                                                font-size: 13px;
                                                a{
                                                    padding-top: 4px;
                                                    padding-bottom: 4px;
                                                    padding-left: 8px;
                                                    padding-right: 8px;
                                                    margin-right: 10px;
                                                    border: 1px solid #dfe1e5;
                                                    border-radius: 30px;
                                                    background-color: #fff;
                                                    color: #333;
                                                    i{
                                                        font-size: 18px;
                                                        margin-right: 3px;
                                                        color: #8a8888;
                                                        position: relative;
                                                        position: relative;
                                                        top: 5px;
                                                    }
                                                }
                                            }
                                
                                            .company_job_salary{
                                                float: left;
                                                @media screen and (max-width: 600px){
                                                    float: none;
                                                }
                                                margin-top: 10px;
                                                margin-right: 6px;
                                                font-size: 13px;
                                                color: #333;
                                                a{
                                                    padding-top: 4px;
                                                    padding-bottom: 4px;
                                                    padding-right: 8px;
                                                    border: 1px solid #dfe1e5;
                                                    border-radius: 30px;
                                                    background-color: #fff;
                                                    // margin-left: 10px;
                                                    i{
                                                        padding-left: 8px;
                                                        margin-right: 3px;
                                                        font-size: 18px;
                                                        color: #8a8888;
                                                        position: relative;
                                                        top: 4px;
                                                    }
                                                }
                                            }
                
                                            .company_job_type{
                                                font-size: 13px;
                                                color: #333;
                                                float: none;
                                                margin-top: 10px;
                                                @media screen and (max-width: 600px){
                                                    display: none;
                                                }
                                                a{
                                                    padding-top: 4px;
                                                    padding-bottom: 4px;
                                                    padding-right: 8px;
                                                    border: 1px solid #dfe1e5;
                                                    border-radius: 30px;
                                                    background-color: #fff;
                                                    // margin-left: 10px;
                                                    i{
                                                        padding-left: 8px;
                                                        margin-right: 3px;
                                                        font-size: 18px;
                                                        color: #8a8888;
                                                        position: relative;
                                                        top: 4px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    .company_job_info{
                                        .company_job_date{
                                            width: 60%;
                                            margin-top: 20px;
                                            font-size: 13px;
                                            float: left;
                                            a{
                                                font-size: 13px;
                                                color: #1877f2;
                                            }
                                            span{
                                                font-size: 13px;
                                                color: #ea1e30;
                                            }
                                        }
                                        .company_job_hot_save{
                                            /*display: none;*/
                                            float: right;
                                            width: 40%;
                                            padding-top: 10px;
                                            .company_job_button_save{
                                                text-align: right;
                                                .hot_label{
                                                    display: none;
                                                    padding-top: 2px;
                                                    padding-bottom: 2px;
                                                    padding-left: 8px;
                                                    padding-right: 8px;
                                                    border-radius: 2px;
                                                    font-size: 12px;
                                                    color: #fff;
                                                    background-color: #ff5a5f;
                                                }
                                                button{
                                                    border: none;
                                                    background-color: transparent;
                                                    i{
                                                        color: #8a8888;
                                                        font-size: 22px;
                                                        position: relative;
                                                        top: 7px;
                                                    }
                                                }
                                                
                                                .save_btn_highlight{ 
                                                    i{
                                                        color: #1877f2;
                                                    }
                                                    &:focus {outline:none;}
                                                }
                    
                                                .save_btn{
                                                    i{
                                                        color: #888;
                                                    }
                                                    &:focus {outline:none;}
                                                }
                                            }
                                        }
                                    }
                                }
                                clear: left;
                                clear: right;
                            }

                            .company_job_apply_count{
                                font-size: 20px;
                                padding-top: 30px;
                                padding-bottom: 10px;
                            }
    
                            .company_job_apply_block{
                                border: 2px dashed #dfe1e5;
                                margin-bottom: 20px;
                                padding: 20px;
                                min-height: 150px;
                                display: block;
                                .company_job_apply_info{
                                    .company_job_apply_name{
                                        padding-top: 10px;
                                        font-size: 16px;
                                    }
                                    .company_job_apply_email{
                                        padding-top: 10px;
                                        font-size: 16px;
                                    }
                                    .company_job_apply_letter{
                                        padding-top: 10px;
                                        padding-bottom: 10px;
                                        font-size: 16px;
                                        // display: none;
                                        .company_job_apply_sumary{
                                            padding-top: 10px;
                                            a{
                                                display: block; 
                                                font-size: 14px;
                                                text-overflow: ellipsis;
                                            }
                                            // font-weight: 500;
                                            // text-decoration: none !important;
                                            // overflow: hidden;
                                            // text-overflow: ellipsis;
                                            // display: -webkit-box;
                                            // -webkit-line-clamp: 3; /* number of lines to show */  
                                        }
                                    }
                                    .company_job_apply_time{
                                        padding-top: 10px;
                                        font-size: 14px;
                                        font-weight: 400px;
                                    }
                                    .company_job_apply_download{
                                        padding-top: 10px;
                                        i{
                                            position: relative;
                                            top: 5px;
                                        }
                                    }
                                }
                            }
                        }

                    }
                }
            }
        }

        .employer_info_tab{
            margin-top: 20px;
            margin-bottom: 20px;
            
            .employer_info_wellcome_label{  
                font-size: 22px;
                color: #1877f2;
            }
        
            .employer_info_des_label{
                font-size: 20px;
                margin-top: 30px;
            }
        
            .employer_info_about{
                border-top: 1px solid #dfe1e5;
        
                .employer_info_label{
                    font-size: 16px;
                    margin-top: 40px;
                }
                .employer_info_des{
                    font-size: 16px;
                    float: left;
                }
        
                .employer_info_edit_button{
                    float: right;
                    font-size: 16px;
                    i{
                        color: #1877f2;
                    }
                    .employer_info_edit_link_to{
                        color: #1877f2;
                        text-decoration: none !important;
                    }
                }
            }
        
            
            .user_cover_letter_label{
                clear: both;
                font-size: 20px;
                margin-top: 60px;
            }
        
            .user_cover_letter{
                border-top: 1px solid #dfe1e5;
        
                .user_cv_des
                {
                    margin-top: 20px;
                    font-size: 16px;
                    // border: 1px solid #dfe1e5;
                    // border-radius: 3px;
                }
                .employer_info_edit_button{
                    margin-top: 30px;
                    font-size: 16px;
                    i{
                        color: #1877f2;
                    }
                    .employer_info_edit_link_to{
                        color: #1877f2;
                        text-decoration: none !important;
                    }
                }
            }
        
            .user_log_out{
                clear: both;
                margin-top: 50px;
                button{
                    padding: 6px;
                    height: 40px;
                    width: 150px;
                    margin-right: 10px;
                    background: #1877f2;
                    font-size: 16px;
                    border: none;
                    border-radius: 3px;
                    cursor: pointer;
                    text-align: center;
                    color: #fff;
                    
                    &:hover{
                        background-color: #369;
                        color: #fff;
                    }
                }
            }
        }
    }
}