// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// Place all the styles related to the Header controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

///////////////////////////////Header////////////////////////////////////
.header-user-dropdown {
	background-color:#292c2f;
	box-shadow:0 1px 1px #ccc;
	padding: 20px 40px;
	height: 80px;
	color: #ffffff;
	box-sizing: border-box;
}

.header-user-dropdown .header-limiter {
	max-width: 1200px;
	text-align: center;
	margin: 0 auto;
}

/* Logo */

.header-user-dropdown .header-limiter h1{
	float: left;
	// font: normal 28px Cookie, Arial, Helvetica, sans-serif;
	line-height: 40px;
	margin:0;
}

.header-user-dropdown .header-limiter h1 span {
	color: #ffffff;
}

/* The header links */

.header-user-dropdown .header-limiter a {
	color: #ffffff;
	text-decoration: none;
}

.header-user-dropdown .header-limiter nav{
	// font:16px Arial, Helvetica, sans-serif;
	line-height: 40px;
	float: left;
	margin: 0 0 0 60px;
	padding: 0;
}

.header-user-dropdown .header-limiter nav a{
	font-size: 17px;
	display: inline-block;
	padding: 0 13px;
	opacity: 0.9;
	position: relative;
	text-decoration:none;
	line-height: 1;
}

.header-user-dropdown .header-limiter nav a:hover {
	opacity: 1;
}

/* The "new" badge */

.header-user-dropdown .header-limiter nav a span {
	position: absolute;
	top: -12px;
	border-radius: 2px;
	background-color: #2A6A92;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	height: 13px;
	font-size: 11px;
	right: -15px;
	padding: 1px 4px 0;
}

/* The user menu */

.header-user-dropdown .header-limiter .header-user-menu{
	position: relative;
	float:right;
	background-color:#3a3c3e;
	width:75px;
	height:40px;
	border-radius:2px;
}

.header-user-dropdown .header-limiter .header-user-menu:before{
	content:'';
	width:0;
	height:0;
	top: 18px;
	left: 15px;
	position:absolute;
	border:5px solid transparent;
	border-top-color:#fff;
}

.header-user-dropdown .header-limiter .header-user-menu ul{
	display: none;
	// font:bold 13px Arial, Helvetica, sans-serif;
	background-color: inherit;
	list-style: none;
	position: absolute;
	text-align: center;
	width: 125px;
	top: 25px;
	right: 0;
	padding: 10px;
	border-radius: 2px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
	box-sizing: border-box;
}

.header-user-dropdown .header-user-menu:active ul,
.header-user-dropdown .header-user-menu:hover ul,
.header-user-dropdown .header-user-menu.show ul{
	display:block;
}

.header-user-dropdown .header-user-menu ul li{
	padding:5px;
}

.header-user-dropdown .header-user-menu ul li a:hover{
	opacity:0.9;
}

.header-user-dropdown .header-user-menu ul li a.highlight{
	color:#e9ac09;
}

.header-user-dropdown .header-user-menu img{
	border-radius:50%;
	position:absolute;
	top:6px;
	max-width: 28px;
	right:10px;
}


@media all and (max-width: 800px) {

	.header-user-dropdown .header-limiter h1 {
		font-size: 24px;
	}

	.header-user-dropdown .header-limiter nav a {
		padding: 0 5px;
	}

	.header-user-dropdown .header-limiter nav {
		margin-left: 20px;
	}

}

@media all and (max-width: 600px) {

	.header-user-dropdown .header-limiter nav {
		display: none;
	}

}

// Login
/* Style the input container */
.header-user-dropdown .login-container {
    float: right;
    // text-align: center;
}

/* Style the input field inside the navbar */
.header-user-dropdown input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    width: 150px; /* adjust as needed (as long as it doesn't break the topnav) */
    text-align: center;
}

/* Style the button inside the input container */
.header-user-dropdown .login-container button {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    background: #292c2f;
    font-size: 17px;
    border: 1;
    cursor: pointer;
    text-align: center;
    color: #ffffff;
    border-radius: 5px;
}

.header-user-dropdown .login-container button:hover {
    background: #5caf50;
}

// Sign up
/* Style the input container */
.header-user-dropdown .signup-container {
    float: right;
    text-align: center;
}

/* Style the button inside the input container */
.header-user-dropdown .signup-container button {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    background: #292c2f;
    font-size: 17px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    color: #ffffff;
}

.header-user-dropdown .signup-container button:hover {
    background: #5caf50;
}



///////////////////////////////Footer////////////////////////////////////

body {
    font-family: Rubik,Arial,sans-serif;
    font-weight: 400;
    font-size: 1rem;
    overflow-x: hidden;
    color: #607289;
}

h5 {
    font-size: 1rem;
    line-height: 1.375;
    font-family: Rubik,Arial,sans-serif;
    font-weight: 500;
    color: #030929;
}

a {
    color: #818494;
    font-weight: 500;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #007bff;
    text-decoration: none;
}

footer {
    background: #ebf4fa;
}