// Place all the styles related to the Post controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

///////////////////index//////////////////
.row{
    .col-sm-8
    {
        display: block;
        .post_container_left{
            .post_label{
                margin-top: 20px;
                span{
                    border-bottom: 3px solid #febb02;
                    font-size: 30px;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    padding-right: 5px;
                    color: #333;
                    &:hover{
                        color: #1877f2;
                    }
                }
                margin-bottom: 30px;
            }

            .post_block{
                margin-top: 10px;
                padding-bottom: 10px;
                height: 180px;
                @media screen and (max-width: 600px){
                    height: 140px;
                }
                &:hover{
                    // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
                }
                .post_left{
                    float: left;
                    padding-right: 20px;
                    width: 45%;
                    .post_cover{
                        border-radius: 0px;
                        img{
                            display: block;
                            width: 100%;
                            height: 160px;
                            border-radius: 0px;
                            object-fit: cover;
                            @media screen and (max-width: 600px){
                                height: 120px;
                            }                        
                            //box-shadow: 0 1px 2px 0 rgba(179, 150, 150, 0.1), 0 2px 4px 0 rgba(168, 151, 151, 0.09);
                        }
                        background-color: #fff;
                    }
                }

                .post_right{
                    .post_header{
                        a{
                            font-size: 19px;
                            font-weight: 550;
                            text-decoration: none !important;overflow: hidden;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-line-clamp: 3; /* number of lines to show */
                            @media screen and (max-width: 600px){
                                -webkit-line-clamp: 2;
                            }
                            -webkit-box-orient: vertical;
                            color: #444;
                        }
                        a:link{
                            text-decoration: none !important ;
                        }
                        a:hover{
                            color: #1877f2;
                        }
                    }

                    .post_info{
                        padding-top: 10px;
                        @media screen and (max-width: 600px){
                            padding-top: 10px;
                        }
                        .post_category_info{
                            float: left;
                            font-size: 13px;
                            color: #555;
                            margin-right: 15px;
                        }
                        .post_comment{
                            font-size: 13px;
                            i{
                                font-size: 16px;
                                position: relative;
                                top: 2px;
                                color: #555;
                                margin-right: 3px;
                            }
                            span{
                                color: #1877f2;
                                position: relative;
                                top: -2px;
                            }
                        }
                        .post_time{
                            font-size: 13px;
                            padding-top: 10px;
                            color: #555;
                            margin-right: 10px;
                        }
                    }

                    .post_content{
                        position: relative;
                        font-size: 14px; 
                        text-decoration: none !important;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 4; /* number of lines to show */
                        -webkit-box-orient: vertical;
                        display: none; 
                        @media screen and (max-width: 600px){
                            display: none;  
                        }
                    }

                    .post_view{
                        padding-left: 0px;
                        display: none;  
                        @media screen and (max-width: 600px){
                            display: none;  
                        }
                        button {
                            width: 100px;
                            height: 25px;
                            margin-top: 5px;
                            background: #fff;
                            font-size: 14px;
                            border: 0px;
                            text-align: left;
                            cursor: pointer;
                            color: #1877f2;
                            &:focus {outline:none;}
                            i{
                                position: relative;
                                top: 7px;
                            }
                            &:hover {
                                color: #369;
                            }
                        }
                    }
                }
            }

            .new_post button {
                padding: 8px;
                margin-top: 25px;
                margin-bottom: 25px;
                background: #1877f2;
                font-size: 16px;
                border: 0px;
                cursor: pointer;
                text-align: center;
                color: #fff;
                border-radius: 3px;
                height: 55px;
                width: 100%;
                &:focus {outline:none;}
                i{
                    position: relative;
                    top: 5px;
                    margin-right: 10px;
                }
                &:hover {
                    background-color: #369;
                    color: #fff;
                }
            }
        }
    }
    .col-sm-4{
        .post_container_right{
            float: right;
            border: 1px solid #dfe1e5;
            min-height: 300px;
            margin-bottom: 20px;
            padding: 15px;
            border-radius: 3px;
            display: block;
            .post_most_visit_label{
                span{
                    border-bottom: 3px solid #febb02;
                    font-size: 30px;
                    padding-bottom: 5px;
                    padding-right: 5px;
                    color: #333;
                }
                margin-bottom: 40px;

            }

            .post_block{
                margin-top: 30px;
                padding-bottom: 20px;
                min-height: 100px;
                border-radius: 0px;
                .post_left{
                    float: left;
                    padding-right: 10px;
                    width: 45%;
                    img{
                        display: block;
                        width: 100%;
                        height: 100px;
                        background-color: #1877f2;
                        margin-left: 0px;
                        border-radius: 0px;
                        object-fit: cover;
                        //box-shadow: 0 1px 2px 0 rgba(179, 150, 150, 0.1), 0 2px 4px 0 rgba(168, 151, 151, 0.09);
                    }
                }

                .post_right{
                    float: right;
                    width: 55%;
                    .post_header{
                        font-size: 16px;
                        font-weight: 550;
                        color: #333;
                        text-decoration: none !important;overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 3; /* number of lines to show */
                        -webkit-box-orient: vertical;
                        a{
                            text-decoration: none !important ;
                            color: #333;
                            &:hover{
                                color: #1877f2;
                            }
                        }
                    }  
                    .post_info{
                        padding-top: 10px;
                        .post_date{
                            span{
                                font-size: 13px;
                                color: #555;
                            }
                        }
                    } 
                }
            }
        }
    }
}

////////////////show/////////////////////////
.post_area{
    padding:0 !important;
    margin-top: 30px;
    clear: both;
    .post_area_left{
        margin-bottom: 30px;
        border-radius: 3px;
        background-color: #fff;
        .post_title{
            font-size: 25px;
        }

        .post_info{
            margin-top: 10px;
            margin-bottom: 30px;
            .user_avatar_small{
                display: block;
                text-align: center;
                margin-bottom: 5px;
                width: 33px;
                float: left;
                .user_avatar_small_text{
                    border-radius: 50%;
                    padding: 6px;
                    padding-left: 12px;
                    padding-right: 12px;
                    position: relative;
                    top: 3px;
                    a:link{
                        color: #fee;
                    }
                }
                .checked_0{
                    background-color: #888;
                }
                .checked_1{
                    background-color: #7a20a1;
                }
                .checked_2{
                    background-color: #778f99;
                }
                .checked_3{
                    background-color: #00579c;
                }
                .checked_4{
                    background-color: #33691e;
                }
                .checked_5{
                    background-color: #c2175b;
                }
                .checked_6{
                    background-color: #00887a;
                }
                .checked_7{
                    background-color: #aa47bc;
                }
                .checked_8{
                    background-color: #f24e1b;
                }
                .checked_9{
                    background-color: #689f39;
                }
    
                .user_avatar_small_img{
                    img{
                        border: 1px solid #dfe1e5;
                        width: 36px;
                        height: 36px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                }
                .user_avatar_small_default{
                    padding: 6px;
                    padding-left: 12px;
                    padding-right: 12px;
                    position: relative;
                    font-size: 14px;
                    border-radius: 50%;
                    color: #ffe;
                }
            }
            .user_name{
                float: left;
                font-size: 13px;
                color: #1877f2;
                position: relative;
                top: 7px;
                margin-left: 5px;
                margin-right: 10px;
                font-weight: 555;
            }
            .post_category_info{
                float: left;
                font-size: 13px;
                color: #555;
                margin-right: 10px;
                i{
                    font-size: 20px;
                    position: relative;
                    top: 5px;
                    padding-right: 3px;
                }
            }

            .post_comment{
                float: left;
                font-size: 13px;
                margin-right: 10px;
                i{
                    font-size: 20px;
                    position: relative;
                    top: 5px;
                    padding-right: 3px;
                }
            }

            .post_time{
                font-size: 13px;
                color: #555;
                i{
                    font-size: 20px;
                    position: relative;
                    top: 5px;
                    padding-right: 3px;
                }
            }
        }
        
        .post_content{
            margin-top: 10px;
            font-size: 16px;
            padding-bottom: 20px;
        }

        .post_comment_block{
            .post_count{
                padding-top: 30px;
                span{
                    font-size: 18px;
                    border-bottom: 3px solid #febb02;
                }
            }
            .new_post_show_comment_section{
                .new_post_show_comment_input{
                    margin-top: 20px;
                    .new_post_comment_form_input{
                        border: 2px solid #dfe1e5;
                        background-color: #fff;
                        width: 100%;
                        margin-right: 30px;
                        min-height: 100px;
                        border-radius: 3px;
                    }
                    .form-control{
                        min-height: 100px;
                        height: auto;
                        margin-left: 0px;
                        width: 100%;
                        border: 1px solid #dfe1e5;
                        border-radius: 3px;
                        overflow: auto;
                        &:focus{
                            border: 2px solid #1877f2;
                            border-radius: 3px;
                        }
                    }
                }
            }
            .new_post_show_comment_submit{
                margin-top: 10px;
                margin-bottom: 10px;
                .new_post_comment_form_submit{
                    width: 200px;
                    height: 40px;
                    border: none;
                    background-color: #1877f2;
                    color: #fff;
                    border-radius: 3px;
                    @media screen and (max-width: 600px){
                        width: 100%;
                    }
                }
                .post_comment_sent{
                    margin-bottom: 10px;
                    font-size: 13px;
                    font-style: italic;
                    color: #f24e1b;
                    span{
                    }
                }
            }
            .post_comment{
                padding-top: 10px;
            }
        }
    }
    
    .post_area_right{
        position: relative;
        display: block;
        min-height: 500px;
        margin-top: 10px;
        padding: 15px;
        border-radius: 3px;
        border: 1px solid #dfe1e5;
        background-color: #fff;
        .post_area_right_title{
            span{
                border-bottom: 3px solid #febb02;
                font-size: 25px;
                padding-top: 5px;
                padding-bottom: 5px;
                padding-right: 5px;
                color: #333;
            }
            margin-bottom: 30px;
        }

        .post_container{
            margin-top: 30px;
            padding-bottom: 20px;
            min-height: 100px;
            border-radius: 0px;
            .post_left{
                float: left;
                padding-right: 10px;
                width: 45%;
                img{
                    display: block;
                    width: 100%;
                    height: 100px;
                    background-color: #1877f2;
                    margin-left: 0px;
                    border-radius: 0px;
                    object-fit: cover;
                    //box-shadow: 0 1px 2px 0 rgba(179, 150, 150, 0.1), 0 2px 4px 0 rgba(168, 151, 151, 0.09);
                }
            }

            .post_right{
                float: right;
                width: 55%;
                .post_header{
                    font-size: 16px;
                    font-weight: 550;
                    color: #333;
                    text-decoration: none !important;overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 3; /* number of lines to show */
                    -webkit-box-orient: vertical;
                    a:link{
                        text-decoration: none !important ;
                        color: #333;
                    }
                }  
                .post_info{
                    padding-top: 10px;
                    .post_date{
                        font-size: 13px;
                        color: #555;
                    }
                } 
            }
        }
    }
}

//////////////////new///////////////////////
.new_post_form
{
    margin-bottom: 50px;
    .new_post_title{
        font-size: 25px;
        color: #333;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .new_post_title_sub{
        span{
            font-size: 13px;
            text-align: left;
            color: #333;
            font-style: italic;
        }
    }

    .new_post_section
    {
        border-top: 1px solid #dfe1e5;
        margin-top: 10px;
        padding-top: 10px;
        .new_post_content{
            .new_post_label{
                font-weight: 550;
                font-size: 14px;
                color: #333;
                text-align: left;
            }

            .new_post_input{
                left: 0px;
                margin-top: 5px;
                margin-bottom: 20px;
                width: 100%;
                height: auto;
                .form-control{
                    margin-left: 0px;
                    min-height: 40px;
                    width: 100%;
                    border: 1px solid #dfe1e5;
                    border-radius: 3px;
                }
                .form-control-rich-text{
                    min-height: 150px;
                    height: auto;
                    margin-left: 0px;
                    width: 100%;
                    border: 1px solid #dfe1e5;
                    border-radius: 3px;
                }
				.form-control{
					width: 100%;
                    &:focus{
                        border: 2px solid #1877f2;
                        border-radius: 3px;
                    }
				}
            }
        }
    }

    .new_post_submit{
        width: 100%;
        margin-top: 20px;
        .new_post_form_submit{
            height: 50px;
            width: 100%;
            border-radius: 3px;
            padding: 6px;
            background: #1877f2;
            font-size: 14px;
            border: none;
            cursor: pointer;
            text-align: center;
            color: #fff;
            
            &:hover{
                background-color: #1877f2;
            }
        }
    }

    .form-control{
        padding: 10px;
        width: 300px;
        font-size: 14px;
        border-radius: 3px;
        background: #fff;
        &:focus{
            border: 2px solid #1877f2;
            border-radius: 3px;
        }
    }
}