// Place all the styles related to the Post controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.table-striped {
    font-family: "Roboto", sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.table-striped td, .table-striped th {
    border: 0px solid #ddd;
    padding: 8px;
}

.table-striped tr:nth-child(even){background-color: #f2f2f2;}

.table-striped tr:hover {background-color: #ddd;}

.table-striped th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

.new-thread-container button {
    // float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    background: #4CAF50;
    font-size: 15px;
    border: 0px;
    cursor: pointer;
    text-align: center;
    color: #ffffff;
    border-radius: 5px;
}

.new-thread-container button:hover {
    background: #4CAF50;
}

.dl-horizontal
{
    width: 100%;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    padding: 17px 20px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 500;
    color: #222; 
}