//////////////////post_comment//////////////////
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

.user_post_comment_heading
{
    font-size: 20px;
    padding-bottom: 100px;
}

.user_post_comment_block {
    width: 100%;
    height: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #ffffff;
    border-top: 1px solid #f0f0f1;
    .user_post_comment_left
    {
        width: auto;
        height: auto;
        margin-top: 30px;
        display: block;
        position: relative;
        float: left;
        .user_avatar {
            display: block;
            margin-left: 25%;
            margin-right: auto;
            img {
                width: 80px;
                height: 80px;
            }
        }
    }
    
    .user_post_comment_cotent
    {
        display: block;
        width: auto;
        height: auto;
        margin-left: 12%;
        margin-top: 30px;

        .user_post_comment_title{
            font-size: 25px;
            font-weight: 400;
        }

        .user_post_comment_pros
        {
            margin-top: 20px;
            .user_post_comment_pros_label{
                .fa {
                    position: relative;
                    margin-right: 10px;
                    float: left;
                }

                .checked {
                    color: green;
                }
                font-size: 20px;
                font-weight: 400;
            }

            .user_post_comment_pros_content{
                font-size: 20px;
                margin-left: 30px;
                margin-top: 10px;
            }
        }

        .user_post_comment_cons{
            margin-top: 20px;
            .user_post_comment_cons_label{
                font-size: 20px;
                font-weight: 400;
                .fa {
                    position: relative;
                    margin-right: 10px;
                    float: left;
                }

                .checked {
                    color: red;
                }
            }

            .user_post_comment_cons_content{
                font-size: 20px;
                margin-left: 30px;
                margin-top: 10px;
            }
        }

        .user_post_comment_body {
            margin-top: 30px;
            font-size: 20px;
            margin-bottom: 15px;
        }

        .post_comment_info{
            margin-top: 30px;
            .post_comment_toolbar {
                display: block;
                float: left;
                font-size: 20px;
                .fa {
                    position: relative;
                    margin-right: 20px;
                }
    
                .checked {
                    color: #a8a3a3;
                }
            }

            .user_post_comment_time{
                margin-left: 66%;
                display: block;
                font-size: 14px;
                color: #6b6c6d;
            }
        }
    }
    clear: left;
    clear: right;
}