// Place all the styles related to the Post controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

///////////////////index//////////////////
.post_container{
    margin-top: 30px;
    border-bottom: 2px solid #f0f0f1;
    padding-bottom: 30px;
    height: 360px;

    .post_left{
        width: 350px;
        height: 350px;
        float: left;
        .post_cover{
            width: 320px;
            height: 300px;
            background-color: #5850ec;
            margin: 20px;
            margin-left: 0px;
            border-radius: 5px;
        }
    }

    .post_right{
        .post_header{
            font-size: 22px;
            font-weight: 500;
            padding-top: 20px;
            min-height: 50px;
            a:link{
                text-decoration: none !important ;
                font-size: 22px;
            }
        }
        .post_info{
            padding-bottom: 20px;
            .post_username{
                i{
                    font-size: 25px;
                    position: relative;
                    top: 5px;
                }
                span{
                    margin-left: 6px;
                    font-size: 14px;
                }

            }

            .post_date{
                font-size: 14px;
            }
        }
        .post_content{
            position: relative;
            font-size: 16px; 
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 7; /* number of lines to show */
            -webkit-box-orient: vertical;
        }

        .post_view{
            padding-left: 0px;
            button {
                width: 20%;
                height: 35px;
                margin-top: 5px;
                background: #ffffff;
                font-size: 14px;
                border: 0px;
                text-align: left;
                cursor: pointer;
                color: #3d59a5;
                border-radius: 5px;
                i{
                    position: relative;
                    top: 7px;
                }
            }
        }
    }
}

.new_post button {
    // float: right;
    padding: 8px;
    margin-top: 25px;
    margin-bottom: 25px;
    background: #5850ec;
    font-size: 14px;
    border: 0px;
    cursor: pointer;
    text-align: center;
    color: #ffffff;
    border-radius: 5px;
}

.new_post button:hover {
    background: #5850ec;
}

////////////////show/////////////////////////
.post_area{
    padding:0 !important;
    margin-top: 30px;
    clear: both;
    .post_area_left{
        margin-bottom: 30px;
        width: 70%;
        float: left;
        .post_title{
            font-size: 30px;
        }
        .post_content{
            margin-top: 20px;
            font-size: 16px;
            margin-bottom: 20px;
        }
        .post_comment_btn{
            border-top: 1px solid #e2dfdf;
            padding-top: 20px;
        }
    }
    
    .post_area_right{
        position: relative;
        display: block;
        float: right;
        width: 25%;
        min-height: 400px;
        padding: 20px;
        border: 1px solid #5850ec;
    }
}
