//////////////////new///////////////////////
.new_problem_form
{
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 50px;
    .new_problem_title{
        font-size: 25px;
        color: #161e2e;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .new_problem_section
    {
        // border-bottom: 1px solid rgb(190, 185, 185);
        // margin-top: 30px;
        // background-color: #161e2e;
        .new_problem_content{
            .new_problem_label{
                font-weight: 600;
                font-size: 14px;
                color: #161e2e;
                text-align: left;
            }

            .new_problem_input{
                left: 0px;
                margin-top: 5px;
                margin-bottom: 20px;
                width: 750px;
                .new_problem_form_input{
                    margin-left: 0px;
                    height: 40px;
                    width: 100%;
                    border: 1px solid #c8c8c8;
                    border-radius: 5px;
                }
                .new_problem_form_input_rich_text{
                    margin-left: 0px;
                    width: 800px;
                    border: 1px solid #c8c8c8;
                    border-radius: 5px;
                    overflow: scroll;
                }
            }
            .new_problem_input_time{
                left: 0px;
                margin-top: 5px;
                margin-bottom: 20px;
                width: 300px;
                .new_problem_form_input{
                    margin-left: 0px;
                    height: 40px;
                    width: 100%;
                    border: 1px solid #c8c8c8;
                    border-radius: 5px;
                }
            }

            .new_problem_input_review{
                left: 0px;
                margin-top: 5px;
                margin-bottom: 20px;
                width: 750px;
                height: 50px;
                .new_problem_form_input_review{
                    word-wrap: break-word;
                    white-space: pre-wrap; 
                    margin-left: 0px;
                    height: 80px;
                    width: 100%;
                    border: 1px solid #c8c8c8;
                    border-radius: 5px;
                }
            }
        }
    }

    .new_problem_content_checkbox
    {
        margin-top: 50px;
        .label-agree-term
        {
           font-size: 14px; 
        }
    }

    .new_problem_submit{
        width: 750px;
        margin-top: 20px;
        .new_problem_form_submit{
            height: 50px;
            width: 100%;
            border-radius: 5px;
            padding: 6px;
            background: #5850ec;
            font-size: 14px;
            border: none;
            cursor: pointer;
            text-align: center;
            color: #ffffff;
            
            &:hover{
                background-color: #4284f4;
            }
        }
    }

    .my_style_class{
        padding: 10px;
        width: 300px;
        font-size: 14px;
        border-radius: 5px;
        background: #ffffff;
    }
}