@mixin problem-border-total {
    border-radius: 2px;
    // box-shadow: 0 1px 2px 0 rgba(179, 150, 150, 0.1), 0 2px 4px 0 rgba(168, 151, 151, 0.09);
    border: 1px solid #dfe1e5;
    background-color: #fff;
}
///////////////////index//////////////////
.problem_container{
    padding-left: 10%;
    padding-right: 10%;
    border-top: 1px solid #dfe1e5;
    @media screen and (max-width: 600px){
        padding-left: 10%;
        padding-right: 10%;
        width: 100%;
    }
    .problem_left
    {
        float: left;
        width: 75%;
        // background-color: #1877f2;
        .problem_category{
            min-height: 360px;
            border-bottom: 1px solid #edeef0;
            padding-top: 20px;
            padding-left: 0px;
            margin-bottom: 20px;
            margin-top: 20px;
            @media screen and (max-width: 600px){
                width: 94%;
                min-height: 400px;
            }
            .problem_header{
                margin-bottom: 10px;
                font-size: 30px;
                font-weight: 550;
                i{
                    font-size: 33px;
                    position: relative;
                    top: 5px;
                }
            }
            .new_category_math{
                padding-top: 30px;
                float: left;
                margin-right: 20px;
                @media screen and (max-width: 600px){
                    width: 40%;
                }
                button{
                    width: 190px;
                    height: 100px;
                    border-radius: 2px;
                    border: none;
                    background-color: #e4553e;
                    color: #fff;
                    font-size: 16px;
                }
                button:hover {
                    background: #1877f2;
                }
                i{
                    position: relative;
                    top: 5px;
                    font-size: 22px;
                    margin-right: 3px;
                }
            }

            .new_category_interview{
                padding-top: 30px;
                float: left;
                margin-right: 20px;
                button{
                    width: 190px;
                    height: 100px;
                    border-radius: 2px;
                    border: none;
                    background-color: #fcad23;
                    color: #fff;
                    font-size: 16px;
                }
                button:hover {
                    background: #1877f2;
                }
                i{
                    position: relative;
                    top: 5px;
                    font-size: 22px;
                    margin-right: 3px;
                }
            }

            .new_category_test{
                padding-top: 30px;
                float: left;
                margin-right: 20px;
                button{
                    width: 190px;
                    height: 100px;
                    border-radius: 2px;
                    border: none;
                    background-color: #3495fa;
                    color: #fff;
                    font-size: 16px;
                }
                button:hover {
                    background: #1877f2;
                }
                i{
                    position: relative;
                    top: 5px;
                    font-size: 22px;
                    margin-right: 3px;
                }
            }

            .new_category_qa{
                padding-top: 30px;
                float: left;
                margin-right: 20px;
                button{
                    width: 190px;
                    height: 100px;
                    border-radius: 2px;
                    border: none;
                    background-color: #54ad55;
                    color: #fff;
                    font-size: 16px;
                }
                button:hover {
                    background: #1877f2;
                }
                i{
                    position: relative;
                    top: 5px;
                    font-size: 22px;
                    margin-right: 3px;
                }
            }

            .new_category_discuss{
                padding-top: 30px;
                float: left;
                // margin-right: 20px;
                button{
                    width: 190px;
                    height: 100px;
                    border-radius: 2px;
                    border: none;
                    background-color: #54ad55;
                    color: #fff;
                    font-size: 16px;
                }
                button:hover {
                    background: #1877f2;
                }
                i{
                    position: relative;
                    top: 5px;
                    font-size: 22px;
                    margin-right: 3px;
                }
            }
        }

        .problem_short_des{
            // background-color: #f7f8fa;
            // padding: 20px;
            padding-right: 0px;
            padding-left: 0px;
            height: 60px;
            padding-bottom: 20px;
            margin-bottom: 60px;
            border-bottom: 2px dashed #edeef0;
            .short_des{
                @media screen and (max-width: 600px){
                    display: none;
                }
                float: left;
                margin-top: 10px;
                border: none;
                min-width: 80px;
                height: 25px;
                background-color: #f0ad4e;
                color: #fff;
                border-radius: 50px;
                margin-right: 20px;
                span{
                    font-size: 13px;
                    padding: 10px;
                    text-align: center;
                }
            }
            .new_problem button {
                @media screen and (max-width: 600px){
                    // float: right;
                    float: none;
                    width: 40%;
                }
                float: right;
                height: 50px;
                width: 200px;
                // margin-top: 10px;
                margin-bottom: 50px;
                background: #1877f2;
                font-size: 14px;
                border: 0px;
                cursor: pointer;
                text-align: center;
                color: #fff;
                border-radius: 2px;
                i{
                    font-size: 20px;
                    position: relative;
                    top: 2px;
                }
                span{
                    font-size: 14px;
                    position: relative;
                    top: -3px;
                }
            }
        }

        .new_problem button:hover {
            background: #1877f2;
        }

        .problem_search{
            margin-top: 30px;
            margin-bottom: 150px;
            .problem_search_label{
                width: 82%;
                height: 40px;
                float: left;
                background-color: #fff;
                border-radius: 2px;
                border: 2px solid #eaebee;
                i{
                    position: relative;
                    top: 5px;
                    font-size: 30px;
                    padding-left: 24em;
                    color: #353333;
                }
            }
            .problem_search_button{
                float: right;
                button{
                    width: 150px;
                    height: 45px;
                    border-radius: 2px;
                    color: #fff;
                    font-size: 14px;
                    background-color: #1877f2;
                    border: none;
                }
            }
        }

        .problem_table{
            clear: both;
            margin-top: 60px;
            margin-bottom: 50px;
            border-collapse: collapse;
            // width: 50%;
            height: auto;
            text-decoration: none;
            // @include problem-border-total;
            border-top: 1px solid #edeef0;
            
            tr:nth-child(even){background-color: #fafafa;}
            
            tr:hover {
                background-color: #dddd;
                box-shadow: 0 1px 2px 0 rgba(179, 150, 150, 0.1), 0 2px 4px 0 rgba(168, 151, 151, 0.09);}
            
            tr th {
                border-bottom: 1px solid #edeef0;
                padding-top: 10px;
                padding-bottom: 10px;
                font-size: 16px;
                text-align: left;
                text-decoration: none;
                width: 100%;
                .table_th_no{
                    width: 30px;
                    margin-left: 20px;
                    font-size: 16px;
                }
                .table_th_title{
                    width: 600px;
                    display: flex;
                    font-size: 16px;
                }
                .table_th_difficult{
                    width: 120px;
                    margin-left: 50px;
                    font-size: 16px;
                }
                .table_th_user{
                    width: 80px;
                    font-size: 16px;
                }
                .table_th_date{
                    width: 120px;
                    margin-right: 10px;
                    font-size: 16px;
                }
            }

            tr td {  
                text-align: left;
                padding-top: 10px;
                padding-bottom: 10px;
                font-size: 14px;
                a:link{
                    text-decoration: none;
                }
                white-space: pre;
                overflow: hidden;
                height: 30px;
                text-overflow: ellipsis; 
                width: 100%;
                .table_td_no{
                    width: 30px;
                    margin-left: 20px;
                }
                .table_td_title{
                    font-size: 14px;
                    width: 600px;
                    display: flex;
                    font-weight: 600px;
                }
                .table_td_difficult{
                    width: 120px;
                    margin-left: 50px;
                }
                .table_td_user{
                    width: 80px;
                }
                .table_td_date{
                    width: 120px;
                    margin-right: 10px;
                    font-size: 14px;
                }
            }
        }
    }

    .problem_right{
        @media screen and (max-width: 600px){
            display: none;
        }
        // padding-right: 3.5%;
        // margin-left: 101%;
        float: right;
        width: 22%;
        min-height: 800px;
        padding-top: 60px;
        .problem_top{
            width: 100%;
            // border: 1px solid #dfe1e5;
            background-color: #fff;
            min-height: 500px;
            padding: 10px;
            font-size: 22px;
            font-weight: 500;
            color: #feb100;
            border: 2px solid #dfe1e5;
            border-radius: 2px;
            i{
                font-size: 30px;
                position: relative;
                top: 8px;
                margin-right: 3px;
            }
            .problem_short{
                padding-top: 20px;
                .problem_label{
                    padding: 10px;
                    font-size: 16px;
                    border-top: 1px solid #dfe1e5;
                    min-height: 40px;
                    a:link{
                        font-size: 14px;
                        text-decoration: none !important;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 2; /* number of lines to show */
                        -webkit-box-orient: vertical;
                        color: #444343;
                    }
                }
            }
        }
        .problem_company{
            width: 100%;
            border: 2px solid #dfe1e5;
            background-color: #fff;
            min-height: 500px;
            padding: 10px;
            margin-top: 20px;
            font-size: 22px;
            font-weight: 400;
            color: #feb100;
            border-radius: 2px;
            i{
                font-size: 28px;
                position: relative;
                top: 5px;
                margin-right: 3px;
            }
            .problem_short{
                padding-top: 20px;
                .problem_label{
                    padding: 10px;
                    font-size: 16px;
                    border-top: 1px solid #dfe1e5;
                    min-height: 40px;
                    a:link{
                        font-size: 14px;
                        text-decoration: none !important;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 2; /* number of lines to show */
                        -webkit-box-orient: vertical;
                        color: #444343;
                    }
                }
            }
        }
    }
}

////////////////show/////////////////////////
.problem_area
{
    width: 100%;
    clear: both;
    border-top: 1px solid #dfe1e5;
    .problem_area_left{
        width: 50%;
        float: left;
        padding-top: 0px !important;
        border-right: 2px solid #dfe1e5;
        min-height: 720px;
        .problem_tab {
            // padding-left: 30px;
            clear: left;
            overflow: hidden;
            position: relative;
            display: block;
            background-color: #fff;
            .tab_container {
                font-weight: bold !important;
                background-color: #fff;
                color: #141414;
                border-bottom: 1px solid #dfe1e5;
            }
            .tab_container button{
                outline:none;
                border: none;
                min-width: 22%;
                height: 50px;
                background-color: #fff;
                margin-right: 11px;
                .tablinks{
                    margin-bottom: 10px;
                }
                a{
                    font-size: 16px;
                }
                i{
                    font-size: 24px;
                    padding-right: 5px;
                    position: relative;
                    top: 5px;
                }
                span{
                    font-size: 12px;
                    margin-left: 0px;
                    position: absolute;
                    top: 8px;
                    margin-left: -6px;
                    color: #939394;
                }
            }
            .tab_container button:hover{
                border-bottom: 3px solid #1877f2;
            }
    
            .tab_container button:focus{
                border-bottom: 3px solid #1877f2;
            }
    
            .tab_container button.active {
                border-bottom: 3px solid #2b78f7;
                color: #2b78f7;
            }

            .tabcontent{
                // padding-top: 30px;
                // padding-right: 30px;
                // padding-bottom: 30px;
                padding: 30px;
            }
        }
    }

    .problem_area_right
    {
        margin-left: 50%;
        padding: 20px;
        padding-top: 10px;
        min-height: 720px;
        .problem_submit{
            display: block;
            .new_problem_solution_right_form
            {
                margin-bottom: 50px;
                .new_problem_solution_right_title{
                    font-size: 24px;
                    font-weight: 500;
                    color: #161e2e;
                    text-align: center;
                    margin-bottom: 30px;
                    position: relative;
                }

                .new_problem_solution_right_section
                {
                    padding-left: 20px;
                    padding-top: 10px;
                    .new_problem_solution_right_content{
                        .new_problem_solution_right_label_title{
                            font-weight: 600;
                            font-size: 16px;
                            color: #161e2e;
                            text-align: left;
                            margin-bottom: 10px;
                        }

                        .new_problem_solution_right_input_review_title{
                            left: 0px;
                            margin-top: 5px;
                            margin-bottom: 40px;
                            margin-right: 20px;
                            width: 96%;
                            height: auto;
                            .new_problem_solution_right_form_input{
                                margin-left: 0px;
                                height: 40px;
                                width: 100%;
                                border: 1px solid #dfe1e5;
                                border-radius: 2px;
                            }
                        }

                        .new_problem_solution_right_label{
                            font-weight: 600;
                            font-size: 16px;
                            color: #161e2e;
                            text-align: left;
                            margin-bottom: 10px;
                        }

                        .new_problem_solution_right_input_review{
                            left: 0px;
                            margin-top: 5px;
                            margin-bottom: 20px;
                            margin-right: 20px;
                            width: 96%;
                            .new_problem_solution_right_form_input{
                                min-height: 380px;
                                margin-left: 0px;
                                width: 100%;
                                border: 1px solid #dfe1e5;
                                border-radius: 2px;
                            }
                        }
                        
                    }
                }

                .new_problem_solution_right_submit_button{
                    margin-top: 30px;
                    padding-left: 20px;
                    .new_problem_solution_right_form_submit{
                        height: 40px;
                        width: 97%;
                        border-radius: 2px;
                        padding: 6px;
                        background: #1877f2;
                        font-size: 16px;
                        border: none;
                        cursor: pointer;
                        text-align: center;
                        color: #fff;
                        
                        &:hover{
                            background-color: #1877f2;
                        }
                    }
                }

                .my_style_class{
                    padding: 10px;
                    width: 300px;
                    font-size: 14px;
                    border-radius: 2px;
                    background: #fff;
                }
            }
        }
    }
}
