//////////////////problem_solution//////////////////
//@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
//////////////////new///////////////////////
.new_problem_solution_form
{
    width: 100%;
    .new_problem_solution_title_sub{
        padding-top: 30px;
        a{
            font-size: 13px;
            text-align: left;
            color: #333;
            font-style: italic;
            span{
                color: #ff424e;
            }
        }
    }

    .new_problem_solution_section
    {
        .new_problem_solution_content{
            padding-top: 20px;
            .new_problem_solution_label{
                a{
                    font-weight: 550;
                    font-size: 15px;
                }
                color: #333;
                text-align: left;
                span{
                    color: #ff424e;
                    padding-left: 3px;
                }
            }

            .new_problem_solution_input{
                left: 0px;
                margin-bottom: 20px;
                width: 100%;
                height: auto;
            }
        }
    }

    .new_problem_solution_submit{
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
        .new_problem_solution_form_submit{
            height: 44px;
            width: 100%;
            @media screen and (min-width: 600px){
                width: 200px;
            }
            font-weight: 600;
            border-radius: 4px;
            padding: 6px;
            background: #1473e6;
            font-size: 14px;
            border: none;
            cursor: pointer;
            text-align: center;
            color: #fff;
            
            box-shadow: 0 2px 4px 0 #8fb5f14d;
            &:hover {background-color: #116dff;}
        }
    }
}

/////////////////show/////////////////////////////////
.user_problem_solution_block {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    background-color: #fff;
    padding-top: 10px;
    .user_problem_solution_left
    {
        width: auto;
        height: 100%;
        display: block;
        position: relative;
        float: left;
        .problem_solution_user{
            position: relative;
            left: 3px;
        }
        .user_vote_toolbar{
            position: relative;
            left: -6px;
            .user_vote_solution{
                button{
                    border: none;
                    background-color: #fff;
                    &:focus {outline:none;}
                }
                .problem_solution_like{
                    border: none;
                    background-color: #fff;
                    i{
                        text-align: left;
                        font-size: 40px;
                        color: #666;
                        position: relative;
                        // left: -3px;
                    }
                    &:focus {outline:none;}
                }
        
                .problem_solution_like_highlight{
                    border: none;
                    background-color: #fff;
                    i{
                        color: #1473e6;
                        text-align: left;
                        font-size: 40px;
                        position: relative;
                        // left: -3px;
                    }
                    &:focus {outline:none;}
                }
            }

            .problem_solution_like_info{
                padding-left: 22px;
                a{
                    font-size: 14px;
                    text-align: center;
                }
            }

            .user_unvote_solution{
                button{
                    background-color: #fff;
                    border: none;
                    &:focus {outline:none;}
                }
                .problem_solution_dislike{
                    border: none;
                    background-color: #fff;
                    i{
                        text-align: left;
                        font-size: 40px;
                        color: #666;
                        position: relative;
                        // left: -6px;
                    }
                    &:focus {outline:none;}
                }
        
                .problem_solution_dislike_highlight{
                    border: none;
                    background-color: #fff;
                    i{
                        text-align: left;
                        font-size: 40px;
                        color: #1473e6;
                        position: relative;
                        // left: -6px;
                    }
                    &:focus {outline:none;}
                }
            }
        }
    }
    
    .user_problem_solution_cotent
    {
        display: block;
        margin-left: 55px;
        background-color: #f8f9fa;
        border-radius: 4px;
        padding: 15px;
        
        .user_problem_solution_time{
            display: block;
            font-size: 13px;
            color: #6b6c6d;
            position: relative;
            span{
                font-size: 14px;
                font-weight: 600;
                color: #333;
            }
        }

        .user_problem_solution_title{
            padding-top: 10px;
            font-size: 17px;
            font-weight: 600;
            color: #333;
        }

        .user_problem_solution_body {
            font-size: 15px;
            display: block;
            word-break: break-word;
        }

        .problem_solution_toolbar{
            .problem_solution_reply_block{
                display: inline-block;
                width: 20%;
                font-size: 13px;
                padding-bottom: 10px;
                .reply_btn
                {
                    border: none;
                    background-color: #f8f9fa;
                    color: #555;
                    font-size: 13px;
                    &:focus {outline:none;}

                    button{
                        border: none;
                        background-color: #f8f9fa;
                        color: #555;
                        font-size: 13px;
                        &:focus {outline:none;}
                    } 
                    a{
                        font-size: 13px;
                        color: #666;
                        @media screen and (max-width: 600px){
                            display: none;
                        }
                    }

                    i{
                        font-size: 23px;
                        position: relative;
                        top: 5px;
                    }
                    span{
                        font-size: 13px;
                        color: #666;
                    }
                }
            }

            .problem_solution_report_block{
                display: inline-block;
                .report_btn{
                    border: none;
                    background-color: #f8f9fa;
                    color: #555;
                    font-size: 13px;
                    &:focus {outline:none;}
    
                    button{
                        border: none;
                        background-color: #fff;
                        color: #555;
                        font-size: 13px;
                        &:focus {outline:none;}
                    } 
                    a{
                        font-size: 13px;
                        color: #666;
                        @media screen and (max-width: 600px){
                            display: none;
                        }
                    }
    
                    i{
                        font-size: 25px;
                        position: relative;
                        top: 5px;
                    }
                    span{
                        font-size: 13px;
                        color: #666;
                    }
                }
            }
        }
    }
    clear: left;
    clear: right;
}