// Place all the styles related to the ProblemReplySolutions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
//////////////////show//////////////////
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

.reply_problem_solution_content{
        
    margin-left: 50px;
    margin-top: 10px;
    .problem_solution_reply{
        // display: none;
        border-left: 1px solid #e6e7e9;
        width: 100%;
        height: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
        .user_reply_solution_block {
            width: 100%;
            height: 100%;
            margin-top: 20px;
            background-color: #fff;
            .user_reply_solution_left
            {
                width: auto;
                height: auto;
                display: block;
                position: relative;
                float: left;
                padding-left: 10px;
                .user_avatar {
                    display: block;
                    margin-left: 0px;
                    margin-top: 10px;
                    margin-right: auto;
                    i{
                        font-size: 30px;
                    }
                }
            }
            
            .user_reply_solution_cotent
            {
                display: block;
                width: auto;
                height: auto;
                margin-left: 50px;
                padding: 10px;
                background-color: #f8f9fa;
                border-radius: 3px;
                padding-bottom: 40px;
                min-height: 50px;
                .user_reply_solution_time{
                    margin-top: 15px;
                    font-size: 13px;
                    color: #6b6c6d;
                    float: right;
                }
                
                .user_reply_solution_body {
                    font-size: 14px;
                }
            }
            clear: left;
            clear: right;
        }
    }
}



//////////////////new//////////////////
.new_reply_problem_solution_form{
    margin-left: 50px;
    margin-bottom: 0px;
    margin-top: 20px;
    display: none;
    .new_reply_problem_solution_content{
        .new_reply_problem_solution_input_problem_solution{
            .new_reply_problem_solution_form_input_problem_solution{
                height: 80px;
                width: 100%;
                border-radius: 3px;
                border: 2px solid #e6e7e9;
            }
        }
    }
    .new_reply_problem_solution_submit{
        .new_reply_problem_solution_form_submit{
            width: 150px;
            height: 40px;
            margin-top: 10px;
            background-color: #ffc500;
            border: none;
            border-radius: 3px;
            i{
                font-size: 20px;
                color: #f8f9fa;
            }
        }
    }
}