
///////////////////index//////////////////
.problem_index_block
{
    .problem_search{
        padding-top: 20px;
        padding-bottom: 30px;
        .problem_search_input{
            background-color: #fff;
            width: 100%;
            position: relative;
            i{
                font-size: 23px;
                top: 5px;
                color: #1473e6;
                position: absolute;
                left: 10px;
                top: 14px;
                z-index: 1;
            }
            .form-control{
                padding-left: 40px;
                padding-right: 10px;
                width: 100%;
                height: 50px;
                color: #333;
                font-size: 15px;
                border: 1px solid #EAEAF0;
                box-shadow: 0 1px 1px -1px rgba(132, 189, 236, 0.3);
                // border-top-left-radius: 4px;
                // border-bottom-left-radius: 4px;
                // border-top-right-radius: 0px;
                // border-bottom-right-radius: 0px;
                // border-right: none;
                border-radius: 4px;
                box-shadow: none;
                background-color: #fff;
                @media screen and (max-width: 600px){
                    border: 1px solid #EAEAF0;
                    box-shadow: 0 1px 1px -1px rgba(132, 189, 236, 0.3);
                    border-radius: 4px;
                }
                &:focus{
                    box-shadow: none;
                }
            }
        }
        
        .problem_search_button{
            border: none;
            width: 100%;
            @media screen and (max-width: 600px){
                padding-top: 15px;
            }
            button{
                width: 100%;
                border: none;
                // border-top-right-radius: 4px;
                // border-bottom-right-radius: 4px;
                border-radius: 4px;
                @media screen and (max-width: 600px){
                    border-radius: 4px;
                    width: 100%;
                    float: none;
                    height: 50px;
                    i{
                        display: none;
                    }
                    a{
                        display: block;
                    }
                }
                @media screen and (min-width: 600px){
                    a{
                        // display: none;
                    }
                    i{
                        position: relative;
                        top: 3px;
                        font-size: 26px;
                    }
                }
                background-color: #1473e6;
                height: 50px;
                color: #fff;
                font-size: 15px;
                font-weight: 600;
                &:focus {outline:none;}
                box-shadow: 0 2px 4px 0 #8fb5f14d;
                &:hover {background-color: #116dff;}
            }
        }
    }

    .problem_search_label
    {
        font-size: 23px;
        margin-right: 13px;
        border-top-right-radius: 1px;
        border-top-left-radius: 1px;
        margin-bottom: 20px;
        font-weight: 550;
        @media screen and (max-width: 600px){
            margin-top: 10px;
            width: 100%;
        }

    }
    .search_question_result{
        background-color: #fff;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .section_title
    {
        font-size: 23px;
        margin-right: 13px;
        margin-top: 10px;
        border-top-right-radius: 1px;
        border-top-left-radius: 1px;
        margin-bottom: 20px;
        font-weight: 550;
        @media screen and (max-width: 600px){
            margin-top: 10px;
            width: 100%;
        }

    }

    .problem_index_tab_link{
        clear: left;
        overflow: hidden;
        position: relative;
        display: block;
        background-color: #fff;
        .nav {
            overflow-x: auto;
            overflow-y: hidden;
            flex-wrap: nowrap;
            border-top: 1px solid #EAEAF0;
            border-bottom: none !important;
        }
        .nav .nav-link {
            white-space: nowrap;
            font-size: 15px;
            border: none;
            min-width: 100%;
            text-align: left;
            display: flex;
            justify-content: center;
        }

        .nav .nav-link, .nav .nav-link.active, .nav .nav-link:hover {
            border: none;
            color: #333;
            text-align: left;
            position: relative;
            i{
                padding-right: 3px;
                padding-left: 0px;
                color: #444;
            }
            span{
                display: none;
                position: absolute;
                top: 0px;
                right: 15px;
                font-size: 12px;
                color: #999;
            }
        }
        .nav .nav-link.active {
            border-radius: 0;
            border-bottom: 3px solid #1473e6;
            font-weight: 500;
            color: #1473e6;
            font-size: 15px;
            text-align: left;
            span{
                color: #1473e6;
            }
            i{
                color: #1473e6;
            }
        }
    }
    
    .problem_index_tab_content{
        width: 100%;
    }

    .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
        background-color: #fefefe;
    }

    .table{
        text-decoration: none;
        // margin-top: 10px;

        tr:nth-child(even){background-color: #fff;}
        
        tr:hover {
            background-color: #fdf7e3;
            box-shadow: 0 1px 2px 0 rgba(179, 150, 150, 0.1), 0 2px 4px 0 rgba(168, 151, 151, 0.09);}
        
        tr th {
            text-align: left;
            font-size: 15px;
            white-space: normal;
            border-bottom: none !important;
            .table_th_no{
                text-align: center;
            }
            .table_th_title{
                text-align: left;
            }
            .table_th_difficult{
                text-align: left;
            }
            .table_td_user{
                min-width: 30px;
                text-align: center;
            }
        }

        tr td {  
            text-align: left;
            font-size: 15px;
            white-space: normal;
            color: #333;
            border: none;
            a:link{
                text-decoration: none;
                color: #333;
            }
            .table_td_no{
                text-align: center;
                font-size: 13px;
                color: #666;
            }
            .table_td_title{
                min-width: 50%;
                text-decoration: none !important;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2; /* number of lines to show */
                -webkit-box-orient: vertical;
                a{
                    color: #333;
                    &:hover{
                        color: #1473e6;
                    }
                }
            }

            .table_td_difficult{
                width: 100px;
                border-radius: 4px;
                text-align: left;
                a{
                    padding-top: 2px;
                    padding-bottom: 2px;
                    padding-left: 5px;
                    padding-right: 5px;
                }
            }
            .easy { 
                width: 80px;
                text-align: left;
                background-color: #5cb85c;
                border-radius: 20px;
                padding-top: 2px;
                padding-bottom: 2px;
                padding-left: 10px;
                a{
                    border: none;
                    color: #fff;
                    font-size: 13px;
                }
            }
            .average { 
                width: 80px;
                border-radius: 4px;
                text-align: left;
                background-color:#f0ad4e;
                padding-top: 2px;
                padding-bottom: 2px;
                padding-left: 10px;
                border-radius: 20px;
                a{
                    border: none;
                    color: #fff;
                    font-size: 13px;
                }
            }
            .hard{
                width: 80px;
                border-radius: 4px;
                text-align: left;
                background-color: #d9534f;
                padding-top: 2px;
                padding-bottom: 2px;
                padding-left: 10px;
                border-radius: 20px;
                a{
                    border: none;
                    color: #fff;
                    font-size: 13px;
                }
            }
            
            .table_td_user{
                min-width: 50px;
                text-align: center;
                font-size: 13px;
            }
        }
    }

    .problem_new_button{
        padding-top: 20px;
        padding-bottom: 20px;
        button{
            height: 44px;
            width: 100%;
            @media screen and (min-width: 600px){
                width: 200px;
            }
            font-weight: 600;
            border-radius: 4px;
            padding: 6px;
            background: #1473e6;
            font-size: 14px;
            border: none;
            cursor: pointer;
            text-align: center;
            color: #fff;
            i{
                color: #fff;
                position: relative;
                top: 2px;
                margin-right: 3px;
                font-size: 23px;
            }
            span{
                position: relative;
                top: -2px;
                font-size: 14px;
            }
            &:hover{
                background-color: #116dff;
                color: #fff;
            }
            &:focus {outline:none;}
        }
    }
}

.problem_block_right{
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    .problem_top{
        width: 100%;
        background-color: #fdf7e3;
        border: 1px solid #EAEAF0;
        box-shadow: 0 1px 1px -1px rgba(132, 189, 236, 0.3);
        border-radius: 4px;
        .problem_top_label{
            padding: 10px;
            i{
                font-size: 30px;
                position: relative;
                top: 8px;
                margin-right: 3px;
                color: #444;
            }
            a{
                font-size: 23px;
                font-weight: 600;
                color: #444;
            }
        }
        .problem_short{
            .problem_top_block{
                padding: 10px;
                border-top: 1px solid #EAEAF0;
                .problem_id{
                    float: left;
                    margin-right: 10px;
                    background-color: #5a9e6f;
                    min-width: 40px;
                    border-radius: 4px;
                    text-align: center;
                    a{  
                        color: #fff;
                        font-size: 13px;
                        padding-left: 5px;
                        padding-right: 5px;
                    }
                }
                .problem_label{
                    padding-top: 0px;
                    color: #333;
                    a{
                        font-size: 15px;
                        text-decoration: none !important;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 2; /* number of lines to show */
                        -webkit-box-orient: vertical;
                        color: #333;
                        &:hover{
                            color: #1473e6;
                        }
                    }
                }
            }
        }
    }

    .problem_company{
        display: none;
        width: 100%;
        border: 1px solid #EAEAF0;
        box-shadow: 0 1px 1px -1px rgba(132, 189, 236, 0.3);
        background-color: #fff;
        min-height: 500px;
        margin-bottom: 20px;
        padding: 10px;
        margin-top: 20px;
        font-size: 23px;
        font-weight: 400;
        color: #333;
        border-radius: 4px;
        i{
            font-size: 23px;
            position: relative;
            top: 5px;
            margin-right: 3px;
            color: #febb02;
        }
        .problem_short{
            padding-top: 20px;
            .problem_label{
                padding: 10px;
                border-top: 1px solid #EAEAF0;
                min-height: 44px;
                a{
                    font-size: 15px;
                    text-decoration: none !important;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2; /* number of lines to show */
                    -webkit-box-orient: vertical;
                    color: #333;
                    &:hover{
                        color: #1473e6;
                    }
                }
            }
        }
    }
}

////////////////////block/////////////////
.problem_block{
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #EAEAF0;
    box-shadow: 0 1px 1px -1px rgba(132, 189, 236, 0.3);
    padding: 15px;
    margin-bottom: 20px;
    min-height: 220px;
    &:hover{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
    }
    .problem_label{
        a{
            font-size: 19px;
            font-weight: 600;
            color: #333;
            text-decoration: none !important;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3; /* number of lines to show */
            -webkit-box-orient: vertical;
        }
        a:hover{
            color: #1473e6;
        }
    }
    .problem_des{
        padding-top: 10px;
        font-size: 15px;
    }
    .problem_info{
        padding-top: 10px;
        .problem_reply_info{
            float: left;
            a{
                font-size: 13px;
                padding-right: 20px;
                color: #666;
                i{
                    font-size: 20px;
                    position: relative;
                    top: 5px;
                    padding-right: 3px;
                    color: #1473e6;
                }   
            }
        }
        .problem_difficult_info{
            // float: left;
            padding-top: 3px;
            .problem_difficult{
                border-radius: 4px;
                a{
                    padding-top: 4px;
                    padding-bottom: 4px;
                    padding-left: 5px;
                    padding-right: 5px;
                }
            }
            .easy {                             
                a{
                    border: none;
                    border-radius: 20px;
                    color: #fff;
                    background-color: #5cb85c;
                    padding-top: 4px;
                    padding-bottom: 4px;
                    padding-left: 10px;
                    padding-right: 10px;
                    font-size: 13px;
                    i{
                        font-size: 20px;
                        position: relative;
                        top: 5px;
                    }
                }
            }
            .average { 
                a{
                    border: none;
                    border-radius: 20px;
                    color: #fff;
                    background-color:#f0ad4e;
                    padding-top: 4px;
                    padding-bottom: 4px;
                    padding-left: 10px;
                    padding-right: 10px;
                    font-size: 13px;
                    i{
                        font-size: 20px;
                        position: relative;
                        top: 5px;
                    }
                }
            }
            .hard{
                a{
                    border: none;
                    border-radius: 20px;
                    color: #fff;
                    background-color: #d9534f;
                    padding-top: 4px;
                    padding-bottom: 4px;
                    padding-left: 10px;
                    padding-right: 10px;
                    font-size: 13px;
                    i{
                        font-size: 20px;
                        position: relative;
                        top: 5px;
                    }
                }
            }
        }
        
        .problem_category_info{
            clear: both;
            float: left;
            padding-top: 10px;
            a{
                font-size: 13px;
                padding-right: 20px;
                color: #666;
                i{
                    font-size: 20px;
                    position: relative;
                    top: 5px;
                    padding-right: 3px;
                    color: #1473e6;
                }   
            }
        }

        .problem_history_info{
            padding-top: 10px;
            a{
                font-size: 13px;
                padding-right: 20px;
                color: #666;
                i{
                    font-size: 20px;
                    position: relative;
                    top: 5px;
                    padding-right: 3px;
                    color: #1473e6;
                }   
            }
        }

    }
}

////////////////show/////////////////////////
.problem_area
{
    width: 100%;
    clear: both;
    .problem_area_left{
        @media screen and (min-width: 600px){
            border: 1px solid #EAEAF0;
            box-shadow: 0 1px 1px -1px rgba(132, 189, 236, 0.3);
            border-left: none;
            border-top: none;
        }
        .problem_tab_link {
            clear: left;
            overflow: hidden;
            position: relative;
            display: block;
            background-color: #fff;
            border-bottom: 1px solid #EAEAF0;

            .nav {
                overflow-x: auto;
                overflow-y: hidden;
                flex-wrap: nowrap;
            }
            .nav .nav-link {
                white-space: nowrap;
                font-size: 15px;
                color: #333;
            }
            .nav .nav-link, .nav .nav-link.active, .nav .nav-link:hover {
                border: none;
                color: #333;
                font-size: 15px;
                i{
                    position: relative;
                    top: 5px;
                    padding-right: 3px;
                }
                span{
                    position: relative;
                    top: -12px;
                    // right: 15px;
                    font-size: 12px;
                    color: #999;
                }
            }
            .nav .nav-link.active {
                border-radius: 0;
                border-bottom: 3px solid #1473e6;
                font-weight: 500;
                color: #1473e6;
                span{
                    color: #1473e6;
                }
            }
        }

        @media screen and (min-width: 600px){
            .problem_tab_content::-webkit-scrollbar-track {
                background-color: #fff;
            }
        }

        .problem_tab_content{
            @media screen and (min-width: 600px){
                height:calc(120vh - 40px);
                overflow-y: scroll;
                padding-right: 10px;
                padding-left: 15px;
            }
            padding-left: 0px;
            background-color: #fff;
            padding-top: 15px;
            padding-bottom: 15px;
            .problem_des_tab{
                .problem_des_info{
                    .problem_des_title{
                        a{
                            font-size: 18px;
                            font-weight: 550;
                        }
                    }
                    .problem_des{
                        margin-top: 10px;
                        .problem_user{
                            float: left;
                            position: relative;
                            top: -3px;
                        }
                        .user_name{
                            float: left;
                            font-size: 13px;
                            color: #1473e6;
                            position: relative;
                            top: 7px;
                            margin-left: 5px;
                            margin-right: 15px;
                            font-weight: 555;
                        }
                        .problem_history_info{
                            a{
                                font-size: 13px;
                                padding-right: 20px;
                                color: #666;
                                i{
                                    font-size: 20px;
                                    position: relative;
                                    top: 5px;
                                    padding-right: 3px;
                                    color: #1473e6;
                                }   
                            }
                        }
                        .problem_difficult_show_info{
                            float: left;
                            margin-right: 20px;
                            .problem_difficult{
                                border-radius: 4px;
                                a{
                                    padding-top: 4px;
                                    padding-bottom: 4px;
                                    padding-left: 5px;
                                    padding-right: 5px;
                                }
                            }
                            .easy {                             
                                a{
                                    border: none;
                                    border-radius: 20px;
                                    color: #fff;
                                    background-color: #5cb85c;
                                    padding-top: 4px;
                                    padding-bottom: 4px;
                                    padding-left: 10px;
                                    padding-right: 10px;
                                    font-size: 13px;
                                    i{
                                        font-size: 20px;
                                        position: relative;
                                        top: 5px;
                                    }
                                }
                            }
                            .average { 
                                a{
                                    border: none;
                                    border-radius: 20px;
                                    color: #fff;
                                    background-color:#f0ad4e;
                                    padding-top: 4px;
                                    padding-bottom: 4px;
                                    padding-left: 10px;
                                    padding-right: 10px;
                                    font-size: 13px;
                                    i{
                                        font-size: 20px;
                                        position: relative;
                                        top: 5px;
                                    }
                                }
                            }
                            .hard{
                                a{
                                    border: none;
                                    border-radius: 20px;
                                    color: #fff;
                                    background-color: #d9534f;
                                    padding-top: 4px;
                                    padding-bottom: 4px;
                                    padding-left: 10px;
                                    padding-right: 10px;
                                    font-size: 13px;
                                    i{
                                        font-size: 20px;
                                        position: relative;
                                        top: 5px;
                                    }
                                }
                            }
                        }
                    }
                }
                .problem_des_content{
                    border-top: 1px solid #EAEAF0;
                    margin-top: 20px;
                    padding-top: 15px;
                    word-break: break-word;
                    font-size: 15px;
                }
            }

            .problem_solution_tab{
                .problem_solution_best{
                    margin-bottom: 20px;
                    display: block;
                    min-height: 300px;
                    padding-bottom: 20px;
                    border-bottom: 2px dashed #999;
                    margin-bottom: 20px;
                    .problem_solution_best_title{
                        font-size: 20px;
                        font-weight: 550;
                        color: #1473e6;
                        i{
                            position: relative;
                            color: #5cb85c;
                            top: 5px;
                            font-size: 30px;
                        }
                        .problem_solution_no_best_title{
                            margin-left: 20px;
                        }
                    }
                }
                .problem_solution_index{
                    .problem_solution_title{
                        a{
                            font-size: 20px;
                            font-weight: 550;
                            color: #333;
                        }
                        padding-bottom: 15px;
                    }

                    .problem_solution_render{
                        margin-bottom: 20px;
                    }
                }
                .problem_new_not_found_block{
                    background-color: #f8f9fa;
                    padding: 30px;
                    border-radius: 4px;
                    .problem_new_not_found_icon{
                        i{
                            font-size: 30px;
                            color: #666;
                        }
                        text-align: center;
                    }
                    .problem_new_not_found{
                        text-align: center;
                        font-size: 15px;
                        font-weight: 500;
                        padding-bottom: 10px;
                        color: #444;
                    }
                    .problem_new_not_found_action{
                        span{
                            font-size: 20px;
                            font-weight: 550;
                        }
                        width: 100%;
                        min-height: 100px;
                        margin-top: 20px;
                        background-color: #ebfeff;
                        border: 1px solid #ebfeff;
                        border-radius: 4px;
                        .problem_new_label{
                            font-size: 20px;
                            float: left;
                            @media screen and (max-width: 600px){
                                float: none;
                            }
                            padding-top:30px;
                            padding-left: 20px;    
                            font-weight: 600;
                        }
                        .problem_new_button{
                            float: right;
                            padding: 15px;
                            margin-top: 10px;
                            @media screen and (max-width: 600px){
                                float: none;
                                padding-bottom: 30px;
                            }
                            button{
                                height: 44px;
                                @media screen and (max-width: 600px){
                                    width: 100%;
                                }
                                width: 250px;
                                margin-right: 10px;
                                background: #1473e6;
                                font-size: 15px;
                                border: none;
                                cursor: pointer;
                                text-align: center;
                                color: #fff;
                                border-radius: 4px;
                                i{
                                    position: relative;
                                    top: 2px;
                                    font-size: 20px;
                                    margin-right: 3px;
                                }
        
                                span{
                                    font-size: 15px;
                                    position: relative;
                                    top: -2px;
                                }
                                
                                &:hover{
                                    background-color: #116dff;
                                    color: #fff;
                                }
                                &:focus {outline:none;}
                            }
                        }
                    }
                }
            }

            .problem_disscuss_tab{

            }

            .problem_submit_tab{
                .problem_new_not_found_block{
                    background-color: #f8f9fa;
                    padding: 30px;
                    border-radius: 4px;
                    .problem_new_not_found_icon{
                        i{
                            font-size: 30px;
                            color: #666;
                        }
                        text-align: center;
                    }
                    .problem_new_not_found{
                        text-align: center;
                        font-size: 15px;
                        font-weight: 500;
                        padding-bottom: 10px;
                        color: #444;
                    }
                    .problem_new_not_found_action{
                        span{
                            font-size: 20px;
                            font-weight: 550;
                        }
                        width: 100%;
                        min-height: 100px;
                        margin-top: 20px;
                        background-color: #ebfeff;
                        border: 1px solid #ebfeff;
                        border-radius: 4px;
                        .problem_new_label{
                            font-size: 20px;
                            float: left;
                            @media screen and (max-width: 600px){
                                float: none;
                            }
                            padding-top:30px;
                            padding-left: 20px;    
                            font-weight: 600;
                        }
                        .problem_new_button{
                            float: right;
                            padding: 15px;
                            margin-top: 10px;
                            @media screen and (max-width: 600px){
                                float: none;
                                padding-bottom: 30px;
                            }
                            button{
                                height: 44px;
                                @media screen and (max-width: 600px){
                                    width: 100%;
                                }
                                width: 250px;
                                margin-right: 10px;
                                background: #1473e6;
                                font-size: 15px;
                                border: none;
                                cursor: pointer;
                                text-align: center;
                                color: #fff;
                                border-radius: 4px;
                                i{
                                    position: relative;
                                    top: 2px;
                                    font-size: 20px;
                                    margin-right: 3px;
                                }
        
                                span{
                                    font-size: 15px;
                                    position: relative;
                                    top: -2px;
                                }
                                
                                &:hover{
                                    background-color: #116dff;
                                    color: #fff;
                                }
                                &:focus {outline:none;}
                            }
                        }
                    }
                }
            }

            .problem_related_tab{
                .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
                    background-color: #fefefe;
                }

                .table{
                    text-decoration: none;
                    // margin-top: 10px;

                    tr:nth-child(even){background-color: #fff;}
                    
                    tr:hover {
                        background-color: #fdf7e3;
                        box-shadow: 0 1px 2px 0 rgba(179, 150, 150, 0.1), 0 2px 4px 0 rgba(168, 151, 151, 0.09);}
                    
                    tr th {
                        text-align: left;
                        font-size: 15px;
                        white-space: normal;
                        border-bottom: 1px solid #EAEAF0 !important;
                        .table_th_no{
                            text-align: center;
                        }
                        .table_th_title{
                            text-align: left;
                        }
                        .table_th_difficult{
                            text-align: left;
                        }
                        .table_td_user{
                            min-width: 30px;
                            text-align: center;
                        }
                    }

                    tr td {  
                        text-align: left;
                        font-size: 15px;
                        white-space: normal;
                        color: #333;
                        border: none;
                        a:link{
                            text-decoration: none;
                            color: #333;
                        }
                        .table_td_no{
                            text-align: center;
                            font-size: 13px;
                            color: #666;
                        }
                        .table_td_title{
                            min-width: 50%;
                            text-decoration: none !important;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-line-clamp: 2; /* number of lines to show */
                            -webkit-box-orient: vertical;
                            a{
                                color: #333;
                                &:hover{
                                    color: #1473e6;
                                }
                            }
                        }

                        .table_td_difficult{
                            width: 80px;
                            border-radius: 4px;
                            text-align: left;
                            a{
                                padding-top: 2px;
                                padding-bottom: 2px;
                                padding-left: 5px;
                                padding-right: 5px;
                            }
                        }
                        .easy { 
                            width: 80px;
                            text-align: left;
                            background-color: #5cb85c;
                            border-radius: 20px;
                            padding-top: 2px;
                            padding-bottom: 2px;
                            padding-left: 10px;
                            a{
                                border: none;
                                color: #fff;
                                font-size: 13px;
                            }
                        }
                        .average { 
                            width: 80px;
                            border-radius: 4px;
                            text-align: left;
                            background-color:#f0ad4e;
                            padding-top: 2px;
                            padding-bottom: 2px;
                            padding-left: 10px;
                            border-radius: 20px;
                            a{
                                border: none;
                                color: #fff;
                                font-size: 13px;
                            }
                        }
                        .hard{
                            width: 80px;
                            border-radius: 4px;
                            text-align: left;
                            background-color: #d9534f;
                            padding-top: 2px;
                            padding-bottom: 2px;
                            padding-left: 10px;
                            border-radius: 20px;
                            a{
                                border: none;
                                color: #fff;
                                font-size: 13px;
                            }
                        }
                        
                        .table_td_user{
                            min-width: 50px;
                            text-align: center;
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }
    .problem_right{
        @media screen and (max-width: 600px){
            margin-top: 20px;
            border-top: 2px solid #EAEAF0;
        }
        .problem_right_tab_link {
            clear: left;
            overflow: hidden;
            position: relative;
            display: block;
            background-color: #fff;
            // border-bottom: 1px solid #EAEAF0;
            @media screen and (max-width: 600px){
                border-bottom: none;
            }

            .nav-tabs {
                overflow-x: auto;
                overflow-y: hidden;
                flex-wrap: nowrap;
            }
            .nav-tabs .nav-link {
                white-space: nowrap;
                font-size: 15px;
                color: #333;
            }
            .nav-tabs .nav-link, .nav-tabs .nav-link.active, .nav-tabs .nav-link:hover {
                border: none;
                color: #333;
                font-size: 15px;
                padding-left: 10px;
                padding-right: 10px;
                i{
                    position: relative;
                    top: 7px;
                    padding-right: 3px;
                }
                span{
                    position: absolute;
                    top: -1px;
                    font-size: 12px;
                }
            }
            .nav-tabs .nav-link.active {
                border-radius: 0;
                border-bottom: 4.5px solid #1473e6;
                font-weight: 500;
                color: #1473e6;
            }
        }
        
        @media screen and (min-width: 600px){
            .problem_right_tab_content::-webkit-scrollbar-track {
                background-color: #fff;
            }
        }

        .problem_right_tab_content{
            @media screen and (min-width: 600px){
                height:calc(120vh - 39px);
                overflow-y: scroll;
                padding-right: 10px;
                border-bottom: 1px solid #EAEAF0;
                padding-left: 15px;
            }
            .tab-content{
                padding-left: 0px;
                background-color: #fff;
                // padding: 15px;
                
                .problem_normal_text
                {
                    width: 100%;
                    display: block;
                }

                .problem_compiler_text{
                    padding-top: 15px;
                }
            }
        }
    }
}

//////////////////new///////////////////////
.new_problem_form
{
    margin-bottom: 50px;
    .new_problem_title{
        h3{
            font-size: 23px;
            color: #333;
            font-weight: 600;
        }
        text-align: center;
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .new_problem_title_sub{
        a{
            font-size: 13px;
            text-align: left;
            color: #333;
            font-style: italic;
            span{
                color: #ff424e;
            }
        }
    }

    .new_problem_section
    {
        margin-top: 10px;
        padding-top: 10px;
        .new_problem_content{
            .new_problem_label{
                font-weight: 550;
                font-size: 15px;
                color: #333;
                text-align: left;
                span{
                    color: #ff424e;
                    padding-left: 3px;
                }
            }
            .new_problem_input{
                left: 0px;
                margin-top: 5px;
                margin-bottom: 20px;
                width: 100%;
            }
        }
    }

    .new_problem_submit{
        margin-top: 20px;
        .new_problem_form_submit{
            height: 44px;
            width: 100%;
            @media screen and (min-width: 600px){
                width: 200px;
            }
            font-weight: 600;
            border-radius: 4px;
            padding: 6px;
            background: #1473e6;
            font-size: 14px;
            border: none;
            cursor: pointer;
            text-align: center;
            color: #fff;
            
            box-shadow: 0 2px 4px 0 #8fb5f14d;
            &:hover {background-color: #116dff;}
        }
    }
}

.problem_policy{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #EAEAF0;
    box-shadow: 0 1px 1px -1px rgba(132, 189, 236, 0.3);
    padding: 15px;
    border-radius: 4px;
    .problem_policy_title{
        a{
            text-align: left;
            font-size: 23px;
            color: #333;
            font-weight: 550;
        }
        padding-bottom: 5px;
        border-bottom: 1px solid #EAEAF0;
    }

    .problem_policy_content{
        .problem_policy_content_index{
            font-size: 15px;
            padding-top: 10px;
            // padding-bottom: 5px;
        }

        .problem_policy_content_link{
            font-weight: 600;
            font-size: 15px;
            padding-top: 15px;
        }
    }
}
