.problem_des_tab{
    padding: 10px;
    padding-left: 20px;
    padding-top: 20px;
    .problem_content{
        font-size: 14px;
    }

    .new_solution_button{
        button{
            padding: 10px;
        }
    }
}