
///////////////////index//////////////////
.row{
    .col-sm-8
    {
        .problem_search{
            padding-top: 30px;
            padding-bottom: 30px;
            .input-group{
                background-color: #fff;
                border-radius: 30px;
                border: 1px solid #dfe1e5;
                .form-control{
                    background-color: #fff;
                    border-radius: 30px;
                    height: 50px;
                    border: none;
                    box-shadow: none;
                    color: #444;
                }
                .input-group-addon{
                    border-radius: 30px;
                    border: none;
                    background-color: #fff;
                    box-shadow: none;
                    i{
                        font-size: 28px;
                        color: #666;
                        position: relative;
                        color: #1877f2;
                    }
                    .btn{
                        border: none;
                    }
    
                }
                &:hover{
                    box-shadow: 0 1px 4px 0 rgba(60, 60, 60, 0.1), 0 2px 4px 0 rgba(30, 30, 30, 0.09);
                }
            }
        }

        .problem_index_tab_link{
            clear: left;
            overflow: hidden;
            position: relative;
            display: block;
            background-color: #fff;
            // padding-bottom: 20px;
            .nav-tabs {
                overflow-x: auto;
                overflow-y: hidden;
                flex-wrap: nowrap;
                // border: none;
                border-bottom: 1px solid #dfe1e5;
            }
            .nav-tabs .nav-link {
                white-space: nowrap;
                font-size: 16px;
                border: none;
                min-width: 100%;
                text-align: left;
            }
            .nav-pills{
            }

            .nav-tabs .nav-link, .nav-tabs .nav-link.active, .nav-tabs .nav-link:hover {
                // border: 1px solid #dfe1e5;
                color: #444;
                min-height: 50px;
                border-radius: 5px;
                text-align: left;
                width: auto;
                i{
                    position: relative;
                    top: 5px;
                    padding-right: 3px;
                }
                span{
                    position: absolute;
                    top: -1px;
                    font-size: 12px;
                    color: #666;
                }
            }
            .nav-tabs .nav-link.active {
                border-radius: 0px;
                // background-color: #1877f2;
                border-bottom: 4px solid #1877f2;
                color: #1877f2;
                font-size: 16px;
                span{
                    color: #1877f2;
                }
            }
        }
        
        .problem_index_tab_content{
            width: 100%;
        }

        .table{
            text-decoration: none;
            // margin-top: 10px;

            tr:nth-child(even){background-color: #fff;}
            
            tr:hover {
                background-color: #fdf7e3;
                box-shadow: 0 1px 2px 0 rgba(179, 150, 150, 0.1), 0 2px 4px 0 rgba(168, 151, 151, 0.09);}
            
            tr th {
                text-align: left;
                font-size: 15px;
                white-space: normal;
                border-bottom: 1px solid #dfe1e5;
                .table_th_no{
                    text-align: center;
                }
                .table_th_title{
                    text-align: left;
                }
                .table_th_difficult{
                    text-align: left;
                }
                .table_td_user{
                    min-width: 30px;
                    text-align: center;
                }
            }

            tr td {  
                text-align: left;
                font-size: 14px;
                white-space: normal;
                color: #333;
                border: none;
                a:link{
                    text-decoration: none;
                    color: #333;
                }
                .table_td_no{
                    text-align: center;
                    font-size: 13px;
                    color: #666;
                }
                .table_td_title{
                    min-width: 50%;
                    text-decoration: none !important;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2; /* number of lines to show */
                    -webkit-box-orient: vertical;
                    // &:link{
                    //     color: #333;
                    // }
                }

                .table_td_difficult{
                    width: 80px;
                    border-radius: 3px;
                    text-align: left;
                    a{
                        padding-top: 2px;
                        padding-bottom: 2px;
                        padding-left: 5px;
                        padding-right: 5px;
                    }
                }
                .easy { 
                    width: 100px;
                    text-align: left;
                    a{
                        border: none;
                        border-radius: 20px;
                        color: #fff;
                        background-color: #5cb85c;
                        padding-top: 2px;
                        padding-bottom: 2px;
                        padding-left: 10px;
                        padding-right: 10px;
                        font-size: 13px;
                    }
                }
                .average { 
                    width: 100px;
                    border-radius: 3px;
                    text-align: left;
                    a{
                        border: none;
                        border-radius: 20px;
                        color: #fff;
                        background-color:#f0ad4e;
                        padding-top: 2px;
                        padding-bottom: 2px;
                        padding-left: 10px;
                        padding-right: 10px;
                        font-size: 13px;
                    }
                }
                .hard{
                    width: 100px;
                    border-radius: 3px;
                    text-align: left;
                    a{
                        border: none;
                        border-radius: 20px;
                        color: #fff;
                        background-color: #d9534f;
                        padding-top: 2px;
                        padding-bottom: 2px;
                        padding-left: 10px;
                        padding-right: 10px;
                        font-size: 13px;
                    }
                }
                
                .table_td_user{
                    min-width: 50px;
                    text-align: center;
                    font-size: 13px;
                }
            }
        }

        .problem_new_button{
            padding-top: 20px;
            padding-bottom: 20px;
            button{
                width: 100%;
                height: 50px;
                border-radius: 3px;
                font-size: 16px;
                background-color: #1877f2;
                border: none;
                color: #fff;
                i{
                    color: #fff;
                    position: relative;
                    top: 5px;
                    margin-right: 3px;
                }
                a{
                    position: relative;
                    top: -5px;
                    font-size: 16px;
                }
                &:hover{
                    background-color: #369;
                    color: #fff;
                }
            }
        }
    }

    .col-sm-4{
        padding-top: 30px;
        border: none;
        .problem_top{
            width: 100%;
            background-color: #fdf7e3;
            min-height: 500px;
            padding: 10px;
            font-size: 22px;
            font-weight: 500;
            color: #ffc500;
            border: 1px solid #dfe1e5;
            border-radius: 3px;
            i{
                font-size: 30px;
                position: relative;
                top: 8px;
                margin-right: 3px;
            }
            .problem_short{
                padding-top: 20px;
                .problem_block{
                    padding-top: 8px;
                    border-top: 1px solid #dfe1e5;
                    .problem_id{
                        float: left;
                        margin-right: 10px;
                        background-color: #5a9e6f;
                        min-width: 45px;
                        border-radius: 3px;
                        text-align: center;
                        a{  
                            color: #fff;
                            font-size: 13px;
                            padding-left: 10px;
                            padding-right: 10px;
                        }
                    }
                    .problem_label{
                        padding: 10px;
                        font-size: 16px;
                        min-height: 40px;
                        color: #333;
                        a{
                            font-size: 14px;
                            text-decoration: none !important;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-line-clamp: 2; /* number of lines to show */
                            -webkit-box-orient: vertical;
                            color: #333;
                            &:hover{
                                color: #1877f2;
                            }
                        }
                    }
                }
            }
        }

        .problem_company{
            width: 100%;
            border: 1px solid #dfe1e5;
            background-color: #fff;
            min-height: 500px;
            margin-bottom: 20px;
            padding: 10px;
            margin-top: 20px;
            font-size: 22px;
            font-weight: 400;
            color: #ffc500;
            border-radius: 3px;
            i{
                font-size: 28px;
                position: relative;
                top: 5px;
                margin-right: 3px;
            }
            .problem_short{
                padding-top: 20px;
                .problem_label{
                    padding: 10px;
                    font-size: 16px;
                    border-top: 1px solid #dfe1e5;
                    min-height: 40px;
                    a{
                        font-size: 14px;
                        text-decoration: none !important;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 2; /* number of lines to show */
                        -webkit-box-orient: vertical;
                        color: #333;
                        &:hover{
                            color: #1877f2;
                        }
                    }
                }
            }
        }
    }
}

////////////////show/////////////////////////
.problem_area
{
    width: 100%;
    clear: both;
    .row{
        .col-sm-8{
            .problem_area_left{
                width: 100%;
                @media screen and (min-width: 600px){
                    padding-top: 20px;
                }
                .problem_tab_link {
                    clear: left;
                    overflow: hidden;
                    position: relative;
                    display: block;
                    background-color: #fff;
                    border-bottom: 1px solid #dfe1e5;
                    @media screen and (max-width: 600px){
                        border-bottom: none;
                    }

                    .nav-tabs {
                        overflow-x: auto;
                        overflow-y: hidden;
                        flex-wrap: nowrap;
                    }
                    .nav-tabs .nav-link {
                        white-space: nowrap;
                        font-size: 16px;
                        color: #333;
                    }
                    .nav-tabs .nav-link, .nav-tabs .nav-link.active, .nav-tabs .nav-link:hover {
                        border: none;
                        color: #333;
                        font-size: 16px;
                        i{
                            position: relative;
                            top: 5px;
                            padding-right: 3px;
                        }
                        span{
                            position: absolute;
                            top: -1px;
                            font-size: 12px;
                        }
                    }
                    .nav-tabs .nav-link.active {
                        border-radius: 0;
                        border-bottom: 4px solid #1877f2;
                        font-weight: 550;
                        color: #1877f2;
                    }
                }
        
                .problem_tab_content{
                    .tab-content{
                        padding-left: 0px;
                        background-color: #fff;
                        // padding: 20px;
                        .problem_des_tab{
        
                        }
        
                        .problem_solution_tab{
                            .problem_solution_best{
                                padding: 10px;
                                margin-bottom: 20px;
                                min-height: 300px;
                                // border: 1px solid #dfe1e5;
                                background-color: #fdf7e3;
                                border-radius: 3px;
                                .problem_solution_title{
                                    font-size: 20px;
                                    font-weight: 600;
                                }
                            }
                            .problem_solution_normal{
                                .problem_solution_title{
                                    font-size: 20px;
                                    font-weight: 600;
                                }
                            }
        
                        }
        
                        .problem_disscuss_tab{
        
                        }
        
                        .problem_your_solution_tab{
        
                        }
                    }
                }
            }

            .problem_area_right
            {
                width: 100%;
                .problem_submit{
                    display: block;
                    .new_problem_solution_right_form
                    {
                        padding-top: 20px;
                        margin-bottom: 30px;
                        .new_problem_solution_right_title{
                            a{
                                font-size: 24px;
                                font-weight: 500;
                                color: #333;
                                text-align: left;
                                border-bottom: 2px solid #ffc500;
                            }
                            padding-top: 10px;
                            position: relative;
                        }
        
                        .new_problem_solution_right_section
                        {
                            padding-top: 10px;
                            .new_problem_solution_right_content{
                                .new_problem_solution_right_label_title{
                                    font-weight: 600;
                                    font-size: 16px;
                                    color: #333;
                                    text-align: left;
                                    margin-bottom: 10px;
                                }
        
                                .new_problem_solution_right_input_review_title{
                                    left: 0px;
                                    height: auto;
                                    .form-control{
                                        margin-left: 0px;
                                        min-height: 50px;
                                        width: 100%;
                                        border: 1px solid #dfe1e5;
                                        border-radius: 3px;
                                    }
                                }
        
                                .new_problem_solution_right_label{
                                    font-weight: 600;
                                    font-size: 16px;
                                    color: #333;
                                    text-align: left;
                                    margin-top: 30px;
                                    margin-bottom: 10px;
                                }
        
                                .new_problem_solution_right_input_review{
                                    left: 0px;
                                    margin-top: 5px;
                                    margin-bottom: 20px;
        
                                    .form-control{
                                        min-height: 150px;
                                        height: auto;
                                        margin-left: 0px;
                                        width: 100%;
                                        border: 1px solid #dfe1e5;
                                        border-radius: 3px;
                                    }
                                }
                                
                            }
                        }
        
                        .new_problem_solution_right_submit_button{
                            margin-top: 30px;
                            .new_problem_solution_right_form_submit{
                                height: 50px;
                                width: 100%;
                                border-radius: 3px;
                                padding: 6px;
                                background: #1877f2;
                                font-size: 16px;
                                border: none;
                                cursor: pointer;
                                text-align: center;
                                color: #fff;
                                
                                &:hover{
                                    background-color: #369;
                                }
                            }
                        }
        
                        .my_style_class{
                            padding: 10px;
                            width: 300px;
                            font-size: 14px;
                            border-radius: 3px;
                            background: #fff;
                        }
                    }
                }
            }
        }
        
        .col-sm-4{
            padding-bottom: 20px;
            .problem_related{
                padding: 10px;
                width: 100%;
                background-color: #fdf7e3;
                min-height: 500px;
                padding: 10px;
                font-size: 22px;
                font-weight: 500;
                color: #ffc500;
                border: 1px solid #dfe1e5;
                border-radius: 3px;
                i{
                    font-size: 30px;
                    position: relative;
                    top: 8px;
                    margin-right: 3px;
                }
                .problem_short{
                    padding-top: 20px;
                    .problem_label{
                        padding: 10px;
                        font-size: 16px;
                        border-top: 1px solid #dfe1e5;
                        min-height: 40px;
                        a{
                            font-size: 14px;
                            text-decoration: none !important;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-line-clamp: 2; /* number of lines to show */
                            -webkit-box-orient: vertical;
                            color: #333;
                            &:hover{
                                color: #1877f2;
                            }
                        }
                    }
                }
            }
        }
    }
}

//////////////////new///////////////////////
.new_problem_form
{
    margin-bottom: 50px;
    .new_problem_title{
        font-size: 24px;
        color: #333;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .new_problem_section
    {
        .new_problem_content{
            .new_problem_label{
                font-weight: 600;
                font-size: 14px;
                color: #333;
                text-align: left;
            }

            .new_problem_input{
                left: 0px;
                margin-top: 5px;
                margin-bottom: 20px;
                width: 100%;
                .form-control{
                    margin-left: 0px;
                    height: 40px;
                    width: 100%;
                    border: 1px solid #dfe1e5;
                    border-radius: 3px;
                }
                .rich_text_area{
                    margin-left: 0px;
                    min-height: 150px;
                    width: 100%;
                    border: 1px solid #dfe1e5;
                    border-radius: 3px;
                    overflow: scroll;
                    .rich_text_input{
                        min-height: 150px;
                    }
                }
            }
        }
    }

    .new_problem_submit{
        margin-top: 20px;
        .new_problem_form_submit{
            height: 50px;
            width: 100%;
            border-radius: 3px;
            padding: 6px;
            background: #1877f2;
            font-size: 14px;
            border: none;
            cursor: pointer;
            text-align: center;
            color: #fff;
            
            &:hover{
                background-color: #1877f2;
            }
        }
    }

    .my_style_class{
        padding: 10px;
        width: 300px;
        font-size: 14px;
        border-radius: 3px;
        background: #fff;
    }
}
