// Place all the styles related to the reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
///////////////////////new//////////////////////////
.new_report_form
{
    background-color: #fff;
    padding-bottom: 20px;
    border-radius: 5px;
    .new_report_title{
        font-size: 23px;
        font-weight: 600;
        color: #333;
        text-align: left;
        i{
            color: #333;
            padding-right: 3px;
            position: relative;
            top: 5px;
            font-size: 30px;
        }
    }

    .new_report_section
    {
		border-radius: 5px;
        background-color: #fff;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
        height: auto;
        .new_report_label{
            font-weight: 600;
            font-size: 15px;
            color: #0f1419;
            text-align: left;
        }
        .new_report_content{
            .new_report_input{
                left: 0px;
                margin-top: 5px;
                margin-bottom: 20px;
                width: 100%;
                height: auto;
                .new_report_form_input{
                    margin-left: 0px;
                    height: 44px;
                    width: 100%;
                    border: 1px solid #dddddd;
                    border-radius: 5px;
                }
            }
        }
    }

    .new_report_submit{
        width: 100%;
        .new_report_form_submit{
            height: 44px;
            @media screen and (max-width: 600px){
                width: 100%;
            }
            width: 150px;
            border-radius: 5px;
            padding: 6px;
            background: #0071e3;
            font-size: 15px;
            border: none;
            cursor: pointer;
            text-align: center;
            color: #fff;
            
            &:hover{
                background-color: #0071e3;
            }
        }
    }
}

.report_success_message{
    border-top: 1px solid #dddddd;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 20px;
    padding-top: 15px;
}