// Place all the styles related to the ScrapJobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
//////////////////new///////////////////////
.new_scrap_job_form
{
    margin-top: 30px;
    margin-bottom: 30px;
    min-height: 900px;
    .new_scrap_job_title{
        font-size: 23px;
        font-weight: 600;
        color: #333;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .new_scrap_job_title_sub{
        a{
            font-size: 13px;
            text-align: left;
            color: #333;
            font-style: italic;
            span{
                color: #ff424e;
            }
        }
    }

    .new_scrap_job_section
    {
        margin-top: 10px;
        padding-top: 10px;
        .new_scrap_job_content{
            .new_scrap_job_label{
                font-weight: 550;
                font-size: 15px;
                color: #333;
                text-align: left;
            }

            .new_scrap_job_input{
                left: 0px;
                margin-top: 5px;
                margin-bottom: 20px;
                width: 100%;
                height: auto;
            }
        }
    }

    .new_scrap_job_submit{
        width: 100%;
        margin-top: 50px;
        .new_scrap_job_form_submit{
            height: 44px;
            width: 100%;
            border-radius: 4px;
            padding: 6px;
            background: #1473e6;
            font-size: 14px;
            border: none;
            cursor: pointer;
            text-align: center;
            color: #fff;
            
            &:hover {background-color: #116dff;}
        }
    }
}