// Place all the styles related to the ScrapJobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
//////////////////new///////////////////////
.new_scrap_job_form
{
    margin-bottom: 50px;
    .new_scrap_job_title{
        font-size: 25px;
        color: #333;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .new_scrap_job_title_sub{
        span{
            font-size: 13px;
            text-align: left;
            color: #333;
            font-style: italic;
        }
    }

    .new_scrap_job_section
    {
        margin-top: 10px;
        padding-top: 10px;
        .new_scrap_job_content{
            .new_scrap_job_label{
                font-weight: 550;
                font-size: 14px;
                color: #333;
                text-align: left;
            }

            .new_scrap_job_input{
                left: 0px;
                margin-top: 5px;
                margin-bottom: 20px;
                width: 100%;
                height: auto;
                .form-control{
                    margin-left: 0px;
                    min-height: 40px;
                    width: 100%;
                    border: 1px solid #e0e2e5;
                    border-radius: 4px;
                    font-size: 14px;
                }
                .form-control-rich-text{
                    min-height: 150px;
                    height: auto;
                    margin-left: 0px;
                    width: 100%;
                    border: 1px solid #e0e2e5;
                    border-radius: 4px;
                    font-size: 14px;
                }
				.form-control{
					width: 100%;
                    font-size: 14px;
                    &:focus{
                        border: 2px solid #1877f2;
                        border-radius: 4px;
                    }
				}
            }
        }
    }

    .new_scrap_job_submit{
        width: 100%;
        margin-top: 50px;
        .new_scrap_job_form_submit{
            height: 50px;
            width: 100%;
            border-radius: 4px;
            padding: 6px;
            background: #1877f2;
            font-size: 14px;
            border: none;
            cursor: pointer;
            text-align: center;
            color: #fff;
            
            &:hover{
                background-color: #1877f2;
            }
        }
    }

    .form-control{
        padding: 10px;
        width: 300px;
        font-size: 14px;
        border-radius: 4px;
        background: #fff;
        &:focus{
            border: 2px solid #1877f2;
            border-radius: 4px;
        }
    }
}