// Place all the styles related to the Search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
////////////////////////index////////////////
.home_search_block{
	padding-top: 30px;
	min-height: 900px;
	.home_search_input{
		display: block;
		.padding_customize{
			@media screen and (min-width: 600px){
				padding-left: 0px !important;
				padding-right: 0px !important;
			}
		}
		.home_search_what{
			background-color: #fff;
			border: 1px solid #e0e2e5;
			width: 100%;
			border-radius: 4px;
			i{
				font-size: 22px;
				position: relative;
				top: 5px;
				color: #888;
				position: absolute;
				left: 25px;
				top: 14px;
			}
			.form-control{
				padding-left: 40px;
				padding-right: 10px;
				width: 100%;
				height: 50px;
				border: none;
				box-shadow: none;
				color: #333;
				font-size: 16px;
				outline:none;
                // &:focus{
                //     border: 2px solid #1877f2;
                //     border-radius: 4px;
                // }
			}
		}
		.home_search_where{
			background-color: #fff;
			border: 1px solid #e0e2e5;
			&:focus{
				border: none;
			}
			width: 100%;
			border-radius: 4px;
			@media screen and (max-width: 600px){
				margin-top: 10px;
				margin-bottom: 20px;
			}
			i{
				font-size: 22px;
				top: 5px;
				color: #888;
				position: absolute;
				left: 15px;
				top: 14px;
				@media screen and (max-width: 600px){
					top: 24px;
					left: 25px;
				}
			}
			.form-control{
				padding-left: 40px;
				width: 100%;
				height: 50px;
				border: none;
				box-shadow: none;
				color: #333;
				font-size:16px;
				outline:none;
				background: none;
				// &:focus{
				// 	border: 2px solid #1877f2;
				// 	border-radius: 4px;
				// }
			}
			button:focus{
				border: none;
				background: none;
			}
			&:focus {outline:none;}
		}
		
		.home_search_button{
			border: none;
			width: 100%;
			button{
				border: none;
				border-radius: 4px;
				background-color: #1877f2;
				height: 50px;
				color: #fff;
				width: 100%;
				font-size:16px;
				font-weight: 600;
				@media screen and (max-width: 600px){
					width: 100%;
					float: none;
				}
				&:focus {outline:none;}
			}
		}
	}

	.home_search_index{
		.home_search_job_search{
			margin-top: 30px;
			// border-top: 2px solid #e0e2e5;	
			clear: both;
			.home_search_job_label{
				padding-top: 10px;
				padding-bottom: 20px;
				font-size: 24px;
				margin-right: 13px;
				border-top-right-radius: 1px;
				border-top-left-radius: 1px;
				font-weight: 550;
				span{
					border-left: 5px solid #febb02;
					padding-left: 5px;
				}
				@media screen and (max-width: 600px){
					margin-top: 10px;
					width: 100%;
				}
			}
			.no_job_found_label{
				font-size: 24px;
				font-weight: 550;
			}
		}
		
		.home_search_company_search{
			margin-top: 40px;
			.home_search_company_label{
				padding-top: 10px;
				padding-bottom: 20px;
				font-size: 24px;
				margin-right: 13px;
				border-top-right-radius: 1px;
				border-top-left-radius: 1px;
				font-weight: 550;
				span{
					border-left: 5px solid #febb02;
					padding-left: 5px;
				}
				@media screen and (max-width: 600px){
					margin-top: 10px;
					width: 100%;
				}
			}
		}
		.home_search_not_found_block{
			margin-top: 30px;
			.home_search_not_found_label{
				padding-top: 10px;
				padding-bottom: 20px;
				font-size: 24px;
				margin-right: 13px;
				border-top-right-radius: 1px;
				border-top-left-radius: 1px;
				font-weight: 550;
				span{
					// border-left: 5px solid #febb02;
					// padding-left: 5px;
				}
				@media screen and (max-width: 600px){
					margin-top: 10px;
					width: 100%;
				}
			}
			.home_search_not_found_image{
				display: flex;
				justify-content: center;
				img{
					height: 100px;
					width: 200px;
					object-fit: cover;
				}
			}
			.home_search_not_found_help{
				margin-top: 10px;
				a{
					font-size: 16px;
					font-weight: 600;
				}
			}
			.home_search_not_found_suggest{
				margin-top: 30px;
				.home_search_not_found_suggest_label{
					padding-top: 10px;
					padding-bottom: 20px;
					font-size: 24px;
					margin-right: 13px;
					border-top-right-radius: 1px;
					border-top-left-radius: 1px;
					font-weight: 550;
					a{
						border-left: 5px solid #febb02;
						padding-left: 5px;
					}
					@media screen and (max-width: 600px){
						margin-top: 10px;
						width: 100%;
					}
				}
			}
		}
	}
}