// Place all the styles related to the Search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
////////////////////////index////////////////
.home_search_block{
	padding-top: 30px;
	min-height: 900px;
	.home_search_input{
		display: block;
		.padding_customize{
			@media screen and (min-width: 600px){
				padding-left: 0px !important;
				padding-right: 0px !important;
			}
		}
		.home_search_what{
			background-color: #fff;
			border: 1px solid #dfe1e5;
			width: 100%;
			border-radius: 3px;
			i{
				font-size: 24px;
				position: relative;
				top: 5px;
				color: #888;
				position: absolute;
				left: 25px;
				top: 14px;
			}
			.search_input{
				padding-left: 40px;
				padding-right: 10px;
				width: 100%;
				height: 50px;
				border: none;
				box-shadow: none;
				color: #333;
				font-size: 16px;
				outline:none;
			}
		}
		.home_search_where{
			background-color: #fff;
			border: 1px solid #dfe1e5;
			width: 100%;
			border-radius: 3px;
			@media screen and (max-width: 600px){
				margin-top: 10px;
				margin-bottom: 20px;
			}
			i{
				font-size: 24px;
				top: 5px;
				color: #888;
				position: absolute;
				left: 15px;
				top: 14px;
				@media screen and (max-width: 600px){
					top: 24px;
					left: 25px;
				}
			}
			.search_select_input{
				padding-left: 40px;
				width: 100%;
				height: 50px;
				border: none;
				box-shadow: none;
				color: #333;
				font-size:16px;
				outline:none;
				background: none;
			}
			button:focus{
				border: none;
				background: none;
			}
		}
		
		.home_search_button{
			border: none;
			width: 100%;
			button{
				border: none;
				border-radius: 3px;
				background-color: #1877f2;
				height: 50px;
				color: #fff;
				width: 100%;
				font-size:16px;
				@media screen and (max-width: 600px){
					width: 100%;
					float: none;
				}
			}
		}
	}

	.home_search_index{
		.job_search{
			margin-top: 50px;
			border-top: 2px solid #edeef0;	
			clear: both;
			.job_label{
				padding-top: 10px;
				padding-bottom: 20px;
				font-size: 22px;
				margin-right: 13px;
				border-top-right-radius: 1px;
				border-top-left-radius: 1px;
				font-weight: 550;
				span{
					border-left: 5px solid #ffc500;
					padding-left: 5px;
				}
				@media screen and (max-width: 600px){
					margin-top: 10px;
					width: 100%;
				}
			}
			.user_search_job_block {
				height: 240px;
				border: 1px solid #edeef0;
				border-radius: 3px;
				@media screen and (max-width: 600px){
					height: 250px;
				}
				padding: 20px;
				background-color: #fff;
				border-top: 1px solid #ecedee;
				border-bottom: 1px solid #ecedee;
				display: block;
				&:hover{
					box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
					background-color: #fff;
				}

				.user_job_left
				{
					height: 200px;
					float: left;
					.company_avatar {
						img{ 
							border-radius: 3px;
							max-width: 90px;
							max-height: 90px;
							@media screen and (max-width: 600px){
								max-width: 60px;
								max-height: 60px;
							}
						}
					}
				}
				
				.user_job_right{
					@media screen and (max-width: 600px){
						margin-left: 80px;
					}
					margin-left: 110px;
					.user_job_des{
						.user_job_title{
							a{
								text-decoration: none !important ;
								font-size: 20px;
								position: relative;
								top: -5px;
								color: #333;
								font-weight: 550;
							}
							a:hover{
								color: #1877f2;
							}
							overflow: hidden;
							text-overflow: ellipsis;
							display: -webkit-box;
							-webkit-line-clamp: 2; /* number of lines to show */
							-webkit-box-orient: vertical;
						}

						.user_job_company_name{
							a{
								font-size: 15px;
								color: #333;
								overflow: hidden;
								text-overflow: ellipsis;
								display: -webkit-box;
								-webkit-line-clamp: 1; /* number of lines to show */
								-webkit-box-orient: vertical;
								i{
									color: #ffc500;
									font-size: 18px;
									position: relative;
									top: 3px;
									padding-left: 3px;
									// background-color: #ffc500;
								}
							}
						}

						.user_job_description{
							overflow: hidden;
							text-overflow: ellipsis;
							display: -webkit-box;
							-webkit-line-clamp: 2; /* number of lines to show */
							-webkit-box-orient: vertical;
							font-size: 14px;
							// margin-bottom: 10px;
							color: #555;
							display: none;
							@media screen and (max-width: 600px){
								display: none;
							}
						}
						
						.user_job_mark{
							margin-top: 10px;
							.user_job_location{
								float: left;
								font-size: 13px;
								a{
									padding-top: 4px;
									padding-bottom: 4px;
									padding-left: 8px;
									padding-right: 8px;
									margin-right: 6px;
									border: 1px solid #dfe1e5;
									border-radius: 30px;
									background-color: #fff;
									color: #333;
									i{
										font-size: 18px;
										margin-right: 3px;
										color: #8a8888;
										position: relative;
										position: relative;
										top: 5px;
									}
								}
							}

							.user_job_tech{
								float: none;
								font-size: 13px;
								a{
									padding-top: 4px;
									padding-bottom: 4px;
									padding-left: 8px;
									padding-right: 8px;
									margin-right: 10px;
									border: 1px solid #dfe1e5;
									border-radius: 30px;
									background-color: #fff;
									color: #333;
									i{
										font-size: 18px;
										margin-right: 3px;
										color: #8a8888;
										position: relative;
										position: relative;
										top: 5px;
									}
								}
							}
				
							.user_job_salary{
								float: left;
								margin-top: 10px;
								margin-right: 6px;
								font-size: 13px;
								color: #333;
								a{
									padding-top: 4px;
									padding-bottom: 4px;
									padding-right: 8px;
									border: 1px solid #dfe1e5;
									border-radius: 30px;
									background-color: #fff;
									// margin-left: 10px;
									i{
										padding-left: 8px;
										margin-right: 3px;
										font-size: 18px;
										color: #8a8888;
										position: relative;
										top: 4px;
									}
								}
							}

							.user_job_type{
								font-size: 13px;
								color: #333;
								float: none;
								margin-top: 10px;
								a{
									padding-top: 4px;
									padding-bottom: 4px;
									padding-right: 8px;
									border: 1px solid #dfe1e5;
									border-radius: 30px;
									background-color: #fff;
									// margin-left: 10px;
									i{
										padding-left: 8px;
										margin-right: 3px;
										font-size: 18px;
										color: #8a8888;
										position: relative;
										top: 4px;
									}
								}
							}

							.user_job_date{
								margin-top: 20px;
								font-size: 13px;
								a{
									font-size: 13px;
									color: #1877f2;
								}
								span{
									font-size: 13px;
									color: #ea1e30;
								}
								@media screen and (max-width: 600px){
									float: left;
									// padding-top: 18px;
								}
							}
							.user_job_hot_save{
								display: none;
								float: right;
								padding-top: 8px;
								.user_job_button_save{
									text-align: right;
									.hot_label{
										padding-top: 2px;
										padding-bottom: 2px;
										padding-left: 8px;
										padding-right: 8px;
										border-radius: 2px;
										font-size: 12px;
										color: #fff;
										background-color: #ff5a5f;
									}
									button{
										border: none;
										background-color: transparent;
										i{
											color: #8a8888;
											font-size: 24px;
											position: relative;
											top: 8px;
										}
									}
									
									.save_btn_highlight{ 
										i{
											color: #1877f2;
										}
										&:focus {outline:none;}
									}

									.save_btn{
										i{
											color: #999;
										}
										&:focus {outline:none;}
									}
								}

							}

						}
					}
				}
				clear: left;
				clear: right;
			}
		}
		
		.company_search{
			margin-top: 30px;
			border-top: 2px solid #edeef0;
			.company_label{
				padding-top: 10px;
				padding-bottom: 20px;
				font-size: 22px;
				margin-right: 13px;
				border-top-right-radius: 1px;
				border-top-left-radius: 1px;
				font-weight: 550;
				span{
					border-left: 5px solid #ffc500;
					padding-left: 5px;
				}
				@media screen and (max-width: 600px){
					margin-top: 10px;
					width: 100%;
				}
			}

			.row{
				.col-sm-3{
					display: block;
					float: left;
					padding: 10px;
					.single_company{
						border: 1px solid #edeef0;
						border-radius: 2px;
						background-color: #fff;
						min-height: 300px;
						width: 100%;
						&:hover{
							box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
							background-color: #fff;
						}
						
						.company_wall{
							.rounded
							{
								img{
									width: 100%;
									height: 150px;
								}
								display: block;
								float: left;
							}
						}
				
						.company_thumbnail
						{
							.rounded{
								height: 140px;
								padding-top: 130px;
								padding-left: 15px;
								position: absolute; 
								img{ 
									display: block;
									box-shadow: 0 1px 4px 0 rgba(54, 53, 53, 0.1), 0 2px 4px 0 rgba(131, 126, 126, 0.09) !important;
									width: 80px;
									height: 80px;
									border-radius: 3px;
								}
								display: block;
								float: left;
							}
						}
				
						.company_love_button{
							display: none;
							padding-top: 15px;
							@media screen and (max-width: 600px){
								padding-left: 85%;
							}
							padding-left: 75%;
							position: absolute;
							button{
								border: none;
								background-color: transparent;
								color: #dfe1e5;
								i {
									font-size: 24px;
									color: #dfe1e5;
									position: relative;
									margin-right: 0px;
									&:hover{
										color: #1877f2;
									}
								}

								&:hover{
									background-color: transparent;
									color: #fff;
								}
							}
							
							.follow_btn_highlight{ 
								i{
									color: #1877f2;
								}
								&:focus {outline:none;}
							}

							.follow_btn{
								i{
									color: #dfe1e5;
								}
								&:focus {outline:none;}
							}
						}
						
						.company_title{
							padding-left: 110px;
							.company_name
							{
								padding-left: 3px;
								clear: both;
								text-align: left;
								color: #333;
								font-size: 18px;
								font-weight: 550;
								padding-top: 10px;
								// height: 50px;
								.company_name_label{
									color: #333;
									text-decoration: none !important;overflow: hidden;
									text-overflow: ellipsis;
									display: -webkit-box;
									-webkit-line-clamp: 1; /* number of lines to show */
									-webkit-box-orient: vertical;
								}
								
								a:hover{
									color: #1877f2;
								}
							}

							.company_rating
							{
								width: 100%;
								height: 100%;
								margin-top: 5px;
								.review_score_star
								{
									i {
										font-size: 21px;
									}
						
									.checked {
										color: #ffc500;
									}

									.checked_out {
										color: #dfe1e5;
									}
								}
							}
						}
				
						.company_summary
						{
							display: block;
							margin-left: auto;
							margin-right: auto;
							width: 100%;
							a{
								color: #333;
							}
							.company_location
							{
								text-align: center;
								font-size: 14px;
								color: #666;
								i{
									margin-right: 0px;
									position: relative;
									font-size: 17px;
									top: 2px;
									color: #635f5f;
								}
							}
				
							.review_point
							{
								clear: both;
								color: #333;
								.review_point_review_content{
									font-size: 14px;
									font-weight: 500;
									float: left;
									margin-top: 10px;
									margin-left: 15%;
									margin-right: 15%;
									@media screen and (max-width: 600px){
										margin-left: 15%;
										margin-right: 15%;
									}
								}
								clear: both;
								.review_point_label
								{
									float: left;
									font-size: 13px;
									text-align: center;
									@media screen and (max-width: 600px){
										margin-left: 6.6%;
										margin-right: 6.6%;
									}
									margin-left: 6%;
									margin-right: 6.6%;
									.review_point_review_label{
										text-decoration: none !important;
										color: #444;
										span{
											color: #444;
										} 
										&:hover{
											color: #1877f2;
										}
									}
									i{
										display: none;
										@media screen and (max-width: 600px){
											display: inline;
										}
										font-size: 18px;
										color: #555; 
										position: relative;
										top: 5px;
										&:hover{
											color: #1877f2;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}