//////////////////new////////////////////
.session_container{
    background-color: #fff;
    min-height: 750px;
    .session_block{
        background-color: #fff;
        border-radius: 5px;
        margin-top: 100px;
        margin-bottom: 100px;
        background-color: #fff;
        @media screen and (min-width: 600px)
        {
            margin-left: 28%;
            margin-right: 28%;
            padding: 15px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
        }
        .user_signin_form_left
        {
            .user_signin_title{
                font-size: 25px;
                color: #333;
                text-align: left;
                margin-bottom: 30px;
				font-weight: 550;
            }
    
            .user_signin_content{
                .user_signin_label{
                    font-weight: 550;
                    font-size: 16px;
                    color: #555;
                    text-align: left;
                }
    
                .user_signin_input{
                    left: 0px;
                    margin-top: 5px;
                    margin-bottom: 20px;
                    .form-control{
                        margin-left: 0px;
                        height: 50px;
                        width: 100%;
                        border: 1px solid #dfe1e5;
                        border-radius: 3px;
                    }
                }
            }
    
            .user_signin_submit{
				padding-top: 20px;
                .user_signin_form_submit{
                    height: 50px;
                    width: 100%;
                    border-radius: 3px;
                    padding: 6px;
                    background: #1877f2;
                    font-size: 16px;
                    border: none;
                    cursor: pointer;
                    text-align: center;
                    color: #fff;
                    
                    &:hover{
                        background-color: #369;
                        color: #fff;
                    }
                }
            }
        }
    
        .user_signin_form_right{
			display: none;
            .user_signin_title{
                font-size: 16px;
                color: #444;
                text-align: center;
                margin-top: 20px;
                a {
                    overflow: hidden;
                }
                
                a:after {
                    content:"";
                    display: inline-block;
                    height: 0.5em;
                    vertical-align: bottom;
                    width: 45%;
                    margin-right: -45%;
                    margin-left: 10px;
                    border-top: 1px solid #dfe1e5;
                }

                a:before {
                    content:"";
                    display: inline-block;
                    height: 0.5em;
                    vertical-align: bottom;
                    width: 45%;
                    margin-left: -45%;
                    margin-right: 10px;
                    border-top: 1px solid #dfe1e5;
                }
            }
    
            .login_with_google{   
                button{
                    height: 50px;
                    width: 100%;
                    border-radius: 3px;
                    padding: 6px;
                    margin-bottom: 10px;
                    margin-top: 20px;
                    background: #fff;
                    border: 1px solid #ea4537;
                    font-size: 16px;
                    cursor: pointer;
                    text-align: left;
                    color: #ea4537;
                    font-weight: 500;
                    i{
                        margin-right: 10px;
                        color: #ea4537;
                        font-size: 30px;
                        position: relative;
                        top: 5px;
                    }
                    span{
                        position: relative;
                        top: -5px;
                    }
                    &:hover{
                        background-color: #ea4537;
                        color: #fff;
                        border: none;
                        i{
                            color: #fff;
                        }
                    }
                }
            }
    
            .login_with_facebook{   
                button{
                    height: 50px;
                    width: 100%;
                    border-radius: 3px;
                    padding: 6px;
                    margin-bottom: 10px;
                    margin-top: 10px;
                    background: #fff;
                    border: 1px solid #0c87ee;
                    font-size: 16px;
                    // border: none;
                    cursor: pointer;
                    text-align: left;
                    // color: #fff;
                    color: #0c87ee;
                    font-weight: 500;
                    i{
                        margin-right: 5px;
                        color: #0c87ee;
                        font-size: 30px;
                        position: relative;
                        top: 5px;
                    }
                    span{
                        position: relative;
                        top: -5px;
                    }
                    
                    &:hover{
                        background-color: #1877f2;
                        color: #fff;
                        border: none;
                        i{
                            color: #fff;
                        }
                    }
                }
            }
    
            .login_with_phone{   
                button{
                    height: 50px;
                    width: 100%;
                    border-radius: 3px;
                    padding: 6px;
                    margin-bottom: 20px;
                    margin-top: 10px;
                    background: #fff;
                    font-size: 16px;
                    border: 1px solid #444;
                    cursor: pointer;
                    text-align: left;
                    // color: #fff;
                    color: #444;
                    font-weight: 500;
                    i{
                        margin-right: 8px;
                        color: #444;
                        font-size: 30px;
                        position: relative;
                        top: 5px;
                    }
                    span{
                        position: relative;
                        top: -5px;
                    }
                    &:hover{
                        background-color: #444;
                        color: #fff;
                        border: none;
                        i{
                            color: #fff;
                        }
                    }
                }
            }
        }
    
        .user_signin_loginhere
        {
            text-align: center;
            font-size: 16px;
            margin-top: 20px;
            font-weight: 550;
            a{
                padding-left: 5px;
                text-decoration: underline;
            }
        }
    }
}
