//////////////////new////////////////////
.user_signin_form
{
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 100px;
    margin-bottom: 100px;
    .user_signin_title{
        font-size: 22px;
        color: #161e2e;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .user_signin_content{
        .user_signin_label{
            font-weight: 400;
            font-size: 14px;
            color: #161e2e;
            text-align: left;
        }

        .user_signin_input{
            left: 0px;
            margin-top: 5px;
            margin-bottom: 20px;
            width: 450px;
            .user_signin_form_input{
                margin-left: 0px;
                height: 40px;
                width: 100%;
                border: 1px solid #c8c8c8;
                border-radius: 5px;
            }
        }
    }
    .user_signin_content_checkbox
    {
        margin-top: 30px;
    }

    .user_signin_submit{
        width: 455px;
        .user_signin_form_submit{
            height: 50px;
            width: 100%;
            border-radius: 5px;
            padding: 6px;
            background: #5850ec;
            font-size: 14px;
            border: none;
            cursor: pointer;
            text-align: center;
            color: #fff;
            
            &:hover{
                background-color: #4284f4;
            }
        }
    }

    .user_signin_loginhere
    {
        text-align: center;
    }
}
