.body_content{
    padding-left: 18%;
    padding-right: 18%;
    padding-top: 0px !important;
    @media screen and (max-width: 600px) {
        padding-left: 5%;
        padding-right: 5%;
    }
}

.body_content_full{
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 0px !important;
}