//////////////////new user////////////////////
.user_container
{
    background-color: #ffffff;
    min-height: 1024px;
    .user_block
    {
        background-color: #fff;
        border-radius: 5px;
        margin-top: 80px;
        margin-bottom: 80px;
        background-color: #fff;
        @media screen and (min-width: 600px)
        {
            margin-left: 25%;
            margin-right: 25%;
            padding: 20px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
        }
        .user_add_new_form_left
        {
            margin-bottom: 20px;
            .user_add_new_title{
                text-align: left;
                a{
                    font-size: 28px;
                    color: #333;
                }
                margin-bottom: 20px;
            }
    
            .user_add_new_content{
                .user_add_new_label{
                    font-weight: 600;
                    font-size: 16px;
                    color: #333;
                    text-align: left;
                }
                .user_add_new_input{
                    left: 0px;
                    margin-top: 5px;
                    margin-bottom: 20px;
                    .form-control{
                        width: 100%;
                        height: 50px;
                        border: 1px solid #dfe1e5;
                        border-radius: 3px;
                    }
                }
            }
    
            .user_add_new_submit{
                .user_add_new_form_submit{
                    width: 100%;
                    height: 50px;
                    border-radius: 3px;
                    padding: 6px;
                    background: #1877f2;
                    font-size: 16px;
                    border: none;
                    cursor: pointer;
                    text-align: center;
                    color: #fff;
                    
                    &:hover{
                        background-color: #369;
                    }
                }
            }
        }
    
        .user_add_new_form_right{
            .user_add_new_title{
                font-size: 16px;
                color: #333;
                text-align: center;
                margin-top: 10px;
                a {
                    overflow: hidden;
                }
                
                a:after {
                    content:"";
                    display: inline-block;
                    height: 0.5em;
                    vertical-align: bottom;
                    width: 45%;
                    margin-right: -45%;
                    margin-left: 10px;
                    border-top: 1px solid #dfe1e5;
                }

                a:before {
                    content:"";
                    display: inline-block;
                    height: 0.5em;
                    vertical-align: bottom;
                    width: 45%;
                    margin-left: -45%;
                    margin-right: 10px;
                    border-top: 1px solid #dfe1e5;
                }
            }
            .login_with_google{   
                button{
                    height: 50px;
                    width: 100%;
                    border-radius: 3px;
                    padding: 6px;
                    margin-bottom: 10px;
                    margin-top: 20px;
                    background: #fff;
                    border: 1px solid #ea4537;
                    font-size: 16px;
                    cursor: pointer;
                    text-align: left;
                    color: #ea4537;
                    font-weight: 600;
                    i{
                        margin-right: 10px;
                        color: #ea4537;
                        font-size: 30px;
                        position: relative;
                        top: 5px;
                    }
                    span{
                        position: relative;
                        top: -5px;
                    }
                    &:hover{
                        background-color: #ea4537;
                        color: #fff;
                        border: none;
                        i{
                            color: #fff;
                        }
                    }
                }
            }
    
            .login_with_facebook{   
                button{
                    height: 50px;
                    width: 100%;
                    border-radius: 3px;
                    padding: 6px;
                    margin-bottom: 10px;
                    margin-top: 10px;
                    background: #fff;
                    border: 1px solid #0c87ee;
                    font-size: 16px;
                    // border: none;
                    cursor: pointer;
                    text-align: left;
                    // color: #fff;
                    color: #0c87ee;
                    font-weight: 600;
                    i{
                        margin-right: 5px;
                        color: #0c87ee;
                        font-size: 30px;
                        position: relative;
                        top: 5px;
                    }
                    span{
                        position: relative;
                        top: -5px;
                    }
                    
                    &:hover{
                        background-color: #1877f2;
                        color: #fff;
                        border: none;
                        i{
                            color: #fff;
                        }
                    }
                }
            }
    
            .login_with_phone{   
                button{
                    height: 50px;
                    width: 100%;
                    border-radius: 3px;
                    padding: 6px;
                    margin-bottom: 20px;
                    margin-top: 10px;
                    background: #fff;
                    font-size: 16px;
                    border: 1px solid #444;
                    cursor: pointer;
                    text-align: left;
                    // color: #fff;
                    color: #444;
                    font-weight: 600;
                    i{
                        margin-right: 8px;
                        color: #444;
                        font-size: 28px;
                        position: relative;
                        top: 5px;
                    }
                    span{
                        position: relative;
                        top: -5px;
                    }
                    &:hover{
                        background-color: #444;
                        color: #fff;
                        border: none;
                        i{
                            color: #fff;
                        }
                    }
                }
            }
        }
        
        .user_add_new_loginhere
        {
            text-align: center;
            font-size: 16px;
            margin-top: 20px;
            font-weight: 600;
            a{
                padding-left: 5px;
                text-decoration: underline;
            }
        }
    }
}

//////////////////new employer////////////////////
.employer_container{
    background-color: #fff;
    min-height: 1024px;
    .employer_block
    {
        background-color: #fff;
        border-radius: 5px;
        margin-top: 80px;
        margin-bottom: 80px;
        background-color: #fff;
        @media screen and (min-width: 600px)
        {
            margin-left: 25%;
            margin-right: 25%;
            padding: 20px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
        }
        .employer_add_new_form
        {
            .employer_add_new_title{
                text-align: left;
                a{
                    font-size: 28px;
                    color: #333;
                }
                margin-bottom: 20px;
            }
    
            .employer_add_new_content{
                .employer_add_new_label{
                    font-weight: 600;
                    font-size: 16px;
                    color: #333;
                    text-align: left;
                }
                
                .employer_add_new_input{
                    left: 0px;
                    margin-top: 5px;
                    margin-bottom: 20px;
                    .form-control{
                        width: 100%;
                        height: 50px;
                        border: 1px solid #dfe1e5;
                        border-radius: 3px;
                    }
                }
            }
    
            .employer_add_new_submit{
                .employer_add_new_form_submit{
                    width: 100%;
                    height: 50px;
                    border-radius: 3px;
                    padding: 6px;
                    background: #1877f2;
                    font-size: 16px;
                    border: none;
                    cursor: pointer;
                    text-align: center;
                    color: #fff;
                    
                    &:hover{
                        background-color: #369;
                        color: #fff;
                    }
                }
            }
        }
    
        .employer_add_new_loginhere
        {
            text-align: center;
            font-size: 16px;
            margin-top: 20px;
            font-weight: 600;
            a{
                padding-left: 5px;
                text-decoration: underline;
            }
        }
    }
}

//////////////////show////////////////////
.user_dasboard{
    .user_title{
        padding-top: 30px;
        padding-bottom: 20px;
        span{
            font-size: 24px;
            font-weight: 600px;
        }
    }

    .user_tab_link{
        padding-top: 40px;
        clear: left;
        overflow: hidden;
        position: relative;
        display: block;
        background-color: #fff;
        border-bottom: 1px solid #dfe1e5;
        .nav-tabs {
            overflow-x: auto;
            overflow-y: hidden;
            flex-wrap: nowrap;
            border: none;
        }
        .nav-tabs .nav-link {
            white-space: nowrap;
            font-size: 16px;
        }
        .nav-tabs .nav-link, .nav-tabs .nav-link.active, .nav-tabs .nav-link:hover {
            border: none;
            color: #333;
            text-align: left;
            i{
                position: relative;
                top: 5px;
                padding-right: 3px;
            }
            span{
                position: absolute;
                top: -1px;
                font-size: 12px;
                color: #999;
            }
        }
        .nav-tabs .nav-link.active {
            border-radius: 0;
            border-bottom: 4px solid #1877f2;
            font-weight: 550;
            color: #1877f2;
            font-size: 16px;
            span{
                color: #1877f2;
            }
        }
    }

    .user_tab_content{
        min-height: 800px;
        .user_personal_tab{
            .user_info{
                margin-top: 50px;
                margin-bottom: 50px;
                
                .user_info_wellcome_label{  
                    font-size: 24px;
                    color: #1877f2;
                }
            
                .user_info_des_label{
                    font-size: 20px;
                    margin-top: 30px;
                }
            
                .user_info_about{
                    border-top: 1px solid #dfe1e5;
            
                    .user_info_label{
                        font-size: 16px;
                        margin-top: 40px;
                    }
                    .user_info_des{
                        font-size: 16px;
                        float: left;
                    }
            
                    .user_info_edit_button{
                        float: right;
                        font-size: 16px;
                        i{
                            color: #1877f2;
                        }
                        .user_info_edit_link_to{
                            color: #1877f2;
                            text-decoration: none !important;
                        }
                    }
                }
            
                .user_log_out{
                    clear: both;
                    margin-top: 50px;
                    button{
                        padding: 6px;
                        height: 40px;
                        width: 150px;
                        margin-right: 10px;
                        background: #1877f2;
                        font-size: 16px;
                        border: none;
                        border-radius: 3px;
                        cursor: pointer;
                        text-align: center;
                        color: #fff;
                        
                        &:hover{
                            background-color: #369;
                            color: #fff;
                        }
                    }
                }
            }
        }

        .user_cv_tab{
            .user_cover_letter_label{
                clear: both;
                font-size: 20px;
                margin-top: 60px;
            }
        
            .user_cover_letter{
                border-top: 1px solid #dfe1e5;
        
                .user_cv_des
                {
                    margin-top: 20px;
                    font-size: 16px;
                    // border: 1px solid #dfe1e5;
                    // border-radius: 3px;
                }
                .user_info_edit_button{
                    margin-top: 30px;
                    font-size: 16px;
                    i{
                        color: #1877f2;
                    }
                    .user_info_edit_link_to{
                        color: #1877f2;
                        text-decoration: none !important;
                    }
                }
            }
        }

        .user_job_tab{

        }
        
        .user_follow_company_tab{
            margin-top: 20px;
            margin-bottom: 20px;
            
            .user_info_wellcome_label{  
                font-size: 24px;
                color: #1877f2;
            }
        
            .user_info_des_label{
                font-size: 20px;
                margin-top: 30px;
            }
        
            .user_info_about{
                border-top: 1px solid #dfe1e5;
        
                .user_info_label{
                    font-size: 16px;
                    margin-top: 40px;
                }
                .user_info_des{
                    font-size: 16px;
                    float: left;
                }
        
                .user_info_edit_button{
                    float: right;
                    font-size: 16px;
                    i{
                        color: #1877f2;
                    }
                    .user_info_edit_link_to{
                        color: #1877f2;
                        text-decoration: none !important;
                    }
                }
            }
        
            
            .user_cover_letter_label{
                clear: both;
                font-size: 20px;
                margin-top: 60px;
            }
        
            .user_cover_letter{
                border-top: 1px solid #dfe1e5;
        
                .user_cv_des
                {
                    margin-top: 20px;
                    font-size: 16px;
                    // border: 1px solid #dfe1e5;
                    // border-radius: 3px;
                }
                .user_info_edit_button{
                    margin-top: 30px;
                    font-size: 16px;
                    i{
                        color: #1877f2;
                    }
                    .user_info_edit_link_to{
                        color: #1877f2;
                        text-decoration: none !important;
                    }
                }
            }
        
            .user_log_out{
                clear: both;
                margin-top: 50px;
                button{
                    padding: 6px;
                    height: 40px;
                    width: 150px;
                    margin-right: 10px;
                    background: #1877f2;
                    font-size: 16px;
                    border: none;
                    border-radius: 3px;
                    cursor: pointer;
                    text-align: center;
                    color: #fff;
                    
                    &:hover{
                        background-color: #369;
                        color: #fff;
                    }
                }
            }
        }
    }
}

//////////////////update////////////////////
.user_update_form{
    .user_update_title{
        padding-top: 30px;
        font-size: 20px;
        font-weight: 600;
    }

    .user_update_content{
        .user_update_label{
            font-size: 16px;
            font-weight: 600;
            padding-bottom: 10px;
            padding-top: 20px;
        }
        .user_update_input{
            .form-control{
                height: 50px;
                border-radius: 3px;
            }
        }
    }

    .user_update_submit{
        .user_update_form_submit{
            width: 100%;
            margin-top: 10px;
            height: 50px;
            border-radius: 3px;
            padding: 6px;
            background: #1877f2;
            font-size: 16px;
            border: none;
            cursor: pointer;
            text-align: center;
            color: #fff;
            
            &:hover{
                background-color: #369;
                color: #fff;
            }
        }
    }
}