//////////////////new////////////////////
.user_add_new_form
{
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 20px;
    .user_add_new_title{
        font-size: 25px;
        color: black;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .user_add_new_content{
        .user_add_new_label{
            font-weight: 400;
            font-size: 16px;
            color: black;
            text-align: left;
        }

        .user_add_new_input{
            left: 0px;
            margin-top: 5px;
            margin-bottom: 20px;
            width: 450px;
            .user_add_new_form_input{
                margin-left: 0px;
                height: 40px;
                width: 100%;
                border: 1px solid rgb(190, 185, 185);
                border-radius: 5px;
            }
        }
    }
    .user_add_new_content_checkbox
    {
        margin-top: 30px;
    }

    .user_add_new_submit{
        width: 455px;
        .user_add_new_form_submit{
            height: 50px;
            width: 100%;
            border-radius: 5px;
            padding: 6px;
            background: #64bd4f;
            font-size: 16px;
            border: none;
            cursor: pointer;
            text-align: center;
            color: #ffffff;
            
            &:hover{
                background-color: #4CAF50;
            }
        }
    }

    .user_add_new_loginhere
    {
        text-align: center;
    }
}
