//////////////////new user registration////////////////////
.user_container
{
    background-color: #fff;
    @media screen and (min-width: 600px){
        min-height: 700px;
    }
    .user_block
    {
        background-color: #fff;
        border-radius: 5px;
        margin-top: 40px;
        margin-bottom: 120px;
        background-color: #fff;
        @media screen and (min-width: 600px)
        {
            margin-left: 32%;
            margin-right: 32%;
            padding: 20px 25px 20px 25px;
            border: 1px solid #e5e5e5;
        }
        @media screen and (max-width: 600px){
            margin-top: 30px;
            margin-bottom: 30px;
        }
        .user_add_new_top_label{
            .user_add_new_title{
                text-align: left;
				font-weight: 550;
                a{
                    font-size: 25px;
                    color: #333;
                }
            }
            padding-bottom: 10px;
        }
        .user_add_new_form_left
        {
            padding-top: 10px;
            .user_add_new_label{
                font-weight: 550;
                font-size: 16px;
                color: #333;
                text-align: left;
                span{
                    color: #ea1e30;
                    padding-left: 3px;
                }
            }
            .user_add_new_input{
                left: 0px;
                margin-bottom: 20px;
            }
            
            .user_add_new_submit{
				padding-top: 10px;
                .user_add_new_form_submit{
                    width: 100%;
                    height: 44px;
                    border-radius: 5px;
                    padding: 6px;
                    background: #1877f2;
                    font-size: 16px;
                    border: none;
                    cursor: pointer;
                    text-align: center;
                    color: #fff;
                    font-weight: 600;
                    
                    &:hover{
                        background-color: #369;
                    }
                }
            }
        }
        
        .user_add_new_or{
            font-size: 16px;
            color: #333;
            text-align: center;
            padding-top: 10px;
            a {
                overflow: hidden;
            }
            
            a:after {
                content:"";
                display: inline-block;
                height: 0.5em;
                vertical-align: bottom;
                width: 45%;
                margin-right: -45%;
                margin-left: 10px;
                border-top: 1px solid #e5e5e5;
                position: relative;
                top: -2px;
            }

            a:before {
                content:"";
                display: inline-block;
                height: 0.5em;
                vertical-align: bottom;
                width: 45%;
                margin-left: -45%;
                margin-right: 10px;
                border-top: 1px solid #e5e5e5;
                position: relative;
                top: -2px;
            }
        }

        .user_add_new_form_right{
			display: block;
            padding-top: 10px;
            .login_with_google{   
                button{
                    height: 44px;
                    width: 100%;
                    border-radius: 25px;
                    padding: 6px;
                    margin-bottom: 10px;
                    background: #fff;
                    border: 2px solid #ea4537;
                    font-size: 16px;
                    cursor: pointer;
                    text-align: left;
                    color: #ea4537;
                    font-weight: 500;
                    &:focus {outline:none;}

                    span{
                        position: relative;
                        top: 2px;
                        margin-left: 3px;
                    }

                    &:hover{
                        background-color: #ea4537;
                        color: #fff;
                        border: none;
                        i{
                            color: #fff;
                        }
                    }
                }
            }
    
            .login_with_facebook{   
                button{
                    height: 44px;
                    width: 100%;
                    border-radius: 25px;
                    padding: 6px;
                    margin-bottom: 10px;
                    margin-top: 10px;
                    background: #fff;
                    border: 2px solid #0c87ee;
                    font-size: 16px;
                    cursor: pointer;
                    text-align: left;
                    color: #0c87ee;
                    font-weight: 500;
                    &:focus {outline:none;}
                    
                    span{
                        position: relative;
                        top: 2px;
                        margin-left: 3px;
                    }
                    
                    &:hover{
                        background-color: #1877f2;
                        color: #fff;
                        border: none;
                        i{
                            color: #fff;
                        }
                    }
                }
            }
    
            .login_with_phone{   
                button{
                    height: 44px;
                    width: 100%;
                    border-radius: 5px;
                    padding: 6px;
                    margin-bottom: 20px;
                    margin-top: 10px;
                    background: #fff;
                    font-size: 16px;
                    border: 1px solid #444;
                    cursor: pointer;
                    text-align: left;
                    // color: #fff;
                    color: #444;
                    font-weight: 500;
                    &:focus {outline:none;}
                    i{
                        margin-right: 8px;
                        color: #444;
                        font-size: 25px;
                        position: relative;
                        top: 5px;
                    }
                    span{
                        position: relative;
                        top: -5px;
                    }
                    &:hover{
                        background-color: #444;
                        color: #fff;
                        border: none;
                        i{
                            color: #fff;
                        }
                    }
                }
            }
        }
        
        .user_add_new_loginhere
        {
            text-align: center;
            font-size: 16px;
            margin-top: 20px;
            font-weight: 550;
            a{
                padding-left: 5px;
                text-decoration: none;
                color: #1877f2;
            }
        }
    }
}

//////////////////new sign in sessions////////////////////
.user_session_container{
    background-color: #fff;
    @media screen and (min-width: 600px){
        min-height: 700px;
    }
    .user_session_block{
        background-color: #fff;
        border-radius: 5px;
        margin-top: 40px;
        margin-bottom: 120px;
        background-color: #fff;
        @media screen and (min-width: 600px)
        {
            margin-left: 32%;
            margin-right: 32%;
            padding: 20px 25px 20px 25px;
            border: 1px solid #e5e5e5;
        }
        @media screen and (max-width: 600px){
            margin-top: 30px;
            margin-bottom: 30px;
        }

        .user_signin_top_label{
            .user_signin_title{
                font-size: 25px;
                color: #333;
                text-align: left;
				font-weight: 550;
            }
            padding-bottom: 10px;
        }

        .user_signin_form_left
        {
            padding-top: 10px;
            .user_signin_label{
                font-weight: 550;
                font-size: 16px;
                color: #333;
                text-align: left;
            }

            .user_signin_input{
                margin-bottom: 20px;
            }

            .user_signin_remember{
                float: left;
                .user_signin_label_small{
                    font-size: 14px;
                    color: #555;
                    text-align: left;
                    font-weight: 300;
                }
            }

            .user_signin_forgot_pass{
                float: right;
                a{
                    color: #1877f2;
                    text-decoration: none;
                }
            }
    
            .user_signin_submit{
                clear: both;
				padding-top: 20px;
                .user_signin_form_submit{
                    height: 44px;
                    width: 100%;
                    border-radius: 5px;
                    padding: 6px;
                    background: #1877f2;
                    font-size: 16px;
                    border: none;
                    cursor: pointer;
                    text-align: center;
                    color: #fff;
                    font-weight: 600;
                    
                    &:hover{
                        background-color: #369;
                        color: #fff;
                    }
                }
            }
        }
        
        .user_signin_or{
            font-size: 16px;
            color: #444;
            text-align: center;
            padding-top: 10px;
            a {
                overflow: hidden;
            }
            
            a:after {
                content:"";
                display: inline-block;
                height: 0.5em;
                vertical-align: bottom;
                width: 45%;
                margin-right: -45%;
                margin-left: 10px;
                border-top: 1px solid #e5e5e5;
                position: relative;
                top: -2px;
            }

            a:before {
                content:"";
                display: inline-block;
                height: 0.5em;
                vertical-align: bottom;
                width: 45%;
                margin-left: -45%;
                margin-right: 10px;
                border-top: 1px solid #e5e5e5;
                position: relative;
                top: -2px;
            }
        }
    
        .user_signin_form_right{
			display: block;
            margin-top: 10px;
            .login_with_google{   
                button{
                    height: 44px;
                    width: 100%;
                    border-radius: 25px;
                    padding: 6px;
                    margin-bottom: 10px;
                    background: #fff;
                    border: 2px solid #ea4537;
                    font-size: 16px;
                    cursor: pointer;
                    text-align: left;
                    color: #ea4537;
                    font-weight: 500;
                    &:focus {outline:none;}

                    span{
                        position: relative;
                        top: 2px;
                        margin-left: 3px;
                    }

                    &:hover{
                        background-color: #ea4537;
                        color: #fff;
                        border: none;
                        i{
                            color: #fff;
                        }
                    }
                }
            }
    
            .login_with_facebook{   
                button{
                    height: 44px;
                    width: 100%;
                    border-radius: 25px;
                    padding: 6px;
                    margin-bottom: 10px;
                    margin-top: 10px;
                    background: #fff;
                    border: 2px solid #0c87ee;
                    font-size: 16px;
                    cursor: pointer;
                    text-align: left;
                    color: #0c87ee;
                    font-weight: 500;
                    &:focus {outline:none;}

                    span{
                        position: relative;
                        top: 2px;
                        margin-left: 3px;
                    }
                    
                    &:hover{
                        background-color: #1877f2;
                        color: #fff;
                        border: none;
                        i{
                            color: #fff;
                        }
                    }
                }
            }
    
            .login_with_phone{   
                button{
                    height: 44px;
                    width: 100%;
                    border-radius: 5px;
                    padding: 6px;
                    margin-bottom: 20px;
                    margin-top: 10px;
                    background: #fff;
                    font-size: 16px;
                    border: 1px solid #444;
                    cursor: pointer;
                    text-align: left;
                    // color: #fff;
                    color: #444;
                    font-weight: 500;
                    &:focus {outline:none;}
                    i{
                        margin-right: 8px;
                        color: #444;
                        font-size: 30px;
                        position: relative;
                        top: 3px;
                    }
                    span{
                        position: relative;
                        top: -5px;
                    }
                    &:hover{
                        background-color: #444;
                        color: #fff;
                        border: none;
                        i{
                            color: #fff;
                        }
                    }
                }
            }
        }
    
        .user_signin_loginhere
        {
            text-align: center;
            font-size: 16px;
            margin-top: 20px;
            font-weight: 550;
            a{
                padding-left: 5px;
                text-decoration: none;
                color: #1877f2;
            }
        }
    }
}

//////////////////user change pass////////////////////
.user_change_pass_password{
    @media screen and (min-width: 600px){
        min-height: 700px;
    }
    padding-top: 30px;
    .user_reset_pass_content{
        padding-top: 10px;
       .user_reset_pass_label{
            font-weight: 550;
            font-size: 16px;
            color: #555;
            text-align: left;   
           .user_reset_pass_label_name{

           }
        }
        .user_reset_pass_input{
            left: 0px;
            margin-top: 5px;
            margin-bottom: 20px;
        } 
    }
    .user_reset_pass_submit{
        .user_reset_form_submit{
            width: 100%;
            @media screen and (min-width: 600px)
            {
                width: 300px;
            }
            height: 44px;
            border-radius: 5px;
            padding: 6px;
            background: #1877f2;
            font-size: 14px;
            border: none;
            cursor: pointer;
            text-align: center;
            color: #fff;
            margin-bottom: 20px;
            font-weight: 600;
            &:hover{
                background-color: #369;
            }
        }
    }

    .user_reset_pass_loginhere{
        padding-top: 20px;
        a{
            color: #1877f2;
        }
    }
}

//////////////////user password////////////////////
.user_reset_password{
    min-height: 700px;
    padding-top: 30px;
    .user_reset_pass_content{
        padding-top: 10px;
       .user_reset_pass_label{
            font-weight: 550;
            font-size: 16px;
            color: #555;
            text-align: left;   
           .user_reset_pass_label_name{

           }
        }
        .user_reset_pass_input{
            left: 0px;
            margin-top: 5px;
            margin-bottom: 20px;
        } 
    }
    .user_reset_pass_submit{
        .user_reset_form_submit{
            width: 100%;
            @media screen and (min-width: 600px)
            {
                width: 300px;
            }
            height: 44px;
            border-radius: 5px;
            padding: 6px;
            background: #1877f2;
            font-size: 14px;
            border: none;
            cursor: pointer;
            text-align: center;
            color: #fff;
            margin-bottom: 20px;
            font-weight: 600;
            &:hover{
                background-color: #369;
            }
        }
    }

    .user_reset_pass_loginhere{
        a{
            color: #1877f2;
        }
    }
}

//////////////////show user////////////////////
.user_dasboard{
    .user_title{
        padding-top: 30px;
        padding-bottom: 20px;
        span{
            font-size: 22px;
            font-weight: 600px;
        }
    }

    .user_tab_link{
        padding-top: 20px;
        clear: left;
        overflow: hidden;
        position: relative;
        display: block;
        background-color: #fff;
        border-bottom: 1px solid #e5e5e5;
        .nav {
            overflow-x: auto;
            overflow-y: hidden;
            flex-wrap: nowrap;
            border: none;
        }
        .nav .nav-link {
            white-space: nowrap;
            font-size: 16px;
        }
        .nav .nav-link, .nav .nav-link.active, .nav .nav-link:hover {
            border: none;
            color: #333;
            text-align: left;
            position: relative;
            i{
                position: relative;
                top: 5px;
                padding-right: 3px;
                padding-left: 0px;
                color: #444;
            }
            span{
                position: absolute;
                top: 0px;
                right: 15px;
                font-size: 12px;
                color: #999;
            }
        }
        .nav .nav-link.active {
            border-radius: 0;
            border-bottom: 3px solid #1877f2;
            font-weight: 500;
            color: #1877f2;
            font-size: 16px;
            text-align: left;
            span{
                color: #1877f2;
            }
            i{
                color: #1877f2;
            }
        }
    }

    .user_tab_content{
        min-height: 800px;
        padding-top: 20px;
        .user_personal_tab{
            .user_info{
                margin-top: 10px;
                margin-bottom: 50px;
                
                .user_info_wellcome_label{  
                    font-size: 22px;
                    color: #1877f2;
                }
            
                .user_info_des_label{
                    font-size: 20px;
                    margin-top: 0px;
                }
            
                .user_info_about{
                    // border-top: 1px solid #e5e5e5;
            
                    .user_info_label{
                        font-size: 16px;
                        margin-top: 40px;
                    }
                    .user_info_des{
                        font-size: 16px;
                        float: left;
                    }
            
                    .user_info_edit_button{
                        float: right;
                        font-size: 16px;
                        &:focus {outline:none;}
                        i{
                            color: #1877f2;
                        }
                        .user_info_edit_link_to{
                            color: #1877f2;
                            text-decoration: none !important;
                        }
                    }
                }
            
                .user_log_out{
                    clear: both;
                    margin-top: 50px;
                    button{
                        padding: 6px;
                        height: 44px;
                        width: 150px;
                        margin-right: 10px;
                        background: #1877f2;
                        font-size: 16px;
                        border: none;
                        border-radius: 5px;
                        cursor: pointer;
                        text-align: center;
                        color: #fff;
                        &:focus {outline:none;}
                        i{
                            position: relative;
                            top: 5px;
                        }
                        
                        &:hover{
                            background-color: #369;
                            color: #fff;
                        }
                    }
                }
            }
        }

        .user_save_job_tab{
            .user_save_job_label{
                clear: both;
                font-size: 20px;
                margin-top: 10px;
				margin-bottom: 20px;
                padding-left: 20px;
            }
        
            .user_save_job{
            }

            .user_save_job_not_found_block{
                background-color: #f8f9fa;
                padding: 30px;
                border-radius: 5px;
                .user_save_job_not_found_icon{
                    i{
                        font-size: 30px;
                        color: #666;
                    }
                    text-align: center;
                }
                .user_save_job_not_found{
                    text-align: center;
                    font-size: 16px;
                    font-weight: 500;
                    padding-bottom: 10px;
                    color: #444;
                }
                .user_save_job_not_found_action{
                    span{
                        font-size: 20px;
                        font-weight: 550;
                    }
                    width: 100%;
                    min-height: 100px;
                    margin-top: 20px;
                    background-color: #ebfeff;
                    border: 1px solid #ebfeff;
                    border-radius: 5px;
                    .user_save_job_label{
                        font-size: 20px;
                        float: left;
                        @media screen and (max-width: 600px){
                            float: none;
                        }
                        padding-top:30px;
                        padding-left: 20px;    
                        font-weight: 600;
                    }
                    .user_save_job_button{
                        float: right;
                        padding: 15px;
                        margin-top: 10px;
                        @media screen and (max-width: 600px){
                            float: none;
                            padding-bottom: 30px;
                        }
                        button{
                            height: 44px;
                            @media screen and (max-width: 600px){
                                width: 100%;
                            }
                            width: 250px;
                            margin-right: 10px;
                            background: #1877f2;
                            font-size: 16px;
                            border: none;
                            cursor: pointer;
                            text-align: center;
                            color: #fff;
                            border-radius: 5px;
                            i{
                                position: relative;
                                top: 2px;
                                font-size: 20px;
                                margin-right: 3px;
                            }
    
                            span{
                                font-size: 16px;
                                position: relative;
                                top: -2px;
                            }
                            
                            &:hover{
                                background-color: #369;
                                color: #fff;
                            }
                            &:focus {outline:none;}
                        }
                    }
                }
            }
        }

        .company_apply_job_tab{
            .company_apply_job_tab_title{
                font-size: 20px;
                font-weight: 550;
				margin-top: 10px;
                padding-bottom: 20px;
                padding-left: 20px;
            }
            .company_apply_job{
            }

            .user_apply_job_not_found_block{
                background-color: #f8f9fa;
                padding: 30px;
                border-radius: 5px;
                .user_apply_job_not_found_icon{
                    i{
                        font-size: 30px;
                        color: #666;
                    }
                    text-align: center;
                }
                .user_apply_job_not_found{
                    text-align: center;
                    font-size: 16px;
                    font-weight: 500;
                    padding-bottom: 10px;
                    color: #444;
                }
                .user_apply_job_not_found_action{
                    span{
                        font-size: 20px;
                        font-weight: 550;
                    }
                    width: 100%;
                    min-height: 100px;
                    margin-top: 20px;
                    background-color: #ebfeff;
                    border: 1px solid #ebfeff;
                    border-radius: 5px;
                    .user_apply_job_label{
                        font-size: 20px;
                        float: left;
                        @media screen and (max-width: 600px){
                            float: none;
                        }
                        padding-top:30px;
                        padding-left: 20px;    
                        font-weight: 600;
                    }
                    .user_apply_job_button{
                        float: right;
                        padding: 15px;
                        margin-top: 10px;
                        @media screen and (max-width: 600px){
                            float: none;
                            padding-bottom: 30px;
                        }
                        button{
                            height: 44px;
                            @media screen and (max-width: 600px){
                                width: 100%;
                            }
                            width: 250px;
                            margin-right: 10px;
                            background: #1877f2;
                            font-size: 16px;
                            border: none;
                            cursor: pointer;
                            text-align: center;
                            color: #fff;
                            border-radius: 5px;
                            i{
                                position: relative;
                                top: 2px;
                                font-size: 20px;
                                margin-right: 3px;
                            }
    
                            span{
                                font-size: 16px;
                                position: relative;
                                top: -2px;
                            }
                            
                            &:hover{
                                background-color: #369;
                                color: #fff;
                            }
                            &:focus {outline:none;}
                        }
                    }
                }
            }
        }
        
        .user_follow_company_tab{
            .user_follow_company_tab_title{
                padding-bottom: 10px;
                font-size: 20px;
                font-weight: 550;
            }
            .user_follow_company_list{
            }

            .user_follow_company_not_found_block{
                background-color: #f8f9fa;
                padding: 30px;
                border-radius: 5px;
                .user_follow_company_not_found_icon{
                    i{
                        font-size: 30px;
                        color: #666;
                    }
                    text-align: center;
                }
                .user_follow_company_not_found{
                    text-align: center;
                    font-size: 16px;
                    font-weight: 500;
                    padding-bottom: 10px;
                    color: #444;
                }
                .user_follow_company_not_found_action{
                    span{
                        font-size: 20px;
                        font-weight: 550;
                    }
                    width: 100%;
                    min-height: 100px;
                    margin-top: 20px;
                    background-color: #ebfeff;
                    border: 1px solid #ebfeff;
                    border-radius: 5px;
                    .user_follow_company_label{
                        font-size: 20px;
                        float: left;
                        @media screen and (max-width: 600px){
                            float: none;
                        }
                        padding-top:30px;
                        padding-left: 20px;    
                        font-weight: 600;
                    }
                    .user_follow_company_button{
                        float: right;
                        padding: 15px;
                        margin-top: 10px;
                        @media screen and (max-width: 600px){
                            float: none;
                            padding-bottom: 30px;
                        }
                        button{
                            height: 44px;
                            @media screen and (max-width: 600px){
                                width: 100%;
                            }
                            width: 250px;
                            margin-right: 10px;
                            background: #1877f2;
                            font-size: 16px;
                            border: none;
                            cursor: pointer;
                            text-align: center;
                            color: #fff;
                            border-radius: 5px;
                            i{
                                position: relative;
                                top: 2px;
                                font-size: 20px;
                                margin-right: 3px;
                            }
    
                            span{
                                font-size: 16px;
                                position: relative;
                                top: -2px;
                            }
                            
                            &:hover{
                                background-color: #369;
                                color: #fff;
                            }
                            &:focus {outline:none;}
                        }
                    }
                }
            }
        }

        .user_notification_tab{
            .user_notification_block{
                padding-bottom: 20px;
            }

            .user_notification_not_found_block{
                background-color: #f8f9fa;
                padding: 30px;
                border-radius: 5px;
                .user_notification_not_found_icon{
                    i{
                        font-size: 30px;
                        color: #666;
                    }
                    text-align: center;
                }
                .user_notification_not_found{
                    text-align: center;
                    font-size: 16px;
                    font-weight: 500;
                    padding-bottom: 10px;
                    color: #444;
                }
                .user_notification_not_found_action{
                    span{
                        font-size: 20px;
                        font-weight: 550;
                    }
                    width: 100%;
                    min-height: 100px;
                    margin-top: 20px;
                    background-color: #ebfeff;
                    border: 1px solid #ebfeff;
                    border-radius: 5px;
                    .user_notification_label{
                        font-size: 20px;
                        float: left;
                        @media screen and (max-width: 600px){
                            float: none;
                        }
                        padding-top:30px;
                        padding-left: 20px;    
                        font-weight: 600;
                    }
                    .user_notification_button{
                        float: right;
                        padding: 15px;
                        margin-top: 10px;
                        @media screen and (max-width: 600px){
                            float: none;
                            padding-bottom: 30px;
                        }
                        button{
                            height: 44px;
                            @media screen and (max-width: 600px){
                                width: 100%;
                            }
                            width: 250px;
                            margin-right: 10px;
                            background: #1877f2;
                            font-size: 16px;
                            border: none;
                            cursor: pointer;
                            text-align: center;
                            color: #fff;
                            border-radius: 5px;
                            i{
                                position: relative;
                                top: 2px;
                                font-size: 20px;
                                margin-right: 3px;
                            }
    
                            span{
                                font-size: 16px;
                                position: relative;
                                top: -2px;
                            }
                            
                            &:hover{
                                background-color: #369;
                                color: #fff;
                            }
                            &:focus {outline:none;}
                        }
                    }
                }
            }
        }

        .user_problem_tab{
            .user_problem_not_found_block{
                background-color: #f8f9fa;
                padding: 30px;
                border-radius: 5px;
                .user_problem_not_found_icon{
                    i{
                        font-size: 30px;
                        color: #666;
                    }
                    text-align: center;
                }
                .user_problem_not_found{
                    text-align: center;
                    font-size: 16px;
                    font-weight: 500;
                    padding-bottom: 10px;
                    color: #444;
                }
                .user_problem_not_found_action{
                    span{
                        font-size: 20px;
                        font-weight: 550;
                    }
                    width: 100%;
                    min-height: 100px;
                    margin-top: 20px;
                    background-color: #ebfeff;
                    border: 1px solid #ebfeff;
                    border-radius: 5px;
                    .user_problem_label{
                        font-size: 20px;
                        float: left;
                        @media screen and (max-width: 600px){
                            float: none;
                        }
                        padding-top:30px;
                        padding-left: 20px;    
                        font-weight: 600;
                    }
                    .user_problem_button{
                        float: right;
                        padding: 15px;
                        margin-top: 10px;
                        @media screen and (max-width: 600px){
                            float: none;
                            padding-bottom: 30px;
                        }
                        button{
                            height: 44px;
                            @media screen and (max-width: 600px){
                                width: 100%;
                            }
                            width: 250px;
                            margin-right: 10px;
                            background: #1877f2;
                            font-size: 16px;
                            border: none;
                            cursor: pointer;
                            text-align: center;
                            color: #fff;
                            border-radius: 5px;
                            i{
                                position: relative;
                                top: 2px;
                                font-size: 20px;
                                margin-right: 3px;
                            }

                            span{
                                font-size: 16px;
                                position: relative;
                                top: -2px;
                            }
                            
                            &:hover{
                                background-color: #369;
                                color: #fff;
                            }
                            &:focus {outline:none;}
                        }
                    }
                }
            }
        }

        .user_cv_tab{
            .user_cv_not_found_block{
                background-color: #f8f9fa;
                padding: 30px;
                border-radius: 5px;
                .user_cv_not_found_icon{
                    i{
                        font-size: 30px;
                        color: #666;
                    }
                    text-align: center;
                }
                .user_cv_not_found{
                    text-align: center;
                    font-size: 16px;
                    font-weight: 500;
                    padding-bottom: 10px;
                    color: #444;
                }
                .user_cv_not_found_action{
                    span{
                        font-size: 20px;
                        font-weight: 550;
                    }
                    width: 100%;
                    min-height: 100px;
                    margin-top: 20px;
                    background-color: #ebfeff;
                    border: 1px solid #ebfeff;
                    border-radius: 5px;
                    .user_cv_label{
                        font-size: 20px;
                        float: left;
                        @media screen and (max-width: 600px){
                            float: none;
                        }
                        padding-top:30px;
                        padding-left: 20px;    
                        font-weight: 600;
                    }
                    .user_cv_button{
                        float: right;
                        padding: 15px;
                        margin-top: 10px;
                        @media screen and (max-width: 600px){
                            float: none;
                            padding-bottom: 30px;
                        }
                        button{
                            height: 44px;
                            @media screen and (max-width: 600px){
                                width: 100%;
                            }
                            width: 250px;
                            margin-right: 10px;
                            background: #1877f2;
                            font-size: 16px;
                            border: none;
                            cursor: pointer;
                            text-align: center;
                            color: #fff;
                            border-radius: 5px;
                            i{
                                position: relative;
                                top: 2px;
                                font-size: 20px;
                                margin-right: 3px;
                            }

                            span{
                                font-size: 16px;
                                position: relative;
                                top: -2px;
                            }
                            
                            &:hover{
                                background-color: #369;
                                color: #fff;
                            }
                            &:focus {outline:none;}
                        }
                    }
                }
            }
        }
    }
}

//////////////////update////////////////////
.user_update_form{
    .user_update_title{
        padding-top: 30px;
		padding-bottom: 30px;
        font-size: 22px;
        font-weight: 550;
    }

	.user_update_section{
		padding: 15px;
		border-radius: 5px;
		border: 1px solid #e5e7ec;
		@media screen and (max-width: 600px){
			border: none;
			border-top: 1px solid #e5e7ec;
			padding: 0px;
			padding-top: 20px;
			border-radius: 0px;
		}
        width: 100%;
        height: auto;
        margin-bottom: 20px;
		
		.user_update_content{
			.user_update_label{
				font-size: 16px;
				font-weight: 550;
			}
			.user_update_input{
				padding-bottom: 10px;
			}
		}
	}

    .user_update_section_content{
        // padding: 15px;
		border-radius: 5px;
		// border: 1px solid #e5e7ec;
		@media screen and (max-width: 600px){
			border: none;
			border-top: 1px solid #e5e7ec;
			padding: 0px;
			padding-top: 20px;
			border-radius: 0px;
		}
        width: 100%;
        height: auto;
        margin-bottom: 20px;
		margin-top: 20px;
		.user_update_content{
			.user_update_label{
				font-size: 16px;
				font-weight: 550;
			}
			.user_update_input{
				padding-bottom: 10px;
			}
		}
    }

    .user_update_submit{
        margin-bottom: 20px;
        .user_update_form_submit{
            width: 100%;
            @media screen and (min-width: 600px){
                width: 200px;
            }
            font-weight: 600;
            height: 44px;
            border-radius: 5px;
            padding: 6px;
            background: #1877f2;
            font-size: 14px;
            border: none;
            cursor: pointer;
            text-align: center;
            color: #fff;
            
            &:hover{
                background-color: #369;
                color: #fff;
            }
        }
    }
}


////////////////////block///////////////////

.user_avatar_small{
    display: block;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 3px;
    max-width: 40px;
    .user_avatar_small_text{
        padding-bottom: 8px;
        .user_first_name_label{
            border-radius: 50%;
            background-color: #e5e5e5;
            padding: 7px;
            padding-left: 12px;
            padding-right: 12px;
            position: relative;
            top: 3px;
            color: #fee;
            a:link{
                color: #333;
                text-decoration: none;
            }
        }
        a{
            text-decoration: none;
        }
    }
    .checked_0{
        background-color: #888;
    }
    .checked_1{
        .user_first_name_label{
            background-color: #7a20a1;
        }
    }
    .checked_2{
        .user_first_name_label{
            background-color: #778f99;
        }
    }
    .checked_3{
        .user_first_name_label{
            background-color: #00579c;
        }
    }
    .checked_4{
        .user_first_name_label{
            background-color: #1877f2;
        }
    }
    .checked_5{
        .user_first_name_label{
            background-color: #c2175b;
        }
    }
    .checked_6{
        .user_first_name_label{
            background-color: #00887a;
        }
    }
    .checked_7{
        .user_first_name_label{
            background-color: #aa47bc;
        }
    }
    .checked_8{
        .user_first_name_label{
            background-color: #f24e1b;
        }
    }
    .checked_9{
        .user_first_name_label{
            background-color: #689f39;
        }
    }

    .user_avatar_small_img{
        text-align: left;
        img{
            border: 1px solid #e5e5e5;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            object-fit: cover;
        }
    }
    
    .user_avatar_small_default{
        width: 33px;
        padding: 6px;
        padding-left: 12px;
        padding-right: 12px;
        position: relative;
        font-size: 14px;
        border-radius: 50%;
        color: #ffe;
        text-align: center;
    }
}