// Place all the styles related to the UserEducations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
////////////////////////////form////////////////////////////
.user_profile_certificate_form{
    margin-top: 20px;
    border-top: 1px solid #e5e7ec;
    width: 100%;
    height: auto;
    padding-top: 20px;
    
    .user_profile_certificate_content{
        .user_profile_certificate_label{
            font-size: 16px;
            font-weight: 550;
        }
        .user_profile_certificate_input{
            padding-bottom: 10px;
        }
    }

    .user_profile_certificate_submit{
        margin-top: 20px;
        text-align: right;
        .user_profile_certificate_form_submit{
            width: 100%;
            @media screen and (min-width: 600px){
                width: 200px;
            }
            font-weight: 600;
            height: 44px;
            border-radius: 5px;
            padding: 6px;
            background: #0d6efd;
            font-size: 14px;
            border: none;
            cursor: pointer;
            text-align: center;
            color: #fff;
            
            &:hover{
                background-color: #369;
                color: #fff;
            }
        }
    }
}

//////////////////////////block///////////////////////////@at-root
.user_profile_certificate_block{
    padding-top: 15px;
    .user_profile_certificate_section{
        a{
            font-size: 16px;
            font-weight: 600;
            color: #333;
        }
        span{
            font-weight: 500px;
            font-size: 15px;
            color: #444;
        }
    }

    .user_profile_certificate_edit{
        text-align: right;
        button{
            border: none;
            background-color: #fff;
            outline: none;
            color: #0d6efd;
        }
    }

    .user_profile_certificate_form_update_block{
        display: none;
    }
}