<div class="user_reply_question_block">
    <div class="user_reply_question_left">
        <%owner_user = find_owner_user(company_reply_question)%>
        <%if owner_user%>
            <%= render owner_user%>  
        <%end%> 
    </div>

    <div class="user_reply_question_cotent">
        <div class="user_reply_question_body">
            <a><%= company_reply_question.reply_content %></a>
        </div>

        <div class="user_reply_question_time">
            <a><%= company_reply_question.user_name %> · <%= time_ago_in_words(company_reply_question.created_at) %></a>
        </div>
    </div>
</div>